@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";

// :host {
    .download-page-heading{
        color: map-get($colors, white);
        font-size: $font-size-base + 0.125;
    }

    .download-page-info{
        color: map-get($colors, white);
        font-size: $font-size-base - 0.125;
    }

    .download-cancel-icon{
        font-size: $font-size-base * 2;
        color: map-get($colors, white);
    }

    .ad-pt-4{
        padding-top: $base-block-space * 0.5 !important;
    }

    .img-mt-88{
        margin-top: $base-block-space * 11;
    }

    .ad-pb-88{
        padding-bottom: $base-block-space * 11;        
    }

    .ad-ml-8{
        margin-left: $base-block-space;
    }

    .ad-border-bottom-1{
        border-bottom: 1px solid map-get($colors, light_grayish_red);
    }

    .ad-no-box-shadow{
        box-shadow: none;
    }

    .ad-action-btn{
        position: absolute;
        bottom: 0;
        border-radius: 0px !important;
        box-shadow: none !important;
        height: ($base-block-space * 3);
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
        text-transform: capitalize;
        // @include margin(0, 0, 0, ($base-block-space * 1));
        @include padding(null, ($base-block-space * 1));
        background-color: $danger-color;
        color: $white-color;

        .button-inner {
            font-size: ($font-size-base - 0.125);
            line-height: 1.063rem;
            font-weight: 100;
            font-style: normal;
            font-stretch: normal;
            text-align: center;
            color:$white-color;
        }
    }
    .popover-progress-container{
        height: ($base-block-space * 0.5);
        background-color: $primary-800;
        position: relative;
        .progress-highlight{
            position:absolute; 
            background:$primary-200; 
            left:20%; 
            right:0; 
            top:0; 
            bottom:0
        }
    }
// }
