<ion-content>
  <div class="cc-header" [ngStyle]="{'background': theme}">
    <div class="pull-left">
      <div class="cc-header-name" [ngStyle]="{'color': titleColor}">
        {{ subjectName }}
      </div>
      <div class="cc-header-desc">
        {{'NUMBER_OF_COURSES' | translate:{'%s': courseList.length} }}
      </div>
    </div>
    <div class="cd-header-icon pull-right">
      <img *ngIf="subjectIcon" src="{{subjectIcon}}" alt="subject-icon">
    </div>
  </div>
  <div class="cc-container">
    <div *ngFor="let course of courseList" class="mb-16">
      <sb-course-card [course]="course" [section]="null" [cardImg]="getContentImg(course)"
        (click)="openCourseDetails(course)">
      </sb-course-card>
    </div>
  </div>
</ion-content>