<ion-content>
	<div>
		<ion-card>
			<ion-card-header class="custom-card-header">
				<ion-card-title class="font-18">{{course?.name}}</ion-card-title>
				<ion-card-subtitle class="font-14 subtitle-color">{{'CONTENT_CREATED_BY' | translate}}
					{{ course?.creator || course?.owner }}
				</ion-card-subtitle>
				<div class="hr-border-bottom"></div>
			</ion-card-header>
			<ion-card-content>
				<div *ngIf="!courseCardData?.batchId && course?.createdBy !== userId && !isAlreadyEnrolled">
					<button class="enrolled-course-card-button"
						(click)="navigateToBatchListPage();">{{'JOIN_TRAINING' | translate}}</button>
					<ion-card-subtitle *ngIf="batchInfo || enrollmentEndDate" class="font-12">
						<div *ngIf="batchInfo">
							<ion-icon name="information-circle"></ion-icon> {{batchInfo}}
							{{'BATCHES_AVAILABLE' | translate}}
						</div>
						<div *ngIf="enrollmentEndDate">
							<ion-icon name="information-circle"></ion-icon>
							{{'LAST_DATE_TO_JOIN' | translate }} {{enrollmentEndDate | date}}
						</div>
					</ion-card-subtitle>
				</div>
				<div *ngIf="courseCardData?.batchId">
					<div>
						<div>
							<div class="sb-dt-card-actions">
								<div class="wrapper sb-btn-tile-group">
									<div>
										<!-- *ngIf="downloadIdentifiers?.length && !isDownloadStarted" -->
										<button *ngIf="downloadIdentifiers?.length && !isDownloadStarted"
											(click)="showDownloadConfirmationAlert()" slot="icon-only"
											class="card-button">
											<ion-icon ios="ios-cloud-download" md="md-cloud-download"
												class="card-icons">
											</ion-icon>
											<!-- <img src="assets/imgs/outline-cloud_download-24px.png" alt="download-outline"> -->
											<p *ngIf="!isDownloadStarted" class="card-text">{{'DOWNLOAD' | translate}}
											</p>
										</button>
									</div>
									<div>
										<button slot="icon-only" (click)="share()" class="card-button">
											<ion-icon ios="ios-share" md="md-share" class="card-icons"></ion-icon>
											<p class="card-text">{{'SHARE' | translate}}</p>
										</button>
									</div>
									<div>
										<img class="menu-icon" (click)="showOverflowMenu($event)"
											src="assets/imgs/menu.svg" alt="menu-icon">
									</div>
								</div>
								<div *ngIf="courseCardData?.batchId">
									<div class="sb-course-progress-container" *ngIf="course?.progress && !batchExp">
										<p><b>{{'YOUR_PROGRESS_LABEL' | translate}}</b></p>
										<p>{{course?.progress ? course?.progress : '0'}} %
											{{'COURSE_COMPLETED_LABEL' | translate}}</p>
										<app-pb-horizontal [progress]="course?.progress" class="course-progress"
											[ngClass]="{'blurbackground': batchExp}" isOnBoardCard="flase"
											isCourseProgress="true"></app-pb-horizontal>
										<!-- <app-pb-horizontal [progress]="20" class="course-progress" [ngClass]="{'blurbackground': batchExp}"></app-pb-horizontal> -->
									</div>
									<!-- need to clarify-->
									<!-- *ngIf="" -->
									<!-- <div class="sb-course-end-container">
									<p class="main-heading">Courses Ended on July 24th 2019</p>
									<p class="sub-heading">There are no batches available for this training</p>
								</div> -->
									<div class="sb-batch-end-container" *ngIf="course?.progress !== 100 && batchExp">
										<p class="batch-end-main-heading">{{'BATCHEND_MAIN_HEADING' | translate}}
											{{batchEndDate}}</p>
										<p class="batch-end-sub-heading">{{'BATCHEND_SUB_HEADING' | translate}}</p>
									</div>
									<div *ngIf="course?.progress && course?.progress === 100"
										class="sb-course-complete-container">
										<div class="img-container">
											<img class="success-badge" src='assets/imgs/Badge green.svg'>
										</div>
										<div class="text-container">
											<p><b>{{'TRAINING_COMPLETED_SUCESSFULLY' | translate}}</b></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card *ngIf="courseCardData?.batchId" class="enrolled-course-card">
			<ion-card-content>
				<ion-card-title class="last-read-content">{{lastReadContentName}}</ion-card-title>
				<button *ngIf="!showResumeBtn && childrenData?.length" class="enrolled-course-card-button"
					(click)="startContent()"><span><img class="play-icon" src="assets/imgs/Play@1.5x.svg"
							alt="play-icon">{{
													'START_COURSE_NOW' | translate }}</span></button>
				<button *ngIf="showResumeBtn" class="enrolled-course-card-button"
					(click)="resumeContent(courseCardData?.lastReadContentId)"><span><img class="play-icon"
							src="assets/imgs/Play@1.5x.svg" alt="play-icon">{{
														'CONTINUE_NOW' | translate }}</span></button>
				<div *ngIf="batchDetails?.endDate" class="enrollment-end-date">
					<ion-icon name="information-circle"></ion-icon>
					<!-- {{'COMPLETE_TRAINING_TO_EARN_CERTIFICATE'| translate :{'%s':batchDetails?.enrollmentEndDate | date} }} -->
					Complete Training by {{batchDetails?.endDate | date}} to earn a certificate
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-content class="card-content-bottom-0">
				<ion-segment [(ngModel)]="segmentType">
					<ion-segment-button value="info">
						<ion-label class="font-12 text-transform-none">{{'TRAINING_INFO' | translate}}</ion-label>
					</ion-segment-button>
					<div class="hr-div">
						<hr class="hr-height">
					</div>
					<ion-segment-button value="modules">
						<ion-label class="font-12 text-transform-none">{{'TRAINING_MODULES' | translate}}
						</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-card-content>
		</ion-card>
		<div [ngSwitch]="segmentType">
			<ion-card *ngSwitchCase="'info'">
				<ion-card-content>
					<div class="certificate-container">
						<div class="certificate-icon">
							<img class="certificate-icon" src="assets/imgs/Certificate icon.svg" alt="certificate-icon">
						</div>
						<div class="certificate-text">
							<ion-card-title class="font-10 certified-section-color">{{'CERTIFIED_TRAINING' | translate}}
							</ion-card-title>
						</div>
					</div>
					<div>
						<div class="ion-margin-bottom">
							<ion-card-title class="font-12 subtitle-color label-margin-bottom">
								{{'TRAINING_IS_RELEVENT_TO_TEACHERS'| translate}}:
							</ion-card-title>
							<p *ngIf="course?.gradeLevel">{{'CLASS' | translate}} : {{course?.gradeLevel}}</p>
							<p *ngIf="course?.subject">{{'SUBJECT' | translate}}: {{course?.subject}}</p>
							<p *ngIf="course?.medium">{{'MEDIUM' | translate}} : {{course?.medium}}</p>
						</div>
						<div class="ion-margin-bottom">
							<ion-card-title class="font-12 subtitle-color label-margin-bottom">
								{{'TRAINING_DETAILS' | translate}}
							</ion-card-title>
							<p *ngIf="batchEndDate">{{'TRAINING_END_DATA' | translate }} : {{ batchEndDate | date}}</p>
						</div>
						<div>
							<p>{{course?.description}}</p>
						</div>
					</div>
				</ion-card-content>
			</ion-card>
			<div *ngSwitchCase="'modules'">
				<div *ngFor="let item of childrenData; let i = index;">
					<ion-card class="sb-accordian-card">
						<ion-grid class="sb-accordian-header">
							<ion-row (click)="toggleGroup(i , item)" *ngIf="item?.children">
								<ion-col col-11>
									<div class="sb-topic-text">
										<!-- <ion-icon class="sb-checkmark-icon" name="md-checkmark-circle"></ion-icon> -->
										<ion-icon *ngIf="isAlreadyEnrolled"
											[name]="item.status? 'ios-checkmark-circle': (item.lastRead? 'ios-radio-button-on': 'ios-radio-button-off')">
										</ion-icon>
										{{item?.contentData.name}}
									</div>
								</ion-col>
								<ion-col col-1 *ngIf="!isGroupShown(i)">
									<div>
										<ion-icon name="ios-arrow-down" class="sb-accordian-arrow"></ion-icon>
									</div>
								</ion-col>
								<ion-col col-1 *ngIf="isGroupShown(i)">
									<div>
										<ion-icon name="ios-arrow-up" class="sb-accordian-arrow"></ion-icon>
									</div>
								</ion-col>
							</ion-row>
						</ion-grid>
						<div class="sb-hidden-content"
							*ngIf="isGroupShown(i) && (item?.children && item?.children?.length)">
							<div class="sb-separator-line"></div>
							<div class="box-align" *ngFor="let firstChildren of item?.children; let j = index;">
								<div class="sb-topics-container sb-topics-container-ftue">
									<app-collection-child [childData]="firstChildren" [index]="j" [depth]="depth"
										[activeMimeTypeFilter]="activeMimeTypeFilter" [isTextbookTocPage]="false"
										[corRelationList]="corRelationList" [isDepthChild]="isDepthChild"
										[breadCrumb]="breadCrumb" [rootUnitId]="item.identifier" [bookID]="identifier"
										[isEnrolled]="isAlreadyEnrolled" [fromCourseToc]="true">
									</app-collection-child>
								</div>
							</div>
						</div>
					</ion-card>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<div class="loading-backdrop" *ngIf="showLoading && !isDownloadStarted" text-center>
	<div class="backdrop-container">
		<ion-label>{{ 'LOADING_CONTENTS' | translate: {'%s': downloadProgress ? downloadProgress : 0} }}</ion-label>
		<app-pb-horizontal [progress]="downloadProgress" isOnBoardCard="false"></app-pb-horizontal>
	</div>

	<div class="backdrop-footer">
		<ion-button size="small" (click)="cancelDownload()">{{ 'CANCEL' | translate }}</ion-button>
	</div>
</div>
<app-sb-download-popup *ngIf="showDownload" (cancelDownloadEmit)="cancelDownload($event)" [currentCount]="currentCount"
	[queuedIdentifiers]="queuedIdentifiers" [downloadSize]="downloadSize" [collectionName]="course?.name"
	[showDownload]="showDownload"></app-sb-download-popup>