@use "sass:math";
@import 'src/assets/styles/_custom-mixins';
@import "src/assets/styles/variables";
@import "src/assets/styles/_variables.scss";


:host {
    ion-card{
      margin: 0 0 10px 0 !important;
      --ion-item-background: white;
    }
    .z-index-0 {
      z-index: 0 !important;
    }
    .retry-btn{
      border-color: $orange;
      color: $orange !important;
      padding: 8px 40px;
      font-size: $font-size-base;
      border-radius: 0 !important;
    }
    .sb-url {
      color: map-get($colors, bright_blue_a0);
      font-size: $font-size-base;
      text-decoration: underline;
    }
    .fontBold {
        font-weight: bold;
    }
    .ion-ios-radio-button-on:before {
        color: darkgrey;
    }
    .ion-ios-checkmark-circle:before {
        color: map-get($colors, office_green);
        margin-right: 4px;
        margin-left: 0px;
    }
    .structure-text{
        padding: 7px 0px 0px 4px;
    }
    .certified-section-color{
      color: map-get($colors, bright_blue_9f);
    }
    .certified-training-section{
        background-color: map-get($colors, pale_blue);
        padding: 8px;
    }
    .font-10{
        font-size: 0.625rem;
    }
    .font-12 {
        font-size: 0.75rem!important;
    }
    .font-13{
      font-size: 0.813rem !important;
    }
    .font-16{
        font-size: 1rem!important;
    }
    .font-14{
        font-size: $font-size-base !important;
    }
    .font-18{
        font-size: 1.125rem;
    }
    .padding-left-8{
        @include padding(0px 0px 0px 8px);
    }
    .child-item{
        --padding-start: 0 !important;
        @include padding(null, null, null, 0 !important)
    }
    .text-transform-none{
        text-transform: none !important;
    }
    .card-content-bottom-0{
        padding-bottom: 0px !important;
    }
    .card-content-top-0{
      padding-top: 0px !important;
  }
    .subtitle-color{
        color: var(--app-gray)
    }
    .enrolled-course-container {
      &.sticky {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }
    .traning-derived-label-background {
      background-color: map-get($colors, white_f2);
      padding: 8px 0px 8px 15px;
    }

    ion-card ion-card-content p {
        font-size: $font-size-base;
    }
    .enrolled-course-card{
        background-color: map-get($colors, pale_green);
        margin-bottom: 0 !important;
    }
    .play-icon{
       display: inline;
       width: 1.313rem;
       vertical-align: middle;
       margin-right: 6.43px;
    }
    ion-content{
        --ion-background-color: white;
    }
    .hr-border-bottom {
        box-sizing: border-box;
        height: 1px;
        width: 100%;
        border: 0.5px solid map-get($colors, medium_gray);
        margin-top: 9px;
    }
    .hr-border-bottom-share {
      box-sizing: border-box;
      height: 1px;
      border: 1px solid #E9DED3;
      margin-top: 8px;
  }
    hr {
        border:0.5px solid $gray-300;
    }
    .blurbackground {
        .progress-inner-primary {
            background-color: gray !important;
        }
        .progress-inner-secondary {
            background-color: gray !important;
        }
    }
    .loading-backdrop {
        background-color: map-get($colors, white);
        height: 100%;
        z-index: 1000;
        opacity: 1 !important;
        top: 0;
        bottom: 0;
        .backdrop-container {
            width: 100%;
            padding: 16px;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -50px;
        }
        .backdrop-footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-bottom: 16px;
        }
    }
    .scroll-content {
        margin-bottom: 0 !important;
    }

    .toolbar-p-16{
        padding: ($base-block-space * 2) ($base-block-space * 2) math.div($base-block-space, 2) ($base-block-space * 2) !important;
    }

    .size_txt {
        font-size: 0.75rem;
    }
    .padding-right-3 {
        padding-right: 3px;
    }


    .list-mb-48{
        margin-bottom: ($base-block-space * 6) !important;
    }

    .sc-ion-buttons-md-s ion-button {
        height: 1.25rem;
        font-size: 0.625rem;
    }
    .label-margin-bottom{
      margin-bottom: 3px !important;
    }
    .sb-accordian-header{
      padding: 12px 14px;
      .dd-icon {
        position: relative;
        bottom: 0.188rem;
      }
      .sb-checkmark-icon{
        color: map-get($colors, office_green);
      }
    }
    .custom-card-header{
        padding-bottom: 0px !important;
    }
    .sb-accordian-arrow{
        float: right;
        font-size: $font-size-base;
        padding-top: 10px;
    }
    .enrollment-info{
      ion-icon{
        position: relative;
        top: 0.125rem;
      }
    }
    .enrolled-course-card-button{
        background-color: $green;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
        margin: 4px 0 8px;
        width: 100%;
        padding: 16px 0 16px 0;
    }
    .disable-css {
      opacity : 0.5;
     }
    .segment-button-checked{
      ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated{
        font-weight: bold;
      }
    }
    .border-right{
      border-right: 1.5px solid map-get($colors, white_e6);
      margin: 0px 0px 10px 11px;
    }
    .hr-div {
      padding: 0px 10px 0px 10px;
    }
    hr.hr-height {
      height: 2rem;
    }
    .segment-button-indicator{
      width: 84% !important;
      margin-right: 8% !important;
    }
    .info-icon-pr-8 {
      padding-right: 8px !important;
    }
  }
  .sb-topics-containe{
    padding-right: 5%;
  }
  .sb-hidden-content{
    background-color: map-get($colors, pale_blue) !important;
    // height: 34.15% !important;
    width: 100% !important;
    border-radius: 0 0 2px 2px !important;
    padding-top: 2% !important;
    padding-bottom: 5% !important;
  }
  .sb-accordian-card{
    // height: 6.1% !important;
    width: 100% !important;
    border-radius: 2px !important;
    background-color: map-get($colors, white) !important;
    box-shadow: 0px 5px 5px 3px map-get($colors, light_gray_dd);
  }
  .sb-topic-text {
      // padding-top: 5px;
      padding: 0;
      ion-icon{
        vertical-align: middle;
      }
    // height: 2.44%;
    // width: 80%;
    color: $blue;
    font-size: $font-size-base;
    // line-height: 20px;
  }

  .certificate-container {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items:center;
    background-color: map-get($colors, pale_blue_f6);
    padding: 4px;
    .certificate-icon {
      padding-right: 5px;
    }
  }
  .sc-ion-segment-md-h{
    --color-checked : #{$blue};
    font-weight: bold;
    --color: #{map-get($colors, cornflower_blue)};
  }
  .wrapper {
    grid-template-columns: 100px 100px 100px auto;
    margin-bottom: -8px;
    border-radius: 5px;
    & > div {
      border-radius: 5px;
      padding: 1em 0;
    }
  }

  .pull-right{
      float: right;
  }
  .menu-icon{
    display: block;
    width: 100%;
    height: 1rem;
    margin-top: 18px;
    float: right;
  }
  .card-icons {
    font-size: 1.875rem;
    color: $blue;
  }
  .card-icons-downloadStarted {
    font-size: 1.875rem;
    color: map-get($colors, text_gray);
  }
  .card-icons-red{
    font-size: 1.875rem !important;
    color:map-get($colors , danger);
  }
  .sb-course-complete-container {
    white-space: nowrap;
    width: 100%;
    background-color: map-get($colors, light_grayish_green);
    @include padding(8px);
    .img-container{
      width: 20%;
      vertical-align: middle;
      display: inline-block;
    }
    .text-container{
      color: map-get($colors, office_green);
      font-family: "Noto Sans", sans-serif;
      font-size: $font-size-base !important;
      font-weight: bold;
      width: 80%;
      vertical-align: middle;
      display: inline-block;
      padding-left: 10px;
      @include padding(0px 0px 0px 11px);
      white-space: normal;
    }
  }
  .card-text{
    height: 1.125rem;
    width: auto;
    color: map-get($colors, granite_gray);
    font-family: "Noto Sans", sans-serif;
    font-size: 0.813rem !important;
    line-height: 1.25rem;
    text-align: center;
  }
  .card-button{
      background-color: transparent !important;
      outline: none;
      padding: 0px 16px;
  }
  .padding-bottom-6{
    padding-bottom: 6px;
  }
  .padding-bottom-8{
    padding-bottom: 8px;
  }
  .margin-bottom-2{
    margin-bottom: 2px;
  }
  .margin-bottom-16{
    margin-bottom: 16px;
  }

  .sb-course-progress-container{
      background-color: map-get($colors, pale_blue);
      padding: 8px;
      height: 4.38rem;
      width: auto;
  }

  .last-read-content{
    font-size: 1rem!important;
    font-weight:bold;
    @include rtl() {
      padding-bottom: 4px;
     }
     @include ltr() {
     padding-left: 4px;
     }
  }

  .sb-batch-end-container{
    background-color: map-get($colors, pale_red);
    padding: 8px 16px;
    height: auto;
    width: auto;
    .batch-end-main-heading{
      font-size: 0.75rem !important;
      color: $orange;
      font-weight: bold;
    }
    .batch-end-sub-heading{
      color: map-get($colors, primary_black);
      font-family: "Noto Sans", sans-serif;
      font-size: 0.75rem !important;
    }
  }
  .enrollment-end-date{
    font-size: 0.75rem;
    color: map-get($colors, primary_black);
    font-family: "Noto Sans", sans-serif;
    ion-icon{
      position: relative;
      top: 0.125rem;
    }
  }
  .padding-left-5em{
    padding-left: 5em !important;
  }
  .sb-course-end-container{
    background-color: map-get($colors, pale_red);
    padding: 10px;
    height: 4.38rem;
    width: auto;
    .main-heading{
      font-size: $font-size-base !important;
      color: $orange;
    }
    .sub-heading{
      color: map-get($colors, primary_black);
      font-family: "Noto Sans", sans-serif;
      font-size: 0.75rem !important;
    }
}

.information-icon {
  color: map-get($colors, dark);
  font-size: $font-size-base;
}

.progress-label {
  font-size: 0.625rem!important;
  color: map-get($colors, primary_black);
}

ion-segment-button{
  --ripple-color: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
}

.flex-5 {
  flex: 5;
}

#card-mb-0{
  margin-bottom: 0 !important;
}

.card-box-shadow {
  box-shadow: 0px 5px 5px 3px map-get($colors, light_gray_dd);
  margin: 0 0 1rem 0 !important
}

.animation-card{
  padding:8px 16px;
  .animation-card-content{
    display:flex;
    justify-content:space-between;
    align-items: center;
    .skeleton-search-card{
      width:45%;
    }
  }
}

.animation-bottom-card {
  .skeleton-animation-item-1{
    width:40%; margin-bottom:20px
  }
  .skeleton-animation-item-2, .skeleton-animation-item-4, .skeleton-animation-item-6{
    width:48%; margin-bottom:8px
  }
  .skeleton-animation-item-3{
   width:25%;margin-bottom:8px
  }
  .skeleton-animation-item-5{
   width:25%;margin-bottom:20px
  }
  .skeleton-animation-item-7{
    width:25%;margin-bottom:16px;
  }
  .skeleton-animation-item-8, .skeleton-animation-item-9{
    width:100%;margin-bottom:8px;
  }
  .skeleton-animation-item-10 {
    width:48%;
  }
  .skeleton-animation-item-11 {
    width:25%;
  }
}

.bg-grey {
  background: map-get($colors, white_f0) !important;
}

.card-button[disabled]{
  opacity: 0.7 !important;
  pointer-events: none;
  cursor: default;
}

.course-modified {
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid map-get($colors, dark_orange);
  border-radius: 2px;
  background-color: map-get($colors, ligth_yellow);
  color: $gray-800;
  font-size: 0.75rem;

  .alert {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 8px;
  }
}

.edit-setting{
  float: right;
  padding: 12px;
  color: $blue;
  font-weight: bold;
}
.sb-content-info{
  padding: 4px 14px;
}

.save-changes{
  color: map-get($colors, white);
  background-color: $blue;
  padding: 12px 45px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}
.ds-m0 {
  color: map-get($colors, primary_black);
  font-family: "Noto Sans", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.ds-item{
  --padding-start: 0px;
}
ion-radio{
  margin-right: 10px !important;
}
.font-14-new{
  font-size: 1rem !important;
  margin-top: 8px;
}
.data-share-info{
  padding: 5px;
  margin-left: -6px;
  font-size: 0.938rem;
  text-transform: uppercase;
}

.data-share-header{
  margin-left: 2px;
}
.timer-info{
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  color: indianred;
  padding: 0 0 10px;
}
.data-list{
  background: unset !important;
}
.list-info{
margin-top: -13px; opacity: 1;
}
.consent-arrow{
  float: right
}

.consent-arrow {
  ion-icon{
    font-size: 1.5rem;
    color: #024f9d;
  }
}
.sb--card__meta1 {
  margin-top:0px;
  width: 100%;
  .data_1, .data_2 {
    color: var(--cc-sbcard-data1-2-text);
    border-radius: 0.5rem;
    font-size: $font-size-base;
    width:auto;flex: initial;
    white-space: nowrap;
  }
  .data_2 {
    
    &:last-child {
      margin-right:0px;
    }
  }

}


.course-details{
  ion-card-title{
    strong{
      color: var(--app-medium-gray);
    }
  }
  p{
    color: var(--app-gray);
  }
}
