<ion-content>
	<div class="p-8">
		<ion-card>
			<ion-card-header class="custom-card-header">
				<ion-card-title class="font-18">{{course?.name}}</ion-card-title>
				<ion-card-subtitle *ngIf="course?.organisation" class="font-14 subtitle-color">{{'CONTENT_CREATED_BY' | translate}}
					{{course?.organisation.join(', ')}}
				</ion-card-subtitle>
				<div class="hr-border-bottom"></div>
			</ion-card-header>
			<ion-card-content>
				<div *ngIf="batches?.length && !isAlreadyEnrolled && course?.createdBy !== userId">
					<button class="enrolled-course-card-button"
						(click)="navigateToBatchListPage();">{{'JOIN_TRAINING' | translate}}</button>
					<ion-card-subtitle *ngIf="batchCount || enrollmentEndDate" class="font-12 margin-bottom-2">
						<div *ngIf="batchCount">
							<ion-icon name="information-circle"></ion-icon> {{batchCount}}
							{{'BATCHES_AVAILABLE' | translate}}
						</div>
						<div *ngIf="enrollmentEndDate">
							<ion-icon name="information-circle"></ion-icon>
							{{'LAST_DATE_TO_JOIN' | translate }} {{enrollmentEndDate | date}}
						</div>
						<div *ngIf="!enrollmentEndDate && batchEndDate">
							{{'TRAINING_ENDS_ON' | translate}} {{batchEndDate | date}}
						</div>
					</ion-card-subtitle>
				</div>
				<div class="sb-course-end-container"
					*ngIf="!isAlreadyEnrolled && !batches?.length">
					<p class="main-heading">{{'COURSE_ENDED'  | translate : {'%s': enrollmentEndDate ? (enrollmentEndDate | date) : ''} }}</p>
					<p class="sub-heading">{{'THERE_ARE_NO_BATCHES_AVAILABLE_FOR_THIS_TRAINING' | translate}}</p>
				</div>
				<div *ngIf="isAlreadyEnrolled">
					<div>
						<div>
							<div class="sb-dt-card-actions">
								<div class="wrapper sb-btn-tile-group" *ngIf="course?.progress !==100 && isAlreadyEnrolled">
									<div>
										<button [disabled]="isDownloadStarted" *ngIf="downloadIdentifiers?.length"
											(click)="showDownloadConfirmationAlert()" slot="icon-only"
											class="card-button">
											<ion-icon ios="ios-cloud-download" md="md-cloud-download"
												[ngClass]="(isDownloadStarted)? 'card-icons-downloadStarted': 'card-icons'">
											</ion-icon>
											<p class="card-text">{{'DOWNLOAD' | translate}}
											</p>
										</button>
										<button (click)="showDeletePopup()" slot="icon-only" class="card-button">
											<ion-icon ios="ios-trash" md="md-trash" class="card-icons-red"></ion-icon>
											<p class="card-text">{{'REMOVE' | translate}}
											</p>
										</button>
										<button slot="icon-only" (click)="share()" class="card-button">
											<ion-icon ios="ios-share" md="md-share" class="card-icons"></ion-icon>
											<p class="card-text">{{'SHARE' | translate}}</p>
										</button>
									</div>
									<div class="padding-left-5em" *ngIf="!batchExp">
										<img class="menu-icon" (click)="showOverflowMenu($event)"
											src="assets/imgs/menu.svg" alt="menu-icon">
									</div>
								</div>
								<div *ngIf="courseCardData?.batchId">
									<div class="sb-course-progress-container" *ngIf="course?.progress!==100 && !batchExp">
										<p><b>{{'YOUR_PROGRESS_LABEL' | translate}}</b></p>
										<p>{{ 'COURSE_COMPLETED_LABEL' | translate:{'%s': course?.progress ? course?.progress : '0'} }}</p>
										<app-pb-horizontal [progress]="course?.progress" class="course-progress" [ngClass]="{'blurbackground': batchExp}"
											isOnBoardCard="flase" isCourseProgress="true"></app-pb-horizontal>
									</div>
									<div class="sb-batch-end-container" *ngIf="course?.progress !== 100 && batchExp">
										<p class="batch-end-main-heading">{{'BATCHEND_MAIN_HEADING'  | translate : {'%s': batchDetails?.endDate ? (batchDetails?.endDate | date) : ''} }}</p>
										<p class="batch-end-sub-heading">{{'BATCHEND_SUB_HEADING' | translate}}</p>
									</div>
									<div *ngIf="course?.progress && course?.progress === 100"
										class="sb-course-complete-container ion-padding">
										<div class="img-container">
											<img class="success-badge" src='assets/imgs/Badge green.svg'>
										</div>
										<div class="text-container">
											<p><b>{{'TRAINING_COMPLETED_SUCCESSFULLY' | translate}}</b></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ion-card-content>
		</ion-card>
		<div #stickyPillsRef *ngIf="courseCardData?.batchId && course?.progress !== 100"
			class="enrolled-course-container">
			<ion-card class="enrolled-course-card">
				<ion-card-content class="ion-padding-top">
					<ion-card-title class="last-read-content padding-bottom-8">{{lastReadContentName}}</ion-card-title>
					<button *ngIf="!showResumeBtn && childrenData?.length" class="enrolled-course-card-button"
						(click)="startContent()"><span><img class="play-icon" src="assets/imgs/Play@1.5x.svg"
								alt="play-icon">{{
														'START_COURSE_NOW' | translate }}</span></button>
					<button *ngIf="showResumeBtn" class="enrolled-course-card-button"
						(click)="resumeContent(courseCardData?.lastReadContentId)"><span><img class="play-icon"
								src="assets/imgs/Play@1.5x.svg" alt="play-icon">{{
															'CONTINUE_NOW' | translate }}</span></button>
					<div *ngIf="batchDetails?.endDate && !batchExp" class="enrollment-end-date ion-padding-bottom">
						<ion-icon name="information-circle"></ion-icon>
						<span *ngIf="!course?.certificate">{{'COMPLETE_TRAINING_TO_EARN_CERTIFICATE' | translate: {'%s': batchDetails?.endDate | date} }} </span>
						<span *ngIf="course?.certificate">{{'TO_EARN_CERTIFICATE' | translate: {'%s': batchDetails?.endDate | date} }}</span>
					</div>
				</ion-card-content>
			</ion-card>
		</div>

		<ion-card>
			<ion-card-content class="card-content-bottom-0 card-content-top-0">
				<ion-segment [(ngModel)]="segmentType" (ionChange)="onSegmentChange($event)">
					<ion-segment-button value="info">
						<ion-label class="font-12 text-transform-none">{{'TRAINING_INFO' | translate}}</ion-label>
					</ion-segment-button>
					<div class="hr-div">
						<hr class="hr-height">
					</div>
					<ion-segment-button value="modules">
						<ion-label class="font-12 text-transform-none">{{'TRAINING_MODULES' | translate}}
						</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-card-content>
		</ion-card>
		<div [ngSwitch]="segmentType">
			<ion-card *ngSwitchCase="'info'">
				<ion-card-content class="ion-no-padding">
					<div class="ion-padding">
					<div class="certificate-container">
						<div class="certificate-icon">
							<img class="certificate-icon" src="assets/imgs/Certificate icon.svg" alt="certificate-icon">
						</div>
						<div class="certificate-text">
							<ion-card-title class="font-10 certified-section-color">{{'CERTIFIED_TRAINING' | translate}}
							</ion-card-title>
						</div>
					</div>
						<div class="ion-margin-bottom">
							<ion-card-title class="font-12 subtitle-color label-margin-bottom">
								<b>{{'TRAINING_IS_RELEVANT_TO_TEACHERS'| translate}}</b>:
							</ion-card-title>
							<p *ngIf="course?.gradeLevel">{{'CLASS' | translate}} : {{course?.gradeLevel}}</p>
							<p *ngIf="course?.subject">{{'SUBJECT' | translate}}: {{course?.subject}}</p>
							<p *ngIf="course?.medium">{{'MEDIUM' | translate}} : {{course?.medium}}</p>
						</div>
						<div class="ion-margin-bottom">
							<ion-card-title class="font-12 subtitle-color label-margin-bottom">
								<b>{{'TRAINING_DETAILS' | translate}}</b>
							</ion-card-title>
							<p *ngIf="batchEndDate">{{'TRAINING_END_DATE' | translate }} : {{ batchEndDate | date}}</p>
						</div>
						<div>
							<p>{{course?.description}}</p>
						</div>
				</div>
					<!--credits and license info-->
					<div *ngIf="course?.author || course?.organisation || course?.license || course?.copyright">
						<div class="hr-border-bottom"></div>
						<div class="ion-padding">
							<div class="font-14 view-credits" (click)="showLicensce()">
								<span><b>{{'CREDITS_LICENCE_INFO' | translate}}</b></span>
								<span *ngIf="showCredits">
									<ion-icon name="ios-arrow-up"></ion-icon>
								</span>
								<span *ngIf="!showCredits">
									<ion-icon name="ios-arrow-down"></ion-icon>
								</span>
							</div>
							<div *ngIf="showCredits" class="showLicensce">
								<div *ngIf="course?.author">
									<ion-card-title class="font-12 subtitle-color label-margin-bottom">
										<b>{{'AUTHOR' | translate}}</b>:
									</ion-card-title>
									<p>{{course?.author}}</p>
								</div>
								<div *ngIf="course?.organisation">
									<ion-card-title class="font-12 subtitle-color label-margin-bottom">
										<b>{{ 'PUBLISHED_BY' | translate:{'%s': appName} }}</b>:
									</ion-card-title>
									<p>{{course?.organisation}} </p>
								</div>
								<div *ngIf="course?.license">
									<ion-card-title class="font-12 subtitle-color label-margin-bottom">
										<b>{{ 'LICENSE' | translate }}</b>:
									</ion-card-title>
									<p>{{course?.license}}</p>
								</div>
								<div *ngIf="course?.copyright">
					
									<ion-card-title class="font-12 subtitle-color label-margin-bottom">
										<b>{{ 'COPYRIGHT' | translate }}</b>:
									</ion-card-title>
									<p>{{course?.copyright}}</p>
								</div>
							</div>
						</div>
					</div>
					<!--/credits and license info-->

				</ion-card-content>
			</ion-card>
			<div *ngSwitchCase="'modules'">
				<div *ngFor="let item of childrenData; let i = index;">
					<ion-card class="sb-accordian-card">
						<ion-grid class="sb-accordian-header">
							<ion-row (click)="toggleGroup(i , item)" *ngIf="item?.children">
								<ion-col size="11">
									<div class="sb-topic-text" [ngClass]="{'fontBold' : isGroupShown(i)}">
										<!-- <ion-icon class="sb-checkmark-icon" name="md-checkmark-circle"></ion-icon> -->
										<ion-icon *ngIf="isAlreadyEnrolled && item.status" class="sb-checkmark-icon"
											name="md-checkmark-circle"></ion-icon>
										{{item?.contentData.name}}
									</div>
								</ion-col>
								<ion-col size="1" *ngIf="!isGroupShown(i)" class="dd-icon">
									<div>
										<ion-icon name="ios-arrow-down" class="sb-accordian-arrow"></ion-icon>
									</div>
								</ion-col>
								<ion-col col-1 *ngIf="isGroupShown(i)" class="dd-icon">
									<div>
										<ion-icon name="ios-arrow-up" class="sb-accordian-arrow fontBold"></ion-icon>
									</div>
								</ion-col>
							</ion-row>
						</ion-grid>
						<div class="sb-hidden-content"
							*ngIf="isGroupShown(i) && (item?.children && item?.children?.length)">
							<!-- <div class="sb-separator-line"></div> -->
							<div class="box-align" *ngFor="let firstChildren of item?.children; let j = index;">
								<div class="sb-topics-container sb-topics-container-ftue">
									<app-collection-child [childData]="firstChildren" [index]="j" [depth]="depth"
										[activeMimeTypeFilter]="activeMimeTypeFilter" [isTextbookTocPage]="false"
										[corRelationList]="corRelationList" [isDepthChild]="isDepthChild"
                                        [breadCrumb]="breadCrumb" [rootUnitId]="item.identifier" [bookID]="identifier"
                                        [updatedCourseCardData]="updatedCourseCardData"
										[isEnrolled]="isAlreadyEnrolled" [fromCourseToc]="true" [isBatchNotStarted]="isBatchNotStarted">
									</app-collection-child>
								</div>
							</div>
						</div>
					</ion-card>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<div class="loading-backdrop" *ngIf="showLoading" text-center>
	<div class="backdrop-container">
		<ion-label>{{ 'LOADING_CONTENTS' | translate: {'%s': downloadProgress ? downloadProgress : 0} }}</ion-label>
		<app-pb-horizontal [progress]="downloadProgress" isOnBoardCard="false"></app-pb-horizontal>
	</div>

	<div class="backdrop-footer">
		<ion-button size="small" (click)="cancelDownload()">{{ 'CANCEL' | translate }}</ion-button>
	</div>
</div>
<app-sb-download-popup *ngIf="showDownload" (cancelDownloadEmit)="cancelDownload($event)" [currentCount]="currentCount"
	[queuedIdentifiers]="queuedIdentifiers" [downloadSize]="downloadSize" [collectionName]="course?.name"
	[showDownload]="showDownload"></app-sb-download-popup>