@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/_variables.scss";
:host {
  .clear-btn {
    @include rtl {
      float: left !important;
    }
    @include ltr {
      float: right !important;
    }
    padding-top: 10px;
  }
  .sb-view-all-title {
    width: inherit;
  }
  .scroll-content {
    padding-bottom: 80px;
  }

  ion-list.list-md {
    margin-top: 0 !important;
    background: inherit;

    ion-item {
      --padding-bottom: 8px;
    }
  }

  .oval {
    background: $white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    position: relative;
  }

  .oval img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px; /*50% of the height*/
    margin-left: -30px;
  }

  .oval-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    h4 {
      height: 22px;
      color: $gray-200;
      font-family: "Noto Sans", sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      text-align: center;
    }
    p {
      text-align: center;
      width: 80vw;
    }
  }
  .delete-button {
    height: 100%;
    --border-radius: none;
  }
}
