@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/_variables.scss";
:host {
  .notification-container {
    padding: 16px;
  }
  .clear-btn {
    @include rtl {
      float: left !important;
    }
    @include ltr {
      float: right !important;
    }
    padding-top: 10px;
    color: #e0005a
  }
  .sb-view-all-title {
    width: inherit;
  }
  .scroll-content {
    padding-bottom: 80px;
  }

  ion-list.list-md {
    margin-top: 0 !important;
    background: inherit;

    ion-item {
      --padding-bottom: 8px;
    }
  }

  .oval {
    background: $white;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    position: relative;
  }

  .oval img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.75rem;
    height: 3.75rem;
    margin-top: -30px; /*50% of the height*/
    margin-left: -30px;
  }

  .oval-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    h4 {
      height: 1.375rem;
      color: $gray-200;
      font-family: "Noto Sans", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.375rem;
      text-align: center;
    }
    p {
      text-align: center;
      width: 80vw;
    }
  }

  .delete-button-left {
    height: auto;
    margin: 0 !important;
    --border-radius: 0 0.5rem 0.5rem 0 !important;
  }

  .delete-button-right {
    height: auto;
    margin: 0 !important;
    --border-radius: 0.5rem 0 0 0.5rem !important;
  }
}
