/* src/app/pages/booking-popup/booking-popup.page.scss */

/* Page background color */
ion-content {
    --ion-background-color: rgba(255, 255, 255, 0.95);
  }
  
  /* Input field styles */
  ion-input {
    margin: 10px 0;
  }
  
  /* Button styles */
  ion-button {
    margin-top: 20px;
  }
  
  /* Close button styles */
  ion-button.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* Ensure it's above the content */
  }
  
  /* Optional: Add more custom styles as needed for your pop-up */
  