<ion-content class="signinpage">
    <div class="img-con">
        <img class="img-container" src="assets/imgs/ic_launcher.png" alt="app logo">
    </div>
    <div class="title-head">
        <h3>Welcome To {{appName}}</h3>
        <p>LOGIN</p>
    </div>
    <div class="login-div">
        <sb-form *ngIf="loginConfig && loginConfig.length"
        [config]='loginConfig'
        [platform]="'mobile'"
        (valueChanges)="onFormLoginChange($event)"
        (labelClickEvent)="onLabelClickEvent($event)">
        </sb-form>
        <button [ngClass]="loginButtonValidation ? 'validLoginButton':'log-in-button'" (click)="loginWithKeyCloak()" [disabled]="!loginButtonValidation">
            <p class="text-overlay">{{'OVERLAY_SIGN_IN' | translate }}</p>
        </button>

        <div class="account-info"><p>Don't have an account ? <span aria-label="Register here link" class="hyper-link" (click)="register()">Register here</span>
            <span> to access relevant learning material and enroll for courses</span></p>
        </div>
        <div class="option-or">
            <hr>
            <span>{{'OR' | translate}}</span>
            <hr>
        </div>

        <button class="signin"  (click)="signInWithGoogle()">
            <img class="icon-logo" src="assets/imgs/ic_google_icon.svg" alt="google-logo">
            <p class="text-overlay">{{'GOOGLE_LOGIN' | translate}}</p>
        </button>
        <button class="signin statesignin" (click)="loginWithStateSystem()">
            <p class="text-overlay"> {{'STATE_LOGIN' | translate}}</p>
        </button>

        <button *ngIf="platform.is('ios')" class="signin" (click)="appleSignIn()">
            <img class="icon-logo" src="assets/imgs/apple_black.png" alt="google-logo">
            <p class="text-overlay">{{'APPLE_LOGIN' | translate}}</p>
        </button>

    </div>
</ion-content>