<ion-content>
  <div class="content-player" *ngIf="playerType === 'sunbird-old-player'">
    <iframe #preview title="player" id="contentPlayer" src="./content-player/preview.html?isMobile=true"
      style="width:100%;height:100vh;border:none;"></iframe>
  </div>
  <div *ngIf="playerType === 'sunbird-pdf-player'" style="height:100vh;width:100%;">
    <sunbird-pdf-player [playerConfig]="config" (playerEvent)="playerEvents($event)"
      (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-pdf-player>
  </div>
  <div *ngIf="playerType === 'sunbird-epub-player'" style="height:100vh;width:100%;">
    <sunbird-epub-player [playerConfig]="config" (playerEvent)="playerEvents($event)"
      (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-epub-player>
  </div>
  <div *ngIf="playerType === 'sunbird-quml-player'" style="height:100vh;width:100%;background-color: white;">
      <quml-main-player [QumlPlayerConfig]="config" (playerEvent)="playerEvents($event)" 
      (telemetryEvent)="playerTelemetryEvents($event)"></quml-main-player>
  </div>
  <div *ngIf="playerType === 'sunbird-video-player'"  style="height:100vh;width:100%;">
    <sunbird-video-player [playerConfig]="config" (playerEvent)="playerEvents($event)"
      (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-video-player>
  </div>
</ion-content>

