<ion-content>
  <div class="content-player" *ngIf="playerType === 'sunbird-old-player'">
    <iframe #preview title="player" id="contentPlayer" src="./content-player/preview.html?isMobile=true"
      style="width:100%;height:100vh;border:none;"></iframe>
  </div>
  <div *ngIf="playerType === 'sunbird-pdf-player'" style="height:100vh;width:100%;">
    <sunbird-pdf-player [playerConfig]="config" (playerEvent)="playerEvents($event)"
      (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-pdf-player>
  </div>
  <div *ngIf="playerType === 'sunbird-epub-player'" style="height:100vh;width:100%;">
    <sunbird-epub-player [playerConfig]="config" (playerEvent)="playerEvents($event)"
      (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-epub-player>
  </div>
  <div *ngIf="playerType === 'sunbird-quml-player'" style="height:100vh;width:100%;background-color: white;">
      <quml-main-player [playerConfig]="config" (playerEvent)="playerEvents($event)" 
      (telemetryEvent)="playerTelemetryEvents($event)"></quml-main-player>
  </div>
  <div *ngIf="playerType === 'sunbird-video-player'"  style="height:100vh;width:100%;">
    <div class="sb-player-container-ios" *ngIf="platform.is('ios')" (click)="handleNavBackButton();$event.stopPropagation()">
      <div class="sb-circle">
        <img src="assets/imgs/ic_back.svg" alt="back" aria-label="back" class="sb-arrow-back" role="button">
      </div>
    </div>
    <!-- <sunbird-video-player [player-config]="config" (playerEvent)="playerEvents($event)"
      (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-video-player> -->
      <div class="aspectratio" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
        <div #video></div>
      </div>
  </div>
</ion-content>

