<ion-content overflow-scroll="true">
    <div class="au-container" *ngIf="!isUserIdVerified">
        <h3 class="au-title">{{'ADD_MEMBER' | translate}}</h3>
        <div class="au-ip">
            <p>{{'MEMBER_ID' | translate}}</p>
            <input [ngClass]="{'error' : showErrorMsg}" type="text" placeholder="{{'ENTER_MEMBER_ID' | translate}}" [(ngModel)]="userId">
            <p *ngIf="showErrorMsg" class="au-ip-error-msg">{{'INVALID_MEMBER_ID' | translate}}</p>
        </div>
        <div>
            <ion-button class="ion-text-capitalize" expand="block" (click)="onVerify()">{{'VERIFY' | translate}}</ion-button>
        </div>
    </div>
    <div class="au-container" *ngIf="isUserIdVerified">
        <h3 class="au-title">{{'ADD_NEW_MEMBER' | translate}}</h3>
        <div class="au-ip">
            <p>{{'MEMBER_ID' | translate}}</p>
            <input type="text" placeholder="{{'ENTER_MEMBER_ID' | translate}}" [(ngModel)]="userDetails.userName" disabled>
            <ion-icon class="au-clear-icon" ios="ios-close" md="md-close" (click)="onClearUser()"></ion-icon>
        </div>
        <div class="au-avatar">
            <app-profile-avatar [username]="userName"></app-profile-avatar>
            <h3>{{userName}}</h3>
        </div>  
        <div class="au-desc" [innerHtml]="'ADD_MEMBER_CONFIRMATION' | translate : {'%s': userName } ">
        </div>
        <div class="au-btn">
            <button class="sb-btn-large" (click)="onAddToGroup()">
                <img src="assets/imgs/ic_group_add_white.svg">
                {{'ADD_TO_GROUP' | translate}}
              </button>
        </div>
    </div>
</ion-content>