@import "src/assets/styles/base/_variables.scss";
.au-container{
    padding: 16px;
    .au-title{
        font-size: 18px;
        font-weight: bold;
        margin-top: 8px;
    }
    .au-ip{
        margin-bottom: 30px;
        position: relative;
        p{
            margin-bottom: 8px;
            font-size: 16px;
        }
        input{
            &.error{
                border: 1px solid $red;
            }
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            padding: 0 16px;
            color: #333;
            &:disabled{
                background-color: #fff;
            }
        }
        .au-clear-icon{
            position: absolute;
            bottom: 10px;
            right: 8px;
            font-size: 20px;
        }
        .au-ip-error-msg{
            color: $red;
            font-size: 14px;
            margin-top: 8px;
            font-weight: bold;
        }
    }
    .au-avatar{
        padding: 16px;
        background-color: #E5EDF5;
        text-align: center;
    }
    .au-desc{
        font-size: 16px;
        padding: 24px 0;
        span{
            font-weight: bold;
        }
    }
}
.au-btn{
    padding: 0px 8px 24px;
    .sb-btn-large{
      padding: 8px 0px 8px 0px;
      img{
        margin-right: 8px;
        position: relative;
        bottom: 2px;
      }
    }
}