<div id="main-content">
  <img class="close-icon" src="assets/imgs/close_tutorial.svg" alt="close-icon" role="button" (click)="close(false)">
  <div class="tutorial-content">
    <div class="mg-popup-container" *ngIf="!isFromAddMember">
      <div class="mg-popup-content">
        <h4 class="mg-popup-title mg-popup-flex-item">{{'POWER_OF_GROUPS'| translate}}</h4>
        <div class="mg-flex-item text-center">
          <img src="assets/imgs/my-groups-popup.svg" alt="">
        </div>
        <div class="mg-popup-content-body mg-popup-flex-item">{{'CREATE_GROUP_DESCRIPTION_POPUP' | translate}}</div>
        <div class="mg-popup-btn-container mg-popup-flex-item">
          <button class="mg-popup-btn sb-btn-large" (click)="getStarted()">
            {{'GET_STARTED' | translate}}
            <ion-icon class="mg-popup-btn-icon" name="arrow-forward"></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="mg-popup-container" *ngIf="isFromAddMember">
      <div class="mg-popup-content-member">
        <div class="mg-popup-title mg-popup-flex-item">
          <p class="am-title" [innerHTML]="'ADD_MEMBER_POPUP_TITLE' | translate:  {'%s': appName }"></p>
          <p class="am-desc" [innerHTML]="'ADD_MEMBER_POPUP_DESC' | translate:  {'%s': appName }"></p>
        </div>
        <div>
          <div class="mg-flex-item text-center mb-32">
            <p class="am-step text-left" [innerHTML]="'ADD_MEMBER_POPUP_STEP_1' | translate"></p>
            <img src="assets/imgs/add_member_step_1.png" alt="">
          </div>
          <div class="mg-popup-flex-item text-center">
            <p class="am-step text-left" [innerHTML]="'ADD_MEMBER_POPUP_STEP_2' | translate:  {'%s': appName }"></p>
            <img src="assets/imgs/add_member_step_2.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
