<div class="main-content" [ngClass]="{'subject-list-container': platform.is('ios')}">
    <div class="py-16 px-24 title-section">
       <h4 class="subject-title">{{'SUBJECT_OPTION_TEXT' | translate}}</h4>
        <img class="close-icon" src="assets/imgs/ic_action_close.svg" role="button" alt="close" (click)="closePopover()">
    </div>
    <div class="p-16 subject-list">
        <sb-pills-grid [pillShape]="PillShape.DEFAULT"
            [pillsMultiRow]="PillsMultiRow.SINGLE"
            [pillsViewType]="PillsViewType.NONE"
            [pillBorder]="PillBorder.SEMI_ROUND"
            [pillSize]="PillSize.SMALL"
            [pillTextElipsis]="PillTextElipsis.TWO_LINE"
            (select)="handlePillSelect($event)">
            <sb-pill-item *ngFor="let pillData of subjectList; let index=index" [name]="pillData?.value?.facet | translateJson | titlecase" 
            [icon]="{ component: 'sb-pill-item', input: 'icon' } | themeInputsSelector : theme : pillData?.value?.facet"
            [theme]="({ component: 'sb-pill-item', input: 'theme' } | themeInputsSelector : theme : pillData?.value?.facet) || (pillData?.value?.facet | randomColorMapPipe: index)"
            [value]="pillData?.value"></sb-pill-item>
        </sb-pills-grid>
    </div>
</div>