<div class="main-content">
    <div class="py-16 px-24 title-section">
       <span class="subject-title">{{'SUBJECT_OPTION_TEXT' | translate}}</span>
        <img class="close-icon" src="assets/imgs/ic_action_close.svg" alt="close-icon" (click)="closePopover()">
    </div>
    <div class="p-16">
        <sb-pills-grid [pillShape]="PillShape.DEFAULT"
            [pillsMultiRow]="PillsMultiRow.SINGLE"
            [pillsViewType]="PillsViewType.NONE"
            [pillBorder]="PillBorder.SEMI_ROUND"
            [pillSize]="PillSize.SMALL"
            (select)="handlePillSelect($event)">
            <sb-pill-item *ngFor="let pillData of subjectList" [name]="pillData?.value?.facet | titlecase" 
            [icon]="{ component: 'sb-pill-item', input: 'icon' } | themeInputsSelector : theme : pillData?.value?.facet"
            [theme]="({ component: 'sb-pill-item', input: 'theme' } | themeInputsSelector : theme : pillData?.value?.facet) || (pillData?.value?.facet | randomColorMapPipe)"
            [value]="pillData?.value"></sb-pill-item>
        </sb-pills-grid>
    </div>
</div>