@import "src/assets/styles/_variables.scss";

::ng-deep {
  .subject-list{
    sb-pills-grid{
      .sb-pills-grid{
        .item{
          background-color: var(--app-secondary-background) !important;
          height: auto !important;
        }
      }
    }
  }
}

.title-section{
  border-bottom: 1px solid var(--app-primary-header);
  position: sticky;
  display: flex;
  top: 0;
  background-color: white;
  .close-icon{
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    flex-grow: 2;
    margin-top: 1rem;
  }
  
  .subject-title{
    font-size: 1rem;
    flex-grow: 10;
  }
}

.subject-list{
  height: 87vh;
  overflow-y: scroll;
}

.subject-list-container {
  margin-top: env(safe-area-inset-top);
}
