<ion-content>

  <div class="my-cr-bg">
    <p class="my-cr-title">
      {{'MY_GROUPS' | translate}}
      <img *ngIf="!isGuestUser" src="assets/imgs/ic_group_add_blue.svg" (click)="createClassroom()">
    </p>
    
    <div *ngIf="isGuestUser" class="my-cr-card">
      <div class="my-cr-card-img">
        <img src="assets/imgs/classroom_school.svg">
      </div>
      <p class="my-cr-subtitle">{{'LOGIN_TO_CREATE_GROUP_DESCRIPTION' | translate}}</p>

      <div class="my-cr-btn">
        <button class="sb-btn-large" (click)="login()">{{'SIGN_IN' | translate}}</button>
      </div>
    </div>

    <div *ngIf="!isGuestUser && !groupList.length" class="my-cr-card">
      <div class="my-cr-card-img">
        <img src="assets/imgs/classroom_school.svg">
      </div>
      <p class="my-cr-subtitle">{{'CREATE_GROUP_DESCRIPTION' | translate}}</p>

      <div class="my-cr-btn">
        <button class="sb-btn-large" (click)="createClassroom()">
          <img src="assets/imgs/ic_group_add_white.svg">
          {{'CREATE_GROUP' | translate}}
        </button>
      </div>
    </div>

    <div *ngFor="let group of groupList">
      <sb-group-card [group]="group" [title]="group.name" [subTitle]="group.subTitle" [cardImg]="'https://cdn1.iconfinder.com/data/icons/back-to-school-37/24/school-512.png'" [isLoading]="groupListLoader" (cardClick)="navigateToGroupdetailsPage($event)"></sb-group-card>
    </div>

  </div>
  
</ion-content>