<ion-content>

  <div class="my-cr-bg">
    <p class="my-cr-title">{{'MY_GROUPS' | translate}}</p>
    
    <div *ngIf="isGuestUser" class="my-cr-card">
      <div class="my-cr-card-img">
        <img src="assets/imgs/classroom_school.svg">
      </div>
      <p class="my-cr-subtitle">{{'YOU_HAVE_TO_LOG_IN_TO_CREATE_GROUPS' | translate}}</p>

      <div class="my-cr-btn">
        <button class="sb-btn-large" (click)="login()">{{'OVERLAY_SIGN_IN' | translate}}</button>
      </div>
    </div>

    <div *ngIf="!isGuestUser" class="my-cr-card">
      <div class="my-cr-card-img">
        <img src="assets/imgs/classroom_school.svg">
      </div>
      <p class="my-cr-subtitle">{{'CURRENTLY_YOU_DO_NOT_HAVE_ANY_GROUPS' | translate}}</p>

      <div class="my-cr-btn">
        <button class="sb-btn-large" (click)="createClassroom()">{{'CREATE_GROUP' | translate}}</button>
      </div>
    </div>
    
    <!-- remove later -->
    <div>
      <ion-button class="ion-text-capitalize" expand="block" (click)="navigateToClassDetails()">
        Class Details
      </ion-button>
    </div>

  </div>
  
</ion-content>