<ion-header>
  <ion-toolbar>
    <div class="home-header">
      <ion-row>
        <ion-col style="margin-left: 0px">
          <a>
            <img
              src="../../../assets/eagle/app_logos/aastar-logo.svg"
              width="100px"
              height="40px"
            />
          </a>
          <span class="spacer"></span>
        </ion-col>
        <ion-col style="margin-right: 0px">
          <div class="form-group">
            <ion-button
              class="ws-btn"
              type="submit"
              id="login-btn"
              fill="outline"
              (click)="navigateToLogin()"
            >
              Log in
            </ion-button>
          </div>
          </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>