@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base/variables";

ion-header.header{
  --background: var(--app-primary-background);
}

ion-toolbar.toolbar {
  border-radius: 0 0 0 40px !important;
}

ion-title.color {
  color: $blue;
  font-weight: bold;
  margin-left: 25px;
  font-size: 1.125rem;
}

.close-icon {
  zoom: 1em;
  color: #000;
}
.close-button {
  position: absolute;
  margin-top: 20px;
  z-index: 99999999999999999999;
  margin-left: 12px;
}

ion-footer {
  height: 5rem;
}

.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  margin-top: 10px;
  ion-button.btn {
    width: 7.5rem;
    height:2.5rem;
    margin: 7px auto;
    font-size: $font-size-base;
    display: block;
    border-radius: 50%;
  }
}
