<ion-content class="no-net-popup">
  <ion-grid class="ion-padding">

    <ion-row>
      <ion-col class="ion-no-padding" size="11" (click)="navigateToStorageSettings()">
        <label class="no-net-heading">{{sbPopoverHeading}}</label>
        <div class="no-net-message" *ngIf="sbPopoverMessage?.length">{{sbPopoverMessage}}</div>
      </ion-col>

      <ion-col class="ion-no-padding" size="1">
        <ion-icon class="no-net-close-btn" name="close" (click)="closePopover()"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>