/.angular/cache
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
package-lock.json

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
/www/
$RECYCLE.BIN/
/plugins

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

/buildConfig/build.json
/buildConfig/gk.jks
/buildConfig/secret.gradle
/buildConfig/sunbird.properties
/buildConfig/sunbird-ios.properties
/buildConfig/secret.tar
/buildConfig/data/
/src/assets/data/

configurations/google-services.json
configurations/config.properties
GoogleService-Info.plist
#sonarcloud
.scannerwork
/capacitor.config.ts-*
/android/app/data
/android/app/data/*
/android/app/google-services.json
/src/assets/icons
android/gradle.properties
android/app/src/main/res/drawable/splash.png
android/app/src/main/res/drawable-land-hdpi/splash.png
android/app/src/main/res/drawable-land-ldpi/splash.png
android/app/src/main/res/drawable-land-mdpi/splash.png
android/app/src/main/res/drawable-land-night-hdpi/splash.png
android/app/src/main/res/drawable-land-night-ldpi/splash.png
android/app/src/main/res/drawable-land-night-mdpi/splash.png
android/app/src/main/res/drawable-land-night-xhdpi/splash.png
android/app/src/main/res/drawable-land-night-xxhdpi/splash.png
android/app/src/main/res/drawable-land-night-xxxhdpi/splash.png
android/app/src/main/res/drawable-land-xhdpi/splash.png
android/app/src/main/res/drawable-land-xxhdpi/splash.png
android/app/src/main/res/drawable-land-xxxhdpi/splash.png
android/app/src/main/res/drawable-night/splash.png
android/app/src/main/res/drawable-port-hdpi/splash.png
android/app/src/main/res/drawable-port-ldpi/splash.png
android/app/src/main/res/drawable-port-mdpi/splash.png
android/app/src/main/res/drawable-port-night-hdpi/splash.png
android/app/src/main/res/drawable-port-night-ldpi/splash.png
android/app/src/main/res/drawable-port-night-mdpi/splash.png
android/app/src/main/res/drawable-port-night-xhdpi/splash.png
android/app/src/main/res/drawable-port-night-xxhdpi/splash.png
android/app/src/main/res/drawable-port-night-xxxhdpi/splash.png
android/app/src/main/res/drawable-port-xhdpi/splash.png
android/app/src/main/res/drawable-port-xxhdpi/splash.png
android/app/src/main/res/drawable-port-xxxhdpi/splash.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-ldpi/ic_launcher_background.png
android/app/src/main/res/mipmap-ldpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-ldpi/ic_launcher_round.png
android/app/src/main/res/mipmap-ldpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
assets/icon.png
assets/splash.png
google-services.json
