<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="org.sunbird.app" version="staging-2.4.0.01" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>@string/_app_name</name>
    <description>Sunbird mobile app</description>
    <author email="" href="">EkStep Team</author>
    <access origin="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="Orientation" value="portrait" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <hook src="scripts/copyContentPlayer.js" type="before_build" />
    <hook src="scripts/copyContentPlayer.js" type="before_run" />
    <platform name="android">
        <hook src="attach-source-maps.js" type="before_build" />
        <preference name="android-targetSdkVersion" value="32" />
        <hook src="scripts/deleteUnUsableIosIcon.js" type="before_run" />
        <hook src="scripts/deleteUnUsableIosIcon.js" type="before_build" />
        <hook src="scripts/android/fix-android-11-migration.js" type="before_run" />
        <hook src="scripts/android/fix-android-11-migration.js" type="before_build" />
        <hook src="scripts/copyGradleFiles.js" type="before_build" />
        <hook src="scripts/copyBundledData.js" type="before_build" />
        <hook src="scripts/copyGradleFiles.js" type="before_run" />
        <hook src="scripts/copyBundledData.js" type="before_run" />
        <hook src="scripts/android/android-10-migration-fix.js" type="before_build" />
        <hook src="scripts/application/add_application.js" type="before_run" />
        <hook src="scripts/android/android-10-migration-fix.js" type="before_build" />
        <resource-file src="MainActivity.java" target="app/src/main/java/org/sunbird/app/MainActivity.java" />
        <resource-file src="whitelabel.xml" target="app/src/main/res/values/whitelabel.xml" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <queries>
                <intent>
                    <action android:name="android.media.action.IMAGE_CAPTURE" />
                </intent>
                <intent>
                    <action android:name="android.intent.action.GET_CONTENT" />
                </intent>
            </queries>
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:allowBackup="false" android:largeHeap="true" android:networkSecurityConfig="@xml/network_security_config" android:usesCleartextTraffic="true" />
        </edit-config>
        <preference name="android-manifest/@xmlns:tools" value="http://schemas.android.com/tools" />
        <preference name="android-manifest/application/@tools:replace" value="android:allowBackup" />
        <preference name="android-manifest/application/@android:allowBackup" value="false" />
        <preference name="loadUrlTimeoutValue" value="700000" />
        <preference name="CodePushDeploymentKey" value="agojO-OZt4dZlt_pu9r9j2Ipy_jY90dbb065-3633-45a5-9c55-c0405eafaebb" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="5000" />
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.xml" />
        <icon density="mdpi" src="resources/android/icon/drawable-ldpi-icon.xml" />
        <icon density="hdpi" src="resources/android/icon/drawable-ldpi-icon.xml" />
        <icon density="xhdpi" src="resources/android/icon/drawable-ldpi-icon.xml" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-ldpi-icon.xml" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-ldpi-icon.xml" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
        <preference name="FadeSplashScreen" value="false" />
        <preference name="SplashScreen" value="resources/android/splash/drawable-ldpi-splash.png" />
        <preference name="SplashScreen" value="resources/android/splash/drawable-hdpi-splash.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/splash/drawable-ldpi-splash.png" />
        <resource-file src="resources/android/icon/mipmap-hdpi-icon.png" target="app/src/main/res/mipmap-hdpi/n_icon.png" />
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <resource-file src="splash_styles.xml" target="app/src/main/res/drawable/splash_styles.xml" />
    </platform>
    <platform name="ios">
        <allow-navigation href="*" />
        <hook src="scripts/ios/ios.js" type="after_prepare" />
        <preference name="WKWebViewOnly" value="true" />
        <preference name="UseSwiftLanguageVersion" value="4" />
        <edit-config file="*-Info.plist" mode="overwrite" target="UIBackgroundModes">
            <array />
        </edit-config>
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <preference name="AllowInlineMediaPlayback" value="true" />
        <preference name="MediaPlaybackRequiresUserAction" value="false" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-intent href="https://*/*" />
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>App uses camera permissions to scan QR codes and upload evidences</string>
        </edit-config>
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
    </platform>
    <content src="index.html" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-zip" spec="^3.1.0" />
    <plugin name="cordova-plugin-code-push" spec="^2.0.0" />
    <plugin name="cordova-plugin-file-opener2" spec="^2.2.0" />
    <plugin name="cordova-plugin-printer" spec="^0.8.0" />
    <plugin name="com.jjdltc.cordova.plugin.zip" spec="https://github.com/swayangjit/jjdltc-cordova-plugin-zip.git" />
    <plugin name="ionic-plugin-keyboard" spec="^2.2.1" />
    <plugin name="cordova-plugin-ionic-webview" spec="^4.2.1" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^6.0.3" />
    <plugin name="cordova-plugin-androidx-adapter" spec="^1.1.3" />
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-file" spec="^7.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="https://github.com/apache/cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-inappbrowser" spec="^5.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
    <plugin name="cordova-plugin-webview-checker" spec="^1.0.1" />
    <plugin name="cordova-plugin-awesome-shared-preferences" spec="https://github.com/adriano-di-giovanni/cordova-plugin-shared-preferences.git" />
    <plugin name="cordova-plugin-local-notification" spec="https://github.com/katzer/cordova-plugin-local-notifications.git">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="26.+" />
    </plugin>
    <plugin name="cordova-plugin-fcm-with-dependecy-updated" spec="https://github.com/Sunbird-Ed/sb-cordova-plugin-fcm.git#release-5.0.2">
        <variable name="ANDROID_FIREBASE_BOM_VERSION" value="26.5.0" />
        <variable name="GRADLE_TOOLS_VERSION" value="3.5.0" />
        <variable name="GOOGLE_SERVICES_VERSION" value="4.3.8" />
        <variable name="ANDROID_DEFAULT_NOTIFICATION_ICON" value="@mipmap/ic_launcher" />
    </plugin>
    <plugin name="cordova-plugin-advanced-http" spec="^2.5.1" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.2" />
    <plugin name="cordova-plugin-media" spec="^5.0.3" />
    <plugin name="cordova.plugins.diagnostic" spec="^5.0.2">
        <variable name="ANDROID_SUPPORT_VERSION" value="28.+" />
    </plugin>
    <plugin name="com.telerik.plugins.nativepagetransitions" spec="^0.6.5" />
    <plugin name="cordova-plugin-proguard" spec="https://github.com/greybax/cordova-plugin-proguard.git" />
    <plugin name="sb-cordova-plugin-utility" spec="https://github.com/Sunbird-Ed/sb-cordova-plugin-utility.git#release-3.1.0" />
    <plugin name="cordova-plugin-android-downloadmanager" spec="https://github.com/Sunbird-Ed/sb-cordova-plugin-downloadmanager.git" />
    <plugin name="sb-cordova-plugin-db" spec="https://github.com/Sunbird-Ed/sb-cordova-plugin-db.git#release-3.1.0" />
    <plugin name="sb-cordova-plugin-customtabs" spec="https://github.com/Sunbird-Ed/sb-cordova-plugin-customtabs.git">
        <variable name="URL_SCHEME" value="@string/custom_scheme_url" />
        <variable name="URL_HOST" value="mobile" />
    </plugin>
    <plugin name="cordova-plugin-openrap" spec="https://github.com/project-sunbird/cordova-plugin-openrap.git" />
    <plugin name="cordova-plugin-qr-scanner" spec="https://github.com/project-sunbird/cordova-plugin-qr-scanner.git#release-3.3.0" />
    <plugin name="sb-cordova-plugin-sync" spec="https://github.com/project-sunbird/sb-cordova-plugin-sync.git#release-3.2.0" />
    <plugin name="cordova-plugin-inappupdatemanager" spec="https://github.com/subranil/cordova-plugin-inappupdatemanager.git" />
    <plugin name="cordova-sqlite-storage" spec="^6.0.0" />
    <plugin name="cordova-plugin-googleplus" spec="^8.5.2">
        <variable name="PLAY_SERVICES_VERSION" value="15.0.1" />
    </plugin>
    <plugin name="uk.co.workingedge.phonegap.plugin.istablet" spec="^1.2.0" />
</widget>