.thumbnail-card {
  height: 98px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.thumbnail-card ion-icon {
  font-size: 3.2rem;
}
.attachmentIcon {
  margin-top: 10px;
  font-size: 3.125rem;
  // color: $primary-color;
}
