@import "src/assets/styles/_variables.scss";
    .profile-avatar{
        font-size: 3.125rem;
        font-weight: bold !important;
        line-height: 3.13rem;
        color: map-get($colors, vivid_purple);
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
        padding: 5px;
        text-align: center;
        min-width: 5rem;
        min-height: 5rem;
        margin: 0 auto;
        display: table;

        span {
            vertical-align: middle;
            display: table-cell;
        }
    }
    .profile-avatar.profileAvatar{
        border: 1px solid $green !important;
        box-shadow: none;
    }
