<ion-content *ngIf="template" class="ion-padding">
  <div class="project-title">
    <ion-label position="floating" class="font-bold">
      {{'FRMELEMNTS_LBL_PROJECT_TITLE' | translate}}
    </ion-label>
    <ion-input type="text" [(ngModel)]="template.title" readonly="true" class="font-bold"> </ion-input>
  </div>

  <div class="date-block">
    <ion-label position="stacked" class="font-bold"> {{'FRMELEMNTS_LBL_SET_DATE' | translate}}</ion-label>
    <p class="label-hint"> {{'FRMELEMNTS_LBL_SET_DATE_HINT' | translate}} </p>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">
            {{'FRMELEMNTS_LBL_FROM' | translate }}
          </ion-label>
          <ion-datetime min="{{currentYear-2}}" max="{{currentYear + 5}}" class="no-rght-brdr-rds"
            display-timezone="utc" value={{today}} [(ngModel)]="template.startDate" class="project-date"
            placeholder={{today}} (ionChange)="resetEndDate($event)">
          </ion-datetime>
          <ion-icon name="caret-down" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">
            {{'FRMELEMNTS_LBL_TO' | translate}}
          </ion-label>
          <ion-datetime min="{{endDateMin}}" max="{{currentYear + 5}}" class="no-rght-brdr-rds" display-timezone="utc"
            value={{today}} [(ngModel)]="template.endDate" class="project-date" placeholder={{today}}>
          </ion-datetime>
          <ion-icon name="caret-down" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div class="program-block" *ngIf="!selectedProgram">
    <ion-label position="stacked" class="font-bold"> {{'FRMELEMNTS_LBL_SELECT_PROGRAM' | translate}} <span
        *ngIf="template.showProgramAndEntity">* </span></ion-label>
    <ion-item lines="none">
      <ion-input (ionFocus)="openSearchModel('programs')" placeholder="{{'FRMELEMNTS_LBL_SELECT_PROGRAM' | translate}}">
      </ion-input>
      <ion-icon name="caret-down" slot="end"></ion-icon>
    </ion-item>
  </div>
  <div *ngIf="selectedProgram" class="program-data">
    <ion-label position="stacked" class="font-bold">
      {{'FRMELEMNTS_LBL_SELECT_PROGRAM' | translate}} <span *ngIf="template.showProgramAndEntity">* </span></ion-label>
    <ion-card class="data-list">
      <ion-item lines="none">
        {{selectedProgram.name}}
        <ion-icon name="close" slot="end" class="remove-icon" (click)="remove(selectedProgram,'program')">
        </ion-icon>
      </ion-item>
    </ion-card>
  </div>
  <div class="entity-block">
    <h5 (click)="addEntity()">
      <ion-icon name="location"></ion-icon> {{'FRMELEMNTS_LBL_ADD_ENTITY' | translate}} <span
        *ngIf="template.showProgramAndEntity">* </span>
    </h5>
    <ion-card *ngIf="selectedEntity" class="data-list">
      <ion-item lines="none">
        {{selectedEntity.name}}
        <ion-icon name="close" slot="end" class="remove-icon" (click)="remove(selectedEntity,'entity')">
        </ion-icon>
      </ion-item>
    </ion-card>
  </div>
  <!-- <div class="rating-block" *ngIf="showRatings">
    <h5>{{'FRMELEMNTS_LBL_LIKED_PROJECT' | translate}} </h5>
    <p> {{'FRMELEMNTS_MSG_RATING_LABEL_MESSAGE' | translate}} </p>
    <app-star-ratings [ratingStar]="ratingStar" [userRating]="template.userRating" (onRate)="rating($event)">
    </app-star-ratings>
  </div> -->
  <div class="learningResources" *ngIf="showLearningResources">
    <h5>{{'FRMELEMNTS_LBL_LINK_LEARNING_RESOURCES' | translate}} </h5>
    <div *ngIf="selectedResources">
      <ion-card class="data-list" *ngFor="let lr of selectedResources">
        <ion-item lines="none">
          {{lr.name}}
          <ion-icon name="close" slot="end" class="remove-icon" (click)="remove(lr,'resources')">
          </ion-icon>
        </ion-item>
      </ion-card>
    </div>
    <div class="text-center">
      <ion-icon name="link"></ion-icon>
      <span (click)="addLearningResources()"> {{'FRMELEMNTS_LBL_CLICK_HERE_TO_VIEW_LIBRARY' | translate}} </span>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="template" color="primary">
  <div class="footer-btn" (click)="action()">{{button | translate}}
  </div>
</ion-footer>