@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
:host {
  .display-inline {
    display: inline;
  }
  .heading1 {
    color: map-get($colors, dark);
    margin-bottom: 3%;
    font-size: 1.8rem;
    padding: 0;
    margin-left: 0;
    font-weight: bolder !important;
  }
  .heading2 {
    margin-top: 5px;
  }
  .text-gray-color {
    color: gray;
    margin-top: 6px;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .subtitle {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 700 !important;
    margin-bottom: 10px;
    color: map-get($colors, primary_black);
  }
  .content {
    margin-bottom: 10px;
    color: map-get($colors, primary_black);
  }
  .subheader {
    margin-bottom: 5px;
  }
  .feedback {
    border-top: 0px;
    @include ltr() {
      border-left: 0px;
      border-right: 0px;
    }
    @include rtl() {
      border-left: 0px;
      border-right: 0px;
    }
    border-bottom: 2px solid gray;
    padding-top: 12px;
  }
}
