<ion-content overflow-scroll="true">
  <div>
    <div class="sb-view-all-container" *ngIf="localContentsCard">

      <div class="sb-view-all-items">
        <div class="sb-view-all-title">
          <span class="page-heading">{{ 'RECENTLY_VIEWED' | translate }}</span>
          <span class="page-info">{{'SHOW_RECENT' | translate:{'%s': searchList?.length} }}</span>
        </div>
      </div>

    </div>
    <div class="empty-search-result ion-text-center" *ngIf="!showLoader && searchList && searchList.length === 0"
      padding-top>
      {{ 'EMPTY_SEARCH_RESULTS' | translate }}
    </div>

    <div>
      <div class="view-more-course-bg" *ngIf="!localContentsCard">
        <p class="title" *ngIf="pageType === 'enrolledCourse'">{{'COURSES_IN_PROGRESS' | translate}}</p>
        <p class="title" *ngIf="pageType === 'popularCourses'">{{title}}</p>
        <p *ngIf="searchList && searchList.length" class="count-text">{{'SHOWING_ITEMS' | translate:{'%s': searchList.length} }}</p>
        <ng-container *ngIf="!isLoading">
          <div *ngFor="let item of searchList" class="mb-8">
            <sb-my-course-card *ngIf="pageType === 'enrolledCourse'" [course]="item" [section]="null"
            [cardImg]="getContentImg(item)" (click)="openCourseDetails(item)"></sb-my-course-card>
            <sb-course-card *ngIf="pageType === 'popularCourses'" [course]="item"  [section]="null"
            [cardImg]="getContentImg(item)" (click)="openCourseDetails(item)"></sb-course-card>
          </div>
        </ng-container>
        <ng-container *ngIf="isLoading">
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]" class="mb-8 mt-8">
            <sb-my-course-card *ngIf="pageType === 'enrolledCourse'" [isLoading]="isLoading"></sb-my-course-card>
            <sb-course-card *ngIf="pageType === 'popularCourses'" [isLoading]="isLoading"></sb-course-card>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="localContentsCard && searchList && searchList.length">
        <div class="sb-view-all-container">
          <div class="sb-card-container sb-card-view-all-container">
            <app-view-all-card *ngFor="let item of searchList" [userId]="userId" [content]="item" [type]="pageType"
              [sectionName]="contentCard" (click)=navigateToDetailPage(item)></app-view-all-card>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="px-5">
      <ion-button expand="block" *ngIf="searchList && searchList.length && loadMoreBtn" (click)="loadMore();">
        {{ 'VIEW_MORE' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-backdrop class="loading-backdrop ion-text-center" *ngIf="showOverlay">
  <div class="backdrop-container">
    <span *ngIf="downloadPercentage !== 100">
      <ion-label>{{ 'LOADING_CONTENT' | translate }} {{ downloadPercentage ? (downloadPercentage) : '0' }} %</ion-label>
      <app-pb-horizontal [progress]="downloadPercentage" isOnBoardCard="false"></app-pb-horizontal>
    </span>
    <ion-label *ngIf="downloadPercentage === 100">{{ 'LOADING_CONTENT' | translate }}</ion-label>
  </div>

  <div class="backdrop-footer" *ngIf="downloadPercentage !== 100">
    <ion-button size="small" (click)="cancelDownload()">{{'CANCEL' | translate}}</ion-button>
  </div>
</ion-backdrop>