<ion-content overflow-scroll="true" [ngClass]="{'ui-container': !platform.is('ios')}">
  <div class="ui-container" *ngIf="platform.is('ios')"></div>
  <div class="ui-content">
    <div class="empty-search-result ion-text-center ion-padding-top" *ngIf="!showLoader && searchList && searchList.length === 0">
      {{ 'EMPTY_SEARCH_RESULTS' | translate }}
    </div>

    <div>
      <div class="view-more-course-bg">
        <p class="title" role="heading" aria-level="1" *ngIf="pageType === 'enrolledCourse'">{{'COURSES_IN_PROGRESS' | translate}}</p>
        <p class="title" role="heading" aria-level="1" *ngIf="pageType === 'popularCourses' || pageType === 'tvPrograms'">{{title}}</p>
        <p *ngIf="searchList && searchList.length" class="count-text">
          {{'SHOWING_ITEMS' | translate:{'%s': searchList.length} }}</p>
        <ng-container *ngIf="!isLoading">
          <div *ngFor="let item of searchList; let i = index" class="mb-8">
            <sb-my-course-card *ngIf="pageType === 'enrolledCourse'" [course]="item" [section]="null"
              [cardImg]="getContentImg(item)" (click)="openCourseDetails(item, i)" [hideProgress]="true">
            </sb-my-course-card>
            <sb-course-card *ngIf="pageType === 'popularCourses'" [course]="item" [section]="null"
              [cardImg]="getContentImg(item)" (click)="openCourseDetails(item, i)"></sb-course-card>
            <sb-library-card *ngIf="pageType === 'tvPrograms'" [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable" [content]="item"
              [type]="'mobile_textbook'" (cardClick)="navigateToDetailPage(item)" [isLoading]="isLoading"
              [cardImg]="item?.appIcon || defaultAppIcon">
            </sb-library-card>
          </div>
        </ng-container>
        <ng-container *ngIf="isLoading">
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]" class="mb-8 mt-8">
            <sb-my-course-card *ngIf="pageType === 'enrolledCourse'" [isLoading]="isLoading">
            </sb-my-course-card>
            <sb-course-card *ngIf="pageType === 'popularCourses'" [isLoading]="isLoading"></sb-course-card>
            <sb-library-card *ngIf="pageType === 'tvPrograms'" [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable" [content]="item"
              [type]="'mobile_textbook'" (cardClick)="navigateToDetailPage(item)" [isLoading]="isLoading"
              [cardImg]="item?.appIcon || defaultAppIcon">
            </sb-library-card>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="px-5">
      <ion-button expand="block" class="custom-btn-txt-transform-none"  *ngIf="searchList && searchList.length && loadMoreBtn" (click)="loadMore();">
        {{ 'FRMELEMNTS_BTN_VIEW_MORE' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-backdrop class="loading-backdrop ion-text-center" *ngIf="showOverlay">
  <div class="backdrop-container">
    <span *ngIf="downloadPercentage !== 100">
      <ion-label>{{ 'LOADING_CONTENT' | translate }} {{ downloadPercentage ? (downloadPercentage) : '0' }} %</ion-label>
      <app-pb-horizontal [progress]="downloadPercentage" isOnBoardCard="false"></app-pb-horizontal>
    </span>
    <ion-label *ngIf="downloadPercentage === 100">{{ 'LOADING_CONTENT' | translate }}</ion-label>
  </div>

  <div class="backdrop-footer" *ngIf="downloadPercentage !== 100">
    <ion-button size="small" (click)="cancelDownload()">{{'CANCEL' | translate}}</ion-button>
  </div>
</ion-backdrop>