@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/fonts";
:host {
  .scroll-content {
    padding-bottom: 30% !important;
  }
  .img-align {
    margin-top: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    margin-right: 8px;
  }

  .allign-middle {
    display: inline-block;
    vertical-align: middle;
  }

  .filter-icon {
    height: 15px;
    width: 15px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: stretch;

    position: relative;
    padding: 8px 8px;
    margin: 1rem 1rem;

    border: 1px solid #80a7ce;
    border-radius: 4px;
    background-color: #ffffff;

    input {
      border: none;
      flex-grow: 1;
    }

    button {
      flex-shrink: 0;

      ion-icon {
        color: #999999;
      }
    }
  }

  .sb-textbook-container {
    margin: 0 !important;
    padding: 0 !important;
    app-text-book-card {
      .sb-card.reverse {
        border-bottom: 0.5px solid #979797 !important;
      }
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .sb-card-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .sb-card-textbook-container {
    margin: 0 !important;
    padding: 0 !important;
  }
  .bottom-button {
    padding: 1em 2em !important;
  }
  .sort-by {
    border-radius: 4px;
    --background: #024f9d;
    padding: 0 2rem 5px 2rem !important;
    margin-bottom: 0.2rem;
    height: 45px;
  }
  .spinner-container {
    width: 100%;
    height: 100%;
    display: block;

    .loader {
      display: block;
      margin: auto;
      top: 23%;
    }
  }


}
