@import "src/assets/styles/_variables.scss";

.dashlet-table-container{
    padding: 8px;
}
.ad-dw{
    color: $blue;
    font-weight: bold;
}
.ad-csv-btn{
    position: relative;
    bottom: 0.625rem;
}

table {
    font-family: arial, sans-serif;
    border-radius: var(--sbt-bradius-24);
    display: table;
    overflow: hidden;
    width: 100% !important;
    margin: 0 auto 1rem;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    font-size: .875rem;
    box-shadow: 0.375rem 0.375rem 0.125rem #0000001a;
    border-bottom: 0px !important;
    background: var(--white);
    border: .0625rem solid var(--rc-dddddd);
    cursor: pointer;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }

  table tbody tr:nth-child(odd) {
    background-color: var(--gray-0) !important;
  }