@import "src/assets/styles/_variables.scss";

.dashlet-table-container{
    padding: 8px;
}
.ad-dw{
    color: $blue;
    font-weight: bold;
}
.ad-csv-btn{
    position: relative;
    bottom: 0.625rem;
}