<div class="dashlet-table-container">
        <div>
            <span (click)="exportCsv()" class="ad-csv-btn float-end">
                <span class="ad-dw">{{'DOWNLOAD_CSV' | translate}}</span>
                <img src="assets/imgs/download-icon.svg" alt="download" aria-hidden="true">
            </span>
        </div>
        <div style="padding-top: 1rem;">
            <table style="width: 100%;">
                <thead> 
                    <tr role="row">
                        <th class="sorting" *ngFor="let clmn of columnConfig?.columnConfig">{{clmn.title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" *ngFor="let data of DashletRowData?.values">
                        <td *ngFor="let clmn of columnConfig?.columnConfig">{{data[clmn.data]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>