<div class="sb-card full"
  [ngClass]="{'offline': !course.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable}"
  (click)="navigateToDetailPage(course)">
  <div class="img-container">
    <img alt="" *ngIf="!(!course.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable)"
      [src]="commonUtilService.convertFileSrc(course?.contentData?.courseLogoUrl) || commonUtilService.convertFileSrc(course?.contentData?.appIcon) || defaultImg " />
    <img alt="" *ngIf="!course.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable"
      src="assets/imgs/ic_offline_white_sm.png" />
  </div>
  <div class="sb-card-details">
    <div class="title">{{course?.contentData?.name}}</div>
    <div class="grade_ellipsis"><span class="info class">{{course?.contentData?.subject | csa}}</span><span
        *ngIf="course?.contentData?.gradeLevel && course?.contentData?.subject" class="separator-dot"></span><span
        class="info subject">{{course?.contentData?.gradeLevel}}</span></div>
  </div>
</div>