@import "src/assets/styles/_variables.scss";
:host {
  .sign-in-btn {
    border-radius: 4px !important;
  }
  .sign-in-card-text {
    font-weight: 600 !important;
    color: map-get($colors, primary_black) !important;
  }
  ion-card {
    background-color: map-get($colors, white);
  }
  ion-card-header {
    color: map-get($colors, primary_black) !important;
    font-size: 1.1rem;
  }

  .sign-in-card-success{
    .sign-in-card-title{
      margin: 0 8px 8px;
      padding-top: 16px;
      font-family: "Noto Sans", sans-serif;
      color: map-get($colors, white);
      font-weight: bold;
    }
    .sign-in-block{
      padding: 16px 12px 12px;
      text-align: center;
      margin: 8px;
      background-color: map-get($colors, white);
      border-radius: 2px;
      box-shadow: 0 20px 40px -10px map-get($colors, light_silver);
      p{
        margin-bottom: 8px;
        font-family: "Noto Sans", sans-serif;
        font-size: 12px;
        color: map-get($colors, primary_black);
      }
      ion-button{
        --background: #{$green} !important;
        --background-hover: #{$green} !important;
        --background-activated: #{$green} !important;
      }
    }
  }
}