<!-- New content details -->
<ion-content *ngIf="content">
  <div class="sb-play-container sb-player-container" *ngIf="commonUtilService.networkInfo.isNetworkAvailable && playerType !== 'sunbird-video-player'"
    [ngClass]="{'standalone-player-container': contentDownloadable[content?.identifier] && (content.mimeType === 'video/mp4' || content.mimeType === 'video/webm'), '': !contentDownloadable[content?.identifier]}">
    <div *ngIf="contentDownloadable[content?.identifier]">
      <img class="sb-player-container" [src]="content | imageContent" alt="">
      <div class="sb-overlay-container">
        <div class="sb-back-transparent" (click)="handleNavBackButton();$event.stopPropagation()">
          <div class="sb-circle">
            <img src="assets/imgs/ic_back.svg" alt="back" aria-label="back" class="sb-arrow-back" role="button">
          </div>
        </div>
        <div class="sb-dt-content sb-dt-content-main">
          <div class="left">
            <div class="sb-dt-title" role="heading" aria-level="1"> {{content?.contentData?.name}}</div>
            <div class="sb-dt-source" *ngIf="content?.contentData?.owner || content?.contentData?.creator">
              <span class="sb-by-gray">{{ 'CONTENT_CREATED_BY' | translate }} &nbsp;</span>
              <span class="sb-user">{{ content?.contentData?.owner || content?.contentData?.creator }}</span>
              <span class="sb-rating-view" *ngIf="content?.contentData?.me_averageRating">
                <span class="content-vertical-line"></span>
                <span class="sb-rating-value">{{ content?.contentData?.me_averageRating }}</span>
                <span class="sb-rating-star">
                  <ion-icon name="star"></ion-icon>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="sb-common-player-group sb-play-title-group">
          <button fill="clear" icon-only class="sb-common-title" aria-label="Play video" (click)="handleContentPlay(false)">
            <img src="assets/imgs/play_circle.svg" role="button" alt="play" class="play-circle">
          </button>
          <p class="play-text"> {{'PLAY' | translate}} </p>
        </div>
      </div>
    </div>
    <div *ngIf="!contentDownloadable[content?.identifier]">
      <img class="sb-player-container" [src]="content| imageContent" alt="">
      <div class="sb-overlay-container">
        <div [ngClass]="{'sb-back-transparent': platform.is('android'), 'sb-back-transparent-ios': platform.is('ios')}"
        (click)="handleNavBackButton();$event.stopPropagation()">
          <div [ngClass]="{'sb-circle': platform.is('android'), 'sb-circle-ios': platform.is('ios')}">
            <img src="assets/imgs/ic_back.svg" alt="back" aria-label="back" class="sb-arrow-back" role="button">
          </div>
        </div>
        <div class="sb-dt-content sb-dt-content-main">
          <div class="left">
            <div class="sb-dt-title" role="heading" aria-level="1"> {{content?.contentData?.name}}</div>
            <div class="sb-dt-source" *ngIf="content?.contentData?.owner || content?.contentData?.creator">
              <span class="sb-by-gray">{{ 'CONTENT_CREATED_BY' | translate }} &nbsp;</span>
              <span class="sb-user">{{ content?.contentData?.owner || content?.contentData?.creator }}</span>
              <span class="sb-rating-view" *ngIf="content?.contentData?.me_averageRating">
                <span class="content-vertical-line"></span>
                <span class="sb-rating-value">{{ content?.contentData?.me_averageRating }}</span>
                <span class="sb-rating-star">
                  <ion-icon name="star"></ion-icon>
                </span>
              </span>
            </div>
          </div>

        </div>
        <div class="sb-common-player-group sb-play-title-group"
          *ngIf="content.mimeType !== 'application/vnd.ekstep.h5p-archive'">
          <button fill="clear" icon-only class="sb-common-title" aria-label="Play video" (click)="handleContentPlay(true)">
            <img src="assets/imgs/play_circle.svg" role="button" alt="play" class="play-circle">
          </button>
          <p class="play-text"> {{'PLAY' | translate}} </p>
        </div>
        <div class="sb-common-player-group sb-download-title-group" (click)="openConfirmPopUp()"
          *ngIf="content.mimeType === 'application/vnd.ekstep.h5p-archive'">
          <ion-button fill="clear" icon-only class="sb-common-title">
            <ion-icon name="cloud-download" role="button" class="sb-common-white-icon"></ion-icon>
          </ion-button>
          <div class="sb-common-footer-text">{{'PLEASE_DOWNLOAD_TO_PLAY' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="playerType === 'sunbird-video-player'"
  class="sb-play-container sb-player-container standalone-player-container" [ngClass]="{'' : isPlayerPlaying, 'sb-enable-endpage': (!isPlayerPlaying && screenOrientation.type === 'portrait-primary'), 'player-fullscreen': screenOrientation.type === 'landscape-primary'}">
    <div class="sb-overlay-container">
      <div class="sb-back-transparent" (click)="handleNavBackButton();$event.stopPropagation()">
        <div class="sb-circle">
          <img src="assets/imgs/ic_back.svg" alt="back" aria-label="back" class="sb-arrow-back" role="button">
        </div>
      </div>
    </div>
    <div *ngIf="playerType === 'sunbird-video-player' && config"  [ngClass]="{'aspectratio' : isPlayerPlaying, '': !isPlayerPlaying}" data-ratio="16:9" #aspectRatio>
      <!-- <sunbird-video-player [player-config]="config" (playerEvent)="playerEvents($event)"
        (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-video-player> -->
        <div class="aspectratio" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
          <div #video></div>
          </div>
    </div>
  </div>
  <div *ngIf="!commonUtilService.networkInfo.isNetworkAvailable && playerType !== 'sunbird-video-player'">
    <div class="sb-play-container sb-player-container" *ngIf="contentDownloadable[content?.identifier] && playerType !== 'sunbird-video-player'">
      <img class="sb-player-container" [src]="content | imageContent" alt="">
      <div class="sb-overlay-container">
        <div class="sb-back-transparent" (click)="handleNavBackButton();$event.stopPropagation()">
          <div class="sb-circle">
            <img src="assets/imgs/ic_back.svg" alt="back" aria-label="back" class="sb-arrow-back" role="button">
          </div>
        </div>
        <div class="sb-dt-content sb-dt-content-main">
          <div class="left">
            <div class="sb-dt-title" role="heading" aria-level="1"> {{content?.contentData?.name}}</div>
            <div class="sb-dt-source" *ngIf="content?.contentData?.owner || content?.contentData?.creator">
              <span class="sb-by-gray">{{ 'CONTENT_CREATED_BY' | translate }} &nbsp;</span>
              <span class="sb-user">{{ content?.contentData?.owner || content?.contentData?.creator }}</span>
              <span class="sb-rating-view" *ngIf="content?.contentData?.me_averageRating">
                <span class="content-vertical-line"></span>
                <span class="sb-rating-value">{{ content?.contentData?.me_averageRating }}</span>
                <span class="sb-rating-star">
                  <ion-icon name="star"></ion-icon>
                </span>
              </span>
            </div>
          </div>

        </div>

        <div class="sb-common-player-group sb-play-title-group">
          <button fill="clear" icon-only class="sb-common-title" aria-label="Play video" (click)="handleContentPlay(false)">
            <img src="assets/imgs/play_circle.svg" role="button" alt="play" class="play-circle">
          </button>
          <p class="play-text"> {{'PLAY' | translate}} </p>
        </div>
      </div>
    </div>
    <div *ngIf="contentDownloadable[content?.identifier] && playerType === 'sunbird-video-player'"
      class="sb-play-container sb-player-container standalone-player-container"
      [ngClass]="{'' : isPlayerPlaying, 'sb-enable-endpage': (!isPlayerPlaying && screenOrientation.type === 'portrait-primary'), 'player-fullscreen': screenOrientation.type === 'landscape-primary'}">
      <div class="sb-overlay-container">
        <div class="sb-back-transparent" (click)="handleNavBackButton();$event.stopPropagation()">
          <div class="sb-circle">
            <img src="assets/imgs/ic_back.svg" alt="back" aria-label="back" class="sb-arrow-back" role="button">
          </div>
        </div>
      </div>
      <div *ngIf="playerType === 'sunbird-video-player' && config" [ngClass]="{'aspectratio' : isPlayerPlaying, '': !isPlayerPlaying}"
        data-ratio="16:9" #aspectRatio>
        <div class="aspectratio" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
          <div #video></div>
          </div>
        <!-- <sunbird-video-player [player-config]="config" (playerEvent)="playerEvents($event)"
          (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-video-player> -->
      </div>
    </div>
    <div class="sb-player-container sb-offline-container" *ngIf="!contentDownloadable[content?.identifier]">
      <div class="sb-back-transparent" (click)="handleNavBackButton();$event.stopPropagation()">
        <div class="sb-circle">
          <img src="assets/imgs/ic_back.svg" alt="back" aria-label="back" class="sb-arrow-back" role="button">
        </div>
      </div>
      <div class="sb-common-player-group sb-common-title-group">
        <div class="sb-offline-title">
          <img src="assets/imgs/ic_offline_white_sm.png" alt="offline" />
        </div>
        <div class="sb-common-footer-text">{{'YOU_ARE_NOT_CONNECTED_TO_THE_INTERNET' | translate}}</div>
        <div class="sb-common-footer-text sb-sub-footer">{{'ONLY_DOWNLOADED_CONTENT_CAN_BE_PLAYED_OFFLINE' |
          translate}}</div>
      </div>
    </div>
  </div>

  <div class="sb-detail-card-info">
    <div class="sb-dt-card">
      <div class="sb-dt-card-actions">

        <div class="sb-btn-tile-group">
          <div *ngIf="content && !this.limitedShareContentFlag">
            <button *ngIf="!contentDownloadable[content?.identifier]" (click)="openConfirmPopUp()"
              [ngClass]="!(content?.contentData?.downloadUrl) ? 'download-disabled' : null"
              [disabled]="isDownloadStarted || (isContentDownloading$ | async) || (content.mimeType === 'video/webm' && platform.is('ios'))" fill="clear" icon-only
              class="sb-btn-tile">
              <img src="assets/imgs/outline_download.svg" alt="download content" class="mb-4">
              <span *ngIf="!isDownloadStarted" class="sb-btn-footer-text">{{'DOWNLOAD' | translate}}</span>
              <span *ngIf="isDownloadStarted && showDownload" class="btn-popover-progress-container">
                <span class="btn-progress-highlight" [ngStyle]="{'width': this.downloadProgress + '%'}"></span>
              </span>
            </button>
          </div>

          <button class="sb-btn-tile" *ngIf="isCompatibleWithVendorApps" (click)="openWithVendorApps()">
            <img src="assets/imgs/ic_open_with.svg" alt="open-with" class="mb-4">
            <span class="sb-btn-footer-text">{{'FRMELEMNTS_LBL_OPEN_WITH' | translate}}</span>
          </button>

          <button class="sb-btn-tile" *ngIf="contentDownloadable[content?.identifier]" (click)="showDeletePopup()">
            <img src="assets/imgs/outline_delete.svg" alt="delete content" class="mb-4">
            <span class="sb-btn-footer-text">{{'DELETE' | translate}}</span>
          </button>
          <button (click)="share()" class="sb-btn-tile" *ngIf="!this.limitedShareContentFlag">
            <img src="assets/imgs/outline_share.svg" alt="share content" class="mb-4">
            <span class="sb-btn-footer-text">{{'SHARE' | translate}}</span>
          </button>
          <button class="sb-btn-tile" (click)="rateContent('manual')">
            <img src="assets/imgs/outline_rate_star.svg" alt="rate content" class="mb-4">
            <span class="sb-btn-footer-text">{{'RATE' | translate}}</span>
          </button>
          <button class="sb-btn-tile" *ngIf="contentDownloadable[content?.identifier] && this.isUpdateAvail"
            (click)="openConfirmPopUp()">
            <img src="assets/imgs/outline_update.svg" alt="update content" class="mb-4">
            <span class="sb-btn-footer-text">{{'UPDATE' | translate}}</span>
          </button>
          <button class="sb-btn-tile" (click)="openPDFPreview(content)" *ngIf="content?.contentData?.itemSetPreviewUrl">
            <img src="assets/imgs/outline_print.svg" alt="print content" class="mb-4">
            <span class="sb-btn-footer-text">{{'PRINT' | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="sb-content-info-container">

    <div class="sb-content-info-items"
      *ngIf="content?.contentData?.description || content?.contentData?.gradeLevel || content?.contentData?.subject || content?.contentData?.board">
      <div class="sb-content-info-title">{{'ABOUT' | translate}}</div>

      <div class="audience-info" *ngIf="content?.contentData.audience">
        <ion-card-title class="font-12 subtitle-color label-margin-bottom">
          <strong>{{'CONTENT_RELEVANT_MSG' | translate }}</strong>
          <span class="sb-content-title-data">{{content?.contentData?.audience}}</span>
        </ion-card-title>
      </div>

      <div *ngIf="content?.contentData?.transcripts" (click)="showDownloadTranscript()" class="transcript-download audience-info">
        <strong>{{ 'DOWNLOAD_TRANSCRIPT' | translate}}</strong>
        <span>
          <img src="./assets/imgs/download-icon.svg" alt="download">
        </span>
      </div>

      <ion-card class="sb-content-info-card"
        *ngIf="content?.contentData?.description || content?.contentData?.gradeLevel || content?.contentData?.subject || content?.contentData?.board">
        <div class="sb-content-info-heading"
          *ngIf="content?.contentData?.description && content?.contentData?.description?.length">
          {{content?.description}}</div>
        <div class="sb-info" *ngIf="content?.contentData?.se_boards; else previousBoard">
          <div class="sb-content-title">{{ 'BOARD' | translate }}</div>
          <div class="sb-content-title-data">{{content?.contentData?.se_boards | aliased}}</div>
        </div>
        <ng-template #previousBoard>
          <div class="sb-info">
            <div class="sb-content-title">{{ 'BOARD' | translate }}</div>
            <div class="sb-content-title-data">{{content?.contentData?.board | aliased}}</div>
          </div>
        </ng-template>

        <div *ngIf="showMoreFlag" id="read-more-content" tabindex="0">
          <div class="sb-info" *ngIf="content?.contentData?.se_mediums; else previousMedium">
            <div class="sb-content-title">{{'MEDIUM' | translate}}</div>
            <div class="sb-content-title-data">{{content?.contentData?.se_mediums | csa}}</div>
          </div>
          <ng-template #previousMedium>
            <div class="sb-info">
              <div class="sb-content-title">{{'MEDIUM' | translate}}</div>
              <div class="sb-content-title-data">{{content?.contentData?.medium | csa}}</div>
            </div>
          </ng-template>

          <div class="sb-info" *ngIf="content?.contentData?.se_gradeLevels && content?.contentData?.se_gradeLevels?.length; else previousGradeLevel">
            <div class="sb-content-title">{{'CLASS' | translate}}</div>
            <div class="sb-content-title-data">{{content?.contentData?.se_gradeLevels?.join(', ')}}</div>
          </div>
          <ng-template #previousGradeLevel>
            <div class="sb-info">
              <div class="sb-content-title">{{'CLASS' | translate}}</div>
              <div class="sb-content-title-data">{{content?.contentData?.gradeLevel?.join(', ')}}</div>
            </div>
          </ng-template>
          <div class="sb-info" *ngIf="content?.contentData?.subject">
            <div class="sb-content-title">{{'SUBJECT' | translate}}</div>
            <div class="sb-content-title-data">{{content?.contentData?.subject | csa}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.license && !licenseDetails">
            <div class="sb-content-title">{{'LICENSE' | translate}}</div>
            <div class="sb-content-title-data">{{content?.contentData?.license}}</div>
          </div>
          <div class="sb-info" *ngIf="!content?.contentData?.license && !licenseDetails">
            <div class="sb-content-title">{{'LICENSE' | translate}}</div>
            <div class="sb-content-title-data">{{defaultLicense}}</div>
          </div>
          <div class="sb-info" *ngIf="licenseDetails">
            <div class="sb-content-title">{{'MULTIPLE_LICENSE' | translate:{'%s': licenseDetails?.name} }}</div>
            {{licenseDetails.description}}
            <div class="sb-url" (click)="openinBrowser(licenseDetails?.url)">{{ licenseDetails?.url }}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.creators || content?.contentData?.creator">
            <div class="sb-content-title">{{ 'CREATORS' | translate:{'%s': appName} }}</div>
            <div class="sb-content-title-data">{{mergeProperties(['creators', 'creator'])}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.organisation">
            <div class="sb-content-title">{{ 'PUBLISHED_BY' | translate:{'%s': appName} }}</div>
            <div class="sb-content-title-data">{{content?.contentData?.organisation}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.author">
            <div class="sb-content-title">{{'AUTHOR' | translate}}</div>
            <div class="sb-content-title-data">{{content?.contentData?.author}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.copyright">
            <div class="sb-content-title">{{'COPYRIGHT' | translate}}</div>
            <div class="sb-content-title-data">
              {{content?.contentData?.copyright}}{{content?.contentData.copyrightYear ? ", " +
              content?.contentData.copyrightYear : ""}}
            </div>
          </div>
          <div class="sb-info"
            *ngIf="content?.contentData?.attributions && !content?.contentData?.contributors && !content?.contentData?.creators">
            <div class="sb-content-title">{{'ATTRIBUTIONS' | translate}}</div>
            <div class="sb-content-title-data">{{mergeProperties(['attributions', 'contributors', 'creators'])}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.origin">
            <div class="sb-content-title">{{'ORIGINAL_CONTENT_DATA' | translate}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.origin && !content?.contentData?.originData">
            <div class="sb-content-title-data">{{'NOT_AVAILABLE' | translate}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.originData?.name">
            <div class="sb-content-title">{{'ORIGINAL_CONTENT' | translate}}</div>
            <div class="sb-content-title-data">{{content?.contentData?.originData?.name}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.originData?.author">
            <div class="sb-content-title">{{'ORIGINAL_AUTHOR' | translate}}</div>
            <div class="sb-content-title-data">{{content?.contentData?.originData?.author}}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.originData?.license">
            <div class="sb-content-title">
              {{'MULTIPLE_LICENSE' | translate:{'%s': content?.contentData?.originData?.license} }}</div>
          </div>
          <div class="sb-info" *ngIf="content?.contentData?.originData?.organisation">
            <div class="sb-content-title">{{ 'PUBLISHED_BY' | translate:{'%s': appName} }}</div>
            <div class="sb-content-title-data">{{content?.contentData?.originData?.organisation}}</div>
          </div>

        </div>
        <div role="button" class="read-more" id="read-more-less-btn" tabindex="0" *ngIf="content && content.contentData.description &&
         content.contentData.description.length > 10 || content.contentData.gradeLevel || content.contentData.subject" 
         (click)="showMoreFlag = !showMoreFlag; readLessorReadMore(showMoreFlag ? 'read-more-clicked' : 'read-less-clicked')">
          <div *ngIf="showMoreFlag">
            {{ 'READ_LESS' | translate }}
            <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
          </div>
          <div *ngIf="!showMoreFlag">
            {{ 'READ_MORE' | translate }}
          </div>
        </div>
      </ion-card>
    </div>
  </div>

</ion-content>

<!-- Page footer -->
<app-sb-download-popup *ngIf="showDownload" (cancelDownloadEmit)="cancelDownload()" tabindex="1" role="dialog"
  [downloadProgress]="downloadProgress" [contentName]="content?.contentData?.name" [isUpdateAvail]="isUpdateAvail"
  [showDownload]="showDownload" [contentAvailableLocally]="contentDownloadable[content?.identifier]"
  [contentSize]="content?.contentData?.size">
</app-sb-download-popup>
<div>
  <add-activity-to-group [identifier]="identifier" [pageId]="pageId"></add-activity-to-group>
</div>