@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/component/sb-offline-toast";
@import "src/assets/styles/_variables.scss";

.text-font {
  .button-inner {
    font-size: 1rem !important;
  }
}
.cancel-download {
  font-size: 3.125rem;
  float: right;
  padding-top: 3px;
}
.sb-url {
  color: var(--app-primary);
  font-size: $font-size-base;
}

.scroll-content {
  margin-bottom: 0 !important;
}
.btn-progress-highlight {
  left: 0;
  background: $primary-800;
  height: 0.313rem;
  position: absolute;
  border-radius: inherit;
  border: 0;
}

.btn-popover-progress-container {
  position: relative;
  border-radius: 33px;
  display: inline-block;
  background: $primary-200;
  height: 0.313rem;
  width: 3.5rem;
}
.sb-back-transparent {
  width: 3.13rem;
  min-height: 3.13rem;
  background: transparent;
}

.content-btn-padding {
  padding: $sb-modal-actions-padding !important;
}
.sb-dt-card {
  margin: 0 !important;
  box-shadow: none;
  background-color: $primary-100;
}
.sb-content-info-container .sb-content-info-items {
  background: transparent;
  .sb-content-info-title {
    color: var(--app-gray);
    margin: 0;
  }
  .sb-content-info-card {
    box-shadow: none;
  }
}
.sb-dt-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: bold;
  font-size: 1rem;
  color: $gray-0;
  margin-right: 15px;
}
.sb-rating-value {
  font-weight: bold;
  color: $gray-0;
}
.play-text {
  color: $gray-0;
  font-size: $font-size-base;
  margin-top: 0;
  text-transform: capitalize;
}
.sb-rating-star {
  color: $yellow;
}
.sb-dt-source {
  margin-top: 10px;
  .sb-by-gray {
    font-size: ($font-size-base - 0.25);
    color: $gray-0;
  }
  .sb-user {
    font-size: ($font-size-base - 0.125);
    color: $gray-0;
  }
}
.sb-dt-content.sb-dt-content-main {
  text-align: left;
  margin-left: 1.5rem;
}
.disable-ripple ion-button-effect {
  display: none;
}

.disable-ripple {
  pointer-events: none;
}
.content-vertical-line {
  border-left: 2px solid white;
  height: 1.125rem;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.sb-dt-card .sb-dt-card-actions .sb-btn-tile-group .sb-btn-tile {
  background: transparent;
}
.sb-player-container .sb-common-player-group.sb-common-title-group {
  top: 40%;
}

.sb-common-player-group{
  .play-circle{
    width: 4rem;
  }
}

.sb-btn-tile-group  button[disabled]{
  opacity: 0.5 !important;
  pointer-events: none !important;
  cursor: default;
}

.download-disabled{
  opacity: 0.5 !important;
  cursor: default;
}

.sb-arrow-back{
  padding: 0 !important;
  transform: rotateY(180deg);
  font-size: 1.5rem;
}

.sb-btn-footer-text{
  color: var(--app-medium-gray);
}

.read-more{
  color: $blue;
  font-weight: bold;
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.sb-detail-card-info{
  .sb-dt-card-actions{
    padding-left: 1rem !important;
  }
}

.audience-info {
  margin-left: 1.4rem;
  margin-top: 1rem;
}
.font-12 {
  font-size: 0.75rem !important;
}
.subtitle-color{
  color: map-get($colors, granite_gray);
}

// **** iOS
.sb-back-transparent-ios {
  width: 3.13rem;
  min-height: 6.25rem;
  background: transparent;
}
// **** iOS

sb-player-side-menu-icon.sb-player-side-menu-icon.notVisible.ng-star-inserted {
  display: none;
}


//aspect ratio
.aspectratio {
  position: relative;
  height: 0;
  width: 100%;
  z-index: 99;
  &[data-ratio="16:9"] {
    padding-top: 56.25%;
  }
  [data-ratio="4:3"] {
    padding-top: 75%;
  }
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    video,iframe {
      width: 100%;
      height: 100% !important;
    }
  }
}

.sb-play-container.sb-enable-endpage {
  .user-score-card svg {
    width: 80%;
  }
  .user-score-card, .player-endpage__right-panel, .user-options {
    padding: 0 0 0 0 !important;
  }
}

.sb-play-container .sb-back-transparent .sb-circle{
  background-color: var(--app-light-gray);
}

.player-fullscreen {
  width: 100%;
  height: 100vh!important;
  position:fixed !important;
  top:0;
  left:0;
  bottom:0;
  right:0;
  border:none;
  margin:0;
  padding:0;
  z-index:9999;
  .player-endpage,.video-js,.player-for-back-ward-controls {
    height: 100vh !important;
  }
}

.standalone-player-container {
  height: auto !important;
}

.transcript-download{
  color: $blue;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.player-grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  // grid-template-columns: 70% 30%;
  gap: 1.5rem;
  padding-top: 4rem;
  @media screen and (max-width:768px) {
  grid-template-columns: 100%;
  gap: 0px;
  }
}
