<ion-content overflow-scroll="true" class="main-container avoid-bottom-tabs-space"
  [ngClass]="{'ui-container': !platform.is('ios')}">
  <div class="ui-container" *ngIf="platform.is('ios')"></div>
  <div class="ui-content">
    <ion-refresher (ionRefresh)="refreshProfileData($event)"></ion-refresher>
    <div class="profile-info padding-top-10 padding-bottom-10 ion-text-center">
      <div class="profile-icon">
        <img src="./assets/imgs/guest_profile.svg" alt="guest-profile">
      </div>
      <p class="profile-name">
        <span class="user">{{profile?.handle | titlecase}}</span>
        <span role="button" aria-label="edit profile">
          <ion-icon class="editIcon" role="button" aria-label="edit profile" name="create" color="primary"
            (click)="editGuestProfile(false,'edit-profile')">
          </ion-icon>
        </span>
      </p>
    </div>

    <div class="content-preferences-info">
      <div class="content-header-info" role="heading" aria-level="2">{{ 'CONTENT_PREFERENCE' | translate }}</div>

      <div class="grid-container">
        <!-- Name -->
        <!-- Role -->
        <div *ngIf="profile?.profileType" class="grid-item info-title text-align-start ion-text-uppercase">
          {{'FRMELEMNTS_LBL_PERSONA' | translate}}</div>
        <div *ngIf="profile?.profileType" class="grid-item text-align-end"
          (click)="editGuestProfile(true,'change-role')">
          <div *ngIf="profile?.profileType" class="align-content">
            <div class="ellipsis text-align width-100">{{currentUserTypeConfig?.name}}&lrm;</div>
            <span role="button" attr.aria-label="edit {{'FRMELEMNTS_LBL_PERSONA' | translate}}">
              <ion-icon role="button" class="icon-align" float="end"
                attr.aria-label="edit {{'FRMELEMNTS_LBL_PERSONA' | translate}}" name="create" color="primary">
              </ion-icon>
            </span>
          </div>
        </div>
        <!-- Syllabus -->
        <div [hidden]="true" class="grid-item info-title text-align-start ion-text-uppercase">
          {{'SYLLABUS' | translate}}
        </div>
        <div [hidden]="true" class="grid-item text-align-end" (click)="editGuestProfile(false,'syllabus')">
          <div *ngIf="profile?.syllabus && profile?.syllabus !== ''" class="align-content">
            <div class="ellipsis text-align width-100">{{syllabus}}</div>
            <span role="button" attr.aria-label="edit {{'SYLLABUS' | translate}}">
              <ion-icon class="icon-align" float="end" attr.aria-label="edit {{'SYLLABUS' | translate}}" name="create"
                color="primary" role="button">
              </ion-icon>
            </span>
          </div>
          <div *ngIf="!profile?.syllabus?.length" attr.aria-label="add {{'SYLLABUS' | translate}}" role="button"
            class="vertical-align">
            {{'ADD' | translate}}
          </div>
        </div>

        <!-- Board -->
        <div *ngIf="!!supportedProfileAttributes['board'] && frameworkData[0].code==='category1'"
          class="grid-item info-title text-align-start ion-text-uppercase">{{frameworkData[0].label | translateJson}}</div>
        <div *ngIf="!!supportedProfileAttributes['board']" class="grid-item text-align-end"
          (click)="editGuestProfile(false,'board')">
          <div *ngIf="profile?.syllabus?.length && profile?.board?.length" class="align-content">
            <div class="ellipsis text-align width-100">{{boards | aliased}}&lrm;</div>
            <span role="button" attr.aria-label="edit {{'BOARD' | translate}}">
              <ion-icon class="icon-align" float="end" attr.aria-label="edit {{'BOARD' | translate}}" name="create"
                color="primary" role="button">
              </ion-icon>
            </span>
          </div>
          <div *ngIf="!profile?.syllabus?.length || !profile?.board?.length" role="button"
            attr.aria-label="add {{'BOARD' | translate}}" class="vertical-align">{{'ADD' | translate}}
          </div>

        </div>
        <!-- Medium -->

        <div *ngIf="!!supportedProfileAttributes['medium'] && frameworkData.length>1 && frameworkData[1].code==='category2'"
          class="grid-item info-title text-align-start ion-text-uppercase">{{frameworkData[1].label | translateJson}}</div>
        <div *ngIf="!!supportedProfileAttributes['medium'] && frameworkData.length>1" class="grid-item text-align-end"
          (click)="editGuestProfile(false,'medium')">
          <div *ngIf="profile?.syllabus?.length && profile?.board?.length && profile?.medium?.length"
            class="align-content">
            <div class="ellipsis text-align width-100">{{medium}}</div>
            <span role="button" attr.aria-label="edit {{'MEDIUM' | translate}}">
              <ion-icon class="icon-align" float="end" attr.aria-lable="edit {{'MEDIUM' | translate}}" name="create"
                color="primary" role="button">
              </ion-icon>
            </span>
          </div>
          <div role="button" attr.aria-label="add {{'MEDIUM' | translate}}"
            *ngIf="!profile?.syllabus?.length || !profile?.board?.length || !profile?.medium?.length"
            class="vertical-align">{{'ADD' | translate}}</div>
        </div>


        <!-- Class -->
        <div *ngIf="!!supportedProfileAttributes['gradeLevel'] && frameworkData.length>2 && frameworkData[2].code==='category3'"
          class="grid-item info-title text-align-start ion-text-uppercase">{{frameworkData[2].label | translateJson}}</div>
        <div *ngIf="!!supportedProfileAttributes['gradeLevel'] && frameworkData.length>2" class="grid-item text-align-end"
          (click)="editGuestProfile(false,'class')">
          <div
            *ngIf="profile?.syllabus?.length && profile?.board?.length && profile?.medium?.length && profile?.grade?.length"
            class="align-content">
            <div class="ellipsis text-align width-100">{{grade}}</div>
            <span role="button" attr.aria-label="edit {{'CLASS' | translate}}">
              <ion-icon class="icon-align" float="end" attr.aria-label="edit {{'CLASS' | translate}}" name="create"
                color="primary" role="button">
              </ion-icon>
            </span>
          </div>
          <div role="button" attr.aria-label="add {{'CLASS' | translate}}"
            *ngIf="!profile?.syllabus?.length || !profile?.board?.length || !profile?.medium?.length || !profile?.grade?.length"
            class="vertical-align">{{'ADD' | translate}}</div>
        </div>


        <!-- Subject -->
        <div *ngIf="!!supportedProfileAttributes['subject'] && frameworkData.length>3 &&frameworkData[3].code==='category4'"
          class="grid-item info-title text-align-start ion-text-uppercase">{{frameworkData[3].label | translateJson}}</div>
        <div *ngIf="!!supportedProfileAttributes['subject'] && frameworkData.length>3" class="grid-item text-align-end"
          (click)="editGuestProfile(false,'subjects')">
          <div
            *ngIf="profile?.syllabus?.length && profile?.board?.length && profile?.medium?.length && profile?.grade?.length && profile?.subject?.length"
            class="align-content">
            <div class="ellipsis text-align width-100">{{subjects}}</div>
            <span role="button" attr.aria-label="edit {{'SUBJECTS' | translate}}">
              <ion-icon class="icon-align" float="end" attr.aria-label="edit {{'SUBJECTS' | translate}}" name="create"
                color="primary" role="button">
              </ion-icon>
            </span>
          </div>
          <div role="button" attr.aria-label="add {{'SUBJECTS' | translate}}"
            *ngIf="!profile?.syllabus?.length || !profile?.board?.length || !profile?.medium?.length || !profile?.grade?.length || !profile?.subject?.length"
            class="vertical-align">{{'ADD' | translate}}</div>
        </div>
      </div>



      <div class="grid-container">
        <div class="grid-item info-title text-align-start ion-text-uppercase">{{'DISTRICT' | translate}}</div>
        <div class="grid-item text-align-end" (click)="redirectToDistrictMappingPage()">
          <div *ngIf="deviceLocation" class="align-content">
            <div class="ellipsis text-align width-100">{{deviceLocation?.district}}</div>
            <span role="button" attr.aria-label="edit {{'DISTRICT' | translate}}">
              <ion-icon class="icon-align" float="end" attr.aria-label="edit {{'DISTRICT' | translate}}" name="create"
                color="primary" role="button"></ion-icon>
            </span>
          </div>
          <div *ngIf="!deviceLocation?.district" role="button" attr.aria-label="add {{'DISTRICT' | translate}}"
            class="vertical-align">{{'ADD' | translate}}</div>
        </div>

        <div class="grid-item info-title text-align-start ion-text-uppercase">{{'STATE' | translate}}</div>
        <div class="grid-item text-align-end" (click)="redirectToDistrictMappingPage()">
          <div *ngIf="deviceLocation" class="align-content">
            <div class="ellipsis text-align width-100">{{deviceLocation?.state}}</div>
            <span role="button" attr.aria-label="edit {{'STATE' | translate}}">
              <ion-icon class="icon-align" attr.aria-label="edit {{'STATE' | translate}}" float="end" name="create"
                color="primary" role="button"></ion-icon>
            </span>
          </div>
          <div *ngIf="!deviceLocation?.state" role="button" attr.aria-label="add {{'STATE' | translate}}"
            class="vertical-align">{{'ADD' | translate}}</div>
        </div>
      </div>

    </div>

    <div *ngIf="showSignInCard" class="signin-card-bg">
      <app-sign-in-card [source]="'profile'" (valueChange)="onLoginClick($event)"></app-sign-in-card>
    </div>
  </div>
</ion-content>