<ion-content overflow-scroll="true" class="ui-container main-container avoid-bottom-tabs-space">
  <div class="ui-content">
    <ion-refresher (ionRefresh)="refreshProfileData($event)"></ion-refresher>
    <div class="profile-info padding-top-10 padding-bottom-10 ion-text-center">
      <div class="profile-icon">
        <img src="./assets/imgs/guest_profile.svg" alt="guest-profile">
      </div>
    </div>
    <div class="content-header-info">{{ 'CONTENT_PREFERENCE' | translate }}</div>

    <div class="details-container" *ngIf="appGlobalService?.DISPLAY_FRAMEWORK_CATEGORIES_IN_PROFILE">
      <h2 class="section-title padding-left-10 ion-no-padding">
        {{'PROFILE_DETAILS_TITLE' | translate}}
      </h2>

      <div class="grid-container">
        <!-- Name -->
        <div *ngIf="profile?.handle" class="grid-item info-title text-align-start ion-text-uppercase">{{ 'NAME' | translate}}</div>
        <div *ngIf="profile?.handle" class="grid-item text-align-end" (click)="editGuestProfile(false,'edit-profile')">
          <div *ngIf="profile?.handle" class="align-content">
            <div class="ellipsis text-align width-100">{{profile?.handle | aliased}}&lrm;</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary">
            </ion-icon>
          </div>
        </div>
        <!-- Role -->
        <div *ngIf="profile?.profileType" class="grid-item info-title text-align-start ion-text-uppercase">{{'FRMELEMNTS_LBL_PERSONA' | translate}}</div>
        <div *ngIf="profile?.profileType" class="grid-item text-align-end" (click)="editGuestProfile(true,'change-role')">
          <div *ngIf="profile?.profileType" class="align-content">
            <div class="ellipsis text-align width-100">{{currentUserTypeConfig?.name}}&lrm;</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary">
            </ion-icon>
          </div>
        </div>
        <!-- Syllabus -->
        <div [hidden]="true" class="grid-item info-title text-align-start ion-text-uppercase">
          {{'SYLLABUS' | translate}}
        </div>
        <div [hidden]="true" class="grid-item text-align-end" (click)="editGuestProfile(false,'syllabus')">
          <div *ngIf="profile?.syllabus && profile?.syllabus !== ''" class="align-content">
            <div class="ellipsis text-align width-100">{{syllabus}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary">
            </ion-icon>
          </div>
          <div *ngIf="!profile?.syllabus?.length" class="vertical-align">
            {{'ADD' | translate}}
          </div>
        </div>

        <!-- Board -->
        <div *ngIf="!!supportedProfileAttributes['board']" class="grid-item info-title text-align-start ion-text-uppercase">{{'BOARD' | translate}}</div>
        <div *ngIf="!!supportedProfileAttributes['board']" class="grid-item text-align-end" (click)="editGuestProfile(false,'board')">
          <div *ngIf="profile?.syllabus?.length && profile?.board?.length" class="align-content">
            <div class="ellipsis text-align width-100">{{boards | aliased}}&lrm;</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary">
            </ion-icon>
          </div>
          <div *ngIf="!profile?.syllabus?.length || !profile?.board?.length" class="vertical-align">{{'ADD' | translate}}
          </div>

        </div>
        <!-- Medium -->

        <div *ngIf="!!supportedProfileAttributes['medium']" class="grid-item info-title text-align-start ion-text-uppercase">{{'MEDIUM' | translate}}</div>
        <div *ngIf="!!supportedProfileAttributes['medium']" class="grid-item text-align-end" (click)="editGuestProfile(false,'medium')">
          <div *ngIf="profile?.syllabus?.length && profile?.board?.length && profile?.medium?.length"
            class="align-content">
            <div class="ellipsis text-align width-100">{{medium}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary">
            </ion-icon>
          </div>
          <div *ngIf="!profile?.syllabus?.length || !profile?.board?.length || !profile?.medium?.length"
            class="vertical-align">{{'ADD' | translate}}</div>
        </div>


        <!-- Class -->
        <div *ngIf="!!supportedProfileAttributes['gradeLevel']" class="grid-item info-title text-align-start ion-text-uppercase">{{'CLASS' | translate}}</div>
        <div *ngIf="!!supportedProfileAttributes['gradeLevel']" class="grid-item text-align-end" (click)="editGuestProfile(false,'class')">
          <div
            *ngIf="profile?.syllabus?.length && profile?.board?.length && profile?.medium?.length && profile?.grade?.length"
            class="align-content">
            <div class="ellipsis text-align width-100">{{grade}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary">
            </ion-icon>
          </div>
          <div
            *ngIf="!profile?.syllabus?.length || !profile?.board?.length || !profile?.medium?.length || !profile?.grade?.length"
            class="vertical-align">{{'ADD' | translate}}</div>
        </div>


        <!-- Subject -->
        <div *ngIf="!!supportedProfileAttributes['subject']" class="grid-item info-title text-align-start ion-text-uppercase">{{'SUBJECTS' | translate}}</div>
        <div *ngIf="!!supportedProfileAttributes['subject']" class="grid-item text-align-end" (click)="editGuestProfile(false,'subjects')">
          <div
            *ngIf="profile?.syllabus?.length && profile?.board?.length && profile?.medium?.length && profile?.grade?.length && profile?.subject?.length"
            class="align-content">
            <div class="ellipsis text-align width-100">{{subjects}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary">
            </ion-icon>
          </div>
          <div
            *ngIf="!profile?.syllabus?.length || !profile?.board?.length || !profile?.medium?.length || !profile?.grade?.length || !profile?.subject?.length"
            class="vertical-align">{{'ADD' | translate}}</div>
        </div>
      </div>

      <h2 class="section-title padding-left-10 ion-no-padding">
        {{'DEVICE_LOCATION' | translate}}
      </h2>

      <div class="grid-container">
        <div class="grid-item info-title text-align-start ion-text-uppercase">{{'STATE' | translate}}</div>
        <div class="grid-item text-align-end" (click)="redirectToDistrictMappingPage()">
          <div *ngIf="deviceLocation" class="align-content">
            <div class="ellipsis text-align width-100">{{deviceLocation?.state}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary"></ion-icon>
          </div>
          <div *ngIf="!deviceLocation?.state" class="vertical-align">{{'ADD' | translate}}</div>
        </div>

        <div class="grid-item info-title text-align-start ion-text-uppercase">{{'DISTRICT' | translate}}</div>
        <div class="grid-item text-align-end" (click)="redirectToDistrictMappingPage()">
          <div *ngIf="deviceLocation" class="align-content">
            <div class="ellipsis text-align width-100">{{deviceLocation?.district}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary"></ion-icon>
          </div>
          <div *ngIf="!deviceLocation?.district" class="vertical-align">{{'ADD' | translate}}</div>
        </div>

        <!-- <div *ngIf="deviceLocation && deviceLocation.block"class="grid-item info-title text-align-start ion-text-uppercase">{{'BLOCK' | translate}}</div>
        <div *ngIf="deviceLocation && deviceLocation.block" class="grid-item text-align-end" (click)="redirectToDistrictMappingPage()">
          <div *ngIf="deviceLocation" class="align-content">
            <div class="ellipsis text-align width-100">{{deviceLocation?.block}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary"></ion-icon>
          </div>
          <div *ngIf="!deviceLocation?.block" class="vertical-align">{{'ADD' | translate}}</div>
        </div>

        <div *ngIf="deviceLocation && deviceLocation.cluster" class="grid-item info-title text-align-start ion-text-uppercase">{{'CLUSTER' | translate}}</div>
        <div *ngIf="deviceLocation && deviceLocation.cluster" class="grid-item text-align-end" (click)="redirectToDistrictMappingPage()">
          <div *ngIf="deviceLocation" class="align-content">
            <div class="ellipsis text-align width-100">{{deviceLocation?.cluster}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary"></ion-icon>
          </div>
          <div *ngIf="!deviceLocation?.cluster" class="vertical-align">{{'ADD' | translate}}</div>
        </div>

        <div *ngIf="deviceLocation && deviceLocation.school" class="grid-item info-title text-align-start ion-text-uppercase">{{'SCHOOL' | translate}}</div>
        <div *ngIf="deviceLocation && deviceLocation.school" class="grid-item text-align-end" (click)="redirectToDistrictMappingPage()">
          <div *ngIf="deviceLocation" class="align-content">
            <div class="ellipsis text-align width-100">{{deviceLocation?.school}}</div>
            <ion-icon class="icon-align" float="end" name="md-create" color="primary"></ion-icon>
          </div>
          <div *ngIf="!deviceLocation?.school" class="vertical-align">{{'ADD' | translate}}</div>
        </div> -->

      </div>

    </div>

    <div *ngIf="showSignInCard" class="signin-card-bg">
      <app-sign-in-card [source]="'profile'" (valueChange)="onLoginClick($event)"></app-sign-in-card>
    </div>
  </div>
</ion-content>