@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/fonts";

:host {
  .profile-info{
    .profile-icon{
      display: none;
    }
  }
  .profile-name {
    color: map-get($colors, dark);
    margin: 0;
    font-size: 1.2rem;
    @include padding(5px);
    @extend .font-weight-bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -ms-flexbox;
  }
  .user {
    text-align: center !important;
    @include padding(null, null, null, 1em !important);
  }

  .editIcon {
    @include margin(null, null, null, 5px);
    height: 15px;
    width: 15px;
  }

  .change-role {
    color: dodgerblue;
    text-align: center;
    @include margin(null, 10px, null, null);
    font-size: 0.9rem;
    @include padding(0 2px 2px 2px);
    font-weight: normal;
    margin: 0;
  }

  .user-type {
    color: map-get($colors, dark);
    text-align: center;
    @include margin(null, 10px, null, null);
    font-size: 1rem;
    @include padding(2px);
    @extend .font-weight-bold;
    margin: 0;
  }

  .info-title {
    color: map-get($colors, dark_gray);
    font-size: 1 rem;
    @extend .font-weight-700;
  }

  .section-title {
    color: map-get($colors, dark);
    @include margin(null, null, -5px, null !important);
    font-size: 1.3rem;
    padding: 0;
    @include margin(null, null, null, 0);
    @extend .font-weight-700;
  }

  .vertical-align {
    vertical-align: sub;
    color: map-get($colors, dark_gray);
    font-size: 1rem;
    @extend .font-weight-700;
  }

  .text-align {
    width: 90%;
    display: inline-block;
    vertical-align: top;
  }

  .icon-align {
    @include margin(null, null, null, 2px);
    size: 2px;
    display: inline-block;
  }

  .details-container {
    border-top: solid map-get($colors, medium_gray);
    h2 {
      margin-top: 10px !important;
      margin-bottom: 10px;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid-item {
    padding: 0 10px 14px;
    font-size: 12px;
    font-weight: 700;

    .align-content {
      display: flex;
      flex-wrap: nowrap;
      // align-items: center;
      width: auto;

      .width-100 {
        width: 100%;
      }

      ion-icon {
        width: 14px;
        height: 14px;
        padding-left: 4px;
      }
    }
  }
}
