<ng-container *ngIf="!shareFromPlayer">
<ion-header class="sb-popover-header">
  <ion-toolbar class="sb-popover-toolbar">
    <ion-title class="sb-popover-title" role="heading" aria-level="1">{{'SHARE' | translate}}
      <ion-icon name="close" class="sb-modal-close" (click)="closePopover()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="sb-popover-container ion-no-padding">
  <ion-list lines="none" class="content-share">
    <ion-radio-group [(ngModel)]="shareType">
      <div [ngClass]="{'share-link': !content.isAvailableLocally}">
        <ion-item>
          <ion-label>{{shareOptions.link.name | translate}}</ion-label>
          <ion-radio slot="start" value="{{shareOptions.link.value}}"></ion-radio>
        </ion-item>
        <p class="share-url">{{shareUrl}}</p>
      </div>

      <ion-item>
        <ion-label>{{shareOptions.file.name | translate}}</ion-label>
        <ion-radio slot="start" value="{{shareOptions.file.value}}" [disabled]="!content.isAvailableLocally">
        </ion-radio>
      </ion-item>
      <p class="share-desc">
        {{ 'DOWNLOAD_FILE_SIZE' | translate: {'%s': (content.sizeOnDevice ? content.sizeOnDevice: content.contentData.size) | fileSize } }}
      </p>

      <ion-item *ngIf="!platform.is('ios')">
        <ion-label>{{shareOptions.save.name | translate}}</ion-label>
        <ion-radio slot="start" value="{{shareOptions.save.value}}" [disabled]="!content.isAvailableLocally">
        </ion-radio>
      </ion-item>
      <p class="share-desc">{{'DOWNLOAD_PATH' | translate}}</p>

      <div *ngIf="!content.isAvailableLocally" class="share-info">
        <ion-icon role="button" aria-label="Share info" name="information-circle-outline"></ion-icon>
        {{'DOWNLOAD_FILE_INFO' | translate}}
      </div>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="sb-popover-footer">
    <button class="sb-popover-action-btn width-100 popover-color" *ngIf="shareType === shareOptions.link.value"
      (click)="shareLink()">{{'SHARE' | translate}}</button>
    <button class="sb-popover-action-btn width-100 popover-color" *ngIf="shareType === shareOptions.file.value"
      (click)="shareFile()">{{'SEND' | translate}}</button>
    <button class="sb-popover-action-btn width-100 popover-color" *ngIf="shareType === shareOptions.save.value"
      (click)="saveFile()">{{'SAVE' | translate}}</button>
  </div>
</ion-footer>
</ng-container>

<!--share from player-->
<ng-container *ngIf="shareFromPlayer">
  <ion-header class="sb-popover-header">
    <ion-toolbar class="sb-popover-toolbar">
      <ion-title class="sb-popover-title">{{'SHARE' | translate}}
        <ion-icon name="close" class="sb-modal-close" (click)="closePopover()"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="share-player-container">
    <ion-radio-group [value]="shareOptions?.link?.value">
      <ion-item lines="none">
        <ion-label>{{shareOptions.link.name | translate}}</ion-label>
        <ion-radio slot="start" value="{{shareOptions.link.value}}"></ion-radio>
      </ion-item>
      <div>
        <p class="share-url">{{shareUrl}}</p>
      </div>
      <ion-item lines="none">
        <ion-label>{{shareOptions.file.name | translate}}</ion-label>
        <ion-radio slot="start" value="{{shareOptions.file.value}}" [disabled]="!content.isAvailableLocally">
        </ion-radio>
      </ion-item>
      <div>
        <p class="share-desc">
          {{ 'DOWNLOAD_FILE_SIZE' | translate: {'%s': (content.sizeOnDevice ? content.sizeOnDevice: content.contentData.size) | fileSize } }}
        </p>
      </div>
      <ion-item *ngIf="!platform.is('ios')">
        <ion-label>{{shareOptions.save.name | translate}}</ion-label>
        <ion-radio slot="start" value="{{shareOptions.save.value}}" [disabled]="!content.isAvailableLocally">
        </ion-radio>
      </ion-item>
      <div>
        <p class="share-desc">{{'DOWNLOAD_PATH' | translate}}</p>
      </div>
    </ion-radio-group>
  </div>
  <div class="sb-popover-footer">
    <button class="sb-popover-action-btn width-100 popover-color" *ngIf="shareType === shareOptions.link.value"
      (click)="shareLink()">{{'SHARE' | translate}}</button>
    <button class="sb-popover-action-btn width-100 popover-color" *ngIf="shareType === shareOptions.file.value"
      (click)="shareFile()">{{'SEND' | translate}}</button>
    <button class="sb-popover-action-btn width-100 popover-color" *ngIf="shareType === shareOptions.save.value"
      (click)="saveFile()">{{'SAVE' | translate}}</button>
  </div>
</ng-container>