<ion-content>

  <h4 *ngIf="editType === 'add'" class="title">{{'PLEASE_PROVIDE_FOLLOWING_DETAILS' | translate}}</h4>
  <h4 *ngIf="editType === 'edit'" class="title">{{'UPDATE_DETAILS' | translate}}</h4>

  <div class="declaration-container">
    <sb-form *ngIf="tenantPersonaForm && tenantPersonaForm.length"
             [platform]="'mobile'"
             [config]="tenantPersonaForm"
             (initialize)="tenantPersonaFormValueChanges($event && $event.value); tenantPersonaFormStatusChanges($event);"
             (valueChanges)="tenantPersonaFormValueChanges($event)"
             (statusChanges)="tenantPersonaFormStatusChanges($event)">
    </sb-form>
    
    <sb-form *ngIf="teacherDetailsForm && teacherDetailsForm.length"
             [platform]="'mobile'"
             [config]="teacherDetailsForm"
             (valueChanges)="declarationFormValueChanges($event)"
             (statusChanges)="declarationFormStatusChanges($event)"
             (linkClicked)="linkClicked($event)">
    </sb-form>
    
    <div class="footer-buttons" *ngIf="platform.is('ios')">
      <ng-container *ngTemplateOutlet="footerButtons"></ng-container>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="!platform.is('ios')">
  <ng-container *ngTemplateOutlet="footerButtons"></ng-container>
</ion-footer>

<ng-template #footerButtons>
  <ion-button expand="block" [disabled]="!isTenantPersonaFormValid || !isDeclarationFormValid" class="M16 MB30"
    (click)="submit()">
    <span *ngIf="editType === 'add'">{{'BTN_SUBMIT' | translate}}</span>
    <span *ngIf="editType === 'edit'">{{'UPDATE' | translate}}</span>
  </ion-button>
</ng-template>