@import "src/assets/styles/_variables.scss";

.title{
    font-size: 1rem;
    font-weight: bold;
    color: $blue;
    margin: 16px 16px 8px;
}

.sub-title{
    line-height: 1;
    margin: 0 16px;
}

ion-button{
    --background: #{$blue} !important;
    height: 2.5rem !important;
    text-transform: capitalize !important;
}

.declaration-container {
    margin: 0 16px;
}

ion-footer{
    z-index: -10;
}

.ios .footer-buttons {
    background: $white;
    left: 0;
    right: 0;
    position: fixed;
    top: 85vh;
}

.ios .declaration-container ::ng-deep .sb-modal {
    bottom: calc(env(safe-area-inset-bottom) + 20px) !important;
}
