@import "src/assets/styles/_variables.scss";

.title{
    font-size: 16px;
    font-weight: bold;
    color: $blue;
    margin: 16px 16px 8px;
}

.sub-title{
    line-height: 1;
    margin: 0 16px;
}

ion-button{
    --background: #{$blue} !important;
    height: 40px !important;
    text-transform: capitalize !important;
}