<ion-content>

  <p *ngIf="editType === 'add'" class="title">{{'PLEASE_PROVIDE_FOLLOWING_DETAILS' | translate}}</p>
  <p *ngIf="editType === 'edit'" class="title">{{'UPDATE_DETAILS' | translate}}</p>
  <p class="sub-title">{{'ADD_EDIT_SELF_DECLARED_TEACHER_INFO' | translate}}</p>

  <app-common-forms  *ngIf="formInitilized" (onCommonFormInitialized)="onCommonFormInitialized($event)" #commonForms [formList]="teacherDetailsForm" (onFormDataChange)="onFormDataChange($event)"></app-common-forms>

</ion-content>
<ion-footer>
  <ion-button expand="block" [disabled]="!isFormValid" class="mb-16 mr-16 ml-16" *ngIf="editType === 'add'" (click)="submit()"> {{'BTN_SUBMIT' | translate}} </ion-button>
  <ion-button expand="block" [disabled]="!isFormValid" class="mb-16 mr-16 ml-16" *ngIf="editType === 'edit'" (click)="submit()"> {{'UPDATE' | translate}} </ion-button>
</ion-footer>