<ion-content>

  <p *ngIf="editType === 'add'" class="title">{{'PLEASE_PROVIDE_FOLLOWING_DETAILS' | translate}}</p>
  <p *ngIf="editType === 'edit'" class="title">{{'UPDATE_DETAILS' | translate}}</p>

  <app-common-forms *ngIf="teacherDetailsForm && teacherDetailsForm.length" 
    [config] = "teacherDetailsForm"
    (valueChanges)="formValueChanges($event)"
    (statusChanges)="formStatusChanges($event)">
  </app-common-forms>

</ion-content>
<ion-footer>
  <ion-button expand="block" [disabled]="!isFormValid" class="M16 MB30" (click)="submit()">
    <span *ngIf="editType === 'add'">{{'BTN_SUBMIT' | translate}}</span> 
    <span *ngIf="editType === 'edit'">{{'UPDATE' | translate}}</span> 
  </ion-button>
</ion-footer>