<ion-content class="padding-bottom-if-header">
	<div class="">
		<form [formGroup]="profileSettingsForm" class="ps-container">
			<div  role="button" aria-label="back" (click)="handleBackButton(true)" class='back-btn-container'>
				<img src="assets/imgs/ic_back_black.svg" *ngIf="!hideBackButton && !(showQRScanner && isInitialScreen)"
					 class="top-back-button" alt="back">
			</div>
			<div class="qr-container ui-container" *ngIf="showQRScanner">
				<div class="qr-content">
					<img #animatedQRImage class="qr-img" src="assets/imgs/qr_with_book.svg" alt="qr book scanner">
					<div class="qr-instruction-container text-center">
						<div class="qr-instruction">
							<div class="title"  tabindex="0" role="heading" aria-level="1">{{'APP_QR_CODE' | translate: {'%s': appName} }}</div>
							<div class="sub-title" tabindex="0" role="contentinfo">{{'QR_CODE_DETAILS' | translate}}</div>
						</div>
						<div class="qr-btn-container">
							<div class="qr-btn" role="button" tabindex="0" (click)="openQRScanner()">
								<img src="assets/imgs/ic_qr_scanner.svg" alt="">
								<span>{{'SCAN_TAP' | translate}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="qr-board">
					<div class="or-container" tabindex="0">
						<span class="or-circle">{{'OR' | translate}}</span>
					</div>
					<div class="fill-in-style msg-size">
						<div class="fill-in-head" tabindex="0" role="heading" aria-level="2">{{'NO_QR_CODE_QSTN' | translate}}</div>
						<div class="fill-in-content" tabindex="0" >{{'PROVIDE_BELOW_INFO' | translate}}</div>
					</div>

					<div class="board-select-dummy" (click)="boardClicked($event)" *ngIf="categories && categories.length>0">
						<ion-item appCustomIonSelect>
							<ion-label position="stacked" class="label-font text-uppercase align-text">
								{{categories[0].label | translateJson}}</ion-label>
							<ion-select multiple="false" class="ion-text-capitalize" formControlName="syllabus"
										[interfaceOptions]="boardOptions" (ionCancel)="cancelEvent()"
										okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}"
										placeholder="{{categories[0].placeHolder | translateJson}}">
								<ion-select-option *ngFor="let eachSyllabus of syllabusList" value="{{eachSyllabus.code}}">
									{{eachSyllabus.name}}&lrm;</ion-select-option>
							</ion-select>
						</ion-item>
						<div class="ps-board">
							<div class="ps-board-label">{{categories[0].label | translateJson}}</div>
							<button class="sb-btn-secondary sb-btn-md PR35 W100 ellipsis btn-block">
								{{categories[0].placeHolder | translateJson}}
								<img class="arrow-icon" src="assets/imgs/ic_back_black.svg" alt="">
							</button>
						</div>
					</div>
				</div>
			</div>
			<div novalidate class="form-position" *ngIf="!showQRScanner">
				<div *ngFor="let category of categories">
					<ion-item *ngIf="!!supportedProfileAttributes['board'] && category.code=== 'category1'" appCustomIonSelect (click)="onCategoryCliked('board')">
						<ion-label position="stacked" class="label-font text-uppercase align-text">{{category.label | translateJson}}
						</ion-label>
						<ion-select multiple="false" #boardSelect class="ion-text-capitalize" formControlName="syllabus"
							[disabled]="!syllabusList.length" [interfaceOptions]="boardOptions" (ionCancel)="cancelEvent('board')"
							okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}"
							placeholder="{{category.placeHolder | translateJson}}">
							<ion-select-option *ngFor="let eachSyllabus of syllabusList" value="{{eachSyllabus.code}}">
								{{eachSyllabus.name | aliased}}&lrm;</ion-select-option>
						</ion-select>
					</ion-item>

					<ion-item *ngIf="!!supportedProfileAttributes['medium'] && category.code=== 'category2'" appCustomIonSelect (click)="onCategoryCliked('medium')">
						<ion-label position="stacked" class="label-font text-uppercase align-text">{{category.label | translateJson}}
						</ion-label>
						<ion-select formControlName="medium" #mediumSelect multiple="true" class="ion-text-capitalize"
							[interfaceOptions]="mediumOptions" (ionCancel)="cancelEvent('medium')" okText="{{'BTN_SUBMIT' | translate}}"
							cancelText="{{'CANCEL' | translate}}" [disabled]="!mediumList.length || !boardControl.value.length"
							placeholder="{{category.placeHolder | translateJson}}">
							<ion-select-option *ngFor="let medium of mediumList" class="ion-text-capitalize"
								value="{{medium.code}}">
								{{medium.name}}</ion-select-option>
						</ion-select>
					</ion-item>
	
					<ion-item *ngIf="!!supportedProfileAttributes['gradeLevel'] && category.code=== 'category3'" appCustomIonSelect (click)="onCategoryCliked('grade')">
						<ion-label position="stacked" class="label-font text-uppercase align-text">{{category.label | translateJson}}
						</ion-label>
						<ion-select multiple="true" #gradeSelect class="ion-text-capitalize" formControlName="grade"
							[interfaceOptions]="classOptions" okText="{{'BTN_SUBMIT' | translate}}"
							cancelText="{{'CANCEL' | translate}}" [disabled]="!gradeList.length || !mediumControl.value.length"
							(ionCancel)="cancelEvent('grade')" placeholder="{{category.placeHolder | translateJson}}">
							<ion-select-option *ngFor="let grade of gradeList" class="ion-text-capitalize"
								value="{{grade.code}}">
								{{grade.name}}</ion-select-option>
						</ion-select>
					</ion-item>
				</div>

			</div>
		</form>
	</div>
</ion-content>

<div class="ion-padding ion-no-border" style="background: white;" *ngIf="!showQRScanner">
	<button class="sb-btn sb-btn-md sb-btn-primary PR35 W100 ellipsis btn-block ion-text-uppercase"
		[style.background-color]="btnColor" (click)="onSubmitAttempt()">
		{{ 'CONTINUE' | translate }}
		<img class="arrow-icon" src="assets/imgs/ic_back.svg" [class.animate]="profileSettingsForm.valid" alt="">
	</button>
</div>
