@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/_variables.scss";
:host {
  .scroll-content,
  .fixed-content {
    padding-bottom: 53px;
  }

  /* This should be item-ios only as we are targeting mode as iOS for radio-button */
  .item-ios {
    background-color: #{map-get($colors, white_f7)};
  }

  .button-inner {
    display: initial !important;
  }

  ion-icon {
    @include ltr {
      float: right !important;
    }

    @include rtl {
      float: left !important;
    }
  }

  ion-label.align-text {
    @include ltr {
      align-self: stretch;
    }
    @include rtl {
      align-self: end;
    }
  }

  ion-list[inset] {
    margin: 0 !important;
  }

  /* Change height of the ion-item*/
  .item-block {
    min-height: 5.5rem !important;
  }

  .back-button {
    display: block !important;
  }

  .fill-in-style {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 40px;
    @include padding(0, 5px);
    .fill-in-head{
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 8px;
    }
    .fill-in-content{
      font-size: $font-size-base;
    }
  }
  .item-select-disabled {
    .label-md {
      color: #{map-get($colors, medium_gray)};
      opacity: 1;
    }
  }

  .padding-bottom-if-header {
    padding-bottom: 80px !important;
  }
  .board-select-dummy{
    .ps-board{
      display: none;
    }
    width: 100vw;
    margin: 0 auto;
    ion-item{
      // z-index: -1;
      pointer-events: none;
      display: block;
    }
  }
  .ps-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    .qr-container {
      background-color: #EDF4F9;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      height: 100vh;
    }
    .form-position{
      flex-grow: 1;
      flex-shrink: 1;
      margin-top: 50px;
    }
  }
  .qr-board{
      flex-grow: 0;
      flex-shrink: 0;
      padding-bottom: 40px;
      position: relative;
      &::after{
        content: '';
        display: block;
        width: 125%;
        height: 100%;
        background: white;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        position: absolute;
        top: 0;
        left: -12.5%;
        z-index: 0;
      }

      & > div {
        position: relative;
        z-index: 1;
      }

      .or-container{
        position: absolute;
        left: 0;
        right: 0;
        top: -0.938rem;
        .or-circle {
          display: block;
          width: 3.75rem;
          height: 1.875rem;
          border-radius: 15px;
          background-color: #555;
          text-align: center;
          color: map-get($colors, white);
          font-size: 1rem;
          line-height: 1.88rem;
          margin: 0 auto;
        }
      }
  }

  .back-btn-container{
    height: 3.2rem;
    @include ltr() {
      top: 0;
      left: 0;
    }
    @include rtl() {
      top: 0;
      right: 0;
    }
    flex-grow: 0;
    flex-shrink: 0;
    .top-back-button{
      position: absolute;
      width: 1.875rem;
      @include ltr() {
        left: 1rem;
        transform: rotate(180deg);
      }
      @include rtl() {
        right: 1rem;
        transform: rotate(0deg);
      }
    }
  }

  .qr-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 0;
    padding: 0 32px;

    padding-top: 50px;

    .qr-img{
      object-fit: contain;
      min-width: 0;
      min-height: 0;
      width: auto;
      height: 100%;
      flex-shrink: 1;
    }
  }
  .qr-instruction-container {
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 40px;
    .qr-instruction {
      .title {
        display: block;
        font-weight: bold;
        color: #024F9D;
        height: 48px;
      }
      .sub-title {
        padding: 8px 10% 0 10%;
        font-size: $font-size-base;
      }
    }
    .qr-btn-container {
      text-align: center;
      margin-top: 16px;
      .qr-btn {
        display: inline-block;
        background-color: map-get($colors, primary);
        padding: 10px 20px;
        text-align: center;
        color: $blue;
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        img {
          vertical-align: middle;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.25rem;
          padding-left: 10px;
        }
      }
    }
  }

  .item-label-stacked ion-select {
    border: 1px solid map-get($colors, primary);
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 10px !important;
    .select-icon {
      .select-icon-inner {
        border: solid blue;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        animation: upDownAnimate 5s linear infinite;
        animation-duration: 0.9s;
      }
    }
    // Not getting used because of shadow DOM
    .select-placeholder {
      color: map-get($colors, primary);
      padding-left: 10px;
    }
  }
  .ios .item-label-stacked ion-select {
    margin-top: 0px;
  }
  ion-item.item-label-stacked {
    --border-width: 0;
    --highlight-background: transparent;
  }
  .item-select ion-label {
    color: map-get($colors, primary);
  }

  .item-label-stacked.item-select-disabled {
    ion-label {
      color: map-get($colors, primary_black);
    }

    ion-select {
      border-color: map-get($colors, primary_black);
      // Inside Shadow DOM
      .select-icon {
        .select-icon-inner {
          border-color: map-get($colors, primary_black);
          animation: none;
        }
      }
      // Inside Shadow DOM
      .select-placeholder {
        color: map-get($colors, primary_black);
      }
    }
  }

  .item-label-stacked.item-has-value {
    label {
      color: #{$gray-800};
    }
    ion-select {
      border-color: #{$gray-300};
      .select-text {
        padding-left: 10px;
        font-weight: bold;
        color: #{$gray-800};
      }
      .select-icon {
        .select-icon-inner {
          border-color: #{$gray-800};
          animation: none;
        }
      }
    }
  }
  img.arrow-icon {
    display: inline-block;
    width: 1.375rem;
    margin-top: -3px;
    float: right;

    &.animate {
      position: relative;
      animation: dropDown 5s linear infinite;
      animation-duration: 0.9s;
    }

    @include rtl {
      transform: rotate(180deg);
      float: left !important;
    }
  }

  ion-label {
    opacity: 1;
    color: map-get($colors, dark_gray);
  }
}


.item-label-stacked ion-select {
  border: 1px solid map-get($colors, primary);
  margin-top: 16px;
  padding-right: 10px !important;
  .select-icon {
    .select-icon-inner {
      border: solid blue;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      transform: rotate(45deg);
      animation: upDownAnimate 5s linear infinite;
      animation-duration: 0.9s;
    }
  }
  // Not getting used because of shadow DOM
  .select-placeholder {
    color: map-get($colors, primary);
    padding-left: 10px;
  }
}

@keyframes upDownAnimate {
  0% {right: 0;}
  50% {right: 10px;}
  100% {right: 0;}
}

.framework-item {
  padding: 14px;
}

.sb-btn-secondary{
  background-color: map-get($colors, white);
  color: $blue !important;
  height: 3.2rem
}

// ************* iOS start*************
.back-btn-container-ios{
  height: 2rem;
  @include ltr() {
    top: 3.125rem;
    left: 0;
    position: relative;
  }
  @include rtl() {
    top: 0;
    right: 0;
  }
  flex-grow: 0;
  flex-shrink: 0;
  .top-back-button{
    position: absolute;
    width: 1.875rem;
    @include ltr() {
      left: 1rem;
      transform: rotate(180deg);
    }
    @include rtl() {
      right: 1rem;
      transform: rotate(0deg);
    }
  }
}
// ************* iOS end **************
