<ion-content>
  <div class="my-cr-bg" tabindex="0">
    <div class="my-gr-title">
      <h4 class="my-cr-title" tabindex="0">
        {{'MY_GROUPS' | translate}}
      </h4>
      <img *ngIf="!isGuestUser" src="assets/imgs/ic_group_add_blue.svg" alt="user" (click)="createClassroom()" alt="{{'MY_GROUPS' | translate}}">
    </div>
    <div *ngIf="isGuestUser" class="my-cr-card" tabindex="0">
      <div></div>
      <div>
        <div class="my-cr-card-img">
          <img src="assets/imgs/ic_my_groups.svg" alt="My groups">
        </div>
        <p class="my-cr-subtitle">{{'LOGIN_TO_CREATE_GROUP_DESCRIPTION' | translate}}</p>
      </div>
      <div class="my-cr-btn" tabindex="0">
        <button class="sb-btn-large" (click)="login()">{{'SIGN_IN' | translate}}</button>
      </div>
    </div>

    <div *ngIf="!isGuestUser && !groupList.length && !groupListLoader" class="my-cr-card" tabindex="0">
      <div></div>
      <div>
        <div class="my-cr-card-img">
          <img src="assets/imgs/ic_my_groups.svg" alt="My groups">
        </div>
        <p class="my-cr-subtitle">{{'CREATE_GROUP_DESCRIPTION' | translate}}</p>
      </div>
      <div class="my-cr-btn" tabindex="0">
        <button class="sb-btn-large" (click)="createClassroom()">
          <img src="assets/imgs/ic_group_add_white.svg" role="button" alt="Create Group">
          {{'CREATE_GROUP' | translate}}
        </button>
      </div>
    </div>

    <div *ngFor="let group of groupList" class="mg-list-card-container" tabindex="0">
      <sb-group-card [isMobile]="true" [isAdmin]="group.memberRole === 'admin'" [group]="group"
        [cardTitleColor]="group.cardTitleColor" [cardBgColor]="group.cardBgColor"
        (cardClick)="navigateToGroupdetailsPage($event)" [isSuspended]="group.status === 'suspended'" [suspendBadgeText]="'Deactivated'"></sb-group-card>
    </div>
    <div *ngIf="!isGuestUser && !groupList.length && groupListLoader">
      <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10]">
        <sb-group-card [isMobile]="true" [isLoading]="true"></sb-group-card>
      </div>
    </div>

  </div>

</ion-content>