<ion-content>
  <div class="my-cr-bg">
    <p class="my-cr-title">
      {{'MY_GROUPS' | translate}}
      <img *ngIf="!isGuestUser" src="assets/imgs/ic_group_add_blue.svg" (click)="createClassroom()">
    </p>


    <div *ngIf="isGuestUser" class="my-cr-card">
      <div></div>
      <div>
        <div class="my-cr-card-img">
          <img src="assets/imgs/ic_my_groups.svg">
          <!-- <img src="{{appLogo}}"> -->
        </div>
        <p class="my-cr-subtitle">{{'LOGIN_TO_CREATE_GROUP_DESCRIPTION' | translate}}</p>
      </div>
      <div class="my-cr-btn">
        <button class="sb-btn-large" (click)="login()">{{'SIGN_IN' | translate}}</button>
      </div>
    </div>

    <div *ngIf="!isGuestUser && !groupList.length && !groupListLoader" class="my-cr-card">
      <div></div>
      <div>
        <div class="my-cr-card-img">
          <img src="assets/imgs/ic_my_groups.svg" alt="my-group">
        </div>
        <p class="my-cr-subtitle">{{'CREATE_GROUP_DESCRIPTION' | translate}}</p>
      </div>
      <div class="my-cr-btn">
        <button class="sb-btn-large" (click)="createClassroom()">
          <img src="assets/imgs/ic_group_add_white.svg">
          {{'CREATE_GROUP' | translate}}
        </button>
      </div>
    </div>

    <div *ngFor="let group of groupList" class="mg-list-card-container">
      <sb-group-card [isMobile]="true" [isAdmin]="group.memberRole === 'admin'" [group]="group"
       [cardTitleColor]="group.cardTitleColor" [cardBgColor]="group.cardBgColor" (cardClick)="navigateToGroupdetailsPage($event)"></sb-group-card>
    </div>
    <div *ngIf="!isGuestUser && !groupList.length && groupListLoader">
      <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10]">
        <sb-group-card [isMobile]="true" [isLoading]="true"></sb-group-card>
      </div>
    </div>

  </div>

</ion-content>