
<div class="_flex-box _justify-content-center"  [ngClass]="{'padding-top' : showTracker}" style="width: 90px;">
  <div class="progress-outer inProgress" [ngClass]="{'completed': progress === 100}">
    <div class="progress-inner _flex-box _justify-content-center" [style.width]="progress + '%'">
    </div>
  </div>
  <div class="_flex-box _justify-content-center textStyle" *ngIf="!showTracker"> {{progress}}%</div>
</div>
<div class="_flex-box  _justify-content-center" *ngIf="showTracker">
  {{completed}} / {{total}}
</div>
