<ion-content class="ion-no-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="content-padding">
    <app-detail-card 
    (downloadAllContent)="showDownloadConfirmationAlert()" 
    (shareEvent)="share()"  
    (showOverflowMenuEvent)="showDeletePopOver()" 
    [contentDetail]="contentDetail" 
    [localImage]="contentDetail?.contentData?.appIcon" 
    [showDownloadBtn]="showDownloadBtn"
    [isDepthChild]='isDepthChild' 
    [defaultAppIcon]="defaultAppIcon"
    [trackDownloads]="trackDownloads$">
    </app-detail-card>
    <!-- End of the Parent Card -->

    <!-- End import content -->
    <div class="m-n" *ngIf="showSheenAnimation">
      <div class="skeleton-search-card" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]">
        <div style=" flex: 22 auto;">
          <app-skeleton-item height="60px" width="100%" style="height:60px; width:100%; margin-bottom: 10px;">
          </app-skeleton-item>
        </div>
      </div>
    </div>
    <div #stickyPillsRef *ngIf="!showSheenAnimation && childrenData && childrenData?.length"
      class="collection-etb-filter">
      <div class="sb-chapter-dd" (click)="openTextbookToc()">
        <span class="pull-left">{{stckyUnitTitle || ('SELECT_CHAPTER' | translate)}}</span>
        <span class="pull-right">
          <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
        </span>
      </div>
      <div class="sb-slider-pills-container">
        <div class="sb-pills-container sb-grade-pills-container" id="gradeScroll">
          <div class="pill" *ngFor="let type of mimeTypes; let i = index; let first = first"
            [ngClass]="{'active': type?.selected, '': !type?.selected}" attr.id="class{{i}}"
            (click)="onFilterMimeTypeChange(type.value, i, type.name);">
            <span class="img-align" *ngIf="type?.iconNormal && type?.selected">
              <img class="filter-icon" src="{{type?.iconActive}}" alt="video">
            </span>
            <span class="img-align" *ngIf="type?.iconNormal && !type?.selected">
              <img class="filter-icon" src="{{type?.iconNormal}}" alt="interactive">
            </span>
            <span class="allign-middle">{{type?.name | translate}}</span>

          </div>
        </div>
      </div>
    </div>

    <div *ngIf="shouldPillsStick" style="height: 48px;"></div>

    <!-- Looping Inside Children Data Textbook -->
    <section *ngIf="!showSheenAnimation && childrenData" class="textbook-accordian">
      <div *ngIf="childrenData.length && !(filteredItemsQueryList?.changes | async)?.length">
        <div class="heading">{{'NO_CONTENTS' | translate:{'%s': currentFilter } }}</div>
        <div class="sub-heading">{{'NO_CONTENTS_MESSAGE' | translate}}</div>
      </div>
      <ng-container *ngFor="let item of childrenData;  let i = index;">
        <ion-card class="sb-accordian-card" *ngIf="item | hasMimeType: activeMimeTypeFilter">
          <div class="sticky-header-title-box" [attr.data-text]="item.contentData.name" [attr.data-render-level]="0"
            [id]="item.mimeType === 'application/vnd.ekstep.content-collection' ? item.identifier : ''" #filteredItems>
            <!-- new -->
            <ion-grid class="sb-accordian-header">
              <ion-row (click)="toggleGroup(i, item)" *ngIf="item?.children">
                <ion-col size="11">
                  <div class="sb-topic-text"> {{item?.contentData?.name}} </div>
                </ion-col>
                <ion-col size="1" *ngIf="!isGroupShown(i)">
                  <div class="drop-arrow">
                    <img src="assets/imgs/arrow_down.svg" alt="arrow down">
                  </div>
                </ion-col>
                <ion-col size="1" *ngIf="isGroupShown(i)">
                  <div class="drop-arrow">
                    <img src="assets/imgs/arrow_up.svg" alt="arrow up">
                  </div>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="item?.contentData?.mimeType !== 'application/vnd.ekstep.content-collection' && !item?.children"
                (click)="navigateToDetailsPage(item, depth + '.' + (i + 1))">
                <ion-col size="1">
                  <div>
                    <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"
                      [ngClass]="{'sb-accordian-grey-icon': !commonUtilService.networkInfo.isNetworkAvailable && !item?.isAvailableLocally, 'sb-play-icon': commonUtilService.networkInfo.isNetworkAvailable || item?.isAvailableLocally}">
                    </ion-icon>
                  </div>
                </ion-col>
                <ion-col size="11">
                  <div [ngClass]="{'sb-accordian-grey-text': !commonUtilService.networkInfo.isNetworkAvailable && !item?.isAvailableLocally,
                  'sb-play-selected':item?.isAvailableLocally,'sb-play-unselected':!item?.isAvailableLocally}">
                    {{item?.contentData?.name}}
                    <span>
                      <ion-icon class="sb-checkmark-icon" name="md-checkmark-circle" *ngIf="item?.isAvailableLocally">
                      </ion-icon>
                    </span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="sb-hidden-content" *ngIf="isGroupShown(i) && (item?.children && item?.children?.length)">
              <div class="box-align" *ngFor="let firstChildren of item?.children; let j = index;">
                <div class="sb-topics-container  sb-topics-container-ftue">
                  <app-collection-child [renderLevel]="1" [childData]="firstChildren" [index]="j" [depth]="depth"
                    [activeMimeTypeFilter]="activeMimeTypeFilter" [isTextbookTocPage]="false"
                    [corRelationList]="corRelationList" [isDepthChild]="isDepthChild" [breadCrumb]="breadCrumb"
                    [rootUnitId]="item.identifier" [bookID]="identifier" [addActivityToGroupData]="addActivityToGroupData" #collectionChildComp></app-collection-child>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </ng-container>
    </section>
  </div>
  <div *ngIf="contentDetail?.contentData?.author || contentDetail?.contentData?.organisation 
        ||contentDetail?.contentData?.license || licenseDetails || contentDetail?.contentData?.copyright">
    <div class="ion-padding-end">
      <ion-card>
        <div class="credit-label-padding">
          <div class="font-14 view-credits" (click)="showLicensce()">
            <span><strong>{{'CREDITS_LICENCE_INFO' | translate}}</strong></span>
            <span *ngIf="showCredits">
              <ion-icon name="ios-arrow-up"></ion-icon>
            </span>
            <span *ngIf="!showCredits">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </span>
          </div>
        </div>
        <div *ngIf="showCredits" class="showLicensce">
          <div class="ion-padding">
            <div *ngIf="contentDetail?.contentData?.author">
              <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                <strong>{{'AUTHOR' | translate}}</strong>:
              </ion-card-title>
              <p>{{contentDetail?.contentData?.author}}</p>
            </div>
            <div *ngIf="contentDetail?.contentData?.creator">
              <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                <strong>{{ 'CREATORS' | translate:{'%s': appName} }}</strong>:
              </ion-card-title>
              <p>{{contentDetail?.contentData?.creator}} </p>
            </div>
            <div *ngIf="contentDetail?.contentData?.organisation">
              <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                <strong>{{ 'PUBLISHED_BY' | translate:{'%s': appName} }}</strong>:
              </ion-card-title>
              <p>{{contentDetail?.contentData?.organisation}} </p>
            </div>
            <div
              *ngIf="contentDetail?.contentData?.contributors || contentDetail?.contentData?.creators || contentDetail?.contentData?.attributions">
              <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                <strong>{{ 'ATTRIBUTIONS' | translate }}</strong>:
              </ion-card-title>
              <p>{{mergeProperties(['attributions', 'contributors', 'creators'])}}</p>
            </div>
            <div *ngIf="contentDetail?.contentData?.license && !licenseDetails">
              <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                <strong>{{ 'LICENSE' | translate }}</strong>:
              </ion-card-title>
              <p>{{contentDetail?.contentData?.license}}</p>
            </div>
            <div *ngIf="licenseDetails" class="ion-padding-bottom">
              <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                <strong>{{ 'LICENSE' | translate }}</strong>:
              </ion-card-title>
              <div>{{licenseDetails.name}}</div>
              <div>{{licenseDetails.description}}</div>
              <span (click)="openBrowser(licenseDetails.url)" class="sb-legal-url">{{licenseDetails.url}}</span>
            </div>
            <div *ngIf="contentDetail?.contentData?.copyright">

              <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                <strong>{{ 'COPYRIGHT' | translate }}</strong>:
              </ion-card-title>
              <p>
                {{contentDetail?.contentData?.copyright}}{{contentDetail?.contentData?.copyrightYear ? ", " + contentDetail?.contentData?.copyrightYear : ""}}
              </p>
            </div>
          </div>
          <!--training derived from section starts-->
          <div class="origin-data" *ngIf="contentDetail?.contentData?.originData">
            <div class="font-14 traning-derived-label-background ion-padding-bottom">
              <span><strong>{{'CONTENT_DERIVED_FROM' | translate}}</strong></span>
            </div>
            <div class="ion-padding">
              <div *ngIf="contentDetail?.contentData?.originData.name">
                <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                  <strong> {{'ORIGINAL_CONTENT' | translate}}</strong>:
                </ion-card-title>
                <p>{{contentDetail?.contentData?.originData.name}}</p>
              </div>
              <div *ngIf="contentDetail?.contentData?.originData.author">

                <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                  <strong>{{ 'ORIGINAL_AUTHOR' | translate }}</strong>:
                </ion-card-title>
                <p>{{contentDetail?.contentData?.originData.author}}</p>
              </div>

              <div *ngIf="contentDetail?.contentData?.originData.license">
                <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                  <strong>{{ 'LICENSE' | translate }}</strong>:
                </ion-card-title>
                <p>{{contentDetail?.contentData?.originData.license}}</p>
              </div>

              <div *ngIf="contentDetail?.contentData?.originData.organisation">
                <ion-card-title class="font-12 subtitle-color label-margin-bottom">
                  <strong>{{ 'PUBLISHED_BY' | translate:{'%s': appName} }}</strong>:
                </ion-card-title>
                <p>{{contentDetail?.contentData?.originData.organisation[0]}}</p>
              </div>
            </div>
          </div>
          <!-- / training derived from section ends -->
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>

<div>
  <add-activity-to-group [pageId]="pageId" [identifier]="identifier"></add-activity-to-group>
</div>

<ng-container *ngIf="trackDownloads$ | async; let downloads">
  <app-sb-download-popup *ngIf="downloads.queued.length"
    (cancelDownloadEmit)="cancelDownload($event)" 
    [currentCount]="downloads.completed.length"
    [queuedIdentifiers]="(downloads.queued.length+downloads.completed.length)" 
    [downloadSize]="downloadSize"
    [collectionName]="contentDetail?.contentData?.name" 
    [showDownload]="true"
    [showPopover]="showCollapsedPopup">
  </app-sb-download-popup>
</ng-container>