<ion-content class="ion-no-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="content-padding">
    <app-detail-card 
    (downloadAllContent)="showDownloadConfirmationAlert()" 
    (shareEvent)="share()"  
    (showOverflowMenuEvent)="showDeletePopOver()" 
    [contentDetail]="contentDetail" 
    [localImage]="contentDetail?.contentData?.appIcon" 
    [showDownloadBtn]="showDownloadBtn"
    [isDepthChild]='isDepthChild' 
    [defaultAppIcon]="defaultAppIcon"
    [trackDownloads]="trackDownloads$">
    </app-detail-card>
    <!-- End of the Parent Card -->

    <!-- End import content -->
    <div class="m-n" *ngIf="showSheenAnimation">
      <div class="skeleton-search-card" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]">
        <div style=" flex: 22 auto;">
          <app-skeleton-item height="60px" width="100%" style="height:3.75rem; width:100%; margin-bottom: 10px;">
          </app-skeleton-item>
        </div>
      </div>
    </div>
    <div #stickyPillsRef *ngIf="!showSheenAnimation && childrenData && childrenData?.length"
      class="collection-etb-filter">
      <div class="sb-chapter-dd pl-16" role="button" (click)="openTextbookToc()">
        <span class="pull-left">{{stckyUnitTitle || ('SELECT_CHAPTER' | translate)}}</span>
        <!-- set aria hidden true because in device the icon is not showing and talkback is speak that text -->
        <span class="pull-right" aria-hidden="true">
          <ion-icon md="caret-forward-circle" ios="chevron-forward-circle"></ion-icon>
        </span>
      </div>
      <div class="sb-slider-pills-container">
        <div class="sb-pills-container sb-grade-pills-container" id="gradeScroll">
          <div role="button" class="pill" *ngFor="let type of mimeTypes; let i = index; let first = first"
            [ngClass]="{'active': type?.selected, '': !type?.selected}" attr.id="class{{i}}" [attr.aria-selected]="type?.selected"
            (click)="onFilterMimeTypeChange(type.value, i, type.name);">
            <span class="img-align" *ngIf="type?.iconNormal && type?.selected">
              <img aria-hidden="true" class="filter-icon" src="{{type?.iconActive}}" alt="video">
            </span>
            <span class="img-align" *ngIf="type?.iconNormal && !type?.selected">
              <img aria-hidden="true" class="filter-icon" src="{{type?.iconNormal}}" alt="interactive">
            </span>
            <span  class="allign-middle" attr.aria-label="{{type?.name | translate}}">{{type?.name | translate}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="shouldPillsStick" style="height: 3rem;"></div>
  <div>
    <!-- Looping Inside Children Data Textbook -->
    <section *ngIf="!showSheenAnimation && childrenData" class="textbook-accordian">
      <sb-toc-item
      [accordianConfig]="accordianConfig"
      [type]="TocCardType.TRACKABLE"
      [tocData]="collectionTocData"
      [playBtnConfig]="playBtnConfig"
      (tocCardClick)="tocCardClick($event)"
      [activeMimeTypeFilter]="activeMimeTypeFilter"
      [activeContent]="activeContent"
      (playButtonClick)="playButtonClick($event)"
      [trackableDefaultImage]="'assets/imgs/ic_courses_selected_joyful.svg'">
    </sb-toc-item>

    </section>
  </div>
  <div *ngIf="contentDetail?.contentData?.author || contentDetail?.contentData?.organisation 
        ||contentDetail?.contentData?.license || licenseDetails || contentDetail?.contentData?.copyright">
    <div class="m-8">
      <div class="collection-etb-details">
        <div class="title" (click)="contentInfo()">
          <strong class="pull-left">{{'DETAILS' | translate}}</strong>
          <span class="pull-right">
            <ion-icon md="caret-forward-circle" ios="chevron-forward-circle"></ion-icon>
          </span>
        </div>
        <div *ngIf="content && showContentDetails">
          <app-relevant-content-card 
            [contentData]="contentDetail?.contentData" 
            [isAlreadyEnrolled]="isAlreadyEnrolled">
          </app-relevant-content-card>
        </div>
      </div>
      <app-license-card-component 
        [content]="contentDetail?.contentData" 
        [licenseDetails]="licenseDetails" 
        [appName]="appName"
        [objRollup]="objRollup" 
        [corRelationList]="corRelationList" 
        [pageId]="pageId">
      </app-license-card-component>
    </div>
  </div>
</ion-content>

<div>
  <add-activity-to-group [pageId]="pageId" [identifier]="identifier"></add-activity-to-group>
</div>

<ng-container *ngIf="trackDownloads$ | async; let downloads">
  <app-sb-download-popup *ngIf="downloads.queued.length"
    (cancelDownloadEmit)="cancelDownload()" 
    [currentCount]="downloads.completed.length"
    [queuedIdentifiers]="(downloads.queued.length+downloads.completed.length)" 
    [downloadSize]="downloadSize"
    [collectionName]="contentDetail?.contentData?.name" 
    [showDownload]="true"
    [showPopover]="showCollapsedPopup">
  </app-sb-download-popup>
</ng-container>