@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";

// :host {
.sb-slider-pills-container {
  .sb-grade-pills-container {
    .pill {
      min-height: 35px;
      border-radius: 50px;
    }
  }
}

.heading {
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  color: map-get($colors, granite_gray);
}

.sub-heading {
  color: map-get($colors, granite_gray);
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}

.filter-icon {
  // margin-right: 8px;
  height: 15px;
  width: 15px;
}

.img-align {
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  margin-right: 8px;
}

.allign-middle {
  display: inline-block;
  vertical-align: middle;
}

.collection-etb-filter {
  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.loading-backdrop {
  .backdrop-container {
    width: 100%;
    padding: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -50px;
  }

  .backdrop-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 16px;
  }

  background-color: map-get($colors, white);
  height: 100%;
  z-index: 1000;
  opacity: 1 !important;
}

ion-card {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.05);
  margin: 1px;
}

ion-card .card .card-md {
  margin: 0;
}

.M0 {
  margin: 0 !important;
}

.P15 {
  padding: 15px !important;
}

.M5 {
  margin: 5px;
}

.P5 {
  padding: 5px;
}

.MT20 {
  margin-top: 20px;
}

.MT10 {
  margin-top: 10px;
}

.MB16 {
  margin-bottom: 16px;
}

.MR5 {
  margin-right: 5px;
}

.ML5 {
  margin-left: 5px;
}

.ML10 {
  margin-left: 10px;
}

.MLR0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ML20 {
  margin-left: 20px;
}

.P10 {
  padding: 10px;
}

.secondChildren {
  margin-left: 15px;
}

.thirdChildren {
  margin-left: 25px;
}

.margin-10 {
  margin-left: 10px;
}

.f24 {
  font-size: 24px;
}

.yellow-gold {
  color: map-get($colors, bright_yellow);
}

.font-blue {
  color: $blue;
  font-size: 30px;
}

.text-selected {
  padding: 4px;
  color: $blue;
  font-weight: bolder;
}

.text-unselected {
  padding: 4px;
  color: map-get($colors, bright_blue);
}

.play-icon {
  color: map-get($colors, vivid_green);
  font-size: 30px;
}

.font-14 {
  font-size: 14px !important;
}

.view-credits {
  span {
    color: $blue;

    ion-icon {
      padding: 0 0 4px 8px;
      vertical-align: middle;
      font-size: 18px;
      float: right !important;
    }
  }

}

.credit-label-padding {
  padding: 14px 14px 8px 14px;
  background-color: map-get($colors, white_f2);
}

.content-padding {
  padding: 8px 8px 0 8px;
}

.subtitle-color {
  color: map-get($colors, granite_gray);
}

.label-margin-bottom {
  margin-bottom: 3px !important;
}

.traning-derived-label-background {
  background-color: map-get($colors, white_f2);
  padding: 8px 0px 8px 15px;
}

.font-12 {
  font-size: 12px !important;
}

.showLicensce {
  p {
    margin-bottom: 16px;
  }
}

.grey-icon-span {
  position: relative;
  top: 8px;
  vertical-align: super;
}

.checkmark-icon {
  color: map-get($colors, vivid_green);
  font-size: 18px;
  margin-left: 5px;
}

.font-blue-text {
  padding: 4px;
  color: $blue;
}

.font-grey-text {
  //  padding: 4px;
  color: map-get($colors, dark_gray);
}

.grey-icon {
  color: map-get($colors, dark_gray);
  font-size: ($font-size-base + 4);
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
}

.separator-dot {
  width: 4px;
  height: 4px;
  background-color: map-get($colors, light_silver);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.separator-line {
  height: 1px;
  opacity: 0.36;
  background-color: map-get($colors, dark_gray);
  width: 100%;
}

.white {
  color: map-get($colors, white);
}

.light-black {
  color: map-get($colors, light_black_51);
}

.bg-white {
  background-color: map-get($colors, white);
}

.bg-sucess {
  background-color: $green;
}

.bg-primary {
  background-color: $blue;
}

.bg-danger {
  background-color: $orange;
}

.bg-dark-danger {
  background-color: $red;
}

.danger {
  color: $orange;
}

//  Details card
.details-card {
  border-radius: 2px;
  box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.05);
  background-color: map-get($colors, white);

  .content-unit {
    display: grid;
    //grid-gap: 13px;
    grid-template-columns: 3fr .4fr;

    .pull-right {
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr;
      margin-right: 5px;
      padding: 10px;
      font-size: 2rem;

      .item {
        flex: 1 1 auto;
        justify-content: right;
        align-items: center;
        display: flex;
      }
    }

    .left {
      overflow: hidden;
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      @include padding(15px, 0, 15px, 15px);

      .item {
        flex: 1 1 auto;
        justify-content: left;
        align-items: center;
        display: flex;
      }
    }
  }

  .W-88 {
    width: 88px;
  }

  .rating {
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }

  .content {
    display: grid;
    //grid-gap: 13px;
    grid-template-columns: 2.9fr 1fr;

    .pull-right {
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr;
      margin-right: 5px;
      padding: 10px;
      font-size: 2rem;
    }

    .right {
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr;
      padding: 15px;

      //grid-template-rows: 1fr;
      .img-container {
        // background-color: grey;
        width: 100%;
        min-height: 54px;
        max-height: 54px;
      }
    }

    .left {
      overflow: hidden;
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      @include padding(15px, 0, 15px, 15px);

      .item {
        flex: 1 1 auto;
        justify-content: left;
        align-items: center;
        display: flex;
      }

      .title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 0 0 3px;
        padding: 0;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: map-get($colors, primary_black);
        height: 42px;
      }

      .info {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: map-get($colors, dark_gray);
      }
    }

    &.single-column {
      display: grid;
      grid-template-columns: 1fr;

      .left {
        @include padding(15px);
      }

      .tag {
        border-radius: 2px;
        @include padding(3px, 7px);
        color: map-get($colors, light-blue);
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: -0.4px;
        border: 1px solid map-get($colors, light-blue);
        display: inline-flex;

        &:not(:last-child) {
          @include margin(null, 10px, null, null);
        }
      }
    }

  }

  .btn-caption-container {
    display: inline-grid;
    grid-template-columns: 1fr;
    @include margin(null, 20px, null, null);

    &:last-child {
      @include margin(null, 0, null, null);
    }

    .btn-caption {
      color: map-get($colors, secondary-light);
      text-transform: capitalize;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      display: inline-block;
      text-align: center;
    }

    .action-btn {
      height: auto;

      ion-icon {
        line-height: 30px;

      }

    }
  }
}

.scroll-content {
  padding-bottom: 20% !important;
}

.sb-row {
  width: 100%;
}

.sb-topics-containe {
  padding-right: 5%;
}

.sb-hidden-content {
  background-color: map-get($colors, white_f2);
  height: 34.15%;
  width: 100%;
  border-radius: 0 0 2px 2px;
  padding-top: 2%;
  padding-bottom: 5%;
}

.sb-accordian-card {
  height: 6.1%;
  width: 100%;
  border-radius: 2px;
  background-color: map-get($colors, white);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}

.sb-topic-text {
  &.sb-topic-text {
    padding-top: 5px;
  }

  height: 2.44%;
  width: 80%;
  color: $blue;
  font-size: 14px;
  line-height: 20px;
}

.box-align {
  // margin-right: 18px;
}

// }


.sb-chapter-dd {
  @include clearfix;
  color: $blue;
  padding: $base-block-space;
  background-color: map-get($colors, white);

  .pull-left {
    line-height: 30px;
  }

  ion-icon {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    font-size: 28px;
    color: map-get($colors, light-blue);
  }
}

.sb-topics-container-toc {
  .sb-topic-item {
    color: $primary-color;
    padding: 8px;
  }

  .sb-ftue-design {
    .pull-right {
      display: none;
    }

    .unit-hierachy {
      color: $primary-color;
      padding: 8px;
    }
  }

  .sb-chapter-dd {
    border-bottom: 1px solid $gray-100;
  }

  .sb-collection-child-ftue {
    margin-left: 8px;
  }
}

.drop-arrow{
  border-radius: 50%;
  background-color: map-get($colors, white);
  height: 24px;
  width: 24px;
  padding-top: 8px;
  img{
    height: 8px;
  }
}