@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
    .msg {
      color: white;
      font-size: medium;
      background-color: blue;
    }
    .input-wrapper {
     @include padding(null, 16px !important);
    }
    .row-align {
     @include padding(10px, 16px !important);
    }
    .item-ios {
       @include padding(null, null, null, 0 !important);
    }
    .item-md {
      @include padding(null, null, null, 0 !important);
    }
    .assessmentDetails h3 {
      white-space: normal;
    }
    ion-item.item.md.in-list.ion-focusable.hydrated.popover-header{
      --ion-item-background : dodgerBlue;
    }
    .popover-header-text {
      font-size: 16px;
    }
    .popover-header-color {
      color: map-get($colors, white);
    }
    ion-list.md.list-md.hydrated.report-alert-popover-list {
      padding-top: 0px !important;
    }