@import "src/assets/styles/_variables.scss";

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .progress {
    width: 70vw;
    margin-bottom: 10px;
  }
  .load-status {
    margin-top: 5px;
    font-size: 1.188rem;
    font-weight: bold;
  }
}