@import "src/assets/styles/_variables.scss";
.project-box {
  margin: 15px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 6px 6px 0px,
    rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
  .custom-filed {
    margin: 10px 0px;

    ion-label {
      font-weight: 600;
      color: #{$black-color};
    }

    ion-icon {
      float: right;
      font-size: 24px;
      margin-top: -5px;
    }

    ion-col {
      padding: 0px;
    }
  }
}

ion-card {
  background-color: map-get($colors, white);
}