@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/fonts.scss";
@import "src/assets/styles/_variables.scss";
:host {
  .loading-backdrop {
    .backdrop-container {
      width: 100%;
      @include padding(16px !important);
      text-align: center;
      position: absolute;
      top: 50%;
      margin-top: -50px;
    }

    .backdrop-footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      @include padding(null, null, 16px, null !important);
    }

    background-color: map-get($colors, white);
    height: 100%;
    z-index: 1000;
    opacity: 1 !important;
  }
  .inner {
    width: auto;
    height: 100%;
    course-card {
      display: table-cell;
    }
  }
  .sc-ion-buttons-md-s ion-button {
    height: 0.813rem !important;
    margin-bottom: 12px;
  }
  .inprogress-courses {
    .bottom-container {
      background: map-get($colors, gray_white);
    }
  }
  .scroll-heading {
    @include padding(10px, null, null, null);
    @extend .NotoSans-bold;
    @extend .font-weight-700;
    font-size: 1.125rem;
    padding-left:7px;
    font-weight: 600 !important;
  }
  .view-all-link {
    font-size: 0.75rem;
    padding-top: 11px;
    @extend .NotoSans-bold;
    @extend .font-weight-700;
    width: 15%;
    float: right;
    // @include text-align('end');
  }
  .course-scroll-holder {
    background-color: map-get($colors, white_fe);
  }
  .toolbar-title-md {
    margin-left: -5px !important;
    @include margin(null, null, null, -5px !important);
  }
  .course-page-color {
    background: map-get($colors, gray_white);
  }
  .padding-11 {
    @include padding(11px);
    overflow: hidden;
  }
  .height-130 {
    height: 8.375rem;
  }
  .devider-line {
    background: map-get($colors, gray_white);
    height: 0.438rem;
  }

  ion-spinner {
    display: block;
    @include margin(auto);
  }
  ion-select {
    max-width: 75%;
    font-size: $font-size-base;
    color: map-get($colors, vived_blue_ff);
    @extend .font-weight-bold;
  }
  /* To give some space between the icons in the header */
  .tool-icon {
    @include margin(10px, 2px !important);
  }
  .offline-message {
    background-color: red !important;
    line-height: 2.5rem !important;
    text-align: center !important;
    color: white;
    top: 0px;
    position: sticky;
    z-index: 11;
    display: block;
    width: 100%;
  }
  
  div[scrollx=true] {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .enrolled-course-bg {
    background: linear-gradient($green, $green 100px, white 100px, white 100%);
  }

  .course-grid-bg{
    background-color: map-get($colors, pale_green_e0);
  }

  .course-card-pd{
    padding: 1px 0 12px;
  }

  .section-header-style{
    margin-left: 10px;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 14px;
    padding-bottom: 4px;
  }
  .animation-background {
    padding: 0 8px 0 8px;
    background-color: map-get($colors, white_f2);
  }

  .sb-textbook-container{
    padding: 0 8px !important;
  }

}