<ion-content hide-header-footer overflow-scroll="true"
  class="main-container avoid-bottom-tabs-space" scrollEvents="true" [ngClass]="{'ui-container': !platform.is('ios')}">
  <div class="ui-container" *ngIf="platform.is('ios')"></div>
  <div class="ui-content">
  <ion-refresher #courseRefresher slot="fixed" (ionRefresh)="getCourseTabData($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="showSignInCard" class="enrolled-course-bg">
    <app-sign-in-card [source]="'courses'" (valueChange)="showOfflineWarning()"></app-sign-in-card>
  </div>
  <div *ngIf="!guestUser" class="pt-8 enrolled-course-bg">
    <ng-container *ngIf="showLoader && enrolledCourses && enrolledCourses.length === 0">
      <sb-course-cards-hlist [type]="courseCardType.MY_COURSE_RECENTLY_VIEWED_CARD_GRID" [isLoading]="showLoader">
      </sb-course-cards-hlist>
    </ng-container>
  </div>
  <div *ngFor="let section of dynamicCourses">
    <div *ngIf="!guestUser && section?.theme?.component === 'sb-course-cards-hlist'" class="pt-8 enrolled-course-bg">
      <ng-container *ngIf="section?.theme?.component === 'sb-course-cards-hlist'">
        <ng-container *ngFor="let subSection of section?.data?.sections">
          <ng-container *ngIf="subSection?.contents?.length">
            <sb-course-cards-hlist
              [title]="(section?.title) | translateJson"
              [type]="section?.theme?.inputs?.type || courseCardType.MY_COURSE_RECENTLY_VIEWED_CARD_GRID"
              [contentList]="subSection.contents"
              [hideProgress]="section?.theme?.inputs?.hideProgress || true"
              [viewMoreButtonText]="(section?.theme?.inputs?.viewMoreButtonText | translateJson) || ('VIEW_ALL' | translate)"
              [maxCardCount]="section?.theme?.inputs?.maxCardCount || 10"
              (viewMoreClick)="navigateToViewMoreContentsPage(true)"
              (cardClick)="openEnrolledCourseDetails($event)">
            </sb-course-cards-hlist>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="section.theme.component === 'sb-library-cards-stack'">
      <div class="section-header-style" role="heading" aria-level="2" *ngIf="section?.data.sections.length">{{section?.title | translateJson}}</div>
      <div *ngFor="let section of section?.data.sections; let i=index">
        <div *ngIf="section?.contents?.length" class="sb-textbook-container">
          <sb-library-cards-stack [title]="section?.name" [contentList]="section?.contents"
            [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable"
            [viewMoreButtonText]="'VIEW_MORE' | translate" [maxCardCount]="3"
            (viewMoreClick)="navigateToTextbookPage(section?.contents, section.name)"
            (cardClick)="openCourseDetails($event, section, i)" [isLoading]="showLoader">
          </sb-library-cards-stack>
        </div>
      </div>
    </div>
  </div>

  <ion-list class="m-n" *ngIf="showLoader && popularAndLatestCourses && popularAndLatestCourses.length === 0">
    <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
    <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
      <ion-avatar item-start>
        <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
      </ion-avatar>
      <ion-label style="padding-left: 40px;">
        <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
        <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="isCourseListEmpty" class="ion-text-center ion-padding">
    <div class="sb-nodownloads-container" *ngIf="commonUtilService?.networkInfo?.isNetworkAvailable">
      <div class="text-center">
        <img style="width: 30%;" src="./assets/imgs/group.svg" alt="">
      </div>
      <div class="text-center">
        <p class="sub-heading">{{'FRMELEMNTS_LBL_CONTENT_TO_BE_ADDED' | translate }}</p>
        <ion-button class="explore-more-content" expand="block" fill="outline" (click)="exploreOtherContents()">
          {{'FRMELEMENTS_LBL_SEE_MORE_COURSES' | translate}} </ion-button>
      </div>  
    </div>
  </div>

  <div class="ion-text-center ion-padding" *ngIf="!commonUtilService?.networkInfo?.isNetworkAvailable">
    <img height="80" width="100" src="assets/imgs/ic_offline.png" alt="offline" />
    <ion-text>
      <h6 color="secondary_black">
        <strong>{{ 'NO_INTERNET_TITLE' | translate }}</strong>
      </h6>
    </ion-text>
    <p color="dark_gray">{{ 'OFFLINE_WARNING' | translate }}</p>
    <ion-text>
      <strong class="ion-text-uppercase" color="primary"
        (click)="retryShowingPopularCourses(true); showOfflineWarning();">{{'RETRY_ACTION' | translate}}</strong>
    </ion-text>
  </div>
  </div>
</ion-content>
<ion-backdrop class="loading-backdrop ion-text-center" *ngIf="showOverlay">
  <div class="backdrop-container">
    <span *ngIf="downloadPercentage !== 100">
      <ion-label>{{ 'LOADING_CONTENT' | translate }} {{ downloadPercentage ? (downloadPercentage) : '0' }} %</ion-label>
      <app-pb-horizontal [progress]="downloadPercentage" isOnBoardCard="false"></app-pb-horizontal>
    </span>
    <ion-label *ngIf="downloadPercentage === 100">{{ 'LOADING_CONTENT' | translate }}</ion-label>
  </div>

  <div class="backdrop-footer" *ngIf="downloadPercentage !== 100">
    <ion-button size="small" (click)="cancelDownload()">{{'CANCEL' | translate}}</ion-button>
  </div>
</ion-backdrop>