<ion-header class="sb-header" [hidden]="!headerConfig?.showHeader" [ngClass]="{'z-index-0': decreaseZindex}">
  <ion-toolbar class="sb-header-toolbar">
    <div id="talkback-live-region" aria-live="assertive" aria-atomic="true" style="position: absolute;">
    </div>
    <ion-buttons class="sb-hamburger pl-10" slot="start" *ngIf="headerConfig?.showBurgerMenu">
      <ion-button class="sb-hamburger-menu sb-hamburger-icon" icon-only (click)="toggleMenu()"  [attr.aria-label]="isMenuOpen ? 'Expanded' : 'Collapsed'"
      [attr.aria-live]="isMenuOpen ? 'polite' : null"
      [attr.aria-atomic]="true"
      [attr.aria-relevant]="isMenuOpen ? 'additions text' : null"
      (ionFocus)="announceToTalkBack('Expanded')">
        <img src="./assets/imgs/ic_burger_menu.svg" role="button" class="tool-icon" alt="menu">
      </ion-button>
    </ion-buttons>

    <ion-buttons class="sb-hamburger" slot="start" *ngIf="!headerConfig?.showBurgerMenu">
      <ion-button icon-only (click)="emitEvent($event, 'back');" aria-label="back">
        <ion-icon class="arrow-icon" name="arrow-back" role="button" aria-label="back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="color f16" role="heading" aria-level="1" *ngIf="headerConfig?.pageTitle?.length >0">{{headerConfig?.pageTitle}}</ion-title>
    <ion-buttons class="sb-header-btn-group pr-12 fontResize-container" slot="end">
      <button type="button" [attr.aria-pressed]="false" tabindex="0" *ngIf="headerConfig?.actionButtons?.indexOf('font-accessibility') >=0"
        attr.aria-label="{{'DECREASE_FONT' | translate }}"
        class="fontResizeBtn fontResizeBtn_A-"
        title="{{'DECREASE_FONT' | translate }}"
        (click)="changeFontSize('decrease');" #decreaseFontSize>A-</button>
      <button [attr.aria-pressed]="false" type="button" tabindex="0" *ngIf="headerConfig?.actionButtons?.indexOf('font-accessibility') >=0"
        attr.aria-label="{{'DEFAULT_FONT' | translate }}"
        class="fontResizeBtn fontResizeBtn_A"
        title="{{'DEFAULT_FONT' | translate }}"
        (click)="changeFontSize('reset');" #resetFontSize>A</button>
      <button [attr.aria-pressed]="false" type="button" tabindex="0" *ngIf="headerConfig?.actionButtons?.indexOf('font-accessibility') >=0"
        attr.aria-label="{{'INCREASE_FONT' | translate }}"
        class="fontResizeBtn fontResizeBtn_A+"
        title="{{'INCREASE_FONT' | translate }}"
        (click)="changeFontSize('increase');" #increaseFontSize>A+</button>
      <ion-button icon-only *ngIf="headerConfig?.actionButtons?.indexOf('download') >=0 && showDownloadingIcon"
        (click)="emitEvent($event, 'download');">
        <svg [ngClass]="{'downloading': showDownloadingIcon}" class="active-downloads-icon" role="button" height="25"
          viewBox="0 0 14 20" width="25" xmlns="http://www.w3.org/2000/svg">
          <title>F2562297-C67D-4A8E-831F-4BBA8FB569A4@1.5x</title>
          <desc>Created with sketchtool.</desc>
          <g>
            <title>background</title>
            <rect fill="none" height="5.25203" id="canvas_background" width="4.27642" x="-1" y="-1" />
          </g>
          <g>
            <title>Layer 1</title>
            <g fill="none" fill-rule="evenodd" id="Download-Manager">
              <g fill="#024F9D" fill-rule="nonzero" id="arrow">
                <path
                  d="m7.97649,2.03349l0,6l1.17,0l-2.17,2.17l-2.17,-2.17l1.17,0l0,-6l2,0l0,0zm2,-2l-6,0l0,6l-4,0l7,7l7,-7l-4,0l0,-6z"
                  id="Shape" />
              </g>
            </g>
            <g fill="none" fill-rule="evenodd" id="Download-Manager">
              <g fill="#024F9D" fill-rule="nonzero" id="bar">
                <polygon id="Path"
                  points="14.064681947231293,18.104969024658203 0.06468096375465393,18.104969024658203 0.06468096375465393,20.10494041442871 14.064681947231293,20.10494041442871 " />
              </g>
            </g>
          </g>
        </svg>
      </ion-button>
      <ion-button aria-label="settings" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('settings') >=0 && !isDownloadingActive"
        (click)="emitEvent($event, 'settings');">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button aria-label="notifications" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('notification') >=0"
        (click)="emitEvent($event, 'notification');" class="active-download-icon">
        <img src="assets/imgs/notification.svg" class="tool-icon" alt="notification" role="button">
        <ion-badge class="badge-container" *ngIf="notificationCount.unreadCount">{{notificationCount.unreadCount}}</ion-badge>
      </ion-button>
      <ion-button aria-label="search" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('search') >=0"
        (click)="emitEvent($event, 'search');">
        <img src="./assets/imgs/ic_search.png"  role="button" class="tool-icon" alt="search">
      </ion-button>
      <ion-button aria-label="information" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('information') >=0"
        (click)="emitEvent($event, 'information');">
        <img src="./assets/imgs/ic_info_circle.svg" role="button" class="tool-icon" alt="information">
      </ion-button>
      <ion-button aria-label="person" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('person') >=0"
        (click)="emitEvent($event, 'person');">
        <ion-icon name="person"></ion-icon>
      </ion-button>
      <ion-button aria-label="filter" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('filter') >=0"
        (click)="emitEvent($event, 'filter');">
        <img src="./assets/imgs/ic_action_filter.svg" role="button" class="tool-icon" alt="filter">
      </ion-button>
      <ion-button aria-label="filter applied" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('filter-applied') >=0"
        (click)="emitEvent($event, 'filter');">
        <img src="./assets/imgs/ic_action_filter_applied.png" role="button" class="tool-icon" alt="filter applied">
      </ion-button>
      <ion-button aria-label="share" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('share') >=0"
        (click)="emitEvent($event, 'share');">
        <ion-icon name="share" role="button" aria-label="share" class="ion-float-right"></ion-icon>
      </ion-button>
      <ion-buttons aria-label="sync done" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('sync-done') >=0" style="font-size: 1.8rem;">
        <ion-icon name="cloud-done" role="button" class="ion-float-right" aria-label="sync done" style="color: green;"></ion-icon>
      </ion-buttons>
      <ion-buttons aria-label="sync offline"  icon-only *ngIf="headerConfig?.actionButtons?.indexOf('sync-offline') >=0"
        (click)="emitEvent($event, 'sync');" style="font-size: 1.8rem;">
        <ion-icon name="cloud-upload" aria-label="sync offline" role="button" class="ion-float-right"></ion-icon>
      </ion-buttons>
      <ion-button icon-only aria-label="more" *ngIf="headerConfig?.actionButtons?.indexOf('more') >=0"
        (click)="emitEvent($event, 'more');" style="font-size: 1.8rem;">
        <ion-icon class="ion-float-end"  role="button" name="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-button aria-label="group information" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('groupInfo') >=0"
        (click)="emitEvent($event, 'groupInfo');" aria-label="group information" style="font-size: 1.8rem;">
        <ion-icon class="ion-float-end" role="button" name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-button aria-label="Question map" icon-only *ngIf="headerConfig?.actionButtons?.indexOf('questionMap') >=0"
        (click)="emitEvent($event, 'questionMap');" aria-label="Question map" style="font-size: 1.8rem;">
        <ion-icon class="ion-float-end" role="button" name="map"></ion-icon>
      </ion-button>
      <ion-button aria-label="menu" icon-only *ngIf="headerConfig?.showKebabMenu" (click)="showKebabMenu($event)"
        style="font-size: 1.8rem; padding: 0 16px;">
        <img class="menu-icon" role="button" src="assets/imgs/menu.svg" alt="menu">
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-menu contentId="mainContent" class="sb-side-menu" *ngIf="isRtl" side="end" persistent="true"
  [swipeGesture]="headerConfig?.showBurgerMenu || false">
  <ion-header *ngIf="!isLoggedIn">
    <ion-toolbar>
      <ion-title>
        <img class="img-container" src="{{appLogo}}" alt="app logo">
        <span class="app-name">{{appName}}</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="menu-section"> 
      <section *ngIf="isLoggedIn" class="menu-container">
        
        <ng-container *ngIf="(managedProfileList$ | async); let managedProfileList">
          <section class="user-container">

            <div *ngIf="profile?.handle">
              <sb-member-card [title]="profile?.handle" [config]="userAvatarConfig"
                [initial]="profile?.handle | initial">
              </sb-member-card>
            </div>

            <div class="use-app-label sb-menu-item">
              <span>{{'USE_APP_AS' | translate: {'%s': appName} }}</span>
            </div>

            <section class="managed-user-container">

              <div class="mu-card" *ngFor="let user of managedProfileList |slice:0:2; let i = index"
                (click)="switchUser(user)">
                <sb-member-card [title]="user?.firstName" [identifier]="user?.id" [indexOfMember]="i"
                  [initial]="user?.firstName | initial">
                </sb-member-card>
              </div>

              <div class="add-manage-user mu-card" *ngIf="managedProfileList.length <= 2" (click)="addManagedUser()">
                <sb-member-card [title]="'ADD_USER' | translate" [initial]="'+'">
                </sb-member-card>
              </div>

              <div class="more-manage-user mu-card" *ngIf="managedProfileList.length > 2" (click)="openManagedUsers()">
                <sb-member-card [title]="'MORE_COUNT' | translate: {'%s':managedProfileList.length-2}"
                  [initial]="'...'">
                </sb-member-card>
              </div>
            </section>

          </section>
          <div *ngIf="managedProfileList.length > 2" class="another-user-title" (click)="addManagedUser()">
            <span class="add-sign">+</span> {{'ADD_ANOTHER_USER' | translate}}
          </div>
        </ng-container>
      </section>
      <ion-list class="sb-menu-list" lines="none">

        <ion-item (click)="emitSideMenuItemEvent($event, 'MY_GROUPS')">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/my_group.svg" class="tool-icon" aria-hidden="true" alt="my group">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'MY_GROUPS' | translate}}</span>
          <div class="new-feature-badge">
            <div class="square-badge">New</div>
            <div class="circle-badge"></div>
          </div>
        </ion-item>

        <ion-item (click)="switchTheme()">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/Help.png" class="tool-icon sb-menu-item-switch" aria-hidden="true" alt="help">
          </span>
          <span *ngIf="appTheme === 'DEFAULT'" class="sb-menu-item" role="button"
            menuClose>{{'SWITCH_TO_JOYFUL_THEME' | translate}}</span>
          <span *ngIf="appTheme === 'JOYFUL'" class="sb-menu-item" role="button"
            menuClose>{{'SWITCH_TO_CLASSIC_THEME' | translate}}</span>
          <div class="new-feature-badge">
            <div class="square-badge">New</div>
            <div class="circle-badge"></div>
          </div>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'IMPORT')">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/ic_import.png" aria-hidden="true" class="tool-icon" alt="import">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'IMPORT_CONTENT' | translate}}</span>
          <div class="new-feature-badge">
            <div class="square-badge">New</div>
            <div class="circle-badge"></div>
          </div>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'LANGUAGE')">
          <span class="sb-menu-icon sb-pt-6">
            <img src="./assets/imgs/Language.png" aria-hidden="true" class="tool-icon" alt="select app language">
          </span>
          <div class="sb-language">
            <div class="sb-menu-item" role="button">{{'LANGUAGE' | translate}}</div>
            <div class="sb-menu-item-language">{{selectedLanguage}}</div>
          </div>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'ORIENTATION')" *ngIf="isTablet">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/ic_rotate.svg" aria-hidden="true" class="tool-icon" alt="tablet">
          </span>
          <div class="sb-language">
            <div class="sb-menu-item" role="button">{{'ORIENTATION' | translate}}</div>
            <div class="sb-menu-item-language">{{orientationToSwitch}}</div>
          </div>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'SETTINGS')">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/Settings.png" aria-hidden="true" class="tool-icon" alt="app settings">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'SETTINGS' | translate}}</span>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'HELP')">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/Help.png" aria-hidden="true" class="tool-icon" alt="help">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'HELP' | translate}}</span>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'LOGIN')" *ngIf="!isLoggedIn && showLoginButton">
          <span class="sb-menu-icon">
            <ion-icon name="log-in-outline"></ion-icon>
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'SIGN_IN' | translate}}</span>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'LOGOUT')" *ngIf="isLoggedIn">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/Sign_out.png" aria-hidden="true" class="tool-icon" alt="logout">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'LOGOUT' | translate}}</span>
        </ion-item>

      </ion-list>
    </div>
  </ion-content>
  <ion-footer class="side-menu-footer">
    {{'VERSION'| translate}} {{versionName}}.{{versionCode}}
  </ion-footer>
</ion-menu> 
<ion-menu contentId="mainContent" class="sb-side-menu" *ngIf="!isRtl" side="start" persistent="true"
  [swipeGesture]="headerConfig?.showBurgerMenu || false">
  <ion-header *ngIf="!isLoggedIn">
    <ion-toolbar>
      <ion-title>
        <img class="img-container" src="{{appLogo}}" alt="app logo">
        <span class="app-name">{{appName}}</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> 
    <div class="menu-section">
      <section *ngIf="isLoggedIn" class="menu-container">
        <ng-container *ngIf="(managedProfileList$ | async); let managedProfileList">
          <section class="user-container">

            <div *ngIf="profile?.handle">
              <sb-member-card [title]="profile?.handle" [config]="userAvatarConfig"
                [initial]="profile?.handle | initial">
              </sb-member-card>
            </div>

            <div class="use-app-label">
              <span>{{'USE_APP_AS' | translate: {'%s': appName} }}</span>
            </div>

            <section class="managed-user-container">

              <div class="mu-card" *ngFor="let user of managedProfileList |slice:0:2; let i = index"
                (click)="switchUser(user)">
                <sb-member-card [title]="user?.firstName" [identifier]="user?.id" [indexOfMember]="i"
                  [initial]="user?.firstName | initial">
                </sb-member-card>
              </div>

              <div class="add-manage-user mu-card" *ngIf="managedProfileList.length <= 2" (click)="addManagedUser()">
                <sb-member-card [title]="'ADD_USER' | translate" [initial]="'+'">
                </sb-member-card>
              </div>

              <div class="more-manage-user mu-card" *ngIf="managedProfileList.length > 2" (click)="openManagedUsers()">
                <sb-member-card [title]="'MORE_COUNT' | translate: {'%s':managedProfileList.length-2}"
                  [initial]="'...'">
                </sb-member-card>
              </div>
            </section>

          </section>
          <div *ngIf="managedProfileList.length > 2" class="another-user-title" (click)="addManagedUser()">
            <span class="add-sign">+</span> {{'ADD_ANOTHER_USER' | translate}}
          </div>
        </ng-container>
      </section>

      <ion-list class="sb-menu-list" lines="none">
       

        <ion-item (click)="emitSideMenuItemEvent($event, 'MY_GROUPS')">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/my_group.svg" aria-hidden="true" class="tool-icon" alt="my group">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'MY_GROUPS' | translate}}</span>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'MLREPORTS')" *ngIf="showReports">
            <span class="sb-menu-icon">
              <img src="./assets/imgs/Reports.png" aria-hidden="true" class="tool-icon" alt="reports">
            </span>
            <span class="sb-menu-item" role="button" menuClose>{{'FRMELEMNTS_LBL_MY_REPORTS' | translate}}</span>
             <div class="new-feature-badge">
              <div class="square-badge">New</div>
              <div class="circle-badge"></div>
            </div>
        </ion-item>

        <ion-item (click)="switchTabs()">
          <div class="beta-info">
            <span class="sb-menu-icon">
              <img src="./assets/imgs/ic_switch.svg" aria-hidden="true" class="tool-icon sb-menu-item-switch" alt="help">
            </span>
            <div><span *ngIf="currentSelectedTabs === 'HOME_DISCOVER_TABS_CONFIG'" class="sb-menu-item"
                menuClose>{{'FRMELEMNTS_LBL_SWITCH_TO_LIBRARY' | translate: {'appName': appName} }}</span>
              <span *ngIf="!currentSelectedTabs || currentSelectedTabs === 'RESOURCE_COURSE_TABS_CONFIG'"
                class="sb-menu-item"
                menuClose>{{'FRMELEMNTS_LBL_SWITCH_TO_HOME' | translate: {'appName': appName} }}</span>
              <span class="new-feature-badge"
                *ngIf="!currentSelectedTabs || currentSelectedTabs === 'RESOURCE_COURSE_TABS_CONFIG'">
                <div class="square-badge" *ngIf="!platform?.is('ios')">Beta</div>
                <div class="circle-badge"></div>
              </span></div>
          </div>
        </ion-item>

        <ion-item (click)="switchMode()">
          <span class="sb-menu-icon dark-mode-icon">
            <img src="./assets/imgs/darkmode.svg" aria-hidden="true"  class="tool-icon sb-menu-item-switch" alt="darkmode">
          </span>
          <span *ngIf="!isDarkMode" class="sb-menu-item" role="button" menuClose>{{'SWITCH_TO_DARK_MODE' | translate}}</span>
            <span *ngIf="isDarkMode" class="sb-menu-item" role="button" menuClose>{{'SWITCH_TO_DEFAULT' | translate}}</span>
            <div class="onoffswitch">
                <input type="checkbox" (click)="switchMode()" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" [(ngModel)]="isDarkMode">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
      </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'IMPORT')" *ngIf="!platform?.is('ios')">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/ic_import.png" aria-hidden="true" class="tool-icon" alt="import">
          </span>
          <span class="sb-menu-item" menuClose>{{'IMPORT_CONTENT' | translate}}</span>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'ORIENTATION')" *ngIf="isTablet">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/ic_rotate.svg" aria-hidden="true" class="tool-icon" alt="tablet">
          </span>
          <div class="sb-language">
            <div class="sb-menu-item" role="button">{{'ORIENTATION' | translate}}</div>
            <div class="sb-menu-item-language">{{orientationToSwitch}}</div>
          </div>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'LANGUAGE')">
          <span class="sb-menu-icon sb-pt-6">
            <img src="./assets/imgs/Language.png" aria-hidden="true" class="tool-icon" alt="select app langugae">
          </span>
          <div class="sb-language">
            <div class="sb-menu-item" role="button">{{'LANGUAGE' | translate}}</div>
            <div class="sb-menu-item-language">{{selectedLanguage}}</div>
          </div>
        </ion-item>

        <ion-item (click)="emitSideMenuItemEvent($event, 'SETTINGS')">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/Settings.png" aria-hidden="true" class="tool-icon" alt="app settings">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'SETTINGS' | translate}}</span>
        </ion-item>
        <ion-item (click)="emitSideMenuItemEvent($event, 'HELP')">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/Help.png" aria-hidden="true" class="tool-icon" alt="help">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'HELP' | translate}}</span>
        </ion-item>

        <ion-item role="button" (click)="emitSideMenuItemEvent($event, 'LOGIN')" *ngIf="!isLoggedIn && showLoginButton">
          <span class="sb-menu-icon">
            <ion-icon name="log-in-outline"></ion-icon>
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'SIGN_IN' | translate}}</span>
        </ion-item>
      
        <ion-item role="button" (click)="emitSideMenuItemEvent($event, 'LOGOUT')" *ngIf="isLoggedIn">
          <span class="sb-menu-icon">
            <img src="./assets/imgs/Sign_out.png" aria-hidden="true" class="tool-icon" alt="logout">
          </span>
          <span class="sb-menu-item" role="button" menuClose>{{'LOGOUT' | translate}}</span>
        </ion-item>

      </ion-list>
    </div>
  </ion-content>
  <ion-footer class="side-menu-footer" style="height: 6.063rem; padding: 26px">
    <div *ngIf="!isUpdateAvailable">
      {{'VERSION'| translate}} {{versionName}}.{{versionCode}}
    </div>
    <div *ngIf="isUpdateAvailable">
      <button class="sb-btn sb-btn-md sb-btn-primary PR35 W100 ellipsis text-uppercase btn-block continue"
        (click)="emitSideMenuItemEvent($event, 'UPDATE')">
        <img class="update-icon" src="./assets/imgs/ic_update.svg" alt="">
        <span>{{ 'APP_UPDATE' | translate: {'%s': appName} }}</span>
      </button>
    </div>
  </ion-footer>
</ion-menu>