@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/fonts.scss";

ion-icon {
    width: 30px;
    height: 30px;
    color: $primary-color;
}
.z-index-0 {
    z-index: 0;
  }
:host {
    ion-title.color {
        color:#024f9d;
        font-weight:bold;
    }
}

.sb-menu-list > ion-item {
    padding: 3px 0;
}

.new-feature-badge{
    color: #FFFFFF;
    margin-left: 8px;
    background-color: #FFA11D;
    font-size: 10px;
    height: 16px;
    .square-badge{
        padding: 0 8px;
        float: left;
    }
    .circle-badge{
        float: right;
        border: 1px solid white;
        border-radius: 16px 0 0 16px;
        background-color: white;
        height: 16px;
        width: 16px;
    }
}