@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/fonts.scss";
@import "src/assets/styles/_variables.scss";

ion-icon {
    width: 2rem;
    height: 1.88rem;
    color: $primary-color;
}
.z-index-0 {
    z-index: 0;
  }
:host {
    ion-title.color {
        color:$blue;
        font-weight:bold;
    }
}

.sb-menu-list > ion-item {
    padding: 0.188rem 0;
}

.new-feature-badge{
    color: map-get($colors, white);
    margin-left: 8px;
    background-color: map-get($colors, bright_red);
    background-color: #B30012;
    font-size: 0.5rem;
    font-weight: bold;
    height: 0.75rem;
    display: inline-flex;
    .square-badge{
        padding: 1px 6px;
        float: left;
        line-height: 1.5;
    }
    .circle-badge{
        float: right;
        border: 1px solid map-get($colors, white);
        border-radius: 16px 0 0 16px;
        background-color: map-get($colors, white);
        height: 0.75rem;
        width: 1rem;
    }
}

.user-container{
    padding: 8px;
    background-color: $light-blue;

    .use-app-label{
        color: map-get($colors, granite_gray);
        font-family: "Noto Sans", serif;
        font-size: $font-size-base;
        letter-spacing: 0;
        line-height: 0.875rem;
        margin: 8px 8px 0;
    }

    .managed-user-container {
        display: -webkit-box;
        text-align: center;

        .mu-card {
            flex: 0 0 33.33%;
        }
    }
}

.another-user-title{
    background-color: map-get($colors, light_grayish_green);
    color: $green;
    font-family: "Noto Sans", serif;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1rem;
    padding: 12px 16px;
}

.add-sign{
    font-size: 1.5rem;
    padding: 0 4px ;
}

.sb-menu-item-switch{
    position: relative;
    top: 0.313rem;
}
.badge-container{
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    background: var(--app-tertiary);
    color: white;
    font-size: 0.563rem;
    padding-bottom: 3px;
    border-radius: 6px;
}

.update-icon {
    height: auto;
    float: left;
    margin-right: 16px;
}

.beta-info {
    display: grid;
    grid-template-columns: auto auto
}
  // Modified CSS for on/off switch
  .onoffswitch {
    position: relative;
    width: 2.563rem;
    margin-left: 8px;
    font-size: 0.5rem;
    font-weight: 700;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  
  .onoffswitch-checkbox {
      display: none;
  }
  
  .onoffswitch-label {
      display: block; 
      overflow: hidden; 
      cursor: pointer;
      border: 1px solid #fff; 
      border-radius: 20px;
      margin-bottom: auto;
  }
  
  .onoffswitch-inner {
      width: 200%; margin-left: -100%;
      -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
      -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
  }
  
  .onoffswitch-inner:before, .onoffswitch-inner:after {
      float: left; width: 50%; height: 0.938rem; padding: 0; line-height: 0.938rem;
      font-size: 0.5rem; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  
  .onoffswitch-inner:before {
      content: "ON";
      padding-left: 8px;
      background-color: #008000; color: #FFFFFF;
  }
  
  .onoffswitch-inner:after {
      content: "OFF";
      padding-right: 8px;
      background-color: #AD0011; color: #fff;
      text-align: right;
  }
  
  .onoffswitch-switch {
      width: 0.813rem; margin: 1px;
      height: 1rem;
      background: #fff!important;
      border: 1px solid #fff; border-radius: 20px;
      position: absolute; top: -0.031rem; bottom: 0; right: 1.625rem;
      -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
      -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
  }
  
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
  }
  
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px; 
  }
  .dark-mode-icon{
      height: 2.25rem !important;
  }
  