@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
:host {
    .progress-outer {
        width: 100%;
        text-align: center;
        background-color: map-get($colors, light_gray);
        color: map-get($colors, white); // border-radius: 20px;
    }
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px; // border-radius: 20px;
        background-color: map-get($colors, primary);
    }
    .progress-inner-onboard {
        // min-width: 0;
        // white-space: nowrap;
        // overflow: hidden;
        // padding: 2px;
        // border-radius: 0;
        // background-color: map-get($colors, primary);
        background-color: #008000;
    }
    .progress-inner-primary {
        background-color: map-get($colors, primary);
    }
    .progress-inner-secondary {
        background-color: map-get($colors, secondary);
    }
}