<ion-content *ngIf="project">
  <ion-card class="project-box" *ngIf="showDetails">
    <ion-card-header class="custom-filed">
      <ion-icon name="caret-down-outline" (click)="toggle()"></ion-icon>
      <ion-label>{{'FRMELEMNTS_LBL_PROGRAM_NAME' | translate}} :
      </ion-label>{{project?.programName}}
    </ion-card-header>
    <ion-card-content>
      <div class="custom-filed">
        <ion-label> {{'FRMELEMNTS_LBL_PROJECT_TITLE' | translate}} : </ion-label>
        {{project?.title}}
      </div>
      <div class="custom-filed">
        <ion-label position="fixed"> {{'FRMELEMNTS_LBL_OBJECTIVE' | translate}} : </ion-label>
        {{project?.description}}
      </div>
      <div class="custom-filed" *ngIf="project?.duration">
        <ion-label position="fixed"> {{'FRMELEMNTS_LBL_DURATION' | translate}} : </ion-label>
        {{project?.duration?.label || project?.duration }}
      </div>
      <div class="custom-filed" *ngIf="project?.startDate">
        <ion-label position="fixed"> {{'FRMELEMNTS_LBL_START_DATE' | translate}} : </ion-label>
        {{project?.startDate | date : 'dd/MM/yyyy' }}
      </div>
      <div class="custom-filed" *ngIf="project?.endDate">
        <ion-label position="fixed"> {{'FRMELEMNTS_LBL_END_DATE' | translate}} : </ion-label>
        {{project?.endDate | date : 'dd/MM/yyyy' }}
      </div>
      <ion-row class="custom-filed" *ngIf="project?.status">
        <ion-col size="5">
          <ion-label position="stacked"> {{'FRMELEMNTS_LBL_PROJECT_STATUS' | translate}} </ion-label>
        </ion-col>
        <ion-col size=5 class="status-bar">
          <ion-progress-bar value="1" color="success" *ngIf="project.status == statuses[2].title"></ion-progress-bar>
          <ion-progress-bar value="0.5" color="warning" *ngIf="project.status == statuses[1].title"></ion-progress-bar>
          <ion-progress-bar value="1" color="medium" *ngIf="project.status == statuses[0].title">
          </ion-progress-bar>
          {{project.status | camelToTitle}}
        </ion-col>
      </ion-row>
      <div class="custom-filed" *ngIf="project?.learningResources?.length">
        <ion-label position="fixed"> {{'FRMELEMNTS_LBL_LEARNING_RESOURCES' | translate}} : </ion-label>
        <a (click)="openResources()"> {{'FRMELEMNTS_LBL_CLICK_HERE_TO_VIEW_LIBRARY' | translate}}</a>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="project-box" *ngIf="!showDetails">
    <ion-card-header class="custom-filed">
      <ion-icon name="caret-forward-outline" color="primary" (click)="toggle()"></ion-icon>
      <ion-label> {{'FRMELEMNTS_LBL_PROJECT_TITLE' | translate}} : </ion-label>
      {{project?.title}}
    </ion-card-header>
    <ion-card-content>
      <ion-row class="custom-filed">
        <ion-col size="5">
          <ion-label position="stacked"> {{'FRMELEMNTS_LBL_PROJECT_STATUS' | translate}} </ion-label>
        </ion-col>
        <ion-col size="5" class="status-bar">
          <ion-progress-bar value="1" color="success" *ngIf="project.status == statuses[2].title"></ion-progress-bar>
          <ion-progress-bar value="0.5" color="warning" *ngIf="project.status == statuses[1].title"></ion-progress-bar>
          <ion-progress-bar value="1" color="medium" *ngIf="project.status == statuses[0].title"></ion-progress-bar>
          {{project.status | camelToTitle}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row class="ion-padding" *ngIf="sortedTasks">
    <ion-col size="6" class="text-left">
      {{'FRMELEMNTS_LBL_TOTAL_TASKS' | translate}} : {{taskCount}}
    </ion-col>
    <ion-col size="6" class="text-right">
      {{categories}}
    </ion-col>
  </ion-row>
  <div *ngIf="sortedTasks" class="task-list">
    <div *ngFor="let schedule of schedules">
      <h3 *ngIf="sortedTasks[schedule.value].tasks.length > 0" class="date-label">{{schedule.title | translate}}</h3>
      <div *ngFor="let task of sortedTasks[schedule.value].tasks">
        <ion-card class="tasks-box" *ngIf="!task.isDeleted">
          <ion-row class="task-list">
            <ion-col size="1" class="left-border pending-task-left-border"
              [ngClass]="{'completed-task-left-border' : task.status === 'completed','pending-task-left-border' : task.status === 'notStarted'}">
            </ion-col>
            <ion-col size="10" (click)="action('editTask',task._id)">
              <h5>{{task.name}}</h5>
              <div class="date_button-container">
                <h5 class="task-endDate">
                  {{'FRMELEMNTS_LBL_END_DATE' | translate}} :
                  {{(task?.endDate) ? (task.endDate | date : 'dd/MM/yyyy') : "__"}}
                </h5>
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="ellipsis-vertical-outline" color="primary" (click)="openPopover($event,task)">
              </ion-icon>
            </ion-col>
          </ion-row>
          <div class="viewBtn">
            <ion-button size="small" *ngIf="task?.type=='content'&&task?.learningResources?.length"
              (click)="$event.stopPropagation();openResources(task)">
              {{'FRMELEMNTS_LBL_VIEW_RESOURCES' | translate}}
            </ion-button>
            <ion-button size="small"
              *ngIf="(task?.type=='assessment' || task?.type=='observation')&&task?.status!='completed' "
              (click)="$event.stopPropagation();startAssessment(task)">
              {{'START' | translate}} {{task?.type}}
            </ion-button>
            <ion-button size="small"
              *ngIf="(task?.type=='assessment' || task?.type=='observation')&&task?.status=='completed' "
              (click)="$event.stopPropagation();checkReport(task)">
              {{'FRMELEMNTS_LBL_REPORTS' | translate}}
            </ion-button>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
  <ion-fab horizontal="center" class="add-task-btn" *ngIf="taskCount < 2">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    {{'FRMELEMNTS_LBL_NEW_TASK' | translate}}
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" class="add-task-btn" *ngIf="taskCount > 1" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    {{'FRMELEMNTS_LBL_NEW_TASK' | translate}}
  </ion-fab>
</ion-content>