<ion-content *ngIf="project">
  <app-project-metadata-card [showDetails]="showDetails" [project]="project" [viewOnlyMode]="viewOnlyMode" [statuses]="statuses"
    (openResourcesClick)="openResources()" (toggleClick)="toggle()">
  </app-project-metadata-card>

  <ion-row class="ion-padding" *ngIf="sortedTasks">
    <ion-col size="6" class="text-left">
      {{'FRMELEMNTS_LBL_TOTAL_TASKS' | translate}} : {{taskCount}}
    </ion-col>
    <ion-col size="6" class="text-right">
      {{categories}}
    </ion-col>
  </ion-row>
  <ion-button (click)="goToDetails()"> Go to Template page
  </ion-button>
  
  <app-project-task-list *ngIf="sortedTasks" 
  [sortedTasks]="sortedTasks" [schedules]="schedules" [viewOnlyMode]="viewOnlyMode"
  (actionClick)="!viewOnlyMode && action($event.event,$event.task)" 
  (openPopoverClick)="openPopover($event.event,$event.task)" 
  (openResourcesClick)="openResources($event.task)" 
  (startAssessmentClick)="startAssessment($event.task)" 
  (checkReportClick)="checkReport($event.task)"></app-project-task-list>
  
  <ion-fab horizontal="center" class="add-task-btn" *ngIf="taskCount < 2 && !viewOnlyMode">
    <ion-fab-button (click)="addTask()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    {{'FRMELEMNTS_LBL_NEW_TASK' | translate}}
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" class="add-task-btn" *ngIf="taskCount > 1 && !viewOnlyMode" slot="fixed">
    <ion-fab-button (click)="addTask()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    {{'FRMELEMNTS_LBL_NEW_TASK' | translate}}
  </ion-fab>
</ion-content>
<ion-footer *ngIf="project && viewOnlyMode">
  <ion-button expand="block" (click)="importProjectConfirm()" *ngIf="!project.projectId || !project.projectId.length">
    {{'FRMELEMNTS_BTN_IMPORT_PROJECT' | translate}}
  </ion-button>
  <!-- goToProjectDetails -->
  <ion-button expand="block" (click)="goToProjectDetails()" *ngIf="project.projectId && project.projectId.length">
    {{'FRMELEMNTS_BTN_PROJECT_IMPORTED' | translate}}
  </ion-button>
</ion-footer>