@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
@import "src/assets/styles/fonts.scss";

:host {
  .rounded {
    border-radius: 50%;
  }

  .gm-item-background {
    --padding-start: 0px;
    background-color: map-get($colors, light_gray) !important;
    --background: map-get($colors, light_gray) !important;
    border-radius: 6px;
  }
  
  .gm-title-color {
    color: map-get($colors, title) !important;
  }
  .gm-primary-color {
    color: map-get($colors, primary) !important;
  }
  .gm-float-right {
    float: right;
    font-weight: 600 !important;
  }
  
  .checkbox-inner {
      @include ltr() {
        left: 7px;
      }
      @include rtl() {
        right: 7px;
      }

    top: 4px;
    position: absolute;
    width: 4px;
    height: 9px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: map-get($colors, dark_gray);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkbox-ios .checkbox-icon {
    background-color: transparent !important;
  }
  // .checkbox-ios .checkbox-checked {
  //   background-color: map-get($colors, primary) !important;
  // }
  .image-style {
    margin-top: 20vh;
    width: 50%;
  }
  .rm-padding-right {
    @include padding(null, 0, null, null !important);
  }
  .rm-padding-left {
    @include padding(null, null, null, 0 !important);
  }

  ion-button.color,ion-title.color {
    color:#024f9d;
    font-weight:bold;
  }
}
