<ion-content overflow-scroll="true">
  <div class="sb-textbook-container">
    <div class="sb-textbook-items">
      <div class="sb-textbook-title-container">
        <span class="textbook-icon">
          <ion-icon ios="ios-albums" md="md-albums"></ion-icon>
        </span>
        <span class="textbook-title">
          {{subjectName}}
        </span>
      </div>
      <!-- Card style -->
      <div class="sb-card-container sb-card-textbook-container">
        <div class="sb-card-loop" *ngFor="let content of contentList; let i = index">
          <sb-library-card [content]="content" [type]="LibraryCardTypes.MOBILE_TEXTBOOK"
            (click)="navigateToDetailPage(content, i, content.name)"
            [cardImg]="commonUtilService.getContentImg(content)">
          </sb-library-card>
        </div>
      </div>
    </div>
  </div>

</ion-content>