:host {
  .sb-textbook-container{
    width: 100% !important;
  }
  .sb-textbook-title-container{
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

.scroll_up {
  position: fixed;
  bottom: 0.6rem;
  right: 0.6rem;

  ion-icon {
    color: lightblue;
    zoom: 2;
  }
}
