<ion-content #contentView overflow-scroll="true">
  <div class="sb-textbook-container p-0 m-0">
    <div class="sb-textbook-items">
      <div class="sb-textbook-title-container">
        <span class="textbook-icon">
          <ion-icon name="albums"></ion-icon>
        </span>
        <span class="textbook-title">
          {{subjectName}}
        </span>
      </div>
      <!-- Card style -->
      <div class="sb-card-container  sb-card-textbook-container">
        <div class="mb-1" *ngFor="let content of contentList; let i = index">
          <sb-library-card [content]="content" [type]="LibraryCardTypes.MOBILE_TEXTBOOK"
            [layoutConfig]="{layout: 'v3'}"
            (click)="navigateToDetailPage(content, i, content.name)"
            [cardImg]="commonUtilService.getContentImg(content)">
          </sb-library-card>
        </div>
        <ion-button class="view-more custom-btn-txt-transform-none" expand="block" (click)="loadData($event)" *ngIf="contentList?.length > 0  && (viewMoreTotalCount > contentList?.length)">
          {{ 'VIEW_MORE' | translate }} 
          </ion-button>
      </div>
    </div>
  </div>
  <!-- scroll up -->
  <!-- <div class="scroll_up" (click)="scrollUp()" *ngIf="contentList && contentList.length">
    <ion-icon name="arrow-up-circle-outline"></ion-icon>
  </div> -->
</ion-content>