@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_variables.scss";
:host{
    .toolbar-md{
        min-height: auto;
    }
    .card-container{
        margin-bottom: 20px;
        padding: 0 !important;
    }
    
    .P010{
        padding:0 10px;
    }
    
    .PT0{
        padding-top: 0 !important;
    }
    
    [dir="ltr"] .card-content-md, [dir="rtl"] .card-content-md{
        padding: 5px !important;
    }
    .badge {
        @include padding(5px, 15px);
        color: map-get($colors, primary_black);
        border-radius: 100px;
        border: solid 0.5px map-get($colors, pale_cyan);
        font-size: 0.688rem;
        @include margin(null, 10px, null, null);
    }
    .sc-ion-card-md-h.sc-ion-card-md-s  {
        border-radius: 4px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
        background-color: map-get($colors, white);
        border: solid 0.5px map-get($colors, medium_gray);
        position: relative;
        .card-content-md {
            padding: 7px !important;
        }
        .button.button-block.button-block-md {
            margin: 0;
            border-radius: 0px !important;
        }
    
        .author {
            font-size: 0.688rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: map-get($colors, granite_gray);
        }
    
        .size{
            font-size: 0.688rem;
            color: map-get($colors, granite_gray);
        }
    
        .name, .author{
            margin-bottom: 5px;
        }
    
        .name{
            // min-height: 48px;
            display: -webkit-box;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 0.875rem !important;
            color: map-get($colors, primary_black);
            min-height: 2rem;
        }
    
        .bottom-fix{
            position: absolute;
            bottom: 0;
        }
    
        
    
        .top {
            min-height:15vh; 
            // background: #E9E9E9;
            .img-container {
                border: 1px solid map-get($colors, pale_cyan);
                padding: 0 !important;
                background: map-get($colors, white_e9);
                min-height: 18vh;
                max-height: 18vh;
                border-radius: 4px;
                img {
                    max-height: 100%;
                    margin: 0 auto;
                    width: auto;
                    transform: translateY(-56%);
                    position: relative;
                    top: 50%;
                }
            }
            
        }
    }
    
    ul.breadcrumbs{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            color: map-get($colors, primary_blue);
            font-weight: bold !important;
            font-size: 0.625rem;
        }
    
    
        li:after{
            content: '\003e';
            color: map-get($colors, dark_gray);
            height: 0;
            width: 0;
            margin: 0 5px;
        }
        li:last-child:after{
            content: none;
        }
        
    }
    
    .custom-btn, .default{
        background-color: map-get($colors, vived_blue_fe);
        color: map-get($colors, white);
    }

    .default {
        color: map-get($colors, white);
    }
    
    .custom-btn.play .arrow-right{
        width: 0; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 14px solid map-get($colors, white);
        margin-right: 8px;
    }
    
    .loading-backdrop {
        .backdrop-container {
            width: 100%;
            padding: 16px;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -50px;
        }
    
        .backdrop-footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-bottom: 16px;
        }
    
        background-color: map-get($colors, white);
        height: 100%;
        z-index: 1000;
        opacity: 1 !important;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .downloadicon {
        display: inline-block;
        font-size: 1.1rem;
        margin-top: -2px;
        font-weight: 700;
        vertical-align: middle;
    }
    .qr-result-btn{
        display: block;
        width: 100%;
        padding: $base-block-space * 1;
        font-weight: 700;
        height: 3.2rem;
    }
    .sb-chapter-dd{
        @include clearfix;
        color: $blue;
        font-weight: bolder;
        box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.05);
        background-color: map-get($colors, white);
        position: relative;
        z-index: 10;
        padding: 8px 8px 0px 16px;
        font-size: 1.25rem;
        .pull-left{
          line-height: 1.88rem;
        }
        ion-icon{
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 12px;
          font-size: 1.75rem;
          color: orangered;
        }
    }
    .offline{
        opacity: 0.5;
    }   
    
    .download-disabled{
        opacity: 0.5 !important;
        cursor: default;
      }

    .play-btn-info{
        position: absolute;
        margin-top: 2px;
    }
}
    
    
    
