@import "src/assets/styles/_variables.scss";
.header-info {
  background-color: $blue;
}
.btn-info{
  display: flex;
  padding: 12px;
  text-align: center;
}

.letsgo-info{
  color: white;
  background-color: $blue;
  font-size: 1rem;
  padding: 12px 0;
  margin-left: 18px;
  border: 2px solid $blue;
  width: 57vw;
  float: right;
  border-radius: 20px !important;
}

.theme-header-info {
  margin-top: 0px;
  color: map-get($colors, white); 
  padding: 1rem 0.5rem 0 1rem;
}

.close-icon-info {
  float: right;
  background-color: aliceblue;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 6px;
  margin-top: 5px;
  padding: 5px;
}
.learning-info{
  color: white;
  padding: 8px 8px 0px 16px
}
.chng-theme-text{
  padding: 8px
}
img.arrow-icon{
  display: inline-block;
  width: 1.125rem;
  margin-top: -3px;
  margin-left: 10px;
  &.animate {
    position: relative;
    animation: dropDown 5s linear infinite;
    animation-duration: 0.9s;
  }
}

.cancel_info{
  color: $blue !important;
  background-color: white;
  font-size: 1rem;
  padding: 14px 0;
  width: 21vw;
}
.btn-text{
  padding: 12px
}

.newExperience {
  display: flex;
  justify-content: center;
}