<ion-content>
  <h4 class="subtitle ion-padding ion-no-margin">{{ 'AVAILABLE_FILTERS' | translate }} </h4>
  <div *ngIf="facetsFilter && facetsFilter.length">
    <div *ngFor="let facet of facetsFilter">
      <div class="flex-card-container filter-item" (click)="openFilterOptions(facet)">
        <div class="card-text">
          <ion-label *ngIf="facet.name" class="ion-text-capitalize">{{ facet?.name | translate  }}</ion-label>
          <ion-label *ngIf="facet.orgName" class="ion-text-capitalize">{{ facet?.orgName | translate  }}</ion-label>
          <ion-label class="text-end">{{ getSelectedOptionCount(facet) }}</ion-label>
        </div>
        <div class="card-icon">
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button fill="outline" expand="block" (click)="cancel()"> {{ 'CANCEL' | translate }}</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" (click)="apply()"> {{ 'APPLY' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>