@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
:host {
    .subtitle {
      text-transform: capitalize;
      font-size: 1.3rem;
      font-weight: 700 !important;
      color: map-get($colors, primary_black);
    } 
    .filter-item {
      width: auto;
      margin: 16px !important;
      background-color: map-get($colors, white_f0);
      color: map-get($colors, dark_gray);
      font-size: 1rem;
      font-weight: 600 !important;
      height: 2rem;
      ion-icon {
        color: map-get($colors, dark_gray);
      }
    }
    .apply-button {
      margin: 16px !important;
      width: 90%;
    }
     
    .scroll-list {
      overflow-y: scroll;
      max-height: 50vh !important;
      padding-bottom: 10vh !important;
    }
    .item-inner>ion-icon {
      min-height: 2rem !important;
      font-size: 2rem !important;
    }
    .item-inner {
      @include padding(null, 0, null, null !important);
    }
  }
  
  .resource-filter::part(content) {
    margin: 0;
    width: 100% !important;
    max-height: 70% !important;
    box-shadow: unset;
    position: fixed;
    @include ltr() {
      left: 0 !important;
    }
  
    @include rtl() {
      right: 0 !important;
    }
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
  }
  
  .resource-filter ion-backdrop {
    background-color: map-get($colors, black) !important;
    opacity: 0.4 !important;
  }
  .item-native {
    width: auto;
    margin: 16px !important;
    background-color: map-get($colors, white_f0);
    color: map-get($colors, dark_gray);
    font-size: 1rem;
    height: 2rem;
    padding-top: 0.5em;
  }
  .text-end {
    float: right;
  } 

  .flex-card-container {
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items:center !important;
    justify-content:center !important;
    background-color: map-get($colors, white_f1);
    padding: 23px;
    margin-bottom: 12px;
    .card-text {
      width: 100%;
    }
    .card-icon{
      width: 1.25rem;   
    }
  } 
  .filter-item {
    width: auto;
    margin: 16px !important;
    background-color: map-get($colors, white_f0);
    color: map-get($colors, dark_gray);
    font-size: 1rem;
    font-weight: 600 !important;
    height: 2rem;
    ion-icon {
      color: map-get($colors, dark_gray);
    }
  }