@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/variables";
@import "src/assets/styles/_variables.scss";
:host {
  .card-content-bottom-0 {
    padding-bottom: 0px !important;
  }

  .card-content-top-0 {
    padding-top: 0px !important;
  }

  .font-12 {
    font-size: 0.75rem !important;
  }
  .text-transform-none {
    text-transform: none !important;
  }
}

.card-box-shadow {
  box-shadow: 0px 5px 5px 3px map-get($colors, light_gray_dd);
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: #{$blue};
}
.margin-r-10{
  margin-right:10px;
}
.mg-popup-btn-icon{
  font-size: $font-size-base;
  margin: auto;
  color: $primary-800;
}