<ion-app>
  <ion-content fullscreen>
    <ion-card class="card-box-shadow">
      <ion-card-content class="card-content-bottom-0 card-content-top-0">
        <ion-segment class="d-flex" [(ngModel)]="currentTab" (ionChange)="tabChange($event.detail.value)">
          <ion-segment-button value="all" class="flex-5">
            <ion-label class="font-12 text-transform-none title">{{ 'ALL' | translate }}</ion-label>
          </ion-segment-button>
          <div class="hr-div">
            <hr class="hr-height" />
          </div>
          <ion-segment-button value="inProgress" class="flex-5">
            <ion-label class="font-12 text-transform-none title">{{
              'FRMELEMNTS_LBL_IN_PROGRESS' | translate
            }}</ion-label>
          </ion-segment-button>
          <div class="hr-div">
            <hr class="hr-height" />
          </div>
          <ion-segment-button value="completed" class="flex-5">
            <ion-label class="font-12 text-transform-none title">{{ 'COMPLETED' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>

    <div
      *ngFor="let submission of submissions"
      (click)="submission?.downloaded === true ? goToEcm(submission) : getAssessmentDetails(submission)"
    >
      <app-item-list-card [title]="submission?.title" subTitle="{{ submission?.createdAt | date }}">
        <ion-icon class="mg-popup-btn-icon" name="ios-arrow-round-forward" arrow></ion-icon>
        <ion-button
          report
          round
           *ngIf="(submission?.status === 'completed') || (submission?.status === 'ratingPending')"
          (click)="$event.stopPropagation(); openMenu($event, submission, i)"
        >
          {{ 'FRMELEMNTS_LBL_REPORTS' | translate }}
        </ion-button>
        <!-- //TODO:Add report and more icon -->
      </app-item-list-card>
    </div>

    <!-- //TODO REMOVE----------- -->
    <div (click)="submission?.downloaded === true ? goToEcm(submission) : getAssessmentDetails(submission)">
      <app-item-list-card [title]="'Report'" subTitle="{{ '30 December-2020' }}">
          <ion-button
          report
          round
           
          (click)="$event.stopPropagation(); openMenu($event, submission=1234, i=1)"
        >
          {{ 'FRMELEMNTS_LBL_REPORTS' | translate }}
        </ion-button>
      </app-item-list-card>
    </div>
    <!-- //TODO Till Here---------- -->
  </ion-content>
</ion-app>
