@import "src/assets/styles/_variables.scss";
:host {
  .label-font {
    color: $gray-800 !important;
    font-family: "Noto Sans" !important;
    font-size: 22px !important;
    font-weight: normal;
  }

  .padding-12 {
    padding: 12px !important;
  }

  .cr-error-checkbox{
    margin: 0 0 0 34px;
    line-height: 13px;
  }

  .char-info{
    display: block;
    text-align: right;
    width: 100%;
    font-size: 12px;
    padding-top: 4px;
    color: $gray-300;
  }
  

  ion-item {
    // --border-color: var(--ion-color-danger, #f1453d);
  }

  .sb-btn-large{
    &.inactive{
      background-color: $gray-200;
    }
    img{
      margin-right: 8px;
      position: relative;
      bottom: 2px;
    }
  }

  .item-label-stacked ion-input {
    margin-top: 16px;
    padding-left: 16px !important;
    padding-right: 16px !important;
    font-size: 14px;
  }

  .item-label-stacked .cr-desc {
    margin-top: 16px;
    padding: 0 16px;
    border: 1px solid $gray-800 !important;
    border-radius: 2px;
  }
  

  .cr-input-primary ion-input{
    border: 1px solid $gray-800;
    border-radius: 2px;
  }

  .cr-input-error ion-input{
    border: 1px solid $red;
  }

  ion-item.item-label-stacked {
    --border-width: 0;
    --highlight-background: transparent;
  }

  // .item-select ion-label {
  //   color: #006de5;
  // }
  ion-checkbox{
    &.cr-terms-checkbox{
      --ion-color-base: green !important;
    }
  }
  .cr-terms-container{
    padding: 0 16px;
    font-size: 14px;
    .cr-terms-checkbox-label{
      margin-left: 16px;
      display: inline-block;
      vertical-align: super;
      margin-bottom: 0;
    }
    .cr-terms{
      color: $blue;
    }
  }
  ion-label {
    color: $gray-800;
    font-family: "Noto Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    sup{
      font-size: 22px;
      top: 0px;
      margin-left: 4px;
      color: $red;
    }
  }

}

.cr-title{
  font-size: 16px;
  font-weight: bold;
  color: $blue;
  margin: 16px 16px 0;
}

.cr-input-title{
  color: $gray-800;
  font-family: "Noto Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  margin: 16px 0 8px;
}

.cr-input-box{
  border: 0.5px solid $gray-800;
  border-radius: 2px;
  ion-input{
    margin: 0 8px;
  }
}

.cr-error{
  margin-top: 8px;
  display: block;
  font-size: 12px;
  color: $red;
  line-height: 10px;
}

.input-item{
  padding-top: 8px;
}
