@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";

.title{
    font-size: 1rem;
    font-weight: bold;
    color: #{$blue};
    word-break: break-all;
}


.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 1rem;
    height: 1.4rem;
    white-space: nowrap;
    flex-grow: 1;
}

ion-card-header {
    padding-bottom: 2px;
}

.card-container{
    padding-top: 8px;
    padding-bottom: 8px;
    background: #ffffff;
}

.alterCard{
    border-bottom-left-radius: initial !important;
    border-bottom-right-radius: initial !important;
    margin-bottom: 2px;
  }
  