@import "src/assets/styles/_variables.scss";

:host {
  .merged-input-container {
    border: 1px solid $form-input-border-active-color;
    display: flex;
    flex: 1 1 auto;
    border-radius: 4px;
    .decorator {
      display: inline-block;
      max-width: 2.813rem;
    }
  }

  .ecv-header {
    background-color: #{$blue};
    color: map-get($colors, white);
    padding: 16px 0;
  }

  ion-button{
    --background: #{$blue} !important;
    color: map-get($colors, white);
    --background-hover: #{$blue} !important;
    --background-activated: #{$blue} !important;
  }

  ion-button[fill="outline"]{
    --background: map-get($colors, white) !important;
    color: #{$blue};
    --border-color: #{$blue};
  }

  ion-button[fill="clear"]{
    --background: map-get($colors, white) !important;
    color: #{$blue};
  }
}

