<ion-content>
  <div class="ecv-header ion-text-center">
    <h6 class="M0">{{title | titlecase}}</h6>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="text-center ion-no-padding">
        <p class="f14" style="color: #4a4a4a">{{description}}</p>
      </ion-col>
      <section class="text-center W100" *ngIf="type==='phone'">
        <ion-label class="font-weight-bold ion-text-center">{{'ENTER_OTP' | translate}}</ion-label>
        <ion-col size="12" class="text-center ion-no-padding" *ngIf="invalidOtp">
          <p class="error">{{'ERROR_OTP' | translate:{'%s': remainingAttempts} }}</p>
        </ion-col>
        <ion-col size="12" class="text-center ion-no-padding">
          <div class="W100 merged-input-container MT10">
            <ion-input type="tel" placeholder="{{'OTP_PLACEHOLDER' | translate }}" class="form-control"
              [(ngModel)]="otp"></ion-input>
          </div>
        </ion-col>
      </section>
      <section class="text-center W100" *ngIf="type==='email'">
        <ion-row>
          <ion-col size="12" class="text-center ion-no-padding">
            <strong>{{'ENTER_OTP' | translate}}</strong>
          </ion-col>
          <ion-col size="12" class="text-center ion-no-padding" *ngIf="invalidOtp">
            <p class="error">{{'ERROR_OTP' | translate:{'%s': remainingAttempts} }}</p>
          </ion-col>
          <ion-col size="12" class="text-center ion-no-padding">
            <div class="W100 merged-input-container MT10">
              <ion-input type="tel" placeholder="{{'OTP_PLACEHOLDER' | translate }}" class="form-control"
                [(ngModel)]="otp"></ion-input>
            </div>
          </ion-col>
        </ion-row>
      </section>
      <ion-col size="12" class="text-center ion-no-padding">
        <ion-button fill="clear" (click)="resendOTP();" [disabled]="!enableResend">{{'RESEND_OTP' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col class="ion-padding">
      <ion-button expand="block" fill="outline" (click)="cancel()">{{ 'CANCEL' | translate }} </ion-button>
    </ion-col>
    <ion-col class="ion-padding">
      <ion-button expand="block" (click)="verify()">{{ 'BTN_SUBMIT' | translate }} </ion-button>
    </ion-col>
  </ion-row>
</ion-content>