table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background:white
}

th,
td {
  text-align: left;
  padding: 12px 4px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.expansionPanel {
  border-radius: 10px;
  width: 100%;
  margin: 16px 0px !important;
  padding: 0px !important;
}

.assess {
  flex: 0;
  //   padding: 2px 2.2px;
  text-align: -webkit-center;
}
