<ion-card class="sb-dt-card">
  <ion-card-header class="flex-dc d-flex flex-basis-1">
    <div class="d-flex flex-ai-center flex-jc-space-between">
      <div class="w-70">
        <ion-card-title>{{data?.title}}</ion-card-title>
        <ion-card-subtitle>{{data?.subTitle | titlecase}}</ion-card-subtitle>
      </div>
      <div> <ng-content select="[certificate]"></ng-content> </div>
    </div>
  </ion-card-header>
  <ion-card-content class="sb-content-info">
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>