<ion-list class="wrapper">
  <ion-button
    fill="clear"
    ion-item
    clear
    small
    padding-left
    class="_flex-box _justify-content-center"
    (click)="navigateToScoreReport()"
  >
    {{ 'FRMELEMNTS_BTN_REPORT_WITH_SCORE' | translate }}
  </ion-button>
  <ion-button
    fill="clear"
    ion-item
    clear
    small
    padding-left
    class="_flex-box _justify-content-center"
    (click)="navigateToWithoutScoreReport()"
  >
    {{ 'FRMELEMNTS_BTN_REPORT_WITHOUT_SCORE' | translate }}
  </ion-button>
</ion-list>
