<ion-content hide-header-footer class="main-container avoid-bottom-tabs-space" (ionScrollEnd)="logScrollEnd($event)"
  scrollEvents="true" #contentView>
  <div slot="fixed" class="fixed-container">
    <sb-library-filters [list]="categoryMediumNamesArray" [selectedItems]="mediumsSelected"
      [layout]="mediumFilterLayout" (selectedFilter)="mediumClickEvent($event, true)">
    </sb-library-filters>
    <sb-library-filters [list]="categoryGradeLevelsArray" [selectedItems]="classSelected" [layout]="classFilterLayout"
      (selectedFilter)="classClickEvent($event, true);">
    </sb-library-filters>
  </div>
  <div class="scrollable-container">
    <ion-refresher #libraryRefresher slot="fixed" (ionRefresh)="swipeDownToRefresh($event)"></ion-refresher>

    <ion-list class="m-n" *ngIf="showLoader || refresh" style="padding-top: 100px;">
      <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
      <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
        <ion-avatar item-start>
          <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
        </ion-avatar>
        <ion-label style="padding-left: 40px;">
          <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
          <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="sb-course-container" *ngIf="courseList.length">
      <sb-course-cards-hlist [multiRow]="courseList.length > 3" [contentList]="courseList"
        [type]="'curiculum_course_card_grid'" [title]="'COURSES' | translate" [isLoading]="isLoading"
        (cardClick)="onCourseCardClick($event)" [maxCardCount]="20">
      </sb-course-cards-hlist>
    </div>
    <div *ngIf="searchApiLoader" class="sb-course-container">
      <sb-course-cards-hlist [type]="curiculum_course_card_grid" [isLoading]="searchApiLoader">
      </sb-course-cards-hlist>
    </div>

    <ion-list class="m-n" *ngIf="searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
      <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
        <ion-avatar item-start>
          <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
        </ion-avatar>
        <ion-label style="padding-left: 40px;">
          <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
          <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
        </ion-label>
      </ion-item>
    </ion-list>

    <div [ngClass]="{'sb-course-container': courseList.length === 0}" class="sb-course-heading"
      *ngIf="storyAndWorksheets && storyAndWorksheets.length">{{'TEXTBOOK' | translate}}
    </div>
    <div *ngFor="let items of storyAndWorksheets">
      <div class="sb-textbook-container" *ngIf="items?.contents && items?.contents?.length">
        <sb-library-cards-stack [title]="items?.name" [contentList]="items?.contents"
          [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable" [viewMoreButtonText]="'VIEW_MORE' | translate"
          [maxCardCount]="3" (viewMoreClick)="navigateToTextbookPage(items?.contents, items.name)"
          (cardClick)="navigateToDetailPage($event, items.name)">
        </sb-library-cards-stack>
      </div>
    </div>
    <div class="sb-explore-container" *ngIf="storyAndWorksheets && storyAndWorksheets.length !== 0">
      <div class="text-center" *ngIf="commonUtilService?.networkInfo?.isNetworkAvailable">
        <p class="information">{{'NO_BOOKS_TEXT' | translate:{'%s': appLabel} }}</p>
        <ion-button class="explore-more-content" expand="block" fill="outline" (click)="exploreOtherContents()">
          {{'SEE_MORE_BOOKS' | translate}} </ion-button>
      </div>
    </div>
    <div *ngIf="!searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <div class="sb-nodownloads-container" *ngIf="commonUtilService?.networkInfo?.isNetworkAvailable">
        <div class="text-center">
          <img style="width: 30%;" src="./assets/imgs/group.svg" alt="">
        </div>
        <div class="text-center">
          <p class="sub-heading">{{'NO_BOOKS_TEXT' | translate:{'%s': appLabel} }}</p>
          <ion-button class="explore-more-content" expand="block" fill="outline" (click)="exploreOtherContents()">
            {{'SEE_MORE_BOOKS' | translate}} </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="pageApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <ion-list class="m-n" *ngIf="searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
        <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
        <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
          <ion-avatar item-start>
            <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
          </ion-avatar>
          <ion-label style="padding-left: 40px;">
            <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
            <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding" style="padding-top: 34px;" text-center class="mt-32 mb-32"
      *ngIf="!commonUtilService?.networkInfo?.isNetworkAvailable">
      <img src="assets/imgs/outline-cloud_off.svg" alt="" />
      <ion-text>
        <h6 class="offline-header">
          <strong>{{ 'NO_INTERNET_TITLE' | translate }}</strong>
        </h6>
      </ion-text>
      <p class="offline-content">{{ 'OFFLINE_WARNING_ETBUI' | translate }}</p>
    </div>
  </div>

</ion-content>