<ion-content hide-header-footer class="main-container avoid-bottom-tabs-space ui-container" (ionScrollEnd)="logScrollEnd($event)"
  scrollEvents="true" #contentView>
  <div slot="fixed" class="fixed-container">
    <sb-library-filters [list]="categoryMediumNamesArray" [selectedItems]="mediumsSelected"
      [layout]="mediumFilterLayout" (selectedFilter)="mediumClickEvent($event, true)">
    </sb-library-filters>
    <sb-library-filters [list]="categoryGradeLevelsArray" [selectedItems]="classSelected" [layout]="classFilterLayout"
      (selectedFilter)="classClickEvent($event, true);">
    </sb-library-filters>
  </div>
  <div class="scrollable-container">
    <ion-refresher #libraryRefresher slot="fixed" (ionRefresh)="swipeDownToRefresh($event)"></ion-refresher>
    <div *ngIf="!guestUser" style="padding-top: 5px;">
      <ng-container *ngIf="searchApiLoader && dynamicResponse && dynamicResponse.length === 0">
        <sb-course-cards-hlist [type]="courseCardType.MY_COURSE_RECENTLY_VIEWED_CARD_GRID" [isLoading]="searchApiLoader">
        </sb-course-cards-hlist>
      </ng-container>
    </div>
    <div *ngFor="let result of dynamicResponse; let i=index;">
      <div *ngIf="result?.theme && result?.theme?.orientation === 'horizontal'">
        <div *ngFor="let section of result?.data?.sections">
          <div *ngIf="result?.dataSrc?.type === 'TRACKABLE_COLLECTIONS'" style="padding-top: 5px;">
            <ng-container *ngIf="section.contents && section.contents.length">
              <sb-course-cards-hlist [title]="result?.name"
                [type]="courseCardType.MY_COURSE_RECENTLY_VIEWED_CARD_GRID" [contentList]="section.contents"
                [viewMoreButtonText]="'VIEW_ALL' | translate" (viewMoreClick)="navigateToViewMoreContentsPage(result)"
                (cardClick)="navigateToDetailPage($event, result?.name)" [hideProgress]="true"></sb-course-cards-hlist>
            </ng-container>
          </div>
          <div class="sb-recently-viewed-container" style="padding-bottom:40px;" *ngIf="section.contents?.length && (!result?.dataSrc || result?.dataSrc?.type!== 'TRACKABLE_COLLECTIONS')">
            <div class="sb-recently-viewed-items">
              <div class="sb-recenlty-viewed-title" role="heading" aria-level="2">{{result?.name}}
                <button class="sb-btn sb-btn-sm sb-btn-outline-info view-all-p8 ion-float-end"
                  (click)="navigateToViewMoreContentsPage(result);">
                  {{ 'VIEW_ALL' | translate }}</button>
              </div>

              <div class="sb-card-scroll-container" (scroll)='onScroll($event)'>
                <div class="sb-card-container sb-card-recently-container">
                  <div class="recently-viewed-card-size" *ngFor="let content of section.contents">
                    <sb-library-card
                      [isOffline]="!content?.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable"
                      [content]="content" [type]="'mobile_textbook'" [isLoading]="searchApiLoader"
                      (cardClick)="navigateToDetailPage($event, result?.name);"
                      [cardImg]="content?.cardImg || content?.appIcon || defaultAppIcon">
                    </sb-library-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!result?.theme || result?.theme?.orientation === 'vertical'">
        <div class="section-header-style" role="heading" aria-level="2" *ngIf="result.data.sections.length">{{result.name}}</div>
        <div *ngFor="let section of result.data.sections">
          <div class="sb-textbook-container" *ngIf="section?.contents && section?.contents?.length">
            <sb-library-cards-stack [title]="section?.name" [contentList]="section?.contents"
              [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable"
              [viewMoreButtonText]="'VIEW_MORE' | translate" [maxCardCount]="3"
              (viewMoreClick)="navigateToTextbookPage(section?.contents, section.name)"
              (cardClick)="navigateToDetailPage($event, section.name)">
            </sb-library-cards-stack>
          </div>
        </div>
      </div>
    </div>

    <ion-list class="m-n" *ngIf="searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
      <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
        <ion-avatar item-start>
          <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
        </ion-avatar>
        <ion-label style="padding-left: 40px;">
          <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
          <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="sb-explore-container" *ngIf="storyAndWorksheets && storyAndWorksheets.length !== 0">
      <div class="text-center" *ngIf="commonUtilService?.networkInfo?.isNetworkAvailable">
        <p class="information">{{'FRMELEMNTS_LBL_COULD_NOT_FIND_CONTENT' | translate }}</p>
        <ion-button class="explore-more-books" expand="block" (click)="requestMoreContent()">
          {{'REQUEST_CONTENT' | translate}} </ion-button>
        <ion-button class="explore-more-content" expand="block" fill="outline" (click)="exploreOtherContents()">
          {{'SEE_MORE_BOOKS' | translate}} </ion-button>
      </div>
    </div>
    <div *ngIf="!searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <div class="sb-nodownloads-container" *ngIf="commonUtilService?.networkInfo?.isNetworkAvailable">
        <div class="text-center">
          <img style="width: 30%;" src="./assets/imgs/group.svg" alt="">
        </div>
        <div class="text-center">
          <p class="sub-heading">{{'FRMELEMNTS_LBL_COULD_NOT_FIND_CONTENT' | translate }}</p>
          <ion-button class="explore-more-books" expand="block" (click)="requestMoreContent()">
            {{'REQUEST_CONTENT' | translate}} </ion-button>
          <ion-button class="explore-more-content" expand="block" fill="outline" (click)="exploreOtherContents()">
            {{'SEE_MORE_BOOKS' | translate}} </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="pageApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <ion-list class="m-n" *ngIf="searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
        <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
        <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
          <ion-avatar item-start>
            <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
          </ion-avatar>
          <ion-label style="padding-left: 40px;">
            <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
            <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding ion-text-center mt-32 mb-32" style="padding-top: 34px;"
      *ngIf="!commonUtilService?.networkInfo?.isNetworkAvailable">
      <img src="assets/imgs/outline-cloud_off.svg" alt="" />
      <ion-text>
        <h6 class="offline-header">
          <strong>{{ 'NO_INTERNET_TITLE' | translate }}</strong>
        </h6>
      </ion-text>
      <p class="offline-content">{{ 'OFFLINE_WARNING_ETBUI' | translate }}</p>
    </div>
  </div>

</ion-content>