@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/fonts";

:host{
    div.scrollable-container {
      --background: green !important;
    }
  }
// :host {
  .spinner-align {
    margin: 40px;
    padding-top: 30px;
  }
  .fixed-container {
    width: 100%;
    margin-top: 58px;
    position: relative;
    z-index: 2;
  }
  .scrollable-container{
    margin-top:112px;
    z-index: 1;
   }
  .main-container {
    background: #fff;
    position: relative;
  }
  .offline-header {
    color: $gray-300;
    font-size: 16px;
  }
  .offline-content {
    color: $gray-300 !important;
    width: 65%;
    margin: auto;
  }
  .view-all-p8 {
    padding: 0 $base-block-space !important;
  }
  #couchMark {
    position: fixed;
  }
  .animation-background {
    padding: 0px 8px 0px 8px;
    background-color: #f2f2f2;
  }
  .sb-view-more {
    background: #edf4f9;
    text-align: center;
    padding: $base-block-space * 2;
    color: $primary-color;
    font-weight: bolder;
  }
  .explore-more-content {
    border: 1px solid #024F9D;
    border-radius: 4px;
    --background: #F3F7FA;
    --color: #024F90;
  }
  .explore-more-books {
    --background: #024F9D;
    border-radius: 4px;
  }
.sub-heading {
  padding: 1em 4em !important;
  font-size: 12px;
  color: #999999;
  margin: 0;
}
.sb-nodownloads-container {
  & {
    padding-top: 4rem;
  }
}
.sb-nodownloads-title {
  & {
    margin: 0;
    font-size: 16px;
    padding-top: 4%;
    color: #666666;
    font-weight: bold;
    letter-spacing: -0.46px
  }
}
  .sb-explore-container{
  padding-bottom: 30px;
  }
  .sb--card-textbook-container {
    .sb--card {
      border-bottom: 0.5px solid rgba(151, 151, 151, 0.4);
      &:last-child {
        // .sb-card {
          border-bottom: none;
        // }
      }
    }
  }
  .textbook-icon {
    z-index: 1;
  }

.sb-card-recently-container {
  .recently-viewed-card-size{
    margin: 0 8px; 
    min-width:288px;
    max-width:288px;
    &:only-child {
      min-width: 100%;
      max-width: calc(100vw - 32px);
    }
  }
}


// }
