@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/fonts";
@import "src/assets/styles/_variables.scss";

:host {
  div.scrollable-container {
    --background: $green !important;
  }
}

// :host {
.spinner-align {
  margin: 40px;
  padding-top: 30px;
}

.fixed-container {
  width: 100%;
  margin-top: 56px;
  position: relative;
  z-index: 2;
}

.scrollable-container {
  margin-top:108px;
  z-index: 1;
}

.main-container {
  background: map-get($colors, white);
  position: relative;
}

.offline-header {
  color: $gray-300;
  font-size: 1rem;
}

.offline-content {
  color: $gray-300 !important;
  width: 65%;
  margin: auto;
}

.view-all-p8 {
  padding: 0 $base-block-space !important;
}

#couchMark {
  position: fixed;
}

.animation-background {
  padding: 0 8px 0 8px;
  background-color: map-get($colors, white_f2);
}

.sb-view-more {
  background: $light-blue;
  text-align: center;
  padding: $base-block-space * 2;
  color: $primary-color;
  font-weight: bolder;
}

.explore-more-content {
  border-radius: 4px;
  --background: #{map-get($colors, white_f3)};
  --color: #{map-get($colors, deep_blue)};
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 12px;
}

.explore-more-books {
  --background: #{$blue};
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.sub-heading {
  padding: 1em 4em !important;
  font-size: 0.75rem;
  color: $gray-300;
  margin: 0;
}

.sb-nodownloads-container {
  & {
    padding-top: 7rem;
  }
}

.sb-nodownloads-title {
  & {
    margin: 0;
    font-size: 1rem;
    padding-top: 4%;
    color: map-get($colors, granite_gray);
    font-weight: bold;
    letter-spacing: -0.46px
  }
}

.sb-explore-container {
  padding-bottom: 30px;
}

.sb--card-textbook-container {
  .sb--card {
    border-bottom: 0.5px solid rgba(151, 151, 151, 0.4);

    &:last-child {
      // .sb-card {
      border-bottom: none;
      // }
    }
  }
}

.textbook-icon {
  z-index: 1;
}

.sb-course-container {
  margin-top: 130px;

  .text-center {
    padding: 16px;
  }

  .sb-course-heading {
    background: map-get($colors , pale_blue);
    padding: 16px;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.125rem;

    .sb-nodownloads-container {
      & {
        padding-top: 4rem;
      }
    }
  }
}

#no-text-book {
  max-width: 50%;
  width: 50%;
}

.sb-card-recently-container {
  .recently-viewed-card-size{
    margin: 0 8px; 
    min-width:18rem;
    max-width:18rem;
    &:only-child {
      min-width: 100%;
      max-width: calc(100vw - 32px);
    }
  }
}
.course-card-pd{
  padding: 1px 0 12px;
}

.section-header-style{
  margin-left: 1rem;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 4px;
}

.sb-recenlty-viewed-title{
  padding-left: 0 1rem !important;
  font-size: 1rem !important;
}