<ion-content hide-header-footer class="main-container avoid-bottom-tabs-space" (ionScrollEnd)="logScrollEnd($event)"
  scrollEvents="true" #contentView>
  <div slot="fixed" class="fixed-container">
    <div class="sb-slider-pills-container">
      <div class="sb-pills-container sb-medium-pills-container">
        <div class="pill" *ngFor="let medium of categoryMediums; let i = index;"
          [ngClass]="{'active': medium?.selected}" [@appear]
          (click)="mediumClick(medium?.name,'sendMediumClickedTelemetry')">{{medium?.name}} Medium
        </div>
      </div>
    </div>
    <div class="sb-slider-pills-container">
      <div class="sb-pills-container sb-grade-pills-container" id="gradeScroll">
        <div class="pill" *ngFor="let grade of categoryGradeLevels; let i = index; let first = first"
          [ngClass]="{'active': grade?.selected, '': !grade?.selected}" attr.id="class{{i}}"
          (click)="classClick(i,'sendClassClickedTelemetry');">
          {{grade?.name}}</div>
      </div>
    </div>
  </div>
  <div class="scrollable-container">
    <ion-refresher (ionRefresh)="swipeDownToRefresh($event)"></ion-refresher>

    <ion-list class="m-n" *ngIf="showLoader || refresh" style="padding-top: 100px;">
      <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
      <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
        <ion-avatar item-start>
          <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
        </ion-avatar>
        <ion-label style="padding-left: 40px;">
          <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
          <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="recentlyViewedResources && recentlyViewedResources.length">
      <div class="sb-recently-viewed-container" style="padding-bottom:40px;">

        <div class="sb-recently-viewed-items">
          <div class="sb-recenlty-viewed-title">{{ 'RECENTLY_VIEWED' | translate }}
            <button class="sb-btn sb-btn-sm sb-btn-outline-info view-all-p8" float-end
              (click)="navigateToViewMoreContentsPage(recentViewedSection);">
              {{ 'VIEW_ALL' | translate }}</button>
          </div>

          <div class="sb-card-scroll-container" (scroll)='onScroll($event)'>
            <!-- Card style -->
            <div class="sb-card-container sb-card-recently-container">
              <app-new-course-card *ngFor="let course of recentlyViewedResources" [course]="course" [pageName]="library"
                [env]="'home'" [index]="i" [sectionName]="recentViewedSection" [layoutName]="layoutSavedContent">
              </app-new-course-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ion-list class="m-n" *ngIf="searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
      <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
        <ion-avatar item-start>
          <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
        </ion-avatar>
        <ion-label style="padding-left: 40px;">
          <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
          <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngFor="let items of storyAndWorksheets">
      <div class="sb-textbook-container" *ngIf="items?.contents && items?.contents?.length">
        <div class="sb-textbook-items">
          <div class="sb-textbook-title-container">
            <span class="textbook-icon">
              <ion-icon ios="ios-albums" md="md-albums"></ion-icon>
            </span>
            <span class="textbook-title">
              {{items.name}}
            </span>
          </div>
          <!-- Card style -->
          <div class="sb-card-container sb-card-textbook-container">
            <div class="sb-card-textbook" *ngFor="let item of items?.contents | slice:0:3 ; let i = index">
              <app-text-book-card [content]="item" [layoutName]='layoutName'
                (click)="navigateToDetailPage(item, i, item.name)"></app-text-book-card>
            </div>
            <div class="sb-view-more" *ngIf="items?.contents?.length > 3"
              (click)="navigateToTextbookPage(items?.contents, items.name)">{{'VIEW_MORE' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sb-explore-container" *ngIf="storyAndWorksheets && storyAndWorksheets.length !== 0">
      <div class="text-center" *ngIf="commonUtilService?.networkInfo?.isNetworkAvailable">
        <p class="information">{{'MORE_CONTENT' | translate:{'%s': appLabel} }}</p>
        <ion-button class="explore-more-content" outline (click)="exploreOtherContents()">
          {{'DATA' | translate}} </ion-button>
      </div>
    </div>
    <div *ngIf="!searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <div class="sb-nodownloads-container" *ngIf="commonUtilService?.networkInfo?.isNetworkAvailable">
        <div class="text-center">
          <img style="width: 19.58%; height: 7.72%;" src="./assets/imgs/group.svg" alt="">
        </div>
        <div class="text-center">
          <p class="sb-nodownloads-title">
            <b>{{'NO_BOOKS_AVAILABLE' | translate}}</b>
          </p>
          <p class="sub-heading">{{'NO_BOOKS_DEFINITION' | translate:{'%s': appLabel} }}</p>
          <ion-button class="explore-more-books" (click)="exploreOtherContents()">
            {{'DATA' | translate}} </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="pageApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
      <ion-list class="m-n" *ngIf="searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
        <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
        <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
          <ion-avatar item-start>
            <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
          </ion-avatar>
          <ion-label style="padding-left: 40px;">
            <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
            <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div padding text-center class="mt-32 mb-32" *ngIf="!commonUtilService?.networkInfo?.isNetworkAvailable">
      <img src="assets/imgs/outline-cloud_off.svg" alt="" />
      <ion-text>
        <h6 class="offline-header">
          <strong>{{ 'NO_INTERNET_TITLE' | translate }}</strong>
        </h6>
      </ion-text>
      <p class="offline-content">{{ 'OFFLINE_WARNING_ETBUI' | translate }}</p>
    </div>
  </div>

</ion-content>
