<ion-card class="sb-dt-card accordian-card">
  <ion-card-header  (click)="toggleAccordion()">
    <ion-item lines="none">
      <ion-label>{{title | translate}}</ion-label>
      <ion-icon *ngIf="isListItemOpened" name="arrow-up-circle-outline" slot="end" color="primary"></ion-icon>
      <ion-icon *ngIf="!isListItemOpened" name="arrow-down-circle-outline" slot="end" color="primary"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="isListItemOpened" >
    <div *ngIf="showCard">
    <ion-card slot="content" *ngFor="let content of data">
      <ion-item lines="none" (click)="action(content)">
        <ion-label>{{content?.name}}</ion-label>
        <ion-icon md="caret-forward-circle" ios="chevron-forward-circle" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
    </div>
    <div *ngIf="!showCard">
      <div  *ngFor="let content of data" class="ion-padding">
       <p> > {{content?.name}} </p>
        </div>
      </div>
  </ion-card-content>
</ion-card>