@import "../../../../../assets/styles/variables";
.attachments-card{
    border-radius: 16px;
    background: $white-color;
    margin: 0px;
   ion-card-header{
    font-size: 1rem;
    border-bottom: 1px solid $gray-200;
    padding: 10px;
    font-weight:900;
    margin-bottom: 15px;
   }
}
.attachment-list{
    border-radius: 8px;
     color: var(--blue);
     padding: 5px 5px;
     display: flex;
     margin: 10px 0px;
     justify-content: space-between;
    span{
       margin-left: 30px;
       word-break: break-all;
    }
    button{
       background: transparent;
       box-shadow: none !important;
       /* margin-top: -7px; */
       color: var(--blue);
       font-size: 0.75rem;
       p{
          margin-bottom: 0px;
          font-size: 0.5rem !important;
          margin-top: -5px;
          text-align: center;
          font-weight: 600;
        }
        ion-icon{
          font-size: 1.25rem;
        }
    }
    .prefix-attachment{
       font-size: 1.25rem;
       position: absolute;
     }
  }