/* Migration-TODO */
@import "src/assets/styles/_custom-mixins.scss";


    .assessment-card {
        position: relative;
        padding-top: 10px;
        width: 90%;
        margin: 0 auto;
        box-shadow: 0px 0px 10px #aaaaaa;
        background-color: white;
        border-radius: 5px;
        display: flex;
        top: 15%;
        height: 80%;
        text-transform: uppercase;
        //display: table;
    }

    .assessment-container {
        width: 100%;
        position: absolute;
        top: 10%;
        bottom: 0;
    }

    .datatable-header,
    .assessment-container {
        background-color: #007aff;
    }

    .assessment-score,
    .assessment-time {
        text-align: center;
        color: #007aff;
        max-width: 50%;
        vertical-align: middle;
        //display: table-cell;
        flex: 1 1 auto;
    }

    .assessment-score p,
    .assessment-time p,
    .ngx-datatable.material .datatable-header .datatable-row-center .assessment-header {
        font-size: 0.8em;
        font-weight: bold !important;
    }

    .assessment-score {
        border-right: 1px solid #007aff;
    }

    .assessment-details {
        // height: 20vh;
        position: relative;
    }

    #datatable {
        box-shadow: none;
    }

    .assessment-result,
    .assessment-stats {
        font-size: 1.8em;
        padding-bottom: 10px;
    }

    .datatable-icon-down:before {
        content: "\25BE" !important;
    }

    .datatable-icon-up:before {
        content: "\25B4" !important;
    }

.rt-container{
    .rt-header{
        background-color: #007aff;
        .rt-head{
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            padding: 5px 5px 5px 10px;
        }
        .sort-icon{
            font-size: 26px;
            position: relative;
            top: 8px;
        }
    }
    .rt-raw-items{
        &:nth-child(odd){
            background-color: #eee;
        }
    }
}
.rt-raw {
    @include clearfix;
    .rt-cell{
        &:first-child{
            width: 46%;
        }
        width: 27%;
        float: left;
        padding: 12px;
    }
    .rt-cell-item{
        padding: .9rem 1.2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .rt-cell-question{
        font-weight: bold;
        color: #007aff;
        padding: .9rem 1.2rem !important;
        text-align: center;
    }
}
@media only screen and (max-width: 360px) {
    .rt-raw {
        .rt-cell{
            &:first-child{
                width: 40%;
                padding: 5px 0 5px 5px;
            }
            width: 30%;
        }
    }
}