<div class="assessment-details" *ngIf="showResult">
  <div class="assessment-container"></div>
  <div class="assessment-card">
    <div class="assessment-score">
      <p *ngIf="assessmentData?.fromGroup">{{'AVERAGE_SCORE' | translate}}</p>
      <p *ngIf="assessmentData?.fromUser">{{'SCORE' | translate}}</p>
      <div class="assessment-stats">
        <ion-icon name="stats"></ion-icon>
        <span *ngIf="assessmentData?.totalScore.toString()">{{assessmentData?.totalScore}}
          <span *ngIf="assessmentData?.totalQuestionsScore"> / {{assessmentData?.totalQuestionsScore}} </span>
          <span *ngIf="!assessmentData?.totalQuestionsScore && assessmentData.maxTotalScore"> / {{assessmentData?.maxTotalScore}}</span>
        </span>
        <span *ngIf="!assessmentData?.totalScore.toString()">--</span>
      </div>
    </div>
    <div class="assessment-time">
      <p *ngIf="assessmentData?.fromGroup">{{'AVERAGE_TIME' | translate}}</p>
      <p *ngIf="assessmentData?.fromUser">{{'TOTAL_TIME' | translate}}</p>
      <div class="assessment-result">
        <ion-icon md="md-time"></ion-icon>
        <span *ngIf="assessmentData?.uiTotalTime">{{assessmentData?.uiTotalTime}}</span><span *ngIf="!assessmentData?.uiTotalTime">--/--</span>
      </div>
    </div>
  </div>
</div>
<div class="rt-container">
  <div class="rt-raw rt-header">
    <div class="rt-cell rt-head" (click)="onSortChange(columns[0].prop)">
      <span>{{columns[0].name}}</span>
      <span class="sort-icon"><ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" *ngIf="sortProps.key === columns[0].prop && sortProps.type === 'asc'"></ion-icon></span>
      <span class="sort-icon"><ion-icon ios="ios-arrow-dropup" md="md-arrow-dropup" *ngIf="sortProps.key !== columns[0].prop || (sortProps.key === columns[0].prop && sortProps.type === 'desc')"></ion-icon></span>
    </div>
    <div class="rt-cell rt-head" (click)="onSortChange(columns[1].prop)">
        <span>{{columns[1].name}}</span>
        <span class="sort-icon"><ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" *ngIf="sortProps.key === columns[1].prop && sortProps.type === 'asc'"></ion-icon></span>
        <span class="sort-icon"><ion-icon ios="ios-arrow-dropup" md="md-arrow-dropup" *ngIf="sortProps.key !== columns[1].prop || (sortProps.key === columns[1].prop && sortProps.type === 'desc')"></ion-icon></span>
    </div>
    <div class="rt-cell rt-head" (click)="onSortChange(columns[2].prop)">
        <span>{{columns[2].name}}</span>
        <span class="sort-icon"><ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" *ngIf="sortProps.key === columns[2].prop && sortProps.type === 'asc'"></ion-icon></span>
        <span class="sort-icon"><ion-icon ios="ios-arrow-dropup" md="md-arrow-dropup" *ngIf="sortProps.key !== columns[2].prop || (sortProps.key === columns[2].prop && sortProps.type === 'desc')"></ion-icon></span>
    </div>
  </div>
  <div class="rt-raw rt-raw-items" *ngFor="let report of assessmentData?.uiRows | sortBy: sortProps.key : sortProps.type" (click)="onActivate($event, assessmentData.showPopup, assessmentData.popupCallback, report)">
    <div class="rt-cell rt-cell-item rt-cell-question"><span>{{report[columns[0].prop]}}</span></div>
    <div class="rt-cell rt-cell-item"><span>{{report[columns[1].prop]}}</span></div>
    <div class="rt-cell rt-cell-item"><span>{{report[columns[2].prop]}}</span></div>
  </div>
</div>