@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";

ion-tabs {
  .rm-before{
    &::before {
      position: relative !important;
    }
  }
  ion-tab-bar {
    align-items: flex-end;
    contain: none;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.3));
    border-top: 2px solid var(--app-primary-header);
  }

  ion-tab-button.tab-layout-icon-top.tab-has-label.tab-has-icon ion-label {
    font-size: 0.625rem;
    text-align: center;
    @include margin(0, null, null, null);
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.25rem;
  }

  ion-tab-button.qrscanner {
    filter: none;
    border: none;

    position: relative;
    
    height: calc(64px + (64px / 2));

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-40px);
      width: 5rem;
      height: 4rem;
      // background-image: radial-gradient(circle at center 0px, rgba(255, 255, 255, 0) 25px, rgba(0, 0, 0, 0.1) 35px);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-40px);
      width: 5rem;
      height: 4rem;
      // background-image: radial-gradient(circle at center 0px, rgba(255, 255, 255, 0) 36px, rgba(255, 255, 255, 1) 35px);
      z-index: 2;
    }

    ion-icon {
      bottom: 0.375rem;
      position: relative;
      background: var(--app-white);
      width: 4rem;
      height: 4rem;
      margin: 0px;
      padding: 0px;
      min-height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.5rem solid var(--app-tertiary-light);
      border-radius: 1rem;
      color: $white;

      .icon-inner {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }

  ion-icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 1.25rem;
    width: 1.25rem;
    background-size: contain;
  }
  ion-tab-button {
    --color-selected: #{$blue};
    background: transparent;
  }
  
  .tab-button[aria-selected="true"] {
    color: $primary-color;
  }

  ion-tab-button.tab-selected,
  ion-tab-button:not(.tab-selected) {
    ion-icon {
      font-size: 1.25rem;
    }
    ion-label {
      font-size: 0.75rem;
    }
  }
}
