<ion-tabs (ionTabsWillChange)="ionTabsWillChange($event)" (ionTabsDidChange)="ionTabsDidChange($event)" #myTabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="tab.root" *ngFor="let tab of tabs; let i = index;" [disabled]="tab.disabled"
      [ngClass]="{'disabled': tab.disabled}" (click)="tab.label === '' ? openScanner(tab) : null">
      <ion-icon [name]="tab.icon"></ion-icon>
      <ion-label>{{tab.label | translate}}</ion-label>
    </ion-tab-button>
    <!-- <div class="shadow"></div> -->
  </ion-tab-bar>
</ion-tabs>

<!--<ion-tab hide-tab-footer *ngFor="let tab of tabs; let i = index;" [ngClass]="{'disabled': tab.disabled}"
    [root]="tab.root" tabTitle="{{tab.label | translate}}" [tabIcon]="tab.icon"
    [tabsHideOnSubPages]="tab.tabsHideOnSubPages" [enabled]="!tab.disabled" (ionSelect)="customClick(tab,i)"></ion-tab>
  <div class="shadow"></div>-->