<div>
  <ng-container *ngIf="childData | hasMimeType: activeMimeTypeFilter : isTextbookTocPage">
    <div [ngClass]="{'unit-hierachy sb-topic-item': !isTextbookTocPage, 'sub-unit': !isTextbookTocPage}"
      (click)="!fromCourseToc && setContentId(childData.identifier, childData)" [id]="childData.identifier"
      *ngIf="childData?.contentData?.mimeType === 'application/vnd.ekstep.content-collection' && childData?.children && !isTextbookTocPage">
      {{childData?.contentData?.name}}
    </div>
    <div
      [ngClass]="{'row sb-textbook-toc px-16': isTextbookTocPage, 'sb-highlighted-row' : (latestParentName === childData?.contentData?.name && sameHierarchy)}"
      (click)="!fromCourseToc && setContentId(childData.identifier, childData)" [id]="childData.identifier"
      *ngIf="childData?.contentData?.mimeType === 'application/vnd.ekstep.content-collection' && childData?.children && isTextbookTocPage">
      <div class="pull-left px-16">
        {{childData?.contentData?.name}}
      </div>
    </div>
  </ng-container>
  <div [id]="childData.identifier" [ngClass]="{'etb-topic-item': !isTextbookTocPage && !fromCourseToc, 'row sb-topic-item': (!stckyUnitTitle && (stckyUnitTitle !== childData?.contentData?.name)), 'sb-highlighted-row' : (latestParentName === childData?.contentData?.name)}" class="sticky-header-title-box"
    [attr.data-text]="childData.contentData.name" [attr.data-render-level]="renderLevel"
    *ngIf="!isTextbookTocPage && childData?.contentData?.mimeType !== 'application/vnd.ekstep.content-collection' && hasMimeType(activeMimeTypeFilter, childData?.contentData?.mimeType, childData)"
    (click)="navigateToDetailsPage(childData, depth + '.' + (index + 1))">

    <div class="sb-ftue-design etb-card-item" *ngIf="!fromCourseToc  && !isTextbookTocPage">
      <ng-container *ngIf="!isTextbookTocPage">
        <div class="etb-card-item" [ngClass]="{'sb-accordian-grey-text': !commonUtilService.networkInfo.isNetworkAvailable && !childData?.isAvailableLocally,
           'sb-play-selected':childData?.isAvailableLocally,'sb-play-unselected':!childData?.isAvailableLocally}">
          <div class="etb-card-item-content">
            <div class="image-position">
              <img class="content-icon" alt="content-logo" aria-hidden="true"
                   [src]="commonUtilService.convertFileSrc(localImage) || commonUtilService.convertFileSrc(collectionChildIcon) ||
               commonUtilService.convertFileSrc(childData?.contentData?.appIcon) || defaultAppIcon">
              <span class="icon-position" *ngIf="childData?.isAvailableLocally">
              <ion-icon class="sb-checkmark-icon" name="checkmark-circle"></ion-icon>
            </span>
            </div>
            <span class="content-name">{{childData?.contentData?.name}}</span>
          </div>

          <div class="etb-card-item-play-container">
            <ion-button class="play-button" shape="round" fill="outline" size="small"
                        (click)="$event.stopPropagation(); $event.preventDefault(); playContent(childData)">
              <img style="display: inline-block; width: 1rem" role="button" src="./assets/imgs/play.svg" alt="play">
              <span class="content-playbutton">{{'PLAY' | translate}}</span>
            </ion-button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="fromCourseToc">
        <div class="clearfix" [ngClass]="{'sb-accordian-grey-text': !commonUtilService.networkInfo.isNetworkAvailable && !childData?.isAvailableLocally,
           'sb-play-selected':childData?.isAvailableLocally,'sb-play-unselected':!childData?.isAvailableLocally}">
          <div class="pull-left">
            {{childData?.contentData?.name}}
            <span *ngIf="childData?.isAvailableLocally">
            <ion-icon class="sb-checkmark-icon" name="checkmark-circle"></ion-icon>
          </span>
          </div>

          <div class="pull-right">
            <img class="content-icon" alt=""
                 [src]="commonUtilService.convertFileSrc(localImage) || commonUtilService.convertFileSrc(collectionChildIcon) || commonUtilService.convertFileSrc(childData?.contentData?.appIcon) || defaultAppIcon">
          </div>
        </div>
      </ng-container>
    </div>
    <!-- only for QR CODE SCanner-->

    <div class="sb-ftue-design" *ngIf="!fromCourseToc && isTextbookTocPage">
      <div class="clearfix" class="sb-blue-text">
        <div class="pull-left px-16">
          {{childData?.contentData?.name}}
        </div>
      </div>
    </div>
    <!-- only for course toc -->
    <div class="sb-ftue-design sb-ftue-design-course-toc" *ngIf="fromCourseToc">
      <div class="clearfix" [ngClass]="{'sb-accordian-grey-text': !commonUtilService.networkInfo.isNetworkAvailable && !childData?.isAvailableLocally,
             'sb-play-selected':childData?.isAvailableLocally,'sb-play-unselected':!childData?.isAvailableLocally}">
        <div class="pull-left">
          <span class="content-type-container">
            <img [src]="getMediaIcon(childData)" alt="">
          </span>
          {{childData?.contentData?.name}}
        </div>
        <div class="pull-right done-pt-8" *ngIf="isContentCompleted">
          <!--'DONE' text doesnot need translation-->
          <span class="done">Done</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row sb-topic-item"(click)="showComingSoonPopup(childData)"
    *ngIf="isTextbookTocPage && childData?.contentData?.mimeType === 'application/vnd.ekstep.content-collection' && !childData?.children">
    <div class="sb-accordian-grey-text">{{childData?.contentData?.name}}</div>
    <ion-icon name="alert" class="grey-icon mt-4"></ion-icon>
  </div>

  <ng-container *ngIf="!(childData?.contentData?.trackable?.enabled === 'Yes')">
    <div *ngFor="let firstChildren of childData?.children; let j = index;"
      [ngClass]="{'sb-collection-child-ftue': isTextbookTocPage}">
      <app-collection-child [renderLevel]="renderLevel + 1" [childData]="firstChildren" [breadCrumb]="breadCrumb"
        [activeMimeTypeFilter]="activeMimeTypeFilter" [rootUnitId]="rootUnitId" [isTextbookTocPage]="isTextbookTocPage"
        [bookID]="bookID" [isEnrolled]="isEnrolled" [fromCourseToc]="fromCourseToc"
        [isBatchNotStarted]="isBatchNotStarted" [stckyUnitTitle]="stckyUnitTitle" [stckyindex]="stckyindex"
        [latestParentName]="latestParentName" [latestParentNodes]="latestParentNodes"
        [contentStatusData]="contentStatusData" [updatedCourseCardData]="updatedCourseCardData" [batch]="batch" 
        [addActivityToGroupData]="addActivityToGroupData">
      </app-collection-child>
    </div>
  </ng-container>
</div>
