@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
:host {
    .separator-line {
        height: 1px;
        opacity: 0.36;
        background-color: map-get($colors, dark_gray);
        width: 100%;
    }
    .pull-right{
        float: right !important;
    }

    .P10{
        padding: 10px;
    }

    .play-icon
    {
        color : map-get($colors, vivid_green);
        font-size: 30px;
    }

    .checkmark-icon
    {
      color : map-get($colors, vivid_green);
      font-size: 18px;
      margin-left: 5px;
    }

    .font-grey-text
    {
        color : map-get($colors, dark_gray);
    }

    .grey-icon-span
    {
      position: relative;
      top : 8px;
    }

    .grey-icon
    {
        color : map-get($colors, dark_gray);
        font-size: 18px;
    }

    .ml8{
        // migration-TODO
        // @include margin (null, null, null, 8px);
    }

    .mtb-8{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .sb-topic-item{
        @include padding($base-block-space * 1);
        display: flex;
    }

    .sb-topics-container .sb-topic-container.sb-topics-1child {
        .sb-separator-line {
            @include margin(null, $base-block-space * 1);
          }
    }
    .content-icon{
        width: 38px;
        height: 38px;
        border: 0.5px solid map-get($colors, medium_light_gray);
        background-color: map-get($colors, medium_gray);
        display: inline-block;
    }
    .content-name {
        padding-left: 1em;
        color: map-get($colors, black);
    }
    .sb-checkmark-icon{
        color : $secondary-200;
        font-size: ($font-size-base + 4);
        @include margin(null,null,null,($base-block-space * .5));
        vertical-align: middle;
    }
    .clearfix {
        @include clearfix;
    }
    .sb-collection-child-ftue{
        padding-left: 8px;
    }
    .sb-bold-blue{
        font-weight: bolder;
        color: $blue;
        padding: 8px;
    }
    .sb-blue-text{
        color: $blue;
    }
    .sb-highlighted-row{
        @include padding($base-block-space * 1);
        display: flex;
        background-color: lightblue;
    }
    .sb-textbook-toc{
        @include padding($base-block-space * 1);
        display: flex;
        color: $blue;
        @include clearfix;
    }
}

.done-pt-8 {
    padding-top: 8px !important;
}

.content-playbutton {
    padding-left: 4px;
    color: $blue;
}
.play-button{
    --border-color: #{$blue};
    --border-width: 1px;
    text-transform: none;
    height: 3em;
}
.image-position{
    display: inline-block;
    position: relative;
    .icon-position {
        position: absolute;
        top: -8px;
        right: -8px;
    }
}
.sub-unit {
    padding-left: 16px !important;
}
