<ion-content [scrollEvents]="true" class="sb-textbook-toc ion-no-padding full-content">
  <section *ngFor="let program of programList; let programIndex = index">
    <div *ngFor="let solution of program?.solutions; let solutionIndex = index">  
      <ion-card (click)="redirectOnSoluctionClick()" *ngIf="solution?.type=='observation'">
        <ion-item text-wrap>
          <div class="flex-container">
            <div style="flex: 1">
              <h2 class="sb-topic-text">{{ solution.name }}</h2>
              <p *ngIf="showProgram || 1" class="sb-topic-text">{{ programList[programIndex]?.name }}</p>
            </div>
            <button
              icon-only
              color="light"
              class="basicButton"
              *ngIf="showProgram"
              (click)="$event.stopPropagation(); openActionMenu($event)"
            >
              <ion-icon name="more"></ion-icon>
            </button>
            <ion-icon name="arrow-forward" class="menuIcon" *ngIf="!homePage"></ion-icon>
          </div>
        </ion-item>
      </ion-card>
    </div>
  </section>
</ion-content>
