<ion-content>

    <div class="ar-header ion-text-center">
        <h6 class="M0" *ngIf="recoveryEmail || recoveryPhone">{{'UPDATE_RECOVERY_ID' | translate}}</h6>
        <h6 class="M0" *ngIf="!recoveryEmail && !recoveryPhone">{{'ADD_RECOVERY_ACCOUNT' | translate}}</h6>
    </div>

    <ion-list lines="none">
        <ion-radio-group [(ngModel)]="recoveryIdType">

            <ion-list-header class="recovery-desc">
                <ion-label>{{'RECOVERY_ID_DESCRIPTION' | translate}}</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>{{'EMAIL_ID_PLACEHOLDER' | translate}}</ion-label>
                <ion-radio slot="start" value="{{recoveryTypes.EMAIL}}"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>{{'PHONE_PLACEHOLDER' | translate}}</ion-label>
                <ion-radio slot="start" value="{{recoveryTypes.PHONE}}"></ion-radio>
            </ion-item>

        </ion-radio-group>
    </ion-list>

    <div class="MB30">
        <div *ngIf="recoveryIdType === recoveryTypes.EMAIL">
            <form [formGroup]="recoveryEmailForm">
                <div class="M16">
                    <div class="W100 merged-input-container MT10">
                        <ion-input type="text" placeholder="{{'EMAIL_ID_PLACEHOLDER' | translate}}"
                            class="form-control custom" formControlName="email">
                        </ion-input>
                    </div>
                    <ion-label class="error"
                        *ngIf="recoveryEmailForm.controls.email.dirty && recoveryEmailForm.controls.email.invalid">
                        {{'ERROR_EMAIL_INVALID' | translate}}
                    </ion-label>
                </div>

                <div class="ion-text-center">
                    <button class="ar-submit-btn"
                        [ngClass]="{'ar-btn-enable-color': recoveryEmailForm?.valid, 'ar-btn-dissable-color': !recoveryEmailForm?.valid}"
                        (click)="submitRecoveryId(recoveryTypes.EMAIL)" [disabled]="!recoveryEmailForm?.valid">
                        {{'BTN_SUBMIT' | translate}} </button>
                </div>
            </form>
        </div>

        <div *ngIf="recoveryIdType === recoveryTypes.PHONE">
            <form [formGroup]="recoveryPhoneForm">
                <div class="M16">
                    <div class="W100 merged-input-container MT10" style="text-align:start">
                        <ion-input type="tel" placeholder="+91 -" class="form-control decorator " value="+91 -"
                            disabled>
                        </ion-input>
                        <ion-input type="tel" placeholder="{{'PHONE_PLACEHOLDER' | translate}}" maxlength="10"
                            minlength="10" required class="form-control custom" formControlName="phone">
                        </ion-input>
                    </div>
                    <ion-label class="error"
                        *ngIf="recoveryPhoneForm.controls.phone.dirty && recoveryPhoneForm.controls.phone.invalid">
                        {{'ERROR_PHONE_INVALID' | translate}}
                    </ion-label>
                </div>
                <div class="ion-text-center">
                    <button class="ar-submit-btn"
                        [ngClass]="{'ar-btn-enable-color': recoveryPhoneForm?.valid, 'ar-btn-dissable-color': !recoveryPhoneForm?.valid}"
                        (click)="submitRecoveryId(recoveryTypes.PHONE)" [disabled]="!recoveryPhoneForm?.valid">
                        {{'BTN_SUBMIT' | translate}} </button>
                </div>
            </form>
        </div>
    </div>

</ion-content>
