@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";

.merged-input-container {
    border: 1px solid $form-input-border-active-color;
    display: flex;
    flex: 1 1 auto;
    border-radius: 4px;
    .decorator {
        display: inline-block;
        max-width: 3.125rem;
    }
    .custom {
        display: inline-block;
    }
}

.ar-submit-btn {
    padding: 12px 15%;
}

.ar-btn-dissable-color {
    background-color: map-get($colors, dark_gray);
    color: map-get($colors, white);
}

.ar-btn-enable-color {
    background-color: map-get($colors, primary);
    color: map-get($colors, white);
}

.ar-header {
    background-color: #{$blue};
    color: map-get($colors, white);
    padding: 16px 0;
}

.recovery-desc{
    @include padding(null, 16px, null, null);
    font-size: 1rem;
}

.custom-shadow {
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

ion-button{
    --background: #{$blue} !important;
    color: map-get($colors, white);
    --background-hover: #{$blue} !important;
    --background-activated: #{$blue} !important;
}

ion-button[fill="outline"]{
    --background: map-get($colors, white) !important;
    color: #{$blue};
    --border-color: #{$blue};
}