<ion-header>
  <ion-toolbar>
    <h4 class="subtitle">{{ 'CHOOSE_FROM_FOLLOWING' | translate }}</h4>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="scroll-list">
    <ion-row *ngIf="facets?.values && facets?.values.length">
      <ion-col size="6" *ngFor="let facetValue of facets.values">
        <ion-item lines="none">
        <ion-checkbox type="checkbox" class="checkbox" [(ngModel)]="facetValue.apply"></ion-checkbox>
        <ion-label class="filter-option-text ion-text-capitalize">
          {{ facetValue.translations ? facetValue.translations: facetValue.name  | translate | aliased }}
        </ion-label>
      </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="footer">
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="confirm()">{{ 'CONFIRM' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>