@import "src/assets/styles/_variables.scss";
    .subtitle {
      text-transform: capitalize;
      font-size: 1.3rem;
      font-weight: 700 !important;
      color: map-get($colors, facebook);
      margin-left: 1.3rem;
    }
    .checkbox {
      margin: 8px !important;
    }
    .filter-option-text {
          font-size: $font-size-base !important;
          text-overflow: unset !important;
          white-space: unset !important;
    }
    .col {
      min-height: 3.3rem !important;
    }
    .scroll-list {
      overflow-y: scroll;
      max-height: 50vh !important; //padding-bottom: 10vh !important;
    }
    .item-md {
      font-size: 1.3rem !important;
      font-weight: 600 !important;
    }
  
  .option-box::part(content) {
    margin: 0;
    width: 100% !important;
    max-height: 70% !important;
    height: auto !important;
    box-shadow: unset;
    position: fixed;
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
  }
  
  .option-box ion-backdrop {
    background-color: map-get($colors, black) !important;
    opacity: 0.4 !important;
  }

  .footer{
    background: #FFF;
    bottom: 0;
 }