<ion-content>
  <div class="cd-header-container">
    <div class="cd-title-container">
      <div class="cd-label">{{ courseContentData?.name }}</div>
      <div class="cd-header-title">{{ chapter.name}}</div>
      <div class="cd-of-menu">
        <img class="cd-menu-icon" (click)="showOverflowMenu($event)" src="assets/imgs/menu.svg" alt="menu-icon">
      </div>
    </div>
    <div class="new-div">
      <div *ngIf="!isAlreadyEnrolled">
        <div class="enrollment-info"
          *ngIf="batches && courseContentData?.contentData?.createdBy !== userId && (batches.length > 1 || (batches.length === 1 && !(todayDate > batches[0].enrollmentEndDate)))">
          <button class="enrolled-course-card-button label-uppercase label-bold-font" (click)="navigateToBatchListPage();">
            {{'FRMELEMNTS_LBL_JOIN_TRAINING' | categoryKeyTranslate : courseContentData }}
          </button>
        </div>
      </div>
      <div class="sb-course-end-container"
        *ngIf="batches && !isAlreadyEnrolled && !batches.length">
        <p class="main-heading">
          <strong>{{'NO_BATCHES_AVAILABLE'  | translate}}</strong>
        </p>
        <p class="sub-heading">{{'FRMELEMNTS_MSG_THERE_ARE_NO_BATCHES_AVAILABLE_FOR_THIS_TRAINING' | categoryKeyTranslate : courseContentData }}</p>
      </div>
      <div class="sb-course-end-container"
         *ngIf="batches && !isAlreadyEnrolled && batches.length === 1 && (todayDate > batches[0].enrollmentEndDate)">
        <p class="main-heading">
          <strong>{{'ENROLLMENT_ENDED_ON'  | translate : {'%s': batches[0].enrollmentEndDate ? (batches[0].enrollmentEndDate | date: 'dd/MM/yyyy') : ''} }}</strong>
        </p>
        <p class="sub-heading">{{'FRMELEMNTS_MSG_THERE_ARE_NO_BATCHES_AVAILABLE_FOR_THIS_TRAINING' | categoryKeyTranslate : courseContentData }}</p>
      </div>
    </div>
    <ion-card-content class="ion-no-padding">
      <div *ngIf="isAlreadyEnrolled">
        <div *ngIf="courseContent?.batchId">
          <div class="sb-course-progress-container" *ngIf="!isChapterCompleted && !batchExp">
            <p class="progress-label"><strong>{{'YOUR_PROGRESS_LABEL' | translate}}</strong></p>
            <p>{{viewedContents.length}}/{{childContents.length}} {{'COMPLETED' | translate}}</p>
            <app-pb-horizontal [progress]="chapterProgress"
              class="course-progress" [ngClass]="{'blurbackground': batchExp}"
              isOnBoardCard="flase" isCourseProgress="true"></app-pb-horizontal>
          </div>
          <div *ngIf="isChapterCompleted"
            class="sb-course-complete-container ion-padding">
            <div class="img-container">
              <img class="success-badge" src='assets/imgs/Badge green.svg'
                alt="completed">
            </div>
            <div class="text-container">
              <p><strong>{{'CHAPTER_TRAINING_COMPLETED_SUCCESSFULLY' | categoryKeyTranslate : courseContentData }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
    <div class="cd-flex-container" *ngIf="isAlreadyEnrolled">
      <div style="width: 100%;">
        <button class="cd-chapter-card-button" *ngIf="!isChapterCompleted && !isChapterStarted" (click)="startLearning();">
          <img class="play-icon" src="assets/imgs/Play@1.5x.svg" alt="play">
          {{'START_LEARNING' | translate}}
        </button>
        <button class="cd-chapter-card-button" *ngIf="isChapterCompleted" (click)="continueLearning();">
          <img class="play-icon" src="assets/imgs/Play@1.5x.svg" alt="play">
          {{'START_AGAIN' | translate}}
        </button>
        <button class="cd-chapter-card-button" *ngIf="!isChapterCompleted && isChapterStarted" (click)="continueLearning();">
          <img class="play-icon" src="assets/imgs/Play@1.5x.svg" alt="play">
          {{'CONTINUE_LEARNING' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="cd-container">
    <div class="cd-flex-container">
      <div attr.aria-label="{{'CONTENTS' | translate}}, heading" class="cd-container-title">{{"CONTENTS" | translate}}</div>
      <div class="cd-container-progress" *ngIf="isAlreadyEnrolled">{{viewedContents.length}}/{{childContents.length}} {{"COMPLETED" | translate}}</div>
    </div>
    <div>
      <sb-toc-curriculum *ngIf="chapter" [type]="cardType"  [tocData]="chapter" [contentStatus]="contentStatusData?.contentList || []" 
      [maxAttempts]="maxAssessmentLimit" [disabled]="'disabled-toc-card'" [scoreLabel]="'BEST_SCORE' | translate"
      (tocCardClick)="openContentDetails($event)"></sb-toc-curriculum>
    </div>
    
  </div>
</ion-content>
<ng-container *ngIf="trackDownloads$ | async; let downloads">
  <app-sb-download-popup *ngIf="downloads.queued.length"
    (cancelDownloadEmit)="cancelDownload()" 
    [currentCount]="downloads.completed.length"
    [queuedIdentifiers]="(downloadIdentifiers.size)" 
    [downloadSize]="downloadSize"
    [collectionName]="chapter?.name" 
    [showDownload]="true"
    [showPopover]="showCollapsedPopup">
  </app-sb-download-popup>
</ng-container>