@import "src/assets/styles/_variables.scss";
.cd-header-container {
    padding: 16px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 3px 5px 4px rgba(0,0,0,0.05);
    position: relative;
    .cd-title-container{
        margin-bottom: 8px;
    }
    .cd-header-title {
        color: map-get($colors, gray_3A);
        font-size: 1rem;
        font-weight: bold;
    }

    .cd-of-menu{
        position: absolute;
        top: 1rem;
        right: 1rem;
        .cd-menu-icon{
            height: 1rem;
            width: 1.25rem;
            margin: 8px 8px 8px 16px;
        }
    }

    .cd-progress-container {
        background-color: map-get($colors, pale_blue);
        padding: 8px;
        margin-top: 8px;
        width: auto;

        .progress-label {
            font-size: 0.625rem !important;
            color: map-get($colors, primary_black);
            font-weight: bold;
        }
    }

    .cd-unblock-text {
        color: map-get($colors, gray_3A);
        font-size: 0.625rem;
        padding: 8px 0px;
    }

    .cd-chapter-card-button {
        background-color: $green;
        border: 1px solid $green;
        color: white;
        display: inline-block;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
        width: 100%;
        padding: 16px 0px 16px 0px;
        box-shadow: 0 4px 7px 0 rgba(0,0,0,0.25);

        .play-icon {
            margin-right: px;
        }
    }
}

.cd-container {
    padding: 0px 16px 16px 16px;

    .cd-container-title {
        color: map-get($colors, gray_3A);
        font-size: 1.125rem;
        font-weight: bold;
    }

    .cd-container-progress {
        color: map-get($colors, granite_gray);
        font-size: 0.75rem;
    }

    .cd-container-sub-title {
        color: map-get($colors, gray_3A);
        font-size: $font-size-base;
    }
}

.cd-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    .cd-align-s {
        align-items: start;
        margin-bottom: 8px;
    }
}

.cd-label {
    color: map-get($colors, granite_gray);
    font-size: 0.625rem;
}
