.cd-header-container {
    padding: 16px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 3px 5px 4px rgba(0,0,0,0.05);

    .cd-header-title {
        color: #3A3A3A;
        font-size: 16px;
        font-weight: bold;
    }

    .cd-progress-container {
        background-color: #E5EDF5;
        padding: 8px;
        margin-top: 8px;
        width: auto;

        .progress-label {
            font-size: 10px !important;
            color: #333333;
            font-weight: bold;
        }
    }

    .cd-unblock-text {
        color: #3A3A3A;
        font-size: 10px;
        padding: 8px 0px;
    }

    .cd-chapter-card-button {
        background-color: #008840;
        border: 1px solid #008840;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 0px;
        cursor: pointer;
        outline: none;
        margin-bottom: 8px;
        width: 100%;
        padding: 16px 0px 16px 0px;
        box-shadow: 0 4px 7px 0 rgba(0,0,0,0.25);
    }

    .menu-icon{
        height: 16px;
        width: 20px;
        margin: 8px 8px 8px 16px;
    }
}

.cd-container {
    padding: 16px;

    .cd-container-title {
        color: #3A3A3A;
        font-size: 18px;
        font-weight: bold;
    }

    .cd-container-progress {
        color: #666666;
        font-size: 12px;
    }

    .cd-container-sub-title {
        color: #3A3A3A;
        font-size: 14px;
    }
}

.cd-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cd-align-s {
        align-items: start;
        margin-bottom: 8px;
    }
}

.cd-label {
    color: #666666;
    font-size: 10px;
}