<div class="invalidContent" *ngIf="!invalidContent">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="img-container">
          <img [src]="icon" width="auto" height="120px" alt="icon" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset="2" size="7" class="msg ion-text-center">
          <p> {{ messageKey | translate }}</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center" *ngIf="showOnlyPrimaryBtn">
        <ion-col size="12">
          <a block (click)="tryAgain()"> {{ tryAgainKey | translate }}</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer class="ion-padding">
    <ion-button expand="block" slot="end" (click)="cancel()"> {{ skipKey | translate }}
      <ion-icon name="arrow-forward" role="button" class="icon icon-md ion-md-arrow-round-forward pull-right"
        aria-label="skip" ng-reflect-name="skip"></ion-icon>
    </ion-button>
  </ion-footer>
</div>
<div class="invalidContent" *ngIf="invalidContent">
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="img-container">
          <img [src]="icon" width="auto" height="120px" alt="icon" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset="2" size="8" class="ion-text-center msg">
          <p><strong> {{ messageKey | translate }} </strong></p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center" *ngIf="!showOnlyPrimaryBtn">
        <ion-col size="12">
          <a block (click)="tryAgain()"> {{ tryAgainKey | translate }}</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer class="ion-padding">
    <ion-button class="arrow-icon" expand="block" slot="end" (click)="cancel()"> {{ skipKey | translate }}
      <ion-icon name="arrow-forward" title="skip" role="button" class="icon icon-md ion-md-arrow-round-forward pull-right"
        aria-label="arrow round-forward" ng-reflect-name="arrow-round-forward"></ion-icon>
    </ion-button>
  </ion-footer>
</div>