.sign-up-div {
    margin-top: 2vh;

    .header {
        text-align: center;
        margin: auto;

        .logos {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 4rem;
                padding: 10px;
            }
        }

        .title {
            color: #005A9E;
            font-weight: bold;
            margin-top: 2px;
        }

        .subtitle {
            font-weight: bold;
            color: #333333;
        }
    }
}


ion-input,
section {
    border: 1px solid gray;
    border-radius: 16px;
    margin: 10px auto;
    padding-left: 1rem !important;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;

    ion-icon {
        font-size: 23px;
        color: gray;
    }
}

ion-radio {
    margin: 10px;
}

.important::after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.bold {
    font-weight: bold;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.start {
    justify-content: start;
}

.radiobox div ion-text {
    font-size: 13px;
}

ion-radio-group {
    width: 100%;
    display: flex;

    ion-label {
        font-size: 13px;
    }
}

.danger {
    color: red;
    font-size: 11px;
    margin-top: -10px;
  }

.prb-4 {
    padding-right: 7rem;
    padding-bottom: 4rem;
}

sb-textbox {
    .sb-input {
        margin: 0 1rem;
        border-radius: 10px;
        border: 1px solid #8080805c;
        padding: 0px 10px;

        input {
            border: none;
        }
    }
}

.footer {
    background: #F8FAFC;
    border-top: 1px solid #d1d6dd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
  
    a {
      color: #005A9E;
    }
  }

  .submit-info{
      padding: 1rem;
  }

  ion-button{
      height: 2.5rem
  }