<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goBack()">
        <ion-icon class="arrow-icon back-arrow" role="button" aria-label="back" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1">{{'FRMELEMNTS_LBL_STEP' | translate:{'page_number': '3/4'} }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="sign-up-div">
    <div class="header">
      <div class="logos">
        <img src="assets/imgs/ic_launcher.png" alt="app">
      </div>
      <div class="ion-padding">
        <h1 class="title">{{'APP_TITLE' | translate:{'%s': appName} }}</h1>
        <h5 class="subtitle">{{'FRMELEMNTS_LBL_MOBILE_OR_EMAIL' | translate}}</h5>
        <span>({{'FRMELEMNTS_LBL_OTP_SENT' | translate}})</span>
      </div>
    </div>
    <ion-radio-group [(ngModel)]="contactType" (ionChange)="contactTypeChange()">
      <ion-item lines="none">
        <ion-label>{{'PHONE_PLACEHOLDER' | translate}}</ion-label>
        <ion-radio slot="start" value="phone" name="contactType"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-radio slot="start" value="email" name="contactType"></ion-radio>
        <ion-text>{{'EMAIL_ID_PLACEHOLDER' | translate }}</ion-text>
      </ion-item>
    </ion-radio-group>
    <div class="emailPasswordForm">
      <sb-form *ngIf="contactConfig && contactConfig.length" [config]='contactConfig'
      [platform]="'mobile'" (valueChanges)="onFormEmailPasswordChange($event)"
        (statusChanges)="statusChanges($event)">
      </sb-form>
    </div>
    <div class="submit-info">
        <ion-button expand="block" 
          [disabled]="!isFormValid" (click)="continue()">
          {{'FRMELEMNTS_BTN_SUBMIT' | translate}} <ion-icon class="mg-popup-btn-icon" name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </div>
  </div>
</ion-content>

<div class="footer">
  <label>{{'HAVE_ACCOUNT' | translate }}</label>
  <button class="login-info sb-btn sb-btn-normal sb-btn-outline-primary text-uppercase"
  aria-label="Already have an account? Login here" tabindex="0" (click)="redirectToLogin()" type="submit">{{'SIGN_IN'
  | translate}}</button>
</div>