.mu-title{
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  margin: 16px;
}

.mu-selected-user{
  border: 0.5px solid #007AFF;
  border-radius: 2px;
  background-color: #E0EFFF;
  position: relative;
}

.mu-selected-checkbox{
  position: absolute;
  right: 10px;
  top: 30%;
}

.mu-dissable-checkbox{
  display: none;
}
ion-button{
  height: 40px !important;
}

.add-user{
  padding: 0 8px;
  ion-button{
    --background: #BFE1CF !important;
    color: #008840;
  }
}

ion-footer{
  ion-button{
    --background: #024F9D !important;
  }
}

.add-size{
  font-size: 24px;
  padding-right: 8px;
}

.button-outline{
  --background: #E5EDF5 !important;
  --border-color: #E5EDF5 !important;
}

.sb-new-btn {
  background-color: #024F9D;
  color: #FFFFFF;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans";
  font-size: 16px;
}

.sb-new-btn-success {
  background-color: #BFE1CF;
  color: #008840;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans";
  font-size: 16px;
}
