<ion-content>

  <section>
    <div>
      <p class="mu-title">{{'CHOOSE_USER' | translate}}</p>
    </div>
    <!-- <sb-member-list [memberList]="manageProfileList" (cardClick)="selectedUser($event)"></sb-member-list> -->

    <div class="mx-8">
      <div [ngClass]="{'mu-selected-user':selectedUserIndex===i, '':selectedUserIndex!==i}" *ngFor="let user of manageProfileList; let i = index">
        <sb-member-card [title]="user.title" [identifier]="user.id" (cardClick)="selectedUser(user, i)" ></sb-member-card>
        <img [ngClass]="{'mu-selected-checkbox':selectedUserIndex===i, 'mu-dissable-checkbox':selectedUserIndex!==i}" src="assets/imgs/dark_blue_check.svg" alt="selected-checkbox">
      </div>
    </div>

    <ion-button fill="outline" expand="block" (click)="addUser()" class="m-8 ion-text-capitalize">
      <span class="add-size">+</span> {{'ADD_USER' | translate}}
    </ion-button>
  </section>
  
  </ion-content>
  
  <ion-footer>
    <ion-row>
      <ion-col>
        <ion-button class="ion-text-capitalize" expand="block"
          [disabled]="selectedUserIndex === -1" (click)="switchUser()">{{'SWITCH_USER' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>