<ion-content>

  <section>
    <div>
      <p class="mu-title">{{'USE_APP_AS' | translate: {'%s': appName} }}</p>
    </div>

    <div class="add-user">
      <ion-button fill="outline" expand="block" (click)="addUser()" class="m-8 ion-text-capitalize">
        <span class="add-size">+</span> {{'ADD_USER' | translate}}
      </ion-button>
    </div>

    <div class="mx-8 manage-user-section">
      <div class="manage-user-item" [ngClass]="{'mu-selected-user':selectedUserIndex===i, '':selectedUserIndex!==i}" *ngFor="let user of (manageProfileList$ | async); let i = index">
        <sb-member-card 
          [title]="user.firstName"
          [identifier]="user.id"
          [initial]="user.firstName | initial"
          [cardImg]="selectedUserIndex === i ? 'assets/imgs/dark_blue_check.svg' : platform.is('ios') ? 'random.png' : ''"
          [indexOfMember] = "i"
          [config]="sbCardConfig"
          (cardClick)="selectUser(user, i)">
        </sb-member-card>
      </div>
    </div>

  </section>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button class="ion-text-capitalize mb-16" expand="block" [disabled]="selectedUserIndex === -1"
        (click)="switchUser()">{{'SWITCH_USER' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
