@import "src/assets/styles/_variables.scss";

.mu-title{
  font-size: 16px;
  font-weight: bold;
  color: map-get($colors, granite_gray);
  margin: 16px;
}

.mu-selected-user{
  border: 0.5px solid map-get($colors, primary_blue);
  border-radius: 2px;
  background-color: map-get($colors, pale_blue_e0);
  position: relative;
}

.mu-selected-checkbox{
  position: absolute;
  right: 10px;
  top: 30%;
}

.mu-dissable-checkbox{
  display: none;
}
ion-button{
  height: 40px !important;
}

.add-user{
  padding: 0 8px;
  ion-button{
    --background: #{map-get($colors, light_grayish_green)} !important;
    color: $green;
  }
}

ion-footer{
  ion-button{
    --background: #{$blue} !important;
  }
}

.add-size{
  font-size: 24px;
  padding-right: 8px;
}

.button-outline{
  --background: #{map-get($colors, pale_blue)} !important;
  --border-color: #{map-get($colors, pale_blue)} !important;
}

.sb-new-btn {
  background-color: $blue;
  color: map-get($colors, white);
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans";
  font-size: 16px;
}

.sb-new-btn-success {
  background-color: map-get($colors, light_grayish_green);
  color: $green;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans";
  font-size: 16px;
}
