<ion-app>
  <ion-content fullscreen>
    <ion-list>
      <ion-item>
        <div style="margin-top: 15px;">
          <ion-label>
            <div class="title">Aadhyaan Assesment SSIP Program</div>
            <div>
              <div class="desc">{{'SOLUTION_DESCRIPTION'| translate}}</div>
            </div>
          </ion-label>
        </div>
      </ion-item>
    </ion-list>
      <ion-list *ngFor = "let data of result">
        <app-common-list-card [title]="data?.name" [subTitle] ="data?.description"  [id] = "data?.id" (cardSelect)="selectedSolution($event)"></app-common-list-card>
    </ion-list>
  </ion-content>
  </ion-app>