@import "src/assets/styles/_variables.scss";
@import "src/assets/styles/_custom-mixins";

:host {
    .input-container {
        border: 0.5px solid map-get($colors, primary_black);
        padding: 11px;

        .input {
            border: map-get($colors, white);
            outline: none;
        }

        .input-icon {
            float: right;
            font-size: 1.25rem;
            color: map-get($colors, primary_black);
        }
    }

    .font-size-13{
      font-size: 0.813rem;
    }
    
    .error-input{
      border-bottom: 1.5px solid map-get($colors, bright_red_e7) !important;
    }

    .label {
        font-size: 0.813rem;
        padding-left: 16px;
        color: map-get($colors, primary_black);
    }

    .name {
        padding-bottom: 16px;
        padding-bottom: 22px;
    }

    input:-internal-autofill-selected {
        background-color: white !important;
    }

    .margin-top-6 {
        margin-top: 6vh;
    }

    .name-feild {
        width: 100%;
        border-right: white;
        border-top: white;
        border-left: white;
        border-bottom: 0.5px solid map-get($colors, primary_black);
        padding-bottom: 6px;
        padding-left: 11px;
        font-size: 0.813rem;
        outline: none;
    }

    input::placeholder {
        padding-left: 16px;
    }

    .oneline-input {
        border-left: white;
        border-right: white;
        border-top: white;
        border-bottom: 0.5px solid map-get($colors, primary_black);
        width:100%;
        outline: none;
    }

    .disableInput {
        background-color: map-get($colors, white_eb);
    }
    .danger {
        color: red;
    }

    .disabled-button {
        opacity: 0.5;
    }

    .input-label {
        font-weight: 200;
        font-size: $font-size-base;
        color: map-get($colors, gray_79);
    }

    .margin-top {
        margin-top: 20px;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }

    .showList {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-height: 12.5rem;
        overflow-y: scroll;

        ul {
            list-style-type: none;
        }

        li {
            padding: 8px 0px 8px 8px;
        }
    }

    .footer {
        width: 100%;
        bottom: 0;
    }
    .ios-footer {
        width: 100%;
        bottom: 1em;
        position: fixed;
    }

    .heading {
        color: $blue;
        text-align: center;
        font-size: $font-size-base;
        margin: 16px 0px 16px 0px;
    }

    .sub-heading {
        color: map-get($colors, primary_black);
        font-size: 0.75rem;
        margin: 16px 0px 25px 0px;
    }

    .top-back-button {
        font-size: 1.25rem;
        @include rtl() {
            float: right;
        }
    }

    ::-webkit-scrollbar {
        width: 0.313rem;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: map-get($colors, gray_81);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: map-get($colors, gray_ba);
    }

    .block-button-save{
        color: white;
        background-color: $blue;
        font-size: 1rem;
        padding: 8px 0;
        margin-left: 18px;
        border: 2px solid $blue;
        width: 45%;
      }
      .block-button-clear{
        color: $blue;
        background-color: white;
        font-size: 1rem;
        padding: 8px 0;
        border: 2px solid $blue;
        width: 45%;
        margin-left: 0.7rem;
      }
    .arrow-icon {
        right: 0.938rem;
        top: 50%;
        width: 1.375rem;
        float: right;
        @include rtl {
            float: left;
            margin-left: 10px;
        }
        &.animate {
            position: relative;
            animation: upDownAnimate 5s linear infinite;
            animation-duration: 0.9s;
        }
    }
    .btn-info{
        padding: 20px
    }
    .login-info{
        border: none !important;
    }
    .preference-info{
        font-size: 1.125rem;
        position: absolute;
        margin-left: 10px;
    }

    .blur-clear-btn{
        color: $primary-100 !important;
        border-color: 2px solid $primary-100 !important;
    }
    .blur-save-btn{
        background-color: map-get($colors, light_blue_color) !important;
        border-color: 2px solid $primary-100 !important;
    }
}

@keyframes upDownAnimate {
    0% {right: 0;}
    50% {right: 10px;}
    100% {right: 0;}
}

.ios ::ng-deep .sb-modal {
    bottom: calc(env(safe-area-inset-bottom) + 20px) !important;
}

.bottom-section {
    width: 4.688rem;
    height: 4.688rem;
}

.dm-header-new {
    padding-bottom: 2rem;
}

.login-header {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

  .login-content {
      text-align: center;
      padding-top: 1rem;
  }

  label {
    display: inline-block;
    font-weight: 700;
  }

  :host ::ng-deep {
    --sbt-pill-bg-active: #004594;
    --sbt-pill-text-hover: #ffffff;
    --sbt-pill-hs: 212,100%;
    --sbt-pill-bg: hsl(var(--sbt-pill-hs), 90%);
    --sbt-box-shadow-black: rgba(0, 0, 0, 0.1);
    --sbt-box-shadow-3px: 0.1875rem 0.1875rem 0.125rem 0 var(--sbt-box-shadow-black);
    --sbt-theme-purple-selectbox: #6841B3;
    --sbt-theme-purple-selectbox-lbg: #F2EEFF;
    --sbt-bradius: 0.125rem;
    --sbt-bradius-24: calc(var(--sbt-bradius) * 12);
  
    .cfe-multiselect-container {
        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
          }
      
      margin-bottom: 1rem;
  
      .cfe-multiselect-field {
        display: flex;
  
        height: 2.76rem;
        line-height: 2.5rem;
        border-radius: var(--sbt-bradius-24) !important;
  
        font-weight: 700;
        font-size: .75rem;
        width: 100%;
        min-height: 2rem;
  
        border: 1px solid gray;
        padding: 0.188rem 1.25rem;
        white-space: normal;
        outline: 0;
        min-width: 14rem;
        box-shadow: var(--sbt-box-shadow-3px);
        transition: box-shadow .1s ease, width .1s ease;
  
        -webkit-tap-highlight-color: transparent;
        text-align: left;
  
        .cfe-multiselect-field-label-container {
          height: 100%;
          width: 100%;
          overflow: hidden;
  
          order: 1;
          flex-grow: 1;
          border-bottom-color: transparent !important;
  
          ul {
            height: 100%;
            width: 100%;
            overflow: hidden;
  
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 0 !important;
          }
  
          .cfe-multiselect-field-label {
            display: inline;
            font-size: 0.95rem !important;
          }
        }
  
        .cfe-multiselect-field-caret {
          order: 2;
          flex-shrink: 0;
  
          box-sizing: border-box;
          padding-right: .75rem;
          top: .3rem !important
        }
      }

      .sb-modal ul {
        list-style-type: none;
      }
    }
  }