@import "src/assets/styles/_variables.scss";

:host {
    .input-container {
        border: 0.5px solid #333333;
        padding: 11px;

        .input {
            border: #ffffff;
            outline: none;
        }

        .input-icon {
            float: right;
            font-size: 20px;
            color: #333333;
        }
    }

    .font-size-13{
      font-size: 13px;
    }
    
    .error-input{
      border-bottom: 1.5px solid #e76026 !important;
    }

    .label {
        font-size: 13px;
        padding-left: 16px;
        color: #333333;
    }

    .name {
        padding-bottom: 16px;
        padding-bottom: 22px;
    }

    input:-internal-autofill-selected {
        background-color: white !important;
    }

    .margin-top-6 {
        margin-top: 6vh;
    }

    .name-feild {
        width: 100%;
        border-right: white;
        border-top: white;
        border-left: white;
        border-bottom: 0.5px solid #333333;
        padding-bottom: 6px;
        padding-left: 11px;
        font-size: 13px;
        outline: none;
    }

    input::placeholder {
        padding-left: 16px;
    }

    .oneline-input {
        border-left: white;
        border-right: white;
        border-top: white;
        border-bottom: 0.5px solid #333333;
        width:100%;
        outline: none;
    }

    .disableInput {
        background-color: #EBEBE4;
    };
    .danger {
        color: red;
    }

    .disabled-button {
        opacity: 0.5;
    }

    .input-label {
        font-weight: 200;
        font-size: 14px;
        color: #797979;
    }

    .margin-top {
        margin-top: 20px;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }

    .showList {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-height: 200px;
        overflow-y: scroll;

        ul {
            list-style-type: none;
        }

        li {
            padding: 8px 0px 8px 8px;
        }
    }

    .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .heading {
        color: #024f9d;
        text-align: center;
        font-size: 14px;
        margin: 16px 0px 16px 0px;
    }

    .sub-heading {
        color: #333333;
        font-size: 12px;
        margin: 16px 0px 25px 0px;
    }

    .top-back-button {
        font-size: 20px;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #818181;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #bababa;
    }

    .block-button {
        text-align: center;
        padding: 16px 0 16px 0;
        width: 92%;
        margin: 0 4% 32px 4%;
        color: white;
        background-color: #0076fe;
        text-transform: uppercase;
    }
}