<span *ngIf="isForumEnabled" role="button" aria-label="Discussions" (click)="openDiscussionForum()">
    <ion-icon src="assets/imgs/ic_chat.svg" class="card-icons" *ngIf="fetchForumIdReq.type==='group' && isForumEnabled"></ion-icon>
</span>
<button (click)="openDiscussionForum()" *ngIf="(fetchForumIdReq.type==='course' || fetchForumIdReq.type==='batch') && isForumEnabled"
        class="card-button" slot="icon-only">
    <ion-icon src="assets/imgs/ic_chat.svg" class="card-icons"></ion-icon>
    <p class="card-text">{{'FORUM' | translate}}</p>
</button>