@import "src/assets/styles/_variables.scss";
.card-icons{
    margin-right: 10px;
    position: relative;
    top: 0.125rem;
}
.card-text{
    height: 1.125rem;
    width: 3.938rem;
    color: map-get($colors, granite_gray);
    font-family: "Noto Sans", sans-serif;
    font-size: 0.813rem !important;
    line-height: 1.25rem;
    text-align: center;
}
.card-button{
    background-color: transparent !important;
    outline: none;
    font-size: 1.875rem;
}