<!-- Generated template for the RemarksComponent component -->
<div class="ion-margin-top ion-margin-bottom">
  <h4 class="_flex-box justify-content">
    <div style="flex:1">{{'FRMELEMENTS_LBL_REMARKS'|translate}}</div>
    <ion-button ion-button clear size="small"  *ngIf="!data.remarks" (click)="openUpdateRemarks()">
      {{'FRMELEMENTS_BTN_ADD'|translate}}
    </ion-button>
    <ion-button clear color="danger" size="small" *ngIf="data.remarks" (click)="data.remarks = ''">
      {{'FRMELEMENTS_BTN_DELETE'|translate}}
    </ion-button>
  </h4>
  <ion-item *ngIf="data.remarks" (click)="openUpdateRemarks()">
    <ion-label>{{data.remarks}}</ion-label>
    <ion-icon name="create" slot="end"></ion-icon>
    <!-- <ion-textarea [(ngModel)]="data.remarks" placeholder="Remarks"></ion-textarea> -->
  </ion-item>
</div>