@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_variables.scss";

.flex-grow-1{
    flex-grow: 1;
}

.sb-popover .sb-popover-footer .sb-popover-action-btn.sb-btn-outline-info {
    color: $primary-color;
    margin: 0 10px;
}

.content-share{
    ion-radio{
        margin-right: 10px !important;
    }
    .share-link{
        border-bottom: 1px solid map-get($colors, empty_color);
    }
    .share-url{
        margin-left: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 15px;
        border: 1px solid $light-blue;
        padding: 5px;
        color: map-get($colors, gray_solid);
        position: relative;
        top: -0.625rem;
    }
    .share-desc{
        text-align: left;
        margin-left: 50px;
        color: map-get($colors, gray_solid);
        position: relative;
    }
    .share-info{
        background: $light-blue;
        margin-left: 20px;
        padding: 5px;
        margin-right: 15px;
        text-align: left;
        margin-bottom: 20px;
        color: map-get($colors, light_black);
        ion-icon{
            color: map-get($colors, gray_solid);
            position: relative;
            top: 0.188rem;
        }
    }
}

