@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/_variables.scss";

ion-content {
  --ion-background-color: #{$light-blue};
}
:host {
  .card-related-style {
    //border-style: solid;
    //border-width: 2px;
    //border-radius: 6px !important;
    //margin-inline-start: unset !important;
    //margin-inline-end: unset !important;
    text-align: center;
    position: relative;
    box-shadow: 0 20px 40px -10px map-get($colors, light_silver);
    background-color: map-get($colors, white);
    border-radius: 4px;
  }

  .description {
    color: map-get($colors, title);
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500 !important;
    @include padding(null, null, null, 35px !important);
  }

  .card-title {
    font-weight: 700 !important;
    font-size: 1.4rem;
    color: map-get($colors, secondary_black);
    //margin-top: 10px !important;
  }

  .thumbnail {
    width: 100%;
    height: auto;
  }
  .icon-check {
    visibility: hidden;
    width: auto;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    &.selected {
     visibility: visible;
    }
  }

  .card-content-md {
    @include padding(null, null, null, 0 !important);
  }

  ion-card {
    background-color: map-get($colors, white_f7) !important;
    @include margin(20px, 0, 0, 0 !important);
    height: calc(100% - 20px);
    width: 100% !important;
    &.selected {
      border:3px solid map-get($colors, vived_blue_fe);
    }
    > ion-grid {
      height: 100%;
    }
  }

  ion-icon {
    @include ltr {
      float: right !important;
    }
    @include rtl {
      float: left !important;
    }
  }

  .arrow-icon {
    right: 15px;
    //position: absolute;
    top: 50%;
    //transform: translateY(-50%);
    width: 22px;
  }

  .black-color {
    color : black;
  }
  .gray-color {
    color: map-get($colors, primary_black);
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 30px;
    font-weight: bold;
    font-size: 24px;
  }
  .title-class {
    font-size: 24px;
    font-weight: bold;
    color: $blue;
    margin-top: 4vh;
  }

  .back-btn-container{
    @include ltr() {
      top: 0;
      left: 0;
    }
    @include rtl() {
      top: 0;
      right: 0;
    }
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    .top-back-button{
      position: relative;
      font-size: 22px;
      @include ltr() {
        top: 20px;
        left: 20px;
      }
      @include rtl() {
        top: 20px;
        right: 20px;
      }
    }
  }
}
