@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/_variables.scss";
@import "src/assets/styles/fonts";

:host {
  .card-title {
    font-weight: 700 !important;
    font-size: 1.4rem;
    color: map-get($colors, secondary_black);
    text-align: center;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    max-width: 9.375rem;
  }

  .icon-check {
    visibility: hidden;
    width: auto;
    height: auto;
    margin-left: 124px;
    &.selected {
     visibility: visible;
    }
  }

  .card-content-md {
    @include padding(null, null, null, 0 !important);
  }

  .gray-color {
    color: map-get($colors, primary_black);
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 1.88rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .title-class {
    font-size: 1.5rem;
    font-weight: bold;
    color: $blue;
    margin-top: 4vh;
  }

  .back-btn-container{
    @include ltr() {
      top: 0;
      left: 0;
    }
    @include rtl() {
      top: 0;
      right: 0;
    }
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    .top-back-button{
      position: relative;
      width: 1.375rem;
      @include ltr() {
        left: 1rem;
        transform: rotate(180deg);
      }
      @include rtl() {
        right: 1rem;
        transform: rotate(0deg);
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
  }

  .disabled-button {
    opacity: 0.8;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 15px;
    background-color: map-get($colors, white);
    justify-content: center;
    align-items: center;
    height: 17rem;
    &.selected {
      border:3px solid map-get($colors, vived_blue_fe);
    }
  }

  .continue {
    position: fixed;
    z-index: 2;
    bottom: 2rem;
    width: 90vw;
    left: 5vw;
  }
  img.arrow-icon {
    display: inline-block;
    width: 1.375rem;
    margin-top: -3px;
    float: right;

    &.animate {
      position: relative;
      animation: dropDown 5s linear infinite;
      animation-duration: 0.9s;
    }

    @include rtl {
      transform: rotate(180deg);
      float: left !important;
    }
  }
  .app-text-heading-welcome {
    padding-top: 1em;
  }
  .coming-soon-image {
    opacity: 0.5;
  }
  .coming-soon-title {
    font-weight: 700 !important;
    font-size: 1.0rem;
    color: map-get($colors, title);
  }

  .check-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
