$user-size: 100%;

.user-image {
  width: $user-size;
  height: $user-size;
  border-radius: 50%;
  object-fit: cover;
}
.user-icon {
  font-size: $user-size;
  width: $user-size;
  height: $user-size;
  vertical-align: initial !important;
}
.rounded-icon {
  display: inline-block;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
}
.name-initials-image {
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.font-normal{
    font-weight: 400;
}
