@import '~@angular/material/theming';
@import './theme-mixins';

// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat-palette($mat-orange);
$theme-accent: mat-palette($mat-teal);

// The warn palette is optional (defaults to red).
$theme-warn: mat-palette($mat-red);
$background-color: mat-palette($mat-red);
$theme-background: mat-palette($mat-red);

.theme-orange {
  &.day-mode {
    $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

     // $custom-background-color: map_get($mat-blue-grey, 50);

    // -or- Can set colour by hex value too
    // $custom-background-color: #F5F6FA;

    // $background: map-get($theme, background);
    // $background: map_merge($background, (background: $custom-background-color));
    // $theme: map_merge($theme, (background: $background));
    @include angular-material-theme($theme);
    @include theme-based-configurations($theme);
    // $background: $background-color;
  }
  &.night-mode {
    $theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
    @include angular-material-theme($theme);
    @include theme-based-configurations($theme);
  }
}
