@import "src/assets/styles/_variables.scss";
:host {
  .sb-card {
    .img-container {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .grade_ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: map-get($colors, gray_96);
  }

  .textbook-margin-4 {
    margin: 0 4px;
  }

  .sb-card:not(:last-child) {
    border-bottom: solid 1px map-get($colors, medium_gray);
  }
}
