@import "src/assets/styles/variables";

:host {
  .sb-card {
    .img-container {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .grade_ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $gray-300;
  }

  .textbook-margin-4 {
    margin: 0 ($base-block-space/2);
  }

  .sb-card:not(:last-child) {
    border-bottom: solid 1px #ccc;
  }
}
