  <ion-content hide-header-footer overflow-scroll="true"
  class="main-container avoid-bottom-tabs-space ui-container" scrollEvents="true">
    <div class="header-section">
      <div class="title">{{'EXPLORE_PROGRAMS' | translate }}</div>
      <div class="desc">{{ description }}</div>
      <ion-searchbar debounce="1000" placeholder="{{'FRMELEMNTS_LBL_SEARCH_PROGRAMS_PLACEHOLDER' | translate}}" [(ngModel)]="search"
      (ionChange)="searchPrograms($event)" search-icon="search">
      </ion-searchbar>
    </div>
    <app-item-list-card [title]="data?.name"  [id]="data?._id" [state]="data?.metaInformation?.state" [roles]="data?.metaInformation?.roles"
    (cardSelect)="selectedProgram($event)" *ngFor="let data of programs">
    </app-item-list-card>
    <app-no-data *ngIf="!programs?.length" message="{{ search ? 'EMPTY_SEARCH_RESULTS' : 'NO_DATA_FOUND' }}"></app-no-data>
  </ion-content>
  <ion-button class="custom-btn-txt-transform-none mx-8 mt-16 load-more" fill="outline" expand="block"
    (click)="loadMore()" *ngIf="programs?.length && count > programs?.length">
      {{ 'FRMELEMNTS_BTN_LOAD_MORE' | translate }}
    </ion-button>