<div class="_flex-box ion-margin-top"  style="flex-wrap: wrap;">

  <div *ngIf="datas?.file" class="_cards _flex-box _justify-content-center _flex-direction-column ion-padding" >

    <div class="textAdj" (click)="doAction()">
      <div class=" _flex-box _justify-content-center _flex-direction-column">
        <ion-icon name="add" class="_iconAdj"></ion-icon>
      </div>
      <div>{{'FRMELEMENTS_LBL_FILES'|translate}}</div>
    </div>
    <div class="_overlay" (click)="doAction()"></div>
  </div>

  <div class="_cards _flex-box  _justify-content-center" *ngFor="let image of imageList; let i = index">
    <ion-icon name="trash" class="_closeBtn" (click)="deleteImageAlert(i)"></ion-icon>
    <div class="_overlay" (click)="previewFile(image?.imageName,image?.extension)"></div>
    <img [src]="image?.data">
    <span>
      <ion-icon name="document" *ngIf="pdfFormats.includes(image?.extension) || wordFormats.includes(image?.extension) || pptFormats.includes(image?.extension) "></ion-icon>
      <ion-icon name="musical-notes" *ngIf="audioFormats.includes(image?.extension)"></ion-icon>
      <ion-icon name="videocam"  *ngIf="videoFormats.includes(image?.extension)"></ion-icon>
      <ion-icon class="attachmentIcon" name="image" *ngIf="imageFormats.includes(image?.extension)"></ion-icon>
    </span>
  </div>
  <ion-card *ngIf="datas?.allowAudioRecording">
    <ion-card-content>
      <ion-row *ngIf="!recording">
        <button ion-button primary (click)="checkRecordMediaPermission()">
          <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record
        </button>
      </ion-row>
      <ion-row *ngIf="recording" class="_flex-box _justify-content-space-between">
        <button ion-button primary (click)="stopRecord()">
          <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record
        </button>

        <h1>
          <span *ngIf="minutes < 10">0</span>{{minutes}} : <span *ngIf="seconds < 10">0</span>{{seconds}}
        </h1>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>