<div class="sign-up-div">
  <div class="header">
    <div class="logos">
      <img src="../../assets/imgs/Emblem_of_India.png" alt="app-logo">
      <img src="../../assets/imgs/ic_launcher.png" alt="app-logo">
    </div>
    <div class="ion-padding">
      <h1 class="title">{{'APP_TITLE' | translate:{'%s': appName} }}</h1>
      <h5 class="subtitle">Enter mobile number or email address of your parent or guardian*</h5>
      <span>(An OTP will be sent to verify mobile number or email address)</span>
    </div>
  </div>

  <ion-radio-group [(ngModel)]="contactType" (ionChange)="contactTypeChange()">
    <ion-item lines="none">
      <ion-label>Mobile Number</ion-label>
      <ion-radio slot="start" value="phone" name="contactType"></ion-radio>
    </ion-item>
    <ion-item lines="none">
      <ion-radio slot="start" value="email" name="contactType"></ion-radio>
      <ion-text>Email Address</ion-text>
    </ion-item>
  </ion-radio-group>
  <div class="emailPasswordForm">
    <sb-form *ngIf="emailPasswordConfig && emailPasswordConfig.length" [config]='emailPasswordConfig'
      [platform]="'mobile'" (valueChanges)="onFormEmailPasswordChange($event)" (statusChanges)="statusChanges($event)">
    </sb-form>
    <div class="ion-padding-start danger" *ngIf="errorConfirmPassword"> Passwords do not match </div>
  </div>

  <ion-row class="ion-justify-content-end prb-3">
    <ion-col size="6" class="flex">
      <ion-button (click)="back()" color="light" shape="round">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button expand="block" [ngStyle]="{'background-color': btnColor}"
        [disabled]="!isFormValid && !errorConfirmPassword" (click)="continue()">
        {{'CONTINUE' | translate}} <ion-icon class="mg-popup-btn-icon" name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>