Mandatory properties

//App specific Properties
staging_app_id = STAGING_APP_ID
app_name = APP_NAME
app_version_code = APP_VERSION_CODE

// Staging envornment properties
staging_base_url = STAGING_BASE_URL
staging_device_register_base_url= STAGING_DEVICE_REGISTER_BASE_URL
staging_deeplink_base_url = STAGING_DEEPLINK_BASE_URL
staging_mobile_app_key = STAGING_MOBILE_APP_KEY
staging_mobile_app_secret = STAGING_MOBILE_APP_SECRET


// Fabric Keys
release_fabric_api_key = RELEASE_FABRIC_API_KEY
release_fabric_api_secret = RELEASE_FABRIC_API_SECRET

// Configurable Properties
support_email = SUPPORT_EMAIL


Optional properties

// Staging envornment properties.
staging_channel_id = STAGING_CHANNEL_ID
staging_producer_id = STAGING_PRODUCER_ID
staging_merge_account_base_url= STAGING_MERGE_ACCOUNT_BASE_URL
staging_deeplink_ncert_url = STAGING_DEEPLINK_NCERT_URL
staging_deeplink_igot_url = STAGING_DEEPLINK_IGOT_URL
staging_tou_base_url = STAGING_TOU_BASE_URL
staging_survey_base_url= STAGING_SURVEY_BASE_URL
staging_projects_base_url = STAGING_PROJECTS_BASE_URL
​
​

​

