
// App specific Properties
app_name = APP_NAME
app_version_code = APP_VERSION_CODE

// Staging environment properties

// Mandatory
staging_app_id = STAGING_APP_ID
staging_base_url = STAGING_BASE_URL
staging_deeplink_base_url = STAGING_DEEPLINK_BASE_URL
staging_mobile_app_key = STAGING_MOBILE_APP_KEY
staging_mobile_app_secret = STAGING_MOBILE_APP_SECRET
// Optional
staging_channel_id = STAGING_CHANNEL_ID
staging_producer_id = STAGING_PRODUCER_ID
staging_merge_account_base_url= STAGING_MERGE_ACCOUNT_BASE_URL
staging_deeplink_ncert_url = STAGING_DEEPLINK_NCERT_URL
staging_deeplink_igot_url = STAGING_DEEPLINK_IGOT_URL
staging_tou_base_url = STAGING_TOU_BASE_URL
staging_survey_base_url= STAGING_SURVEY_BASE_URL
staging_projects_base_url = STAGING_PROJECTS_BASE_URL

// Dev environment properties

// Mandatory
dev_base_url = DEV_BASE_URL
dev_deeplink_base_url = DEV_DEEPLINK_BASE_URL
dev_mobile_app_key = DEV_MOBILE_APP_KEY
dev_mobile_app_secret = DEV_MOBILE_APP_SECRET
// Optional
dev_app_id = DEV_APP_ID
dev_channel_id = DEV_CHANNEL_ID
dev_producer_id = DEV_PRODUCER_ID
dev_merge_account_base_url= DEV_MERGE_ACCOUNT_BASE_URL
dev_deeplink_ncert_url = DEV_DEEPLINK_NCERT_URL
dev_deeplink_igot_url = DEV_DEEPLINK_IGOT_URL
dev_tou_base_url = DEV_TOU_BASE_URL
dev_survey_base_url= DEV_SURVEY_BASE_URL
dev_projects_base_url= DEV_PROJECTS_BASE_URL

// Production environment properties

// Mandatory
production_app_id = PRODUCTION_APP_ID
production_base_url = PRODUCTION_BASE_URL
production_deeplink_base_url = PRODUCTION_DEEPLINK_BASE_URL
production_mobile_app_key = PRODUCTION_MOBILE_APP_KEY
production_mobile_app_secret = PRODUCTION_MOBILE_APP_SECRET
// Optional
production_channel_id = PRODUCTION_CHANNEL_ID
production_producer_id = PRODUCTION_PRODUCER_ID
production_merge_account_base_url= PRODUCTION_MERGE_ACCOUNT_BASE_URL
production_deeplink_ncert_url = PRODUCTION_DEEPLINK_NCERT_URL
production_deeplink_igot_url = PRODUCTION_DEEPLINK_IGOT_URL
production_tou_base_url = PRODUCTION_TOU_BASE_URL
production_survey_base_url= PRODUCTION_SURVEY_BASE_URL
production_projects_base_url= PRODUCTION_PROJECTS_BASE_URL


// Configurable Properties
support_email = SUPPORT_EMAIL