Mandatory properties

//App specific Properties
staging_app_id = org.sunbird.app.staging
app_name = Sunbird
app_version_code = 1

// Staging envornment properties
staging_base_url = https://staging.sunbirded.org
staging_device_register_base_url= https://apistaging.ntp.net.in
staging_deeplink_base_url = staging.sunbirded.org

// Fabric Keys
release_fabric_api_key = 4a735dc3520070ad4ea3339e4d8d2bb00efe8eaa
release_fabric_api_secret = a98a1c7293881445c6e471588c3adaaef3814c89bdf26b4c1393196162ba9e1c

// Configurable Properties
support_email = dummy@example.com


Optional properties

// Staging envornment properties.
staging_channel_id = 505c7c48ac6dc1edc9b08f21db5a571d
staging_producer_id = staging.diksha.app
staging_merge_account_base_url= https://merge.staging.ntp.net.in
staging_deeplink_ncert_url = epathshala.nic.in
staging_deeplink_igot_url = igot.gov.in
staging_tou_base_url = https://static.preprod.ntp.net.in
staging_survey_base_url= https://google.com/
staging_projects_base_url = https://google.com
​
​

​

