@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/variables";
@import "src/assets/styles/_variables.scss";
:host {
  .close-button.button-outline-md {
    border-color: transparent;
    color: map-get($colors, grayish_blue);
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    margin-top: 3px !important;
    height: 1.4em;
  }
  .close-button.button-outline-md .button-inner {
    @include padding(null, 14px, null, null);
  }
  .close-button.button-outline-md [icon-only] ion-icon {
    font-size: 1.4rem;
  }
  .padding-left-5 {
    @include padding(null, null, null, 5% !important);
  }
  .margin-top-5 {
    margin-top: 15px !important;
  }

  :host::part(content) {
    margin: 0;
    width: 100vw !important;
    height: auto !important;
    box-shadow: unset;
    position: fixed;
    left: 0 !important;
    @include ltr() {
      left: 0 !important;
    }

    @include rtl() {
      right: 0 !important;
    }

    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
    overflow-y: hidden;
  }
  ion-backdrop {
    background-color: map-get($colors, dark) !important;
    opacity: 0.4 !important;
  }

  .P16 {
    padding: 16px !important;
  }

  .merged-input-container {
    border: 1px solid $form-input-border-active-color;
    display: flex;
    flex: 1 1 auto;
    border-radius: 4px;
    .decorator {
      display: inline-block;
      max-width: 3.125rem;
    }
    .custom {
      display: inline-block;
    }
  }
  .MT3V {
    margin-top: 3vh;
  }
  .custom-shadow {
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    margin-top: 35% !important;
  }

  .ecd-header {
    background-color: #{$blue};
    color: map-get($colors, white);
    padding: 16px 0;
  }

  ion-button{
    --background: #{$blue} !important;
    color: map-get($colors, white);
    --background-hover: #{$blue} !important;
    --background-activated: #{$blue} !important;
  }

  ion-button[fill="outline"]{
    --background: map-get($colors, white) !important;
    color: #{$blue};
    --border-color: #{$blue};
  }

}
