<ion-content class="P0">
  <div class="ecd-header ion-text-center">
    <h6 class="M0">{{title | titlecase}}</h6>
  </div>
  <ion-grid class="P0">
    <form [formGroup]="personEditForm">
      <ion-row class="P16">
        <ion-col size="12" class="text-center ion-no-padding">
          <p class="font-weight-bold f14">{{description}}</p>
        </ion-col>
        <section *ngIf="type==='phone'" class="W100 text-center MT3V">

          <ion-col size="12" class="text-center ion-no-padding" *ngIf="err">
            <p class="error">{{'ERROR_PHONE_EXISTS' | translate}}</p>
          </ion-col>
          <ion-col size="12" class="text-center ion-no-padding"
            *ngIf="!personEditForm.controls.phone.valid && personEditForm.controls.phone.dirty">
            <p class="error">{{'ERROR_PHONE_INVALID' | translate}}</p>
          </ion-col>
          <ion-col size="12" class="text-center ion-no-padding" *ngIf="updateErr">
            <p class="error">{{'ERROR_SAME_PHONE_UPDATED' | translate}}</p>
          </ion-col>
          <ion-col size="12" class="text-center ion-no-padding" *ngIf="blockedAccount">
            <p class="error">{{'ERROR_USER_ACCOUNT_BLOCKED' | translate}}</p>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <div class="W100 merged-input-container MT10" style="text-align:start">
              <ion-input type="tel" placeholder="+91 -" class="form-control decorator " value="+91 -" disabled>
              </ion-input>
              <ion-input type="tel" placeholder="{{'ENTER_PHONE_POPUP_TITLE' | translate }}" maxlength="10"
                minlength="10" required class="form-control custom" (input)="refreshErr()" formControlName="phone">
              </ion-input>
            </div>
          </ion-col>

        </section>
        <section *ngIf="type==='email'" class="W100 MT3V">

          <ion-col size="12" class="text-center ion-no-padding">
            <p class="error" *ngIf="(personEditForm.controls.email.dirty && personEditForm.controls.email?.invalid) ">
              {{'ERROR_EMAIL_INVALID' | translate}}</p>
          </ion-col>
          <ion-col size="12" class="text-center ion-no-padding" *ngIf="err">
            <p class="error">{{'ERROR_EMAIL_EXISTS' | translate}}</p>
          </ion-col>
          <ion-col size="12" class="text-center ion-no-padding" *ngIf="updateErr">
            <p class="error">{{'ERROR_SAME_EMAIL_UPDATED' | translate}}</p>
          </ion-col>
          <ion-col size="12" class="text-center ion-no-padding" *ngIf="blockedAccount">
            <p class="error">{{'ERROR_USER_ACCOUNT_BLOCKED' | translate}}</p>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <div class="W100 merged-input-container MT10">
              <ion-input type="text" placeholder="{{'EMAIL_PLACEHOLDER' | translate}}" class="form-control custom"
                formControlName="email" (input)="refreshErr()"></ion-input>
            </div>
          </ion-col>
        </section>

      </ion-row>
      <ion-row class="custom-shadow">
        <ion-col class="ion-padding">
          <ion-button expand="block" fill="outline" (click)="cancel()">{{ 'CANCEL' | translate }} </ion-button>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-button expand="block" type="submit" (click)="validate()" [disabled]="!personEditForm.valid">
            {{ 'BTN_SUBMIT' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>