@import "../../../../assets/styles/base/variables";
.create_header ::ng-deep .title.w-90 {
    color:black;
    font-weight: bold;
    font-size: 16px;
  }
  .remove-icon{
    margin-top: -10px;
    margin-left: -10px;
    font-size: 0.938rem;
    margin-right: 10px;
  } 
  .task-board{
   h5{
    margin-left: 10px;
   } 
  }

.text-feilds{
  margin:15px 10px;
}  

.label-text{
  font-weight: bold;
  font-size: 1.063rem;
  color:$primary-color;
} 

p .label-hint{
  font-weight: 17px;
  font-weight: bold;
}

  

 
