<ion-content padding>
  <div *ngIf="!checkUserGroups()">
    <div text-center>
      <img class="rounded image-style" src="assets/imgs/ic_businessman.png" alt="no_user" />
      <h6>
        <strong>{{'NO_USERS_ON_THIS_DEVICE' | translate}}</strong>
      </h6>
      <ion-text>
        <p>{{'NO_USERS_SUGGESTION_MESSAGE' | translate}}</p>
      </ion-text>
      <ion-text>
        <h6 color="primary">{{'CREATE_USER' | translate}}</h6>
      </ion-text>
    </div>
  </div>
  <div *ngIf="checkUserGroups()">
    <ion-row>
      <ion-col size-md="6">
        <ion-text>
          <p *ngIf="groupList.length" item-start color="title" text-uppercase>
            <strong>{{'GROUPS' | translate}}</strong> {{ '(' + groupList?.length + ')'}}&lrm;
          </p>
        </ion-text>
      </ion-col>
      <ion-col size-md="6" class="padding-right0">
        <ion-button float-end fill="clear" class="padding-right0" (click)="selectAll()">{{'SELECT_ALL' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-item (click)="toggleGroupSelected(i)" *ngFor="let group of groupList; let i = index;" class="item-background" margin-bottom no-lines>
      <ion-label>
        <h6 class="padding-top">
          <strong>{{group?.name}}</strong>
        </h6>
        <p>
          <ion-text>
            <span color="text_gray" *ngIf="group?.profilesCount > 1">{{group?.profilesCount}}
              {{'USERS' | translate}}</span>
          </ion-text>
          <ion-text>
            <span color="text_gray" *ngIf="group?.profilesCount === 1">{{group?.profilesCount}}
              {{'USER' | translate}}</span>
          </ion-text>
        </p>
      </ion-label>
      <ion-checkbox item-end mode="ios" [checked]="isGroupSelected(group?.gid)"></ion-checkbox>
    </ion-item>

    <ion-text>
      <p *ngIf="userList.length" item-start color="title" text-uppercase>
        <strong>{{'USERS' | translate}}</strong> {{ '(' + userList?.length + ')'}}&lrm;
      </p>
    </ion-text>
    <ion-item (click)="toggleUserSelected(i)" *ngFor="let user of userList; let i = index;" class="item-background" margin-bottom no-lines>
      <ion-label>
        <h6 class="padding-top">
          <strong>{{user?.handle}}</strong>
        </h6>
        <p *ngIf="user?.profileType === ProfileType.TEACHER">{{'USER_TYPE_1' | translate | titlecase}}</p>
        <p *ngIf="user?.profileType === ProfileType.STUDENT">{{'USER_TYPE_2' | translate | titlecase}}</p>
      </ion-label>
      <ion-checkbox item-end mode="ios" [checked]="isUserSelected(user?.uid)"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-row padding>
    <ion-col size-md="10" offset-md="1">
      <ion-button expand="block" (click)="share()" [disabled]="!isShareEnabled()" text-uppercase>{{'SHARE' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>