<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goBack();">
        <ion-icon role="button" aria-label="back" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1">{{ 'ABOUT_US' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="shareInformation()" icon-only *ngIf="!platform.is('ios')">
        <ion-icon name="share" role="button" aria-label="share information" class="ion-float-end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <!-- Device Id -->
    <ion-item class="ion-text-wrap">
      <ion-label>
        <h2>{{ 'DEVICE_ID' | translate }}</h2>
        <p class="settings-item-style" user-select: auto>{{ deviceId | translate}}</p>
      </ion-label>
    </ion-item>

    <!-- App Version -->
    <ion-item>
      <ion-label>
        <h2>{{ 'APP_VERSION' | translate }}</h2>
        <p class="settings-item-style">{{ version | translate}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2 (click)="openTermsOfUse()">{{ 'TERMS_OF_USE' | translate }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>