@import "src/assets/styles/_variables.scss";
.gg-terms-container{
    padding: 0 16px;
    font-size: 14px;
    .gg-terms-checkbox-label{
        margin-left: 16px;
        display: inline-block;
        vertical-align: super;
        margin-bottom: 0;
    }
    .gg-terms{
        color: $blue;
    }
}
.cr-error{
    margin-top: 8px;
    display: block;
    font-size: 12px;
    color: $red;
    line-height: 10px;
}