ion-button-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  
    ion-button {
      margin: 4px;
    }
  }
  
  .active {
    background-color: var(--ion-color-primary);
    color: white;
  }
  
  ion-content {
    padding: 20px;
  }
  