<ion-app>

  <div style="z-index: 1;" >
    <app-application-header *ngIf="!isPlannedMaintenanceStarted" [headerConfig]="headerConfig" (headerEvents)="handleHeaderEvents($event);"
                            (sideMenuItemEvent)="menuItemAction($event)"></app-application-header>

    <div class="unplanned-maintenance-banner">
      <ion-grid>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="1">
            <img style="width: 1.125rem; height: 1.125rem;" src="assets/imgs/ic_info_white.svg" alt="">
          </ion-col>
          <ion-col style="color: white;" size="10">
            {{'MAINTENANCE_MESSAGE' | translate:{'%timeLeft': '3'} }}
          </ion-col>
          <ion-col size="1">
            <img (click)="closeUnPlannedMaintenanceBanner()" style="width: 1.125rem; height: 1.125rem;" src="assets/imgs/ic_action_close_white.svg" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

  <ion-split-pane contentId="mainContent">
    <ion-router-outlet #ionRouterOutlet id="mainContent" main [swipeGesture]="false"
      [ngClass]="{'need-header-space':headerConfig?.showHeader, '':!headerConfig?.showHeader}"></ion-router-outlet>
  </ion-split-pane>

  <div id="planned-maintenance-banner" [hidden]="!isPlannedMaintenanceStarted">
    <img style="float: right; padding: 16px;" src="assets/imgs/close_tutorial.svg" alt="" (click)="closePlannedMaintenanceBanner()">
    <!--Image-->
    <img src="../assets/imgs/ic_maintenance.svg" alt="maintenance" style="margin-top: 50%;">
    <!-- some text -->
    <div id="planned-maintenance-text">
      <p *ngIf="!isTimeAvailable">{{'PLANNED_MAINTENANCE_TEXT' | translate}}</p>
      <p *ngIf="isTimeAvailable">{{'PLANNED_MAINTENANCE_TEXT_WITH_TIME' | translate}}</p>
    </div>
    <!--Timer-->
    <div id="timer"></div>
    <!-- another text -->
    <p id="maintenance-sub-text" *ngIf="isOnBoardingCompleted">{{'MAINTENANCE_SUB_TEXT' | translate}}</p>
    <div class="text-center" *ngIf="isOnBoardingCompleted">
      <ion-button id="navigate-downloads" (click)="navigateToDownloads()">{{'GO_TO_DOWNLOADS' | translate}}</ion-button>
    </div>
  </div>

  <div id="update-webview-container"
    style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 10;background-color: rgba(0, 0, 0, 0.59);opacity: 1;display: none;">
    <div id="update-webview-content"
      style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 11;width: 80%;height: 12.188rem;background-color: #eee; margin: auto;">
      <div style="height:12.188rem;position: relative;">
        <div>
          <h3
            style="text-align: center;background-color: #024f9d; color: #fff;margin: 0;padding: 8px; font-size: 18px;">
            {{'UPDATE_REQUIRED' | translate}}
          </h3>
        </div>
        <div style="padding: 15px 0; font-size: 16px; color: #333;width:80%;margin: auto;">
          <p style="margin: 0;">{{'WEBVIEW_UPDATE_TEXT' | translate}}</p>
        </div>
        <div style="position: absolute; width: 100%; bottom: 15px;text-align: center;">
          <button (click)="openPlaystore()"
            style="color: #fff;background: #024f9d;padding: 10px;width: 80%;margin: auto;">{{'DOWNLOAD_NOW' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

</ion-app>