<ion-content>
    <div class="container-focus">
        <div class="px-16 pb-2">
            <h3 *ngIf="categoryTitle" class="mt-4"
                style="font-weight: 600;">{{(categoryTitle | translateJson: {'%category': (formField.facet | translateJson), '%appName': appName} ) | translate }}</h3>
            <p *ngIf="categoryDescription">{{(categoryDescription | translateJson: {'%category': (formField.facet | translateJson), '%appName': appName} ) | translate }}</p>
        </div>

        <!-- filter from discover search page-->
        <form [formGroup]="primaryFacetFiltersFormGroup" *ngIf="primaryFacetFiltersFormGroup">
            <ion-grid class="filter-container">
                <ion-row>
                    <ion-col size="5" *ngFor="let primaryFacetFilter of primaryFacetFilters">
                        <ion-item class="filter-items">
                            <ion-label position="stacked" class="hide-label">
                                {{primaryFacetFilter.translations | translateJson}}
                            </ion-label>
                            <ion-select class="ion-text-capitalize"
                                        [interfaceOptions]="primaryFacetFiltersTemplateOptions"
                                        [formControlName]="primaryFacetFilter.code"
                                        okText="{{'BTN_SUBMIT' | translate}}"
                                        cancelText="{{'CANCEL' | translate}}"
                                        multiple="true"
                                        placeholder="{{primaryFacetFilter.translations | translateJson}}">
                                <ion-select-option
                                        *ngFor="let facet of ((displayFacetFilters && displayFacetFilters[primaryFacetFilter.code]) || []); trackBy:reloadDropdown"
                                        [value]="facet"
                                        class="ion-text-capitalize">
                                    {{facet.name | titlecase }}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>

                    <ion-col size="2">
                        <button class="filter-button" (click)="navigateToFilterFormPage()">
                            <img src="./assets/imgs/filter.svg" alt="filter">
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>

    <div class="p-8 sticky-header-pills">
        <ng-container *ngIf="!showSheenAnimation">
            <sb-pills-grid *ngIf="sectionGroup?.sections && formField?.aggregate && formField?.showNavigationPill" [pillShape]="'default'"
                           [pillsViewType]="'scroll'"
                           [pillBorder]="PillBorder.SEMI_ROUND">
                <sb-pill-item (click)="scrollToSection(sectionGroup.name + '_'+ section.name)"
                              *ngFor="let section of sectionGroup?.sections" [name]="section?.name"></sb-pill-item>
            </sb-pills-grid>
        </ng-container>

        <ng-container *ngIf="sectionGroup?.sections && formField?.filterPillBy && filterPillList && filterPillList.length">
            <sb-pills-grid [pillShape]="'default'"
                           [pillsViewType]="'scroll'"
                           [pillBorder]="PillBorder.SEMI_ROUND">
                <sb-pill-item *ngFor="let pill of (filterPillList || [])" [name]="pill?.name | titlecase"
                    (click)="pillFilterHandler(pill)" [theme]="(pill?.name === selectedFilterPill?.name) && selectedPillTheme"></sb-pill-item>
            </sb-pills-grid>
        </ng-container>
    </div>

    <ion-list class="m-n" *ngIf="showSheenAnimation">
        <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
        <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
            <ion-avatar item-start>
                <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
            </ion-avatar>
            <ion-label style="padding-left: 40px;">
                <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
                <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
            </ion-label>
        </ion-item>
    </ion-list>

    <div *ngIf="!showSheenAnimation">
        <div *ngFor="let section of sectionGroup?.sections">
            <div [id]="sectionGroup.name + '_'+ section.name"
                 *ngIf="section?.contents && section?.contents?.length" class="pb-8">
                <sb-library-cards-stack [title]="section?.name" [contentList]="section?.contents"
                                        [viewMoreButtonText]="'VIEW_MORE' | translate" [maxCardCount]="3"
                                        [layoutConfig]="layoutConfiguration"
                                        (viewMoreClick)="navigateToViewMorePage(section?.contents, section.name, section?.totalCount)"
                                        (cardClick)="navigateToDetailPage($event, section.name)">
                </sb-library-cards-stack>
            </div>
        </div>

        <div class="no-result-found" *ngIf="!sectionGroup?.sections?.length">
            {{ 'EMPTY_SEARCH_RESULTS' | translate }}
        </div>
    </div>
</ion-content>
