<ion-content>
    <div style="padding: 8px">
        <h1 class="mt-4">{{ formField.facet | translateJson }}</h1>
        <p>{{'SUBJECT_DESCRIPTION' | translate}}</p>
    </div>

    <div class="px-8">
        <sb-pills-grid *ngIf="sectionGroup?.sections" [pillShape]="'default'" [pillsViewType]="'scroll'"
                       [pillBorder]="'rounded'">
            <sb-pill-item (click)="scrollToSection(sectionGroup.name + '_'+ section.name)"
                          *ngFor="let section of sectionGroup?.sections" [name]="section?.name"></sb-pill-item>
        </sb-pills-grid>
    </div>

    <ion-list class="m-n" *ngIf="showSheenAnimation">
        <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
        <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
            <ion-avatar item-start>
                <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
            </ion-avatar>
            <ion-label style="padding-left: 40px;">
                <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
                <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
            </ion-label>
        </ion-item>
    </ion-list>

    <div *ngIf="!showSheenAnimation">
        <div *ngFor="let section of sectionGroup?.sections">
            <div class="sb-textbook-container" [id]="sectionGroup.name + '_'+ section.name"
                 *ngIf="section?.contents && section?.contents?.length">
                <sb-library-cards-stack [title]="section?.name" [contentList]="section?.contents"
                                        [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable"
                                        [viewMoreButtonText]="'VIEW_MORE' | translate" [maxCardCount]="3"
                                        (viewMoreClick)="navigateToTextbookPage(section?.contents, section.name)"
                                        (cardClick)="navigateToDetailPage($event, section.name)">
                </sb-library-cards-stack>
            </div>
        </div>
    </div>
</ion-content>
