<ion-content>
    <div class="container-focus">
        <div style="padding: 16px">
            <h3 class="mt-4"
                style="font-weight: 600;">{{ 'EXPLORE' | translate: {'%s': (formField.facet | translateJson)} }}</h3>
            <p *ngIf="categoryDescription">{{(categoryDescription | translateJson: {'%category': (formField.facet | translateJson), '%appName': appName} ) | translate }}</p>
        </div>

        <!-- filter from discover search page-->
        <form [formGroup]="primaryFacetFiltersFormGroup" *ngIf="fromLibrary && primaryFacetFiltersFormGroup">
            <ion-grid>
                <ion-row>
                    <ion-col size="5" *ngFor="let primaryFacetFilter of primaryFacetFilters">
                        <ion-item class="filter-items">
                            <ion-label class="hide-label">
                                {{primaryFacetFilter.translations | translateJson}}
                            </ion-label>
                            <ion-select class="ion-text-capitalize"
                                        [interfaceOptions]="primaryFacetFiltersTemplateOptions"
                                        [formControlName]="primaryFacetFilter.code"
                                        okText="{{'BTN_SUBMIT' | translate}}"
                                        cancelText="{{'CANCEL' | translate}}"
                                        multiple="true"
                                        placeholder="{{primaryFacetFilter.translations | translateJson}}">
                                <ion-select-option
                                        *ngFor="let facet of ((initialFacetFilters && initialFacetFilters[primaryFacetFilter.code]) || [])"
                                        [value]="facet"
                                        class="ion-text-capitalize">
                                    {{facet.name | titlecase }}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>

                    <ion-col size="2">
                        <ion-button fill="outline" style="--background: transparent !important;"
                                    (click)="navigateToFilterFormPage()">
                            <img src="./assets/imgs/filter.svg" class="tool-icon" alt="filter">
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>

    <div class="p-8 sticky-header-pills" *ngIf="!showSheenAnimation">
        <sb-pills-grid *ngIf="sectionGroup?.sections && formField?.aggregate" [pillShape]="'default'"
                       [pillsViewType]="'scroll'"
                       [pillBorder]="'round'">
            <sb-pill-item (click)="scrollToSection(sectionGroup.name + '_'+ section.name)"
                          *ngFor="let section of sectionGroup?.sections" [name]="section?.name"></sb-pill-item>
        </sb-pills-grid>
    </div>

    <ion-list class="m-n" *ngIf="showSheenAnimation">
        <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
        <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
            <ion-avatar item-start>
                <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
            </ion-avatar>
            <ion-label style="padding-left: 40px;">
                <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
                <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
            </ion-label>
        </ion-item>
    </ion-list>

    <div *ngIf="!showSheenAnimation">
        <div *ngFor="let section of sectionGroup?.sections">
            <div class="sb-textbook-container" [id]="sectionGroup.name + '_'+ section.name"
                 *ngIf="section?.contents && section?.contents?.length">
                <sb-library-cards-stack [title]="section?.name" [contentList]="section?.contents"
                                        [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable"
                                        [viewMoreButtonText]="'VIEW_MORE' | translate" [maxCardCount]="3"
                                        [layoutConfig]="layoutConfiguration"
                                        (viewMoreClick)="navigateToTextbookPage(section?.contents, section.name)"
                                        (cardClick)="navigateToDetailPage($event, section.name)">
                </sb-library-cards-stack>
            </div>
        </div>
    </div>
</ion-content>
