@import "../../assets/styles/variables";
.animation-background {
  padding: 0 8px 0 8px;
  background-color: map-get($colors, white_f2);
}

.sticky-header-pills{
  position: sticky;
  top: 1rem;
  z-index: 9;
  background-color: var(--app-primary-background);
}

.ios .sticky-header-pills {
  top: 0
}

.filter-items{
  height: 70%;
  ion-select{
    border: none !important;
  }
  border-radius: 2rem;
  .hide-label{
    display: none;
  }
}

.container-focus {
  padding-bottom: 0 !important;
}

.filter-button {
  width: 100%;
  height: 70%;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.1) !important;
  background-color: var(--app-primary-header-light);
}

.no-result-found{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
}

  :host{
  .item-label-stacked {
    ion-select::part(icon) {
      transform: translate3d(0px, 0px, 0px) !important;
    }
  }
}