<ion-header class="sb-header">
  <ion-toolbar class="sb-header-toolbar">
    <ion-buttons class="font-size-20  padding-left-6" (click)="goBack()" slot="start">
      <ion-icon role="button" slot="start" name="arrow-back" aria-label="back" class="batches-header-text"></ion-icon>
    </ion-buttons>
    <ion-title class="batches-header-text font-size-20">
      <strong>{{'FRMELEMNTS_LBL_BATCHES_FOR_THIS_COURSE' | categoryKeyTranslate : course}}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Page body -->
<ion-content class="ion-padding" overflow-scroll="true">
  <div *ngIf="ongoingBatches && ongoingBatches.length">
    <div class="background-gray">
      <div class="width-100 batch-font ion-text-capitalize">
        {{ 'VIEW_ONGOING_BATCHES' | translate }}
      </div>
    </div>

    <div class="batch-list ion-padding-top">
      <div *ngIf="ongoingBatches && ongoingBatches.length">
        <div class="flex-card-container" *ngFor="let batch of ongoingBatches">
          <div class="card-text">
            <div class="batch-name">{{ batch.name }}</div>
            <span class="text-gray-color">
              {{batch.startDate | date: 'dd/MM/yyyy' }} - {{ batch.endDate | date: 'dd/MM/yyyy' }}
            </span>
            <p *ngIf="batch?.creatorDetails?.firstName">
              <span class="text-gray-color">{{ 'BATCH_CREATED_BY' | translate }}</span>&nbsp;
              <span class="text-gray-color">{{ batch.creatorDetails.firstName }}</span>&nbsp;
              <span class="text-gray-color"
                *ngIf="batch?.creatorDetails?.lastName">{{batch?.creatorDetails?.lastName}}</span>
            </p>
            <p *ngIf="batch?.enrollmentEndDate">
              <span *ngIf="(todayDate > batch?.enrollmentEndDate); else lastDateForEnrollment"
                class="enroll-msg-ended">{{ 'BATCH_ENROLLMENT_ENDED' | translate}}</span>
              <ng-template #lastDateForEnrollment>
                <span class="enroll-msg-style">{{'ENROLLMENT_LAST_DATE' | translate}}
                  {{batch.enrollmentEndDate | date: 'dd/MM/yyyy'}}</span>
              </ng-template>
            </p>
          </div>
          <div class="card-icon">
            <button class="sb-btn sb-btn-sm sb-btn-outline-info view-all-p8 ion-float-end"
              (click)="enrollIntoBatch(batch);"
              [disabled]="(batch.enrollmentEndDate && (todayDate > batch.enrollmentEndDate))">
              {{ 'ENROLL' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="upcommingBatches && upcommingBatches.length">
    <div class="background-gray">
      <div class="width-100 batch-font ion-text-capitalize">
        {{ 'VIEW_UPCOMING_BATCHES' | translate }}
      </div>
    </div>
    <div class="batch-list ion-padding-top">
      <div *ngIf="upcommingBatches && upcommingBatches.length">
        <div class="flex-card-container" *ngFor="let batch of upcommingBatches">
          <div class="card-text">
            <div class="batch-name">{{ batch.name }}</div>
            <span class="text-gray-color">
              {{batch.startDate | date: 'dd/MM/yyyy' }} - {{ batch.endDate | date: 'dd/MM/yyyy' }}
            </span>
            <p *ngIf="batch?.creatorDetails?.firstName">
              <span class="text-gray-color">{{ 'BATCH_CREATED_BY' | translate }}</span>&nbsp;
              <span class="text-gray-color">{{ batch.creatorDetails.firstName }}</span>&nbsp;
              <span class="text-gray-color"
                *ngIf="batch?.creatorDetails?.lastName">{{batch.creatorDetails.lastName}}</span>
            </p>
            <p *ngIf="batch?.enrollmentEndDate">
              <span *ngIf="(todayDate > batch?.enrollmentEndDate); else lastDateForEnrollment"
                class="enroll-msg-ended">{{ 'BATCH_ENROLLMENT_ENDED' | translate}}</span>
              <ng-template #lastDateForEnrollment>
                <span class="enroll-msg-style">{{'ENROLLMENT_LAST_DATE' | translate}}
                  {{batch.enrollmentEndDate | date: 'dd/MM/yyyy' }}</span>
              </ng-template>
            </p>
          </div>
          <div class="card-icon">
            <button class="sb-btn sb-btn-sm sb-btn-outline-info view-all-p8 ion-float-end"
              (click)="enrollIntoBatch(batch)"
              [disabled]="(batch.enrollmentEndDate && (todayDate > batch.enrollmentEndDate))"
              [ngClass]="{'enroll-style' : (batch.enrollmentEndDate && (todayDate > batch.enrollmentEndDate))}">
              {{ 'ENROLL' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>