@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/fonts.scss";
@import "src/assets/styles/_variables.scss";
:host {
    .my-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        //background: rgba(0,0,0,0.7);
        background: rgba(255, 255, 255, 0.8);
        z-index: 20;
        top: 0;
        @include ltr() {
        left: 0;
        }
    
        @include rtl() {
        right: 0;
        }
        margin-top: 56px;
      }
    .batch-filter-icon {
        float: right;
        @include padding(null, 25px, null, null);
    }
    .batch-filter-holder{
        margin-top: -10px;
    }
    .batches-header-text{
        color: map-get($colors, facebook);
    }
    .padding-left-6{
        padding-left: 6px;
    }
    .enroll-msg-style {
        font-size: 0.9em;
    }
    .font-size-20{
        font-size: 18px !important;
    }
    .background-gray{
        background: map-get($colors, gray_white);
        @include margin(-16px, -26px, 0, -26px);
        @include padding(null, null, null, 25px !important);
    }
    .batch-empty-msg-wrapper {
        padding-top: 100px;
        .msg-holder {
            padding-top: 30px;
            .empty-batch-icon{
                width: 50px; 
                @include margin(null, null, null, 118px);
            }
            .text-holder{
                font-size: 18px;
                font-weight: 300 !important;
            }
        }
    }
    .guest-user-info {
        padding-top: 135px;
    }
    .batch-name {
        margin-top: 0px; 
        font-size: 12px;
        @extend .NotoSans-semi-bold;
    }
    .selected-filter {
        width: 88%;
        padding-top: 8px; 
        @extend .font-weight-600;
    }
    .padding-top-30 {
        padding-top: 30px;
    }
    .batch-list {
        @include margin(null, null, null, -10px);
        .enroll-btn{
            @include padding(null, 0, null, null !important);
            text-transform: none;
            font-size: 1.5rem;
            float: right;
        }
    }
    .padding-top-8 {
        padding-top: 8px;
    }
    .padding-top-9 {
        padding-top: 9px;
    }

    .back-button-md {
        @include margin(null, null, null, -1px !important);
    }
    .text-gray-color {
        color: gray;
        display: inline-block;
        @extend .NotoSans;
    }

    .header-md::after { 
        background-image: none; 
    }
    .batch-font{
        @extend .NotoSans-bold;
        padding: 15px 0 12px 7px;
        font-size: 16px;
    }
    button:disabled {
        opacity: 0.7 !important;
    }

    ion-label {
        white-space: unset
    }
    .flex-card-container {
        display: flex;
        flex-wrap: nowrap;
        align-items:center;
        justify-content:center;
        padding: 12px;
        margin-bottom: 12px;
        .card-text {
          width: 80%;
          p {
            margin-top: 0px;
            margin-bottom: 2px;
          }
        }
        .card-icon{
          width: 20%;   
        }
      }
      .sb-btn-outline-info {
        background-color: map-get($colors, thick_blue) !important;
        border-radius: 5px !important;
        font-weight: bold;
        font-size: 12px;
        color: white !important;
        border-color: white !important;
    }
    .enroll-msg-ended {
        color: $orange;
        font-size: 0.9em;
    }
}
button:disbled{
    opacity: 0.5 !important;
}
