@import "src/assets/styles/_variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/fonts";
@import "src/assets/styles/_variables.scss";

ion-content {
  --ion-background-color: #{$light-blue};
}
:host {
  /* This should be item-ios only as we are targeting mode as iOS for radio-button */

  img.arrow-icon{
    display: inline-block;
    width: 22px;
    margin-top: -3px;
    &.animate {
      position: relative;
      animation: dropDown 5s linear infinite;
      animation-duration: 0.9s;
    }
    @include rtl {
      transform: rotate(180deg);
    }
  }
  @keyframes dropDown {
    0% {right: 0;}
    50% {right: 10px;}
    100% {right: 0;}
  }

  .gray-color {
    color: #{map-get($colors, secondary_black)};
    font-size: 1rem;
    font-weight: 500;
  }

  .font-size-17 {
    font-size: 17px !important;
  }
}


.language-card {
  text-align: center;
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 20px 40px -10px map-get($colors, light_silver);
  background-color: map-get($colors, white);
  ion-radio {
    display: none;
  }
  ion-label {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  &.selected {
    background-color: map-get($colors, vived_blue_fe);
    box-shadow: 0 20px 40px -10px rgba(2,79,157,0.3);
    ion-label {
      color: white;
    }
    ion-radio {
      display: block;
      position: absolute;
      top: 8px;
      right: 8px;
      background: white;
      border-radius: 100%;
      width: 16px;
      height: 16px;
    }
  }
}
.continue {
  position: fixed;
  z-index: 2;
  bottom: 32px;
  width: 90vw;
  left: 5vw;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  color: $blue;
  margin-top: 5vh;
}

