<ion-content [ngClass]="{ 'ui-content': platform.is('android'), 'ui-container-ios': platform.is('ios') }">
  <div [ngClass]="{ 'ui-content': platform.is('android'), 'ui-content-ios': platform.is('ios') }">
    <div *ngIf="!isFromSettings" class="app-title ion-text-center">{{'APP_TITLE' | translate:{'%s': appName } }}</div>
    <div class="font-size-17" class="ion-text-center ion-padding ion-text-wrap" style="padding: 0">
      <strong>{{ 'CHOOSE_LANGUAGE' | translate }}</strong>
    </div>

    <div class="language-container">
      <div class="language-card" (click)="language = lang.code; onLanguageSelected()" *ngFor="let lang of languages" [ngClass]="{'selected-lang': lang.code === language}">
        <label class="language-selection" [for]="'language-selection' + lang.code">
          <span class="label-text">
            {{lang?.label | translate}}
          </span>
          <img src='assets/imgs/ic_check_white.svg' alt="check" class="icon-check">
        </label>
      </div>
    </div>

    <button class="sb-btn sb-btn-md sb-btn-primary PR35 W100 ellipsis text-uppercase btn-block continue"
            [style.background-color]="btnColor" [hidden]="!isLanguageSelected" (click)="continue()">
      <span>{{ 'CONTINUE' | translate }}</span>
      <img class="arrow-icon" src="assets/imgs/ic_back.svg" [class.animate]="isLanguageSelected" alt="">
    </button>
  </div>
</ion-content>
