@import "src/assets/styles/_variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/fonts";
@import "src/assets/styles/_variables.scss";

:host {
  /* This should be item-ios only as we are targeting mode as iOS for radio-button */

  img.arrow-icon {
    display: inline-block;
    width: 1.375rem;
    margin-top: -3px;
    float: right;

    &.animate {
      position: relative;
      animation: dropDown 5s linear infinite;
      animation-duration: 0.9s;
    }

    @include rtl {
      transform: rotate(180deg);
      float: left !important;
    }
  }

  .md button span {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ios button span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes dropDown {
    0% {
      right: 0;
    }
    50% {
      right: 0.625rem;
    }
    100% {
      right: 0;
    }
  }
  .gray-color {
    color: #{map-get($colors, secondary_black)};
    font-size: 1rem;
    font-weight: 500;
  }

  .font-size-17 {
    font-size: 1.063rem !important;
  }
}

.language-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.language-card {
  box-sizing: border-box;
  width: 50%;
  height: 9rem;
  padding: 1rem;
  outline: none;
  border-radius: 1rem;
}

.selected-lang {
  .language-selection {
    background-color: var(--app-primary) !important;
  }
  .label-text {
    color: var(--app-white) !important;
  }
}

.language-card label {
  position: relative;
  box-shadow: 0 20px 40px -10px map-get($colors, light_silver);
  background-color: map-get($colors, white);
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  text-align: center;
}

.language-card span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.25rem;
  transform: translate(-50%, -50%);
}

.language-card input {
  display: none;
}
.continue {
  position: fixed;
  z-index: 2;
  bottom: 2rem;
  width: 90vw;
  left: 5vw;
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $blue;
  margin-top: 5vh;
}

.icon-check {
  visibility: visible;
  width: auto;
  height: auto;
  float: right;
  margin-top: 7px;
  margin-right: 11px;
}

.bottom-section {
  width: 4.688rem;
  height: 4.688rem;
}
