<ion-header class="sb-popover-header">
    <ion-toolbar class="sb-popover-toolbar">
        <ion-title class="sb-popover-title" role="heading" aria-level="2">{{'PROFILE_DETAILS_TITLE' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<div id="main-content">
    <div class="consent-popover-info">
        <div class="flex-container">
            <div class="body" *ngIf="consentForm.length">
                <div *ngFor="let element of consentForm">
                    <p class="profile-info-section"><span>{{element.key}}</span><span
                            class="profile-info">{{element.value}}</span></p>
                </div>

            </div>
            <div class="footer">
                <div>
                    <p>
                        <span>
                            <ion-icon name="information-circle" aria-hidden="true" color="#333333">
                            </ion-icon>
                        </span>
                        <span attr.aria-label="{{'FRMELEMNTS_LBL_CONSENT_POPUP_INFO' | translate}}" style="margin-left: 5px;">{{'FRMELEMNTS_LBL_CONSENT_POPUP_INFO' | translate}}</span>
                    </p>
                </div>
                <div class="cr-input-primary" lines="none">
                    <span *ngIf="!isSSOUser">
                        <ion-checkbox class="cr-terms-checkbox" attr.aria-label="{{'AGREE_TO_SHARE_PROFILE_DETAILS' | categoryKeyTranslate: course}}" (ionChange)="changeEvent($event)"></ion-checkbox>
                    </span>
                    <span *ngIf="isSSOUser">
                        <ion-checkbox class="cr-terms-checkbox" attr.aria-label="{{'SELF_DECLARE_TEACHER_TNC' | translate: {'%appName': appName} }}" (ionChange)="changeEvent($event)"></ion-checkbox>
                    </span>
                    <span>
                        <p class="cr-terms-checkbox-label" *ngIf="!isSSOUser">
                            <span>{{'AGREE_TO_SHARE_PROFILE_DETAILS' | categoryKeyTranslate: course}}</span>
                            <span (click)="openTermsOfUse()" class="terms-info">{{'CONSENT_TERMS_OF_USE' | translate }}</span>
                            <span >{{'CONSENT_TERMS_OF_USE_REMAINING' | translate }}</span>
                        </p>
                        <p class="cr-terms-checkbox-label" *ngIf="isSSOUser">
                            <span>{{'SELF_DECLARE_TEACHER_TNC' | translate: {'%appName': appName} }}</span>
                            <span (click)="openTermsOfUse()" class="terms-info">{{'PRIVACY_POLICY' | translate }}</span>
                        </p>
                    </span>
                </div>
                <div class="btn-info" *ngIf="!isSSOUser">
                    <button class="save-changes-not-agree" (click)="dontShare()">{{'FRMELEMNTS_BTN_DONOT_SHARE' | translate}}</button>
                    <button class="save-changes" (click)="share()" [disabled]="!isAgreed" [ngClass]="!isAgreed ?  'share-disabled' : null">{{'SHARE' | translate}}</button>
                </div>
                <div class="btn-info" *ngIf="isSSOUser">
                    <button class="save-changes" (click)="share()" [disabled]="!isAgreed" [ngClass]="!isAgreed ?  'share-disabled' : null">{{'CONTINUE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>