@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_variables.scss";

.cr-terms-checkbox-label{
  padding-left: 5px;
}

.cr-terms-checkbox{
  --background-checked: #{$blue};
  --border-color: #{$blue};
  --border-radius: 4px;
  --border-width: 1px;
  --border-color-checked:#{$blue};
}
.cr-input-primary {
  display: inline-flex;
}

.btn-label {
  float: right;
  display: inline-flex;
}

#main-content {
  overflow-y: scroll;
  background: map-get($colors, white);
}

.consent-popover-info {  
  overflow: hidden;
  padding: 14px;
}

.flex-container {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.header {  
  flex-grow: 0;
  flex-shrink: 0;
  color: #222222;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 16px;
}

.body {
  
  display: block;
  
  flex-grow: 1;
  flex-shrink: 1;
  
  overflow-y: scroll;
}

.footer {
  flex-grow: 0;
  flex-shrink: 0;
}
.save-changes{
  color: white;
  background-color: $blue;
  font-size: 16px;
  padding: 8px 16%;
  margin-left: 18px;
  border: 2px solid $blue;
  width: 45%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.save-changes-not-agree{
  color: $blue;
  background-color: white;
  font-size: 16px;
  padding: 8px 9%;
  border: 2px solid $blue;
  width: 45%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.btn-info{
  padding: 12px;
  text-align: center;
}

.profile-info{
  color: map-get($colors, granite_gray);
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
}


.profile-info-section{
  display: grid;
  grid-template-columns: 110px 250px;
}

.share-disabled{
  opacity: 0.5 !important;
  cursor: default;
}

.terms-info{
  color: $blue
}