@import "src/assets/styles/base/_variables.scss";

:host {
  .sb-progress-percent-text {
    color: $primary-color;
    font-size: $h5-font-size;
    line-height: 1.375rem;
  }
  .p-0 {
    padding: 0 !important;
  }
  .sb-popover-download.collapsed {
    z-index: 9;
  }
  .sb-popover-title-collapsed{
    text-align: left !important;
  }
}
