@import "src/assets/styles/_variables.scss";
img.arrow-icon{
  display: inline-block;
  width: 1.375rem;
  margin-top: -3px;
  &.animate {
    position: relative;
    animation: dropDown 5s linear infinite;
    animation-duration: 0.9s;
  }
}
@keyframes dropDown {
  0% {right: 0;}
  50% {right: 10px;}
  100% {right: 0;}
}

.tutorial-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.close-icon {
  display: inline-block;
  float: right;
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
}

#details-text {
  font-size: $font-size-base;
  line-height: 1.188rem;
  text-align: center;
  color: map-get($colors, primary_black);
}

#heading-text {
  margin-top: 1rem;
  color: map-get($colors, primary_black);
  font-weight: bold;
  padding-left: 5em;
  padding-right: 4em;
}
#main-content {
  height: calc(100vh - 52px);
  padding: 16px;
  overflow-y: scroll;
}