      <ion-item (click) = "programDetails(programListDetails)">
        <ion-avatar slot="start">
          <div class="img-container">
            <img alt="content-logo"
              [src]="defaultImg" />
          </div>
        </ion-avatar>
        <ion-label>
          <div class="title">{{programListDetails?.title}}</div>
          <div class="info grade_ellipsis">
            <span class="class">{{programListDetails?.Description}}</span>
          </div>
        </ion-label>
      </ion-item>