<ion-content class="ion-padding">

  <app-metadata-details translucent="true" [data]="cardMetaData">
    <div class="sb-dt-card-actions">
      <div class="wrapper">
        <app-metadata-actions (actionEvent)="onAction($event)" [actionItems]="projectActions"></app-metadata-actions>
      </div>

      <div class="sb-course-progress-container"
        *ngIf="projectDetails?.status?.length &&  projectDetails?.status !== allStatusTypes.submitted">
        <p><strong>{{'YOUR_PROGRESS_LABEL' | translate}}</strong>
        </p>
        <p>{{projectCompletionPercent?.completedTasks}} / {{projectCompletionPercent?.totalTasks}} {{'COMPLETED' |
          translate}}
        </p>
        <ion-progress-bar
          [value]="projectCompletionPercent?.completedTasks/projectCompletionPercent?.totalTasks"
          [ngClass]="{'completed':projectCompletionPercent?.completedTasks===projectCompletionPercent?.totalTasks && projectCompletionPercent?.totalTasks !==0, 'in-progress': projectCompletionPercent?.completedTasks !== projectCompletionPercent?.totalTasks && projectCompletionPercent?.totalTasks !==0, 'zeroTask': projectCompletionPercent?.totalTasks == 0}"
          class="progress-bar-style"></ion-progress-bar>
      </div>

    </div>
    <ion-button (click)="submitImprovment()"
      *ngIf="projectDetails?.status && projectDetails?.status !== allStatusTypes.submitted" expand="block"
      class="ion-text-none ion-margin-top"
      [ngClass]="{'button-disabled':projectCompletionPercent?.completedTasks !== projectCompletionPercent?.totalTasks || !taskCount}"
      [disabled]="!taskCount || (projectCompletionPercent?.completedTasks !== projectCompletionPercent?.totalTasks)">
      {{'FRMELEMNTS_LBL_SUBMIT_IMPROVEMENT' | translate}}
    </ion-button>

    <div class="sb-course-complete-container ion-padding" *ngIf="projectDetails?.status === allStatusTypes.submitted">
      <div class="img-container">
        <img class="success-badge" src='assets/imgs/Badge green.svg' alt="completed">
      </div>
      <div class="text-container">
        <p><strong>{{'FRMELEMNTS_LBL_SUBMIT_IMPROVEMENT_SUCCESS_MESSAGE' | translate }}</strong></p>
      </div>
    </div>
  </app-metadata-details>

  <div class="project-segments">
    <ion-segment [(ngModel)]="segmentType" (ionChange)="segmentChanged($event)" class="segment-card">
      <ion-segment-button value="details" class="flex-5">
        <ion-label class="font-12 text-transform-none">{{'FRMELEMNTS_LBL_PROJECT_DETAILS' | translate }}</ion-label>
      </ion-segment-button>
      <div class="hr-div">
        <hr class="hr-height">
      </div>
      <ion-segment-button value="tasks" class="flex-5">
        <ion-label class="font-12 text-transform-none">{{'FRMELEMNTS_LBL_TASK_DETAILS' | translate }}
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="segmentType == 'details'">
    <app-project-details-card [data]="projectDetails">
    </app-project-details-card>
    <app-accordion-list [data]="projectDetails?.learningResources" (actionEvent)="openResource($event)"
      [title]="'FRMELEMNTS_LBL_LEARNING_RESOURCES'" *ngIf="projectDetails?.learningResources?.length">
    </app-accordion-list>
  </div>

  <app-task-card *ngIf="segmentType == 'tasks'" [data]="projectDetailsCopy" (actionEvent)="onTaskAction($event)"
    [viewOnly]="projectDetailsCopy?.status === allStatusTypes.submitted"></app-task-card>

    <app-no-data class="ion-padding" *ngIf="segmentType == 'tasks' && taskCount==0 && (projectDetails?.status && projectDetails?.status !== allStatusTypes.submitted)" [message]="taskNoDataFound" [color]="'text-primary'"></app-no-data>

    <ion-card class="add-task" (click)="addNewTask()" *ngIf="segmentType == 'tasks' &&  projectDetails?.status && projectDetails?.status !== allStatusTypes.submitted">
      <ion-card-content>
        <ion-grid>
          <ion-row class="flex-box">
              <ion-icon name="add-circle" class="icon"></ion-icon>
              <ion-label class="label ion-margin-start">{{'FRMELEMNTS_LBL_ADD_YOUR_TASK' | translate}}</ion-label>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      
    </ion-card>
</ion-content>