<ion-toolbar>
  <ion-title>
    {{'FRMELEMNTS_LBL_LEARNING_RESOURCES' | translate}}
  </ion-title>
  <ion-buttons (click)="close()" slot="start" class="padding">
    <ion-icon name="arrow-back" slot="icon-only" style="padding-left: 10px;"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="dataList">
  <ion-item class="search-bar-custom">
    <ion-icon name="search" item-left color="dark"></ion-icon>
    <ion-input type="text" placeholder="{{'FRMELEMNTS_LBL_SEARCH' | translate }}" (ionInput)="search($event)">
    </ion-input>
  </ion-item>
  <div class="ion-padding">
    <ion-icon name="funnel" color="primary"></ion-icon> {{'FRMELEMNTS_LBL_FILTERS' | translate}} <ion-icon
      name="chevron-forward" color="primary"></ion-icon>
    <div class="filters">
      <ion-button *ngFor="let filter of filters" shape="round" [color]="filter.isActive ? 'primary' : 'light'"
        (click)="setFilter(filter);">
        <span class="material-icons" *ngIf="filter.icon">
          {{filter.icon}}
        </span> {{filter.name}}
      </ion-button>
    </div>
    <ion-row *ngFor="let data of dataList" class="data-list">
      <ion-col size="2">
        <ion-item lines="none">
          <ion-checkbox slot="start" ([ngModel])="data.isChecked" [checked]="data.isChecked"
            (ionChange)="selectData(data)"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="10" (click)="openBodh(data.link)">
        <ion-item>
          <ion-label>{{data.name}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="loadmore-btn" *ngIf="dataList.length && dataCount > dataList.length">
      <ion-button (click)="loadMoreData()">
        {{'FRMELEMNTS_BTN_LOAD_MORE' | translate}}</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="dataList">
  <ion-button expand="block" (click)="addResources()" color="primary">
    {{'FRMELEMNTS_BTN_ATTACH' | translate}}
  </ion-button>
</ion-footer>