@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base/variables";
.data-list{
  background:$white;
    ion-checkbox{
    margin-right: 0px;
    }
    ion-item{
        --padding-start: 0px;
    }
}
.search-bar-custom {
    margin: 20px 15px 15px 15px;
    border-radius: 20px;
    max-height: 40px;
    padding: 0px;
    box-shadow: 0px 3px 5px 1px $gray;
    ion-input{
      --padding-bottom: 18px;
      font-weight: 600;
      color: $black-color;
    }
    ion-icon
    {
      margin-bottom: 10px;
      margin-left: 20px;
      padding-right : 10px;
    }
  }
  .filters{
    display: flex;
    overflow: auto;
    ion-button{
        margin: 4px;
    }
  }