<div class="close-container">
    <ion-icon *ngIf="!isMandatoryUpgrade" name="close" class="sb-modal-close"
        (click)="cancel(); $event.preventDefault(); $event.stopPropagation();"></ion-icon>
</div>

<ion-content class="ion-padding-top ion-padding-horizontal">
    <div class="ion-text-center">
        <img src="assets/imgs/ic_launcher.png" alt="app" height="70" width="70" />
        <h6>
            <strong>{{upgradeType?.title | translate: {'app_name': appName} }}</strong>
        </h6>
        <p class="scroll">{{upgradeType?.desc | translate }}</p>
    </div>
</ion-content>
<ion-footer class="ion-no-border ion-padding">
    <ion-button *ngIf="!isMandatoryUpgrade && actionButtonNo" expand="block" fill="outline" size="small"
        (click)="cancel() ">
        {{ actionButtonNo.label | translate }}
    </ion-button>
    <ion-button *ngIf="actionButtonYes" expand="block" size="small" (click)="upgradeApp(actionButtonYes.link)">
        {{ actionButtonYes.label | translate }}
    </ion-button>
</ion-footer>