@import "src/assets/styles/_custom-mixins.scss";

:host {
  .close-container {
    position: relative;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .sb-modal-close {
      position: absolute;
      right: 1rem;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  .scroll {
    height: 15vh;
    overflow: scroll;
    overflow-y: visible;
  }
  ion-app.md [padding-horizontal] .scroll-content {
    @include padding(null, 0 !important);
  }
  ion-app.md [padding-top] .scroll-content {
    padding-top: 0 !important;
  }
}
