@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";

:host {
  .scroll {
    height: 15vh;
    overflow: scroll;
    overflow-y: visible;
  }
  ion-app.md [padding-horizontal] .scroll-content {
    @include padding(null, 0 !important);
  }
  ion-app.md [padding-top] .scroll-content {
    padding-top: 0 !important;
  }
}
