<ion-content padding-top padding-horizontal>
    <div text-center>
        <img src="assets/imgs/ic_launcher.png" alt="app" height="70" width="70" />
        <h6>
            <strong>{{upgradeType?.upgrade?.title | translate }}</strong>
        </h6>
        <p class="scroll">{{upgradeType?.upgrade?.desc | translate }}</p>
    </div>

</ion-content>
<ion-footer no-border padding>
    <ion-button *ngIf="!isMandatoryUpgrade && upgradeType?.upgrade?.actionButtons[1]?.action === 'no'" expand="block"
        fill="outline" size="small" (click)="cancel() ">
        {{ upgradeType?.upgrade?.actionButtons[1]?.label | translate }}</ion-button>
    <ion-button *ngIf="upgradeType?.upgrade?.actionButtons[0]?.action === 'yes'" expand="block" size="small"
        (click)="upgrade(upgradeType?.upgrade?.actionButtons[0]?.link) ">
        {{ upgradeType?.upgrade?.actionButtons[0]?.label | translate }}</ion-button>
</ion-footer>