@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
.scroll-content{
    padding: 0 !important;
}
  body{
    background-color: $light-blue;
      font-family: 'Noto Sans', sans-serif;
}

.rotate{
    -webkit-transform: rotate(180deg);  /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);  /* Firefox */
    -ms-transform: rotate(180deg);  /* IE 9 */
    transform: rotate(180deg);  /* Standard syntax */    
}
.btn-arrow{
    padding: 4px;
    margin-top: 4px;
    margin-left: 5px;
}
P{
    font-size: 13px;
}
.help-header, .help-header-send-email{
    background: $blue;
    color: map-get($colors, white);
    padding: 16px;
}
.help-header>h4,.help-header-send-email>h4{
    padding:0;
    font-weight: 700;
    max-width: 1024px;
    margin: 0 auto;
}
.help-header>p,.help-header-send-email>p{
    font-weight: 100;
    max-width: 1024px;
    margin: 0 auto;
}
.panel-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
 .info-msg{
        background-color: map-get($colors, white_fa)
    }
@media only screen and (max-width : 1024px) {

    .info-msg-send-email>p,.info-msg>p{
        padding: 8px 16px;
        max-width: 1024px;
        margin: 0 auto;
    }
   
}
@media only screen and (min-width : 1025px) {

    .info-msg-send-email>p,.info-msg>p{
        padding: 16px 0px;
        max-width: 1024px;
        margin: 0 auto;
    }
}
.icon{
    color: $blue;
    float:right;
} 
.panel{
    border-radius: 0px !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow:none !important;

}

.panel-heading {
    padding: 16px 16px;
}
.panel-group{
    margin: 0 auto;
    max-width: 1024px;
}
.panel-group .panel+.panel{
    border-radius: 0;
    margin-top: 0;

}
.panel-default>.panel-heading{
    background-color: map-get($colors, white);
    border-radius: 0 !important;
}
.panel-body{
    background-color: map-get($colors, white_fa);
}
.panel-interact{
    text-align: center; 
    padding: 20px;
    height: 100px;
}
.panel-interact>button{
    margin: 10px 5px 0px 5px;
    background-color: map-get($colors, white_fa);
    border-color: map-get($colors, white_fa);
    width: 80px;
    color: $blue;
    font-size: 13px;
    font-weight: 700;
    outline: none;
    height: 20px;

}
.panel-interact>p{
    margin: 0px;
}
.no-clicked, .yes-clicked{
    padding:10px !important;
    margin: auto !important;
    margin-top:10px !important;
    background: map-get($colors, white_fa);
    width: 200px;
    border-radius: 4px;
    color: $green;
    text-align: center;
}

.panel-info{
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}
.panel-info>h6{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}

.input-text{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    @include padding(8px 0px 0px 8px);
    resize: none;
}
.submit-button{
    width: 100%;
    color: map-get($colors, white);
    background: map-get($colors, light_blue_f5);
    height: 40px;
    border-radius: 4px;
    margin: 10px 0px 16px 0px;
    outline: none;
}

@media only screen and (max-width : 1024px) {
   
    .report-button{
        min-width: 90vw;
        color: map-get($colors, white);
        background: $blue;
        height: 40px;
        border-radius: 4px;
        border-style:solid;
        border-color:  $blue;
        margin-bottom: 50px;
        outline: none;
    }
    p{
        margin: 0px;
        font-weight: normal;
    }
    .panel-body{
        padding: 8px 16px;
    }
    #textareainfo{
        opacity: .5;
        position: absolute;
        bottom: -13px;
        right: 0px;
        font-weight: normal;
        font-size: 12px;
        padding-right: 16px;
    }
    .initiate-email-info-button {
        background: $white;
        left: 0;
        right: 0;
        position: fixed;
        top: 90vh;
        padding: 0 16px 70px 16px;
    }
}
@media only screen and (min-width : 1025px) {
    .report-button{
        min-width: 1024px;
        color: map-get($colors, white);
        background: $blue;
        height: 40px;
        border-radius: 4px;
        border-style:solid;
        border-color: $blue;
        margin-bottom: 50px;
        outline: none;
    }
}
img>.report-button{
    padding-bottom: 4px;
    padding-right: 1px;
}
.send-email{
    text-align: center;
    padding: 15px;
}
.send-email-form {
    margin: 0 16px;
}
#send-email-form{
    height: 40vh;
    position: relative;
}

.send-email-info{
    padding: 10px 0px;
    font-weight: normal;
    font-size: 12px;
    text-align: justify;

}
 #know-more-form{
        margin: 0px 16px;
    }
@media only screen and (min-width : 1025px) {
    .send-email-form{
        max-width: 1025px;
        margin: auto;
    }
    .send-email-info{
        max-width: 570px;
        padding: 10px 0 !important;
        margin: initial;
        float: left;
    }
    .submit-button{
        width: 150px;
        float: right;
        color: map-get($colors, white);
        background: $blue;
        border-radius: 0;
        border-style:solid;
        border-color:  $blue;
        margin: 10px 0 16px 0;
        height: 32px;
        outline: none;
    }
    .panel-info{
        overflow: hidden;
        text-align: left;
    }
    .panel-info > h6 {
        @include margin(0px 0px 0px 15px);
    }
    .panel-info > p {
        @include margin(0px 0px 0px 15px);
    }
    #initiate-email{
    margin-top: 10px;
}

}
.input-text-form{
    width: 100%;
    height: 128px;
    border-radius: 5px;
    box-shadow: none;
    @include padding(8px 0px 0px 8px);
    resize: none;
}
::placeholder {
  color: $gray-300;
  font-size: 14px;
  font-weight: normal;
}
.initiate-email-info{
    margin-top: 10px;
    padding-bottom: 70px;
}
@media only screen and (min-width : 1025px) {
    .input-text-form{
        width: 100%;
        height: 128px;
        border-radius: 0px;
        box-shadow: none;
        border-width: 1px;
        border-style:solid;
        border-color: map-get($colors, light_gray-c3);
        @include padding(8px 0px 0px 8px);
        margin: 0px;
        resize: none;
    }
    #textareainfo{
    opacity: .5;
    position: absolute;
    bottom: -24px;
    right: 0px;
    font-weight: normal;
    font-size: 12px;
    }
    
}
a{
    color: map-get($colors, primary_black);
}

a:active, a:hover{
    text-decoration: none;
    color: none;
}

#textareadiv{
    position: relative;
    padding: 20px 16px 0px 16px;
}
.item-label-stacked ion-select {
    border: 1px solid map-get($colors, thick_blue);
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 10px !important;
    .select-icon {
      .select-icon-inner {
        border: solid blue;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        animation: upDownAnimate 5s linear infinite;
        animation-duration: 0.9s;
      }
    }
    .select-placeholder {
        color: map-get($colors, thick_blue);
        padding-left: 10px;
    }
}
    // Not getting used because of shadow DOM
.select-placeholder {
  color: map-get($colors, thick_blue);
  padding-left: 10px;
}

.ge-danger{
  color: map-get($colors, danger);
}

ion-item.item-label-stacked {
    --border-width: 0;
    --highlight-background: transparent;
}

.item-select ion-label {
    color: map-get($colors, thick_blue);
}

.item-label-stacked.item-select-disabled {
    ion-label {
        color: map-get($colors, primary_black);
    }
    ion-select {
        border-color: map-get($colors, primary_black);
        // Inside Shadow DOM
        .select-icon {
          .select-icon-inner {
            border-color: map-get($colors, primary_black);
            animation: none;
          }
        }
        // Inside Shadow DOM
        .select-placeholder {
          color: map-get($colors, primary_black);
        }
      }
}