<ion-content>
  <div *ngIf="data" class="container-focus pl-16 pr-16 pb-16">
    <h4 class="m-0"> {{data?.constants?.reportIssue}}</h4>
    <p>{{data?.constants?.explainMsg}}</p>
  </div>
  <div class="send-email-form align-left">
    <div class="report-info">{{data?.constants?.tellMoreMsg}}</div>
    <sb-form [config]='formConfig'
             [platform]="'mobile'"
             (valueChanges)="valueChanged($event)"
             (statusChanges)="statusChanged($event)"
             (dataLoadStatus)="dataLoadStatus($event)">
    </sb-form>

    <div class="initiate-email-info">
      <div class="initiate-email-info-button">
        <button id="initiate-email" (click)="submit()" class="submit-button" [ngClass]="{'':isFormValid, 'invalid-btn':!isFormValid }" >
          {{'BTN_SUBMIT' | translate}}
        </button>
      </div>
    </div>
  </div>
  <support-acknowledgement *ngIf="showSupportContact" (closeEvents)="showSupportContact = false"
  [boardContact]="boardContact"></support-acknowledgement>
  <acknowledge-response *ngIf="showThanksResponse" (popupDismiss)="responseSubmitted()"></acknowledge-response>

</ion-content>
