<ion-content padding [ngClass]="{'container': platform.is('ios')}">
  <div>
    <h3 class="heading" *ngIf="dataType == 'question'">{{ 'FRMELEMENTS_MSG_QUESTION_FILTER' | translate }}</h3>
    <h3 class="heading" *ngIf="dataType == 'criteria'">{{ 'FRMELEMENTS_MSG_CRITERIA_FILTER' | translate }}</h3>
  </div>

  <ion-list >
    <ion-item *ngFor="let d of data" (click)="onQuestionClick(d?._id)">
      <ion-label class="wrap">{{ d?.name }}</ion-label>
      <ion-checkbox [checked]="filteredData?.includes(d?._id)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar class="_toolbar-background-md" position="bottom">
    <ion-row>
      <ion-col>
        <ion-button ion-button full (click)="close()" class="btnText w-100">
          {{ 'CANCEL' | translate }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button ion-button full (click)="applyFilter()" class="btnText w-100">
          {{ 'APPLY_FILTER' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
