<ion-content padding>
    <div style="align-content: end">
        <img style="float: right" align-items-end src="./assets/imgs/ic_close.svg" alt=""
            (click)="handleBackButton(true)">
    </div>
    <div style="padding: 8px">
        <img id="thanks-holder-image" src="./assets/imgs/ic_thankyou.svg" alt="">
    </div>
    <div style="margin-top: 2rem; margin-bottom: 4rem">
        <p>{{'THANKING_NOTE' | translate: {'%s': appName} }}</p>
    </div>
    <div *ngIf="storyAndWorksheets && storyAndWorksheets.length">
        <p style="margin-top: 2rem; color: #333333">{{'EXPLORE_HEADING' | translate: {'%s': appName} }}</p>
        <div class="sb-textbook-container">
            <sb-library-cards-stack [contentList]="storyAndWorksheets"
                [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable" [maxCardCount]="5"
                [viewMoreButtonText]="'SEE_MORE_CONTENT' | translate"
                (viewMoreClick)="navigateToTextbookPage(storyAndWorksheets)"
                (cardClick)="navigateToTextBookDetailPage($event)">
            </sb-library-cards-stack>
        </div>
    </div>
</ion-content>