<ion-content>
    <h4 class="sort-heading">{{'SORT_BY' | translate}}</h4>
    <form novalidate [formGroup]="sortForm" class="form-position">
        <div *ngFor="let category of facetFilterList; let i = index">
            <ion-item>
                <ion-label position="stacked" class="label-font">{{category?.label | translateJson}}</ion-label>
                <ion-select multiple="true" #boardSelect class="ion-text-capitalize" [formControlName]="category.code" [interfaceOptions]="boardOptions"
                            okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" placeholder="{{category.placeHolder | translateJson}}">
                    <ion-select-option *ngFor="let filter of category?.values" value="{{filter?.name}}">{{filter?.name | aliased}}&lrm;</ion-select-option>
                </ion-select>
            </ion-item>
        </div>
    </form>
</ion-content>
<ion-footer class="bottom-button">
    <ion-button expand="block" class="sort-by" (click)="dismiss()"> {{'SAVE' | translate}}</ion-button>
</ion-footer>
