@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
@import "src/assets/styles/fonts.scss";

:host {
  .settings-item-style {
    padding-top: 5px;
  }
  ion-icon {
    font-size: 22px !important;
    font-weight: 550 !important;
  }
  .bgColor {
    background-color: map-get($colors, light_gray) !important;
    border-radius: 6px;
    @include padding(5px, null, null, 18px !important);
  }
  .marginTop {
    margin-top: 15px !important;
  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }
  .item-md.item-block .item-inner {
    border-bottom: 0 !important;
  }
  .subTitle {
    font-size: 1.4rem;
    font-weight: 700 !important;
  }
  .item-background.item-md {
    background-color: map-get($colors, light_gray) !important;
  }
  .subTitle {
    font-size: 1.4rem;
    font-weight: 700 !important;
  }
  .radius {
    border-radius: 6px;
  }

  .img-container {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 27%;
    margin-top: -144x;
    @include ltr() {
      left: 60%;
      margin-left: -97px;
    }
    @include rtl() {
      right: 60%;
      margin-right: -97px;
    }
  }
  .image-text {
    text-align: center;
    margin-top: 34vh;
  }
  .image_style {
    width: 335px;
    height: 102px;
    border-radius: 50%;
  }
  .flex-card-container {
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:center;
    background-color: map-get($colors, white_f1);
    padding: 12px;
    margin-bottom: 12px;
    .card-text {
      width: 100%;
    }
    .card-icon{
      width: 20px;   
    }
  }
  ion-title.color {
    color: $blue;
    font-weight:bold;
  }
  ion-segment-button {
    font-weight:bold;
  }
}
