<ion-content style="background-color: #fff !important">
  <div *ngIf="!error">
    <div
      padding
      style="text-transform: capitalize; border: 1px solid #ccc; margin: 10px 10px"
      *ngIf="reportObj?.observationName"
    >
      {{ reportObj?.observationName }} {{ reportObj?.entityName ? ' > ' : '' }}
      {{ reportObj.entityName ? reportObj.entityName : reportObj?.schoolName }}
    </div>

    <!-- Scores details bar -->
    <ion-grid *ngIf="reportObj?.totalScore && reportObj?.scoreAchieved">
      <ion-row style="text-align: center">
        <ion-col> {{ 'FRMELEMENTS_LBL_TOTAL_SCORE' | translate }} : {{ reportObj?.totalScore }}</ion-col>
        <ion-col> {{ 'FRMELEMENTS_LBL_TOTAL_SCORE_ACHIEVED' | translate }} : {{ reportObj?.scoreAchieved }}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="reportObj?.schoolsObserved && reportObj?.totalSchools">
      <ion-row style="text-align: center">
        <ion-col> {{ 'FRMELEMENTS_LBL_TOTAL_SCHOOL' | translate }} : {{ reportObj?.totalSchools }}</ion-col>
        <ion-col> {{ 'FRMELEMENTS_LBL_TOTAL_SCHOOL_OBSERVED' | translate }} : {{ reportObj?.schoolsObserved }}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="reportObj?.entityType && reportObj?.totalEntities">
      <ion-row style="text-align: center">
        <ion-col> {{ 'Total ' + reportObj?.entityType }} : {{ reportObj?.totalEntities }}</ion-col>
        <ion-col>
          {{ reportObj?.entityType + ' observed' }} :
          {{ reportObj.schoolsObserved ? reportObj.schoolsObserved : reportObj.entitiesObserved }}</ion-col
        >
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="reportObj?.totalObservations">
      <ion-row>
        <ion-col style="margin-left: 15px">
          {{ 'labels.totalObservations' | translate }} : {{ reportObj?.totalObservations }}</ion-col
        >
      </ion-row>
    </ion-grid>
    <!-- Scores details bar ends here-->

    <!-- ....................................... -->
    <div padding *ngIf="!from">
      <ion-segment [(ngModel)]="selectedTab">
        <ion-segment-button value="questionwise" (click)="onTabChange('questionwise', fab)">
          {{ 'FRMELEMNTS_LBL_QUESTION_WISE' | translate }}
        </ion-segment-button>
        <ion-segment-button value="criteriawise" (click)="onTabChange('criteriawise', fab)">
          {{ 'FRMELEMNTS_LBL_CRITERIA_WISE' | translate }}
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="selectedTab">
      <div *ngSwitchCase="'questionwise'">
        <div *ngIf="allQuestions?.length && !from" class="_flex-box _justify-content-end">
          <ion-button ion-button icon-start (click)="openFilter()" margin style="float: right">
            <ion-icon name="options"></ion-icon>
            {{ 'FRMELEMNTS_BTN_FILTER' | translate }}
          </ion-button>
        </div>
        <div *ngFor="let element of reportObj?.response; let i = index">
          <ion-card>
            <pie-chart [data]="element" [questionNumber]="i + 1" *ngIf="element.chart.type == 'pie'"></pie-chart>
            <scatter-chart
              [data]="element"
              [questionNumber]="i + 1"
              *ngIf="element.chart.type == 'scatter'"
            ></scatter-chart>
            <bar-chart
              [data]="element"
              [questionNumber]="i + 1"
              *ngIf="element.chart.type === 'bar' || element.chart.type === 'column'"
            ></bar-chart>

            <ion-grid>
              <ion-row>
                <ion-col size="4" *ngFor="let e of element.evidences">
                  <attachments [url]="e.url" [extension]="e.extension"></attachments>
                </ion-col>
                <ion-col size="12" *ngIf="element.evidence_count > 3">
                  <small class="pull-right text-ios-danger" (click)="allEvidence(i)">{{
                    'FRMELEMNTS_LBL_VIEW_ALL_EVIDNECES' | translate
                  }}</small>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </div>
      <div *ngSwitchCase="'criteriawise'">
        <div *ngIf="allCriterias?.length" class="_flex-box _justify-content-end">
          <ion-button ion-button icon-start (click)="openCriteriaFilter()" margin>
            <ion-icon name="options"></ion-icon>
            {{ 'FRMELEMNTS_BTN_FILTER' | translate }}
          </ion-button>
        </div>
        <div *ngFor="let criteria of reportObjCriteria?.response">
          <ion-card-content>
            <h3>{{ criteria.criteriaName }}</h3>
          </ion-card-content>
          <div *ngFor="let element of criteria.questionArray; let i = index">
            <ion-card>
              <pie-chart [data]="element" [questionNumber]="i + 1" *ngIf="element.chart.type == 'pie'"></pie-chart>
              <scatter-chart
                [data]="element"
                [questionNumber]="i + 1"
                *ngIf="element.chart.type == 'scatter'"
              ></scatter-chart>
              <bar-chart
                [data]="element"
                [questionNumber]="i + 1"
                *ngIf="element.chart.type === 'bar' || element.chart.type === 'column'"
              ></bar-chart>

              <ion-grid>
                <ion-row>
                  <ion-col size="4" *ngFor="let e of element.evidences">
                    <attachments [url]="e.url" [extension]="e.extension"></attachments>
                  </ion-col>
                  <ion-col size="12" *ngIf="element.evidence_count > 3">
                    <small class="pull-right text-ios-danger" (click)="allEvidence(i)">{{
                      'FRMELEMNTS_LBL_VIEW_ALL_EVIDNECES' | translate
                    }}</small>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </div>
        </div>
      </div>
    </div>

    <!-- ...................................................................... -->
  </div>
  <div class="_flex-box _justify-content-center _errorBox" *ngIf="!reportObj?.response">
    {{ error }}
  </div>

  <ion-fab vertical="bottom" horizontal="end" bottom right *ngIf="reportObj?.response" #fab slot="fixed">
    <ion-fab-button ion-fab size="small">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button ion-fab (click)="downloadSharePdf('download')">
        <ion-icon name="download"></ion-icon>
      </ion-fab-button>
      <ion-fab-button ion-fab (click)="downloadSharePdf('share')">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
