@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
.image {
    background-color: #999999;
    height: 50px;
    border-radius: 5px;
    width: 50px;
    float: left;
    margin: 20px 10px 10px 15px;
}

.title{
    font-size: 16px;
    font-weight: bold;
    color: black;
    // margin: 16px 16px 8px;
}

.sc-ion-card-md-h { 
    margin-bottom: 5px !important;
}