<ion-content class="sb-popover-container ion-no-padding" [ngClass]="{'rating-full-height': userRating}">
  <ion-header [ngClass]="{ 'sb-popover-header': platform.is('android'), 'sb-popover-header-ios': platform.is('ios')}">
    <ion-toolbar class="sb-popover-toolbar">
      <ion-title class="sb-popover-title" role="heading" aria-level="2">{{'RATE_THE_CONTENT' | translate}}
        <ion-icon name="close" role="button" tabindex="0" aria-label="close" class="sb-modal-close" (click)="closePopover()"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="sb-popover-items popover-ratings">
    <rating [(ngModel)]="userRating" (ngModelChange)="rateContent($event)"></rating>
    <p class="content-rating-detail ion-padding-bottom ion-padding-top" *ngIf="!userRating">
      {{'CONTENT_RATING_SUB_HEADING' | translate}}</p>
    <div class="sb-popover-content-details" *ngIf="userRating">
      <div class="main-title">
        <div class="meta-info">
          {{ratingMetaInfo?.ratingText}}
        </div>
        <div class="rating-qstn" role="heading" aria-level="2">
          {{ratingMetaInfo?.question ? ratingMetaInfo.question : 'RATING_QUESTION' | translate}}
        </div>
      </div>
      <div class="rating-opts">
        <div *ngFor="let opt of ratingOptions | sortBy: 'idx' : 'asc'">
          <div class="rating-item" (ionChange)="ratingOptsChanged(opt.key)" role="checkbox" tabindex="0" [ngClass]="{'active': opt.isChecked}">
            <ion-label class="rating-label" [ngClass]="{'active-label': opt.isChecked}"
              (click)="opt.isChecked=!opt.isChecked">{{opt.value}}</ion-label>
            <ion-checkbox [(ngModel)]="opt.isChecked" slot="end">
            </ion-checkbox>
          </div>
        </div>
        <div *ngIf="showCommentBox" class="rate-content">
          <textarea [(ngModel)]="commentText" name="" id="" cols="30" rows="4"
            placeholder="{{'TELL_US_MORE' | translate}}"></textarea>
        </div>
      </div>
    </div>
  </div>
  <ion-footer [ngClass]="{ 'footer-ios': platform.is('ios') }">
    <div class="sb-popover-footer" *ngIf="userRating">
      <button class="sb-popover-action-btn popover-color" (click)="submit()">{{ 'BTN_SUBMIT' | translate }}</button>
    </div>
  </ion-footer>
</ion-content>