@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/variables";
@import "src/assets/styles/_variables.scss";


:host {
    /* Sb-Rating Component Styling */
  ul {
      @include padding($base-block-space);
        &.rating li {
          @include padding($base-block-space * 2 !important);
          background: none;
          color: $info-color;
          ion-icon {
            font-size: (($font-size-base * 3) - 0.125);
          }
        }
      }

  
  .main-title{
    .meta-info{
      padding: 5px 0 16px 0 !important;
      font-size: $font-size-base !important;
    }
    .rating-qstn{
      margin-left: 16px;
      padding: 16px 0;
      border-top: 1px solid map-get($colors, gray_solid);
      font-size: 1rem;
    }
  }
  .rating-opts{
    .rating-item{
      --min-height: 1.88rem;
      display: flex;
      padding: 8px 8px 8px 0;
      border-bottom: 1px solid map-get($colors, light_gray_8c);
      margin-left: 16px;
      .rating-label{
        color: map-get($colors, primary_black);
        font-size: $font-size-base;
        margin: 0;
        flex: 1 1 0;
        text-align: left;
        &.active-label{
          color: map-get($colors, brighter_blue);
        }
      }
      ion-checkbox{
        margin: 0;
      }
    }
    .rate-content{
      padding: 0 5px 0 16px;
      textarea{
        padding: 5px;
        width: 100%;
        margin: 10px 0;
        border: 1px solid map-get($colors, empty_color);
        border-radius: 5px;
        resize: none;
      }
    }
    
  }
  .content-rating-detail{
    text-align: center;
  }

  // ************** iOS start **************
  .footer-ios {
      bottom: 3.75rem;
  }
  // ************** iOS end ****************
}