<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <ion-button icon-start color="light" (click)="enableGps ? gpsFlowChecks('back') :back()"
          *ngIf="!isFirst">
          <ion-icon name="arrow-back"></ion-icon>{{'FRMELEMENTS_BTN_BACK'| translate}}
        </ion-button>
      </ion-col>
      <ion-col style=" margin: auto;">
        <!-- {{completedQuestionCount}} {{questionCount}} -->
        <progress-bar [progress]="percentage" [total]="questionCount" [showTracker]="true"
          [completed]="completedQuestionCount" class="_full-width" *ngIf="completedQuestionCount!=questionCount">
        </progress-bar>
        <ion-button  round small *ngIf="showSubmit &&completedQuestionCount==questionCount" (click)="next('completed')">{{'FRMELEMENTS_BTN_SUBMIT'| translate}}
          <ion-icon name="chevron-up-circle" style="padding: 0 9px;"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button  icon-end class="ion-float-right" color="light" (click)="next()"
          *ngIf="!isLast">{{'FRMELEMENTS_BTN_NEXT'|
          translate}} <ion-icon name="arrow-forward"></ion-icon></ion-button>
        <ion-button  icon-start class="ion-float-right" color="light"
          (click)="next('completed')" *ngIf="isLast">
          <ion-icon name="save" class="ion-margin-end"></ion-icon>{{'SAVE'| translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>