<ion-header>
  <ion-toolbar>
    <ion-buttons class="sb-hamburger" slot="start">
      <ion-button class="color" icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="f16 color">{{group?.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button class="color" *ngIf="!playConfig" icon-only (click)="presentPopoverNav($event)">
        <ion-icon name="more" float-end></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding>
    <ion-list>
      <div *ngIf="isNoUsers" text-center>
        <div class="img-container">
          <img class="image_style" src="assets/imgs/ic_businessman.png">
        </div>
        <br />
        <ion-row margin-top>
          <ion-col size-md="6" offset-md="3" size-lg="6" offset-lg="3">
            <div class="image-text">
              <h6>
                <strong>{{'NO_USERS_IN_THIS_GROUP' | translate}}</strong>
              </h6>
              <p>{{'NO_USERS_SUGGESTION_MESSAGE' | translate}}</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <ion-list lines="none" *ngIf="!isNoUsers">
      <ion-item *ngFor="let user of userList; let i=index;" class="item-background gd-mb-16 ion-no-padding"
        [ngClass]="i===selectedUserIndex ? 'blueBorder' : ''">
        <ion-label class="ion-no-margin">
          <ion-grid class="radius ion-no-padding">
            <ion-row class="bg-color-white gd-row-padding radius">
              <ion-col size="10" class="bg-color-white">
                <div (click)="selectUser(i, user?.handle)" class="bg-color-white padding-left-0 rm-label-margin"
                  no-padding>
                  <h6 class="elipsis ion-no-margin"
                    [ngStyle]="{'color': currentUserId === user?.uid ? 'dodgerblue' : 'black'}">
                    <strong>{{user?.handle | titlecase}}</strong>
                  </h6>
                  <p>
                    <span
                      *ngIf="user?.profileType === ProfileType.TEACHER">{{'USER_TYPE_1' | translate | titlecase}}</span>
                    <span
                      *ngIf="user?.profileType === ProfileType.STUDENT">{{'USER_TYPE_2' | translate | titlecase}}</span>
                    <span *ngIf="user?.grade?.length">•</span> {{ getGradeNameFromCode(user) }}
                  </p>
                </div>
              </ion-col>
              <ion-col size="2" class="advanced-menu" *ngIf="!playConfig">
                <ion-icon class="gd-icon-font-size" name="more" item-end (click)="presentPopover($event , i)">
                </ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer class="footer" *ngIf="userList.length && selectedUserIndex !== -1">
  <ion-row>
    <div *ngIf="playConfig && selectedUserIndex === -1 && !isNoUsers " class="error-message-contentplay">
      <div>
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
        {{ 'PLEASE_SELECT_USER' | translate }}
      </div>
    </div>
  </ion-row>
  <ion-row padding>
    <ion-col size-md="10" offset-md="1">
      <ion-button expand="block" center *ngIf="!playConfig" (click)="switchAccountConfirmBox()">
        {{'SWITCH_ACCOUNT' | translate}}
      </ion-button>
      <ion-button expand="block" center *ngIf="playConfig" (click)="play()">
        {{'PLAY' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
<ion-footer class="footer" *ngIf="playConfig && selectedUserIndex === -1">
  <ion-row>
    <div *ngIf="playConfig && selectedUserIndex === -1 && !isNoUsers" class="error-message-contentplay">
      <div>
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
        {{ 'PLEASE_SELECT_USER' | translate }}
      </div>
    </div>
  </ion-row>
  <ion-row padding>
    <ion-col size-md="10" offset-md="1">
      <ion-button expand="block" center [disabled]="true" (click)="play()">
        {{'PLAY' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>