<ion-content>
    <div class="course-completion-popup-container">
        <div class="cc-popup-close clearfix">
            <ion-icon class="pull-right" name="close" (click)="close()"></ion-icon>
        </div>
        <div class="ion-text-center">
            <div>
                <img src="assets/imgs/Badge green.svg" alt="">
            </div>
            <div class="course-completion-title">{{'CONGRATULATIONS' | translate}}</div>
            <div class="course-completion-info">{{'FRMELEMNTS_MSG_TRAINING_COMPLETED_SUCCESSFULLY' | categoryKeyTranslate : course }}</div>
            <div class="course-completion-cert" *ngIf="isCertified">
                <p *ngIf="certificateDescription; else defaultDescription">{{certificateDescription}}</p>
                <ng-template #defaultDescription>{{'FRMELEMNTS_MSG_COURSE_COMPLETION_POPUP_DESC' | categoryKeyTranslate : course }}</ng-template>
            </div>
            <div class="course-completion-cert" *ngIf="isOnline && !isCertified">
                {{'FRMELEMNTS_MSG_COURSE_COMPLETION_POPUP_NO_CERTIFICATE' | categoryKeyTranslate : course }}
            </div>
        </div>
    </div>
</ion-content>