<div class="sb-card"
  [ngClass]="{'offline': !content.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable}">
  <div class="img-container">
    <img *ngIf="!(!content.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable)"
      [src]="commonUtilService.convertFileSrc(content.contentData.courseLogoUrl) || commonUtilService.convertFileSrc(content.contentData.appIcon) || defaultImg">
    <img *ngIf="!content.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable"
      src="assets/imgs/ic_offline_white_sm.png" />
  </div>
  <div class="sb-card-details">
    <div class="title">{{content.contentData.name}}</div>
    <div class="info grade_ellipsis"><span class=" class">{{content.contentData.subject | csa}}</span><span
        *ngIf="content?.contentData.gradeLevel && content?.contentData.subject" class="separator-dot"></span><span
        class=" subject">{{content.contentData.gradeLevel}}</span>
    </div>
  </div>
</div>