@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/mixins/bourbon/library/_clearfix.scss";
@import "src/assets/styles/_variables.scss";

:host {
  .sb-card-active {
    background: #{$light-blue-bg} !important;
  }
  .sb-dw-manager {
    @include clearfix;
    .selector {
      color: $primary-600;
      font-size: $font-size-md;
      vertical-align: middle !important;
    }
  }

  ion-checkbox {
    --border-width: 0.063rem;
    --border-color: #{map-get($colors, bright_blue_a0)};
    --background-checked: #{$blue};
    --border-color-checked: #{$blue};
    --border-radius: 4px;
  }
}

.flex-50{
  flex: 0 0 50%;
}

.sb-card-content {
  width: 65%;
}