@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/mixins/bourbon/library/_clearfix.scss";

:host {
.sb-card-active{
    background: #{$light-blue-bg} !important;
}
.sb-dw-manager{
    @include clearfix;
    .selector{
        color: #{$primary-600};
        font-size: #{$font-size-md};
        vertical-align: middle !important;
    }
}

.download-checkbox-label{
    width: 100%;
    height: 100%;
    margin: 0;
}
.download-checkbox{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .item-cover {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    }
 }
}