<ion-content hide-header-footer overflow-scroll="true" scrollEvents="true">
  <div class="sb-view-all-container">
    <app-downloads-header [storageInfo]="storageInfo" [appName]="appName"></app-downloads-header>

    <app-no-downloads *ngIf="!downloadedContents.length"></app-no-downloads>

    <app-downloads-tab #downloadsTab *ngIf="downloadedContents.length" [downloadedContents]="downloadedContents"
      (deleteContents)="deleteContents($event)" (sortCriteriaChanged)="onSortCriteriaChange($event)">
    </app-downloads-tab>
  </div>
</ion-content>