@import "src/assets/styles/_variables.scss";
.ad-container{
    padding: 16px;
}
.gd-member-search {
    position: relative;
    margin: 8px 0;
    .gd-member-search-icon {
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 20px;
        color: $gray-400;
    }
    input {
        width: 100%;
        height: 35px;
        padding: 0 8px 0 30px;
        border: 1px solid $blue;
        border-radius: 4px;
    }
}
.ad-timestamp{
    color: $gray-300;
    padding: 8px 0;
    text-align: right;
}
.ad-mebers-container{
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.25);
    min-height: calc(100vh - 215px);
}
.ad-empty-result{
    img{
        max-width: 65%;
        margin-top: 20%;
        margin-bottom: 16px;
        font-size: 16px;
    }
}