@import "src/assets/styles/_variables.scss";
.ad-container{
    padding: 16px;
}
.ad-card-container{
    padding-bottom: 16px;
    border-bottom: .5px solid map-get($colors, dark_gray);
}
.ad-member-container{
    padding-top: 16px;
}
.gd-member-search {
    position: relative;
    margin: 0 0 8px 0;
    .gd-member-search-icon {
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 20px;
        color: $gray-400;
    }
    input {
        width: 100%;
        height: 35px;
        padding: 0 8px 0 30px;
        border: 1px solid $blue;
        border-radius: 4px;
    }
}
.ad-courses-container {
    margin-top: 8px;
    padding: 8px;
    .ad-courses{
        color: $blue;
        .ad-course-text{
            font-weight: bold;
        }
    }
    .ad-course-name{
        padding: 0 4px;
    }
}

.ad-timestamp{
    color: $gray-300;
    padding: 8px 0;
    text-align: right;
}
.ad-mebers-container{
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.25);
    min-height: calc(100vh - 215px);
}
.ad-empty-result{
    img{
        max-width: 65%;
        margin-top: 20%;
        margin-bottom: 16px;
        font-size: 16px;
    }
}
.activity-toc {
    color: $blue;
    padding: 0 8px 8px 8px;
    background-color: map-get($colors, white);
  
    .pull-left {
      line-height: 30px;
    }
  
    .ad-arrow-icon {
      height: 24px;
      width: 24px;
      border-radius: 12px;
      font-size: 28px;
      color: map-get($colors, light-blue);
    }
}