@import "src/assets/styles/_variables.scss";

.add-to-group-button {
    background-color: $blue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin: 4px 0 8px;
    width: 90%;
    padding: 16px 0 16px 0;
}