<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isRootPage">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'EDIT_PROFILE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <form [formGroup]="profileEditForm">
    <ion-item *ngIf="isBoardAvailable">
      <ion-label position="stacked" class="label-font">{{'BOARD' | translate}} &lrm;<ion-text>
          <span style="color: red;">&nbsp;*</span>
        </ion-text>
      </ion-label>
      <ion-select formControlName="syllabus" #boardSelect multiple="false" [interfaceOptions]="boardOptions"
        placeholder="{{ (syllabusList.length ? 'BOARD_OPTION_TEXT':'NO_DATA_FOUND') | translate }}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}"
        [disabled]="!syllabusList.length">
        <ion-select-option *ngFor="let eachSyllabus of syllabusList" value="{{eachSyllabus?.code}}">
          {{eachSyllabus?.name | aliased}}
          &lrm;</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label-font">{{'MEDIUM' | translate}}<ion-text>
          <span style="color: red;">&nbsp;*</span>
        </ion-text>
      </ion-label>
      <ion-select formControlName="medium" #mediumSelect multiple="true" [interfaceOptions]="mediumOptions"
        placeholder="{{ (mediumList.length ? 'MEDIUM_OPTION_TEXT':'NO_DATA_FOUND') | translate }}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}"
        [disabled]="(!mediumList.length || (profileEditForm.value.boards === '' && isBoardAvailable))">
        <ion-select-option *ngFor="let medium of mediumList" value="{{medium?.code}}">{{medium?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label-font">{{'CLASS' | translate}}<ion-text>
          <span style="color: red;">&nbsp;*</span>
        </ion-text>
      </ion-label>
      <ion-select formControlName="grades" #gradeSelect multiple="true" [interfaceOptions]="classOptions"
        placeholder="{{ (gradeList.length ? 'GRADE_OPTION_TEXT':'NO_DATA_FOUND') | translate }}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}"
        [disabled]="(!gradeList.length || !(profileEditForm.value.medium != ''))"
        (ionChange)="enableSubmitButton();">
        <ion-select-option *ngFor="let grade of gradeList" class="ion-text-capitalize" value="{{grade?.code}}">
          {{grade?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!showOnlyMandatoryFields">
      <ion-label position="stacked" class="label-font">{{'SUBJECTS' | translate}}</ion-label>
      <ion-select formControlName="subjects" multiple="true" [interfaceOptions]="subjectOptions"
        placeholder="{{ (subjectList.length ? 'SUBJECT_OPTION_TEXT':'NO_DATA_FOUND') | translate }}"
        okText="{{'BTN_SUBMIT' | translate}}"
        [disabled]="(!subjectList.length || !(profileEditForm.value.grades != ''))"
        cancelText="{{'CANCEL' | translate}}">
        <ion-select-option *ngFor="let subject of subjectList" value="{{subject?.code}}">{{subject?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-row class="padding-12">
    <ion-col size-md="10" offset-md="1">
      <ion-button expand="block" [ngStyle]="{'background-color': btnColor}"
        [disabled]="profileEditForm.invalid || disableSubmitButton" (click)="onSubmit()">{{'SAVE' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>