<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isRootPage">
      <ion-button icon-only (click)="goBack()">
        <ion-icon class="arrow-icon back-arrow" role="button" aria-label="back" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title role="heading" aria-level="1">{{'EDIT_PROFILE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical" *ngIf="isCategoryLabelLoded">
  <form [formGroup]="editProfileForm">
    <div *ngFor="let category of categories; let i = index;">
      <ion-item>
        <ion-label position="stacked" class="label-font">{{category.label | translateJson}} &lrm;<ion-text>
            <span *ngIf="category.required" style="color: red;">&nbsp;*</span>
          </ion-text>
        </ion-label>
        <ion-select [multiple]="isMultipleVales(category)" [formControlName]="category.code" [interfaceOptions]="boardOptions"
          placeholder="{{ category.placeHolder | translateJson }}"
          okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" (ngModelChange)="onCategoryChanged(category,$event,i)"
          [attr.disabled]="!category.itemList.length">
          <ion-select-option *ngFor="let item of category.itemList" value="{{item?.code}}">
            {{item?.name | aliased}}
            &lrm;</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-row class="padding-12">
    <ion-col size-md="10" offset-md="1">
      <ion-button expand="block" *ngIf="isCategoryLabelLoded" [ngStyle]="{'background-color': btnColor}"
        [attr.disabled]="editProfileForm.invalid || disableSubmitButton" (click)="onSubmit()">{{'SAVE' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>