<ion-content class="ion-padding">

  <div class="label PT16" role="heading" aria-level="1">
    {{ 'AUTOMATIC_SYNC' | translate }}
  </div>

  <ion-list lines="none" (ionChange)="onSelected()">
    <ion-radio-group [(ngModel)]="dataSyncType">
      <ion-item class="ds-item">
        <ion-radio class="ds-m0" [value]="OPTIONS.OFF" slot="start"></ion-radio>
        <ion-label class="ds-m0">{{ 'OFF' | translate }}</ion-label>
      </ion-item>

      <ion-item class="ds-item">
        <ion-radio class="ds-m0" [value]="OPTIONS.OVER_WIFI" slot="start"></ion-radio>
        <ion-label class="ds-m0">{{ 'OVER_WIFI' | translate }}</ion-label>
      </ion-item>

      <ion-item class="ds-item">
        <ion-radio class="ds-m0" [value]="OPTIONS.ALWAYS_ON" slot="start"></ion-radio>
        <ion-label class="ds-m0">{{ 'ALWAYS_ON' | translate }}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-label *ngIf="(lastSyncDateTime | async) as lastSyncDateTime">
    {{ 'LAST_SYNC' | translate }} {{lastSyncDateTime}}
  </ion-label>
  <ion-button expand="block" class="MT16 btn" (click)="onSyncClick()">
    {{ 'SYNC_NOW' | translate }}
  </ion-button>
  <hr>
  <ion-button (click)="shareTelemetry()" class="ion-no-padding btn" fill="clear">
    {{ 'SHARE_TELEMETRY' | translate }}
  </ion-button>

</ion-content>