<ion-content padding>

  <div class="label PT16">
    {{ 'AUTOMATIC_SYNC' | translate }}
  </div>

  <ion-list lines="none" (ionChange)="onSelected()">
    <ion-radio-group [(ngModel)]="dataSyncType">
      <ion-item class="ds-item">
        <ion-radio class="ds-m0" [value]="OPTIONS.off" slot="start"></ion-radio>
        <ion-label class="ds-m0">{{ 'OFF' | translate }}</ion-label>
      </ion-item>

      <ion-item class="ds-item">
        <ion-radio class="ds-m0" [value]="OPTIONS.over_wifi" slot="start"></ion-radio>
        <ion-label class="ds-m0">{{ 'OVER_WIFI' | translate }}</ion-label>
      </ion-item>

      <ion-item class="ds-item">
        <ion-radio class="ds-m0" [value]="OPTIONS.always_on" slot="start"></ion-radio>
        <ion-label class="ds-m0">{{ 'ALWAYS_ON' | translate }}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-label>{{ latestSync | translate}}</ion-label>

  <ion-button expand="block" class="MT16" (click)="onSyncClick()">{{ 'SYNC_NOW' | translate }}</ion-button>
  <hr>
  <ion-button (click)="shareTelemetry()" no-padding fill="clear">{{ 'SHARE_TELEMETRY' | translate }}</ion-button>

</ion-content>
