<ion-card (click)="onCardClick()" class="sb-dt-card task-card">
  <ion-row>
    <ion-col size="2">
      <ion-icon name="checkmark-circle" class="check-icon" color="success"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <div class="display-flex-space-btn">
        <div>{{data.name}}</div>
        <div class="mandatory-ribben-label">
          {{'FRMELEMNTS_LBL_MANDATORY' | translate}}
        </div>
      </div>
      <div class="display-flex-space-btn">
        <div>{{data?.status}}</div>
      </div>
      <div  class="display-flex-space-btn"> 
        <div> {{(data?.endDate) ? (data.endDate | date : 'dd/MM/yyyy') : "__"}}</div>
        <div>
          <ion-label class="link-label">
           {{'FRMELEMNTS_BTN_VIEW_DETAILS' | translate}}<ion-icon name="chevron-forward"></ion-icon>
          </ion-label> 
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-card>