@import "src/assets/styles/_variables.scss";
.project-box {
  margin: 10px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 6px 6px 0px,
    rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;

  ion-card-header {
    padding: 0px 15px;
  }

  .custom-filed {
    margin: 10px 0px;

    ion-label {
      font-weight: 600;
      color: #{$black-color};
    }

    ion-icon {
      float: right;
      font-size: 1.5rem;
      margin-top: -5px;
    }

    ion-col {
      padding: 0px;
    }
  }

  .status-bar {
    text-align: center;

    ion-progress-bar {
      height: 0.5rem;
      border-radius: 10px;
    }
  }
}

ion-card {
  background-color: map-get($colors, white);
}

ion-button, ion-fab-button {
  --background: var(--ion-primary);
}