<ion-content>
  <div class="search-info mt-16 mx-8">
    <div>
      <strong class="title">{{'SEARCH_IN_APP' | translate: {'app_name': appLabel} }}</strong>
      <p class="description">{{'SEARCH_IN_APP_DESCRIPTION' | translate: {'app_name': appLabel} }}</p>
    </div>
    <div class="search-img mx-8">
      <!-- <img src="https://www.flaticon.com/svg/static/icons/svg/2502/2502529.svg" alt=""> -->
    </div>
  </div>
  <div>
    <div class="search-input m-16 p-16">
      {{'SEARCH_IN_APP' | translate: {'app_name': appLabel} }}
    </div>
  </div>
</ion-content>