@import "src/assets/styles/_variables.scss";

.search-info {
  display: flex;
  .title {
    font-size: 24px;
  }
  .description {
    color: #333333;
  }
  .search-img {
    width: 40%;
    border-radius: 50%;
    background-color: #999999;
  }
}

.search-container {
  margin: 1rem;
  .search-input {
    background-color: var(--app-white);
    border-radius: 1rem;
    padding: 1rem;
    input {
      border: none;
      width: 90%;
      padding: 0.25rem;
      font-size: 14px;
    }
    input:focus {
      outline: none;
    }
    button{
      background-color: transparent;
      box-shadow: none !important;
    }
  }
}

.search-filter{
  display: flex;
  .search-input {
    width: 85%;
    input{
      width: 85%;
    }
  }
  .filter-btn{
    display: flex;
    width: 15%;
    vertical-align: middle;
    margin-left: 0.5rem;
    button{
      width: 100%;
      box-shadow: 0 0 50px 0 rgba(0,0,0,0.1) !important;
      background-color: var(--app-primary-header-light);
    }
  }
}

.label {
  font-size: 18px;
  font-weight: 700;
}