<ion-content>
  <app-common-header
    title="{{ 'FRMELEMNTS_LBL_ASSESSMENT' | translate }}"
    subTitle="{{ 'FRMELEMNTS_LBL_OBSERVATION_DESC' | translate }}"
  ></app-common-header>
  <div *ngFor="let assessment of assessmentList; let assessmentIndex = index">
    <app-item-list-card
      [title]="assessment?.name"
      [subTitle]="assessment?.programName"
      (cardSelect)="observationDetails(assessment)"
    >
      <ion-icon class="mg-popup-btn-icon" name="ios-arrow-round-forward" arrow></ion-icon>
    </app-item-list-card>
  </div>
  <app-no-data *ngIf="!assessmentList?.length"></app-no-data>
</ion-content>
<ion-button
  class="view-more"
  expand="block"
  (click)="loadMore()"
  *ngIf="assessmentList?.length && count > assessmentList?.length"
>
  {{ 'VIEW_MORE' | translate }}
</ion-button>
