
<ion-header class="sb-popover-header">
  <ion-toolbar class="sb-popover-toolbar">
    <ion-title class="sb-popover-title">{{header| translate}} ?
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="sb-popover-container ion-no-padding">

  <div id="main-content" class="sb-popover-content-details">
    <div class="consent-popover-info">
      <div class="flex-container">
        <div class="footer">
          <div lines="none">
              <p class="cr-terms-checkbox-label">
                <b>{{message | translate }} </b>
                </p>
                <p class="cr-terms-checkbox-label">
                {{message1 | translate }}
                 </p>
          </div>
          <div class="btn-info">
            <button  class="save-changes"
              (click)="start()">{{'FRMELEMNTS_LBL_START_IMPROVEMENT' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>