@import "src/assets/styles/_helper.scss";
@import "src/assets/styles/_variables.scss";


.mandatory {
    color: map-get($colors, red);
}

.label-font {
    font-weight: 500 !important;
    font-size: 18px;
}

.cg-label {
    @extend .MB8;
    color: map-get($colors, title);
}

.cg-item-16{
    width: calc(100% - 16px);
    --padding-start: 0px;
    @extend .ML16;
    @extend .MB6;
}
