<ion-content padding-top padding-right>
  <form [formGroup]="groupEditForm">
    <ion-item class="cg-item-16 PT16">
      <ion-label class="label-font cg-label" text-uppercase position="stacked">
        {{ 'GROUP_NAME' | translate }}
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="name" dir="{{commonUtilService.getAppDirection()}}" text-capitalize
        placeholder="{{'ENTER_GROUP_NAME' | translate}}"></ion-input>
    </ion-item>
    <!-- Syllabus -->
    <ion-item class="cg-item-16">
      <ion-label position="stacked" text-uppercase class="label-font cg-label">{{'SYLLABUS' | translate }}
      </ion-label>
      <ion-select text-capitalize formControlName="syllabus" placeholder="{{'SELECT' | translate }}"
        (ionChange)="getClassList(null)" okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}"
        [interfaceOptions]="syllabusOptions">
        <ion-select-option *ngFor="let eachSyllabus of syllabusList" value="{{eachSyllabus?.code}}">
          {{eachSyllabus?.name}}&lrm;</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="cg-item-16">
      <ion-label position="stacked" text-uppercase class="label-font cg-label">{{'CLASS' | translate}}</ion-label>
      <ion-select formControlName="class" [interfaceOptions]="classOptions"
        [disabled]="!(groupEditForm.value.syllabus != '')" placeholder="{{'GRADE_OPTION_TEXT'|translate | titlecase}}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}">
        <ion-select-option [value]="class?.code" *ngFor="let class of classList" text-capitalize>{{ class?.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <div class="border">
    <ion-row padding>
      <ion-col size-md="10" offset-md="1">
        <ion-button expand="block" [disabled]="!groupEditForm.valid" *ngIf="!isEditGroup"
          (click)="navigateToUsersList()">{{'NEXT'| translate}}</ion-button>
        <ion-button expand="block" [disabled]="!groupEditForm.valid" *ngIf="isEditGroup" (click)="updateGroup()">
          {{'SAVE' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>