<div *ngIf="barChartData">
  <div class="heading">
    <h4>{{ questionNumber }}) {{ data?.question }}</h4>
  </div>
  <!-- <highcharts-chart
    [(update)]="updateFlag"
    [Highcharts]="Highcharts"
    [options]="chartObj"
    style="width: 100%; height: 400px; display: flex"
    [constructorType]="chartConstructor"
    [oneToOne]="oneToOneFlag"
    [runOutsideAngular]="runOutsideAngularFlag"
    *ngIf="data?.chart?.data"
  >
  </highcharts-chart> -->
  <div *ngIf="data?.chart?.data">
    <!-- <div id="{{'container' + questionNumber }}"></div> -->
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="chartColors"
      >
      </canvas>
    </div>
  </div>

  <div *ngIf="!data?.chart?.data" class="errorMsg">No data found</div>
</div>
