<div class="notification-item-container" (click)="!itemData?.actionData?.ctaText ? handleDeepLink() : ''">
  <p class="date-time">
    <img *ngIf="!itemData?.isRead" src="./assets/imgs/oval.svg" class="mr-6" alt="oval">{{ itemData?.displayTime * 1000
    | date:'E, d MMMM h:mm'}}
  </p>
  <div class="ni-flex">
    <div class="img-info ni-flex-grow" *ngIf="itemData?.actionData?.appIcon">
      <img [src]="itemData?.actionData?.appIcon" alt="content_icon">
    </div>
    <div class="richText-info ni-flex-grow">
      <div class="title"
        [ngClass]="{'sb-accordian-header':itemData?.actionData?.actionType === 'updateApp' && itemData?.actionData?.richText}">
        <p class="title-info" [style.color]="itemData?.isRead ? '#666666' : '#024f9d'">
          {{itemData?.actionData?.title}}</p>
        <div class="description" *ngIf="itemData?.actionData?.richText">
          {{itemData?.actionData?.richText}}</div>
        <hr *ngIf="itemData?.actionData?.ctaText">
        <div *ngIf="itemData?.actionData?.ctaText" (click)="handleDeepLink()" class="update-now-btn">
          {{itemData?.actionData?.ctaText}}</div>
      </div>
    </div>
  </div>
</div>