@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";

:host {
  width: 100%;
  .notification-item-container {
    width: 100%;
    .date-time {
      color: $gray-200;
      font-family: "Noto Sans", sans-serif;
      font-size: 0.75rem;
      line-height: 1.25rem;
      margin-bottom: 4px;
      padding: 2px;
      margin-top: 10px;
    }
    .title {
      width: 100%;
      color: $blue;
      font-family: "Noto Sans", sans-serif;
      font-size: 0.938rem;
      font-weight: bold;
      letter-spacing: -0.4px;
      line-height: 1.25rem;
    }
    .title-info{
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
      margin: 0;
      font-size: 1rem;
    }
    .description {
      color: $gray-300;
      font-family: "Noto Sans", sans-serif;
      font-size: 0.813rem;
       letter-spacing: -0.1px;
      line-height: 1.25rem;
      margin: 0;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
      margin-top: 2px;
    }

    .sb-accordian-arrow {
      font-size: 1.5rem;
      line-height: 1.25rem;
    }
    .arrow-up {
      transform: rotate(180deg);
    }

    .update-container {
      border-radius: 2px;
     // background-color: map-get($colors, white_f1);
      font-family: "Noto Sans", sans-serif;
      font-size: 0.813rem;
      line-height: 1.25rem;
      margin-top: 2px;
      color: $gray-300;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    .img-info{
     width: 10%;
     float:left;
    }
    .richText-info{
      width: 90%;
      margin-bottom: 8px;
      padding-left: 4px;
    }

    .expand-button {
      @include rtl {
        float: left !important;
      }
      @include ltr {
        float: right !important;
      }
      width: 1.5rem;
      text-align: center;
      cursor: pointer;
    }

    .update-now-btn {
      height: 1.25rem;
      color: $blue;
      font-family: "Noto Sans", sans-serif;
      font-size: 0.75rem;
      font-weight: bold;
      letter-spacing: -0.34px;
      line-height: 1.25rem;
    }

    .mr-6 {
      @include ltr() {
        margin-right: 6px;
      }
      @include rtl() {
        margin-left: 6px;
      }
    }
    // .pl-16 {
    //   @include ltr() {
    //     padding-left: 16px;
    //   }
    //   @include rtl() {
    //     padding-right: 16px;
    //   }
    // }
  }

  .ni-flex{
    display: flex;
    flex-wrap: wrap;
  }
  .ni-flex-grow{
    flex-grow: 1;
  }
}
