@import "src/assets/styles/_variables.scss";
:host {
  .settings-item-style {
    padding-top: 5px;
  }
  ion-icon {
    font-size: 22px !important;
    font-weight: 550 !important;
  }
  .bgColor {
    background-color: #f7f7f7;
    border-radius: 3px;
  }
  .bgColor.item-block.item-md {
    margin-bottom: 2rem;
  }
  .marginTop {
    margin-top: 15px !important;
  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }
  .item-md.item-block .item-inner {
    border-bottom: 0 !important;
  }
  .flex-card-container {
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:center;
    background-color: map-get($colors, white_f1);
    padding: 12px;
    margin-bottom: 12px;
    .card-text {
      width: 100%;
    }
    .card-icon{
      width: 20px;   
    }
  }
  .report-title {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 79vw;
    font-size: 16px !important;
  }
}
.bgColor ion-label {
  overflow: visible !important;
}
