/* mentor-details.page.scss */

// ion-header {
//   ion-toolbar {
//     --background: #f7ca00; /* Set header background color */
//     ion-title {
//       font-size: 24px; /* Header title font size */
//       font-weight: bold; /* Header title font weight */
//       color: #333; /* Header title text color */
//     }
//     ion-back-button {
//       color: #333; /* Back button color */
//     }
//   }
// }
@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/fonts";
@import "src/assets/styles/_variables.scss";
ion-content {
  background-color: #f5f5f5; /* Set background color for the content area */
  
  .info-section {
    text-align: center;
    padding: 16px;

    h2 {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 8px;
      color: #f7ca00; /* Yellow color for mentor name */
    }

    p {
      font-size: 16px;
      color: #777;
    }
  }

  .mentor-summary-card {
    margin: 16px;
    background-color: #ffdb58; /* Different color for summary card */

    ion-card-header {
      ion-card-title {
        font-size: 20px;
        font-weight: bold;
        color: #333;
      }
    }

    ion-card-content {
      ion-label {
        color: #555;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  .about-mentor {
    padding: 16px;

    ion-img {
      display: block;
      margin: 0 auto;
      max-width: 100%; /* Ensure the image fits within its container */
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
      transform: rotate(-2deg); /* Apply a slight rotation to the image */
      transition: transform 0.3s ease-in-out; /* Add smooth transition for rotation */
      cursor: pointer; /* Change cursor to indicate interactivity */

      &:hover {
        transform: rotate(0deg); /* Reset rotation on hover */
      }
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #555;
      margin-top: 8px;
    }
  }

  ion-list {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center align items horizontally */
  }

  ion-item {
    
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    
    

    h2 {
      font-size: 18px;
      font-weight: bold;
    }

    ion-button {
      display: none; // Initially hide the booking button
    }
  }

  ion-item.active {
    ion-button {
      display: block; // Show the booking button on item click
    }
  }

  .profile-section {
    background: #ffc400;
    display: flex;
    justify-content: center;
    padding: 16px;

    ion-img {
      display: block;
      margin: 0 auto;
      max-width: 100%; /* Ensure the image fits within its container */
      border-radius: 50%; /* Make the image circular */
      overflow: hidden; /* Hide any overflowing content */
      border: 8px solid #ffffff; /* Add a 2px solid white border */
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); /* Add shadow */
      transition: transform 0.3s ease-in-out; /* Add smooth transition for transform */
      cursor: pointer; /* Change cursor to indicate interactivity */

      &:hover {
        transform: scale(1.05); /* Slightly scale up the image on hover */
      }
    }
  }

  /* Update the slot card styling based on your preferences */
  .slot-card {
    background-color: #ffffff; /* Card background color */
    margin: 8px; /* Card margin */
    border-radius: 8px; /* Card border radius */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Card box shadow */

    ion-card-header {
      background-color: #ffcc00; /* Header background color */

      ion-card-title {
        font-size: 18px; /* Header title font size */
        color: #333; /* Header title text color */
      }
    }

    ion-card-content {
      p {
        margin-top: 8px; /* Spacing between content and title */
        font-size: 16px; /* Content font size */
        color: #777; /* Content text color */
      }

      strong {
        font-weight: bold; /* Make strong text bold */
      }
    }

    ion-button {
      margin: 8px; /* Spacing between button and content */
    }
  }
}
