<ion-header class="sb-popover-header">
    <ion-toolbar class="sb-popover-toolbar">
        <ion-title class="sb-popover-title" style="text-align: center;">{{'YOB_TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<div>
    <div class="yob-info">
        <div><label>{{'SELECT_YOB' | translate}}<span class="sb-color-red">*</span></label></div>
        <div style="border: 1px solid;
        width: 50%;
        border-radius: 18px; margin-left: 24%; height: 2.5rem;">
            <ion-select placeholder="Year" interface="popover" style="padding: 6px 20px;"
                        [(ngModel)]="selectedYearOfBirth" mode="ios">
                <ion-select-option *ngFor="let year of birthYearOptions"
                                   value="{{year}}">
                    {{year}}</ion-select-option>
            </ion-select>
        </div>
    </div>
    <div style="text-align: center; margin-top: 10%;">
        <button type="submit" class="submit-btn" [disabled]="!selectedYearOfBirth" (click)="submit()"
                [ngClass]="!selectedYearOfBirth ?  'submit-disibled' : null">{{'BTN_SUBMIT' | translate}}</button>
    </div>
</div>
