@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";

.submit-btn{
    color: white;
    background-color: $blue;
    font-size: 1rem;
    padding: 8px 0;
    border: 2px solid $blue;
    width: 45%;
  }

  .yob-info {
      text-align: center;
      font-size: 1.25rem;
  }

  .sb-color-red {
    color: #952833 !important;
  }

  .submit-disibled{
    opacity: 0.5 !important;
    cursor: default;
  }