@import "src/assets/styles/variables";
@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins";
@import "src/assets/styles/fonts";
@import "src/assets/styles/_variables.scss";
:host {
  .refreshspinner {
    stroke: $blue !important;
    width: 1.875rem;
    left: 0;
    top: 0;
    height: 2.5rem;
    position: relative !important;
  }
  .spinner-div {
    padding: 40px;
    background-color: map-get($colors, light_gray);
    text-align: center;
    border: none !important;
  }
  .profile-last-login-text {
    color: map-get($colors, light_gray_bd);
    text-align: center;
    @include margin(0);
    font-size: 1.2rem;
    @include padding(0, 5px, 8px, 5px);
  }

  .profile-name {
    color: map-get($colors, dark);
    text-align: center;
    font-size: 2rem;
    @extend .font-weight-bold;
    @include margin(0);
    @include padding(10px, 5px, 0, 5px);
  }
  .profile-head {
    position: relative;
    .profile-symbol {
      position: absolute;
      top: -0.375rem;
     }
  }
  .profile-share-icon{
    .share-icon{
      color: $blue;
      position: relative;
      top: 0.375rem;
      margin-left: 8px;
    }
  }
  

  ion-row {
    @include padding(0 !important);
  }

  ion-spinner {
    position: absolute;
    display: inline-block;
    width: 1.25rem;
    left: 47vw;
    top: 10vh;
    height: 1.25rem;
  }

  .badges {
    ion-avatar img,
    ion-thumbnail img {
      display: block;
      @include margin(30px auto);
    }
  }

  ion-card {
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: map-get($colors, white);
    border: solid 0.5px map-get($colors, medium_gray);
    width: 80vw;
    display: inline-block;

    .badge {
      color: map-get($colors, primary);
      font-size: 0.688rem;
      height: 1.25rem;
      box-shadow: none;
      --border-width: 0.031rem;
      @extend .font-weight-400;
      text-transform: capitalize;
      letter-spacing: normal;
    }
    .top {
      min-height: 5.313rem;
      .img-container {
        border: 1px solid map-get($colors, pale_cyan);
        @include padding(0 !important);
        background: map-get($colors, white_e9);
        min-height: 5.313rem;
        max-height: 5.313rem;
        border-radius: 4px;
        img {
          max-height: 5.313rem;
          @include margin(0 auto);
          width: auto;
          transform: translateY(-56%);
          position: relative;
          top: 50%;
        }
      }
      .info {
        color: map-get($colors, dark_gray_61);
      }
    }
    h6.name {
      word-break: break-all;
      white-space: normal;
      min-height: 2rem;
      font-size: 0.875rem !important;
      color: map-get($colors, primary_black);
      width: 100%;
    }

    h6.second-line-ellipsis {
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      height: 2rem;
    }

    .author {
      font-size: 0.813rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: map-get($colors, granite_gray);
      min-height: 1.25rem;
    }
  }

  .roles-container {
    color: map-get($colors, primary_blue);
    @include margin(5px, 0);
  }
  .roles {
    border: 0.5px solid map-get($colors, primary_blue);
    @include padding(4px, 15px);
    border-radius: 4px;
    display: inline-block;
  }
  .school-recent {
    margin: 0 auto;
    @include padding(8px, 16px, 8px, 16px);
    text-align: center;
  }

  .sb-btn-footer-text {
    color : $gray;
    font-weight: 100;
    font-size: ($font-size-base - 0.125);
    text-align: center;
    text-transform: initial;
  }
.sb-btn-tile {
    position: relative;
    flex-direction: column;
    background-color: $white;
    width:4.5rem;
    height:4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .view-icon{
      color: $blue;
    }
    .sb-btn-footer-text {
      font-weight: 400;
      color: $blue;
    }
  }
  button.sb-btn-tile:focus {
    outline: none;
  }

  .sb-dt-card-blue-icon{
    font-size : ($font-size-base * 2) + 0.125;
    color: $primary-color;
    @include margin(0, 0, ($base-block-space * .5), 0);
  }

  .contacts {
    padding: 15px;
    background-color: map-get($colors, bright_blue_19);
    text-align: center;

    .phone {
      display: inline-block;
      border-radius: 25px;
      @include padding($base-block-space, $base-block-space * 2);
      @include margin(null, null, 10px, null);
      background-color: map-get($colors, white);
      color: map-get($colors, primary_blue);

      &.light {
        color: $signup-btn-bg-not-active-color;
      }
    }

    .email {
      display: inline-block;
      border-radius: 25px;
      @include padding($base-block-space, $base-block-space * 2);
      background-color: map-get($colors, white);
      color: map-get($colors, primary_blue);
      border-bottom: 0.3px solid map-get($colors, bright_blue_19);
      border-top: 0.3px solid map-get($colors, bright_blue_19);
      &.light {
        color: map-get($colors, gray_9b);
      }
    }
  }

  .school-details {
    padding: 15px;
    background-color: map-get($colors, pale_blue_e0);
    text-align: center;
    border-bottom: 0.3px solid map-get($colors, bright_blue_19);
    border-top: 0.3px solid map-get($colors, bright_blue_19);
    .container {
      text-align: center;
      @include margin(null, null, 10px, null);
    }
  }

  .trainings {
    .heading {
      @include padding(15px);
      background-color: map-get($colors, white);
      @include margin(null, null, 2px, null);
      border-bottom: 0.5px solid map-get($colors, dark_gray);
    }
    .content {
      @include margin(8px);
      background-color: map-get($colors, white);
      border: 0.5px solid map-get($colors, dark_gray);
      border-radius: 4px;
    }
  }

  .contributions {
    min-height: 14.375rem;
    @include margin(0, 0, 16px, 0);
    background: map-get($colors, white);
  }

  .short-btn {
    height: 1.625rem;
  }

  .custom-round {
    border-radius: 64px !important;
    --background: #024F9D !important;
  }

  .bottom-block {
    background: map-get($colors, white_fa);
  }

  .align-middle {
    vertical-align: middle;
    display: inline-block;
  }

  .avatar-tickmark {
    width: $base-block-space*4;
    height: $base-block-space*4;
    position: absolute;
    left: 53%;
  }

  .training-1 {
    width: 80%;
    float: left;
    padding-left: 2rem;
    @include padding(16px, null, 8px, null);
  }

  .training-2 {
    .sb-btn-tile {
      margin: 0.5rem 0 !important;
    }
  }

  .batch-detail {
    color: var(--app-primary);
  }

  .flex-nowrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 0.5px solid map-get($colors, dark_gray);
    @include padding(null, 16px, null, 16px);
  }

  .flex-nowrap-last {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include padding(null, 16px, null, 16px);
  }

  .margin-pull-up {
      margin-top: -18px;
  }

  .m-t-4 {
      margin-top: 4px;
  }

  .cert-download {
      width:2.188rem;
      height:1.563rem;
      margin-bottom: 4px;
  }
  
  .add-size{
    font-size: 1.5rem;
    padding-right: 8px;
  }

  .enrolled-status-text {
    font-family: "Noto Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
  }

  .ongoing-status-text{
    @extend .enrolled-status-text;
    color: $blue;
  }

  .completed-status-text{
    @extend .enrolled-status-text;
    color: $green;
  }

  .self-declare-btn{
    margin: 8px 0 16px;
    ion-button{
      text-transform: none;
      --background: #{map-get($colors, dark_green)};
      --padding-start: 24px;
      --padding-end: 24px;
    }
  }

  .self-declare-teacher-details{
    padding: 16px;
    background-color: map-get($colors, bright_blue_19);
    text-align: center;
    color: map-get($colors, white);
    font-size: $font-size-base;
    
    .container{
      @include margin(null, null, 8px, null);
    }

    ion-button{
      text-transform: none;
      --padding-start: 24px;
      --padding-end: 24px;
    }

    .declare-info{
      margin: 0;
      font-size: $font-size-base;
      font-weight: bold;
    }
  }

  .app-name{
    text-transform: lowercase;
    display: inline-block;
  }
  .app-name::first-letter{
    text-transform: capitalize
  }
  .refresh-icon {
    color: map-get($colors, primary_blue);
    float: right;
    height: 2.5rem !important;
    width: 2.5rem !important;
    margin-top: -0.5rem;
  }
  ion-icon.refresh-icon.md.hydrated:active {
    background: map-get($colors, white_e8);
    border-radius: 18px;
  }

  .declared-error-container{
    margin: auto;
    @include margin(null, null, 8px, null);
    width: 50%;
    border: 1px solid map-get($colors, danger);
    border-left: 5px solid map-get($colors, danger);
    border-radius: 10px;
    background: map-get($colors, white);
    @include padding(8px, 0, 8px, 0);

    .declared-status{
      color: map-get($colors, danger);
    }

    .declared-message{
      color: map-get($colors, black);
    }
  }
  .preference-info {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
  }

  .framework-block {
    border-style: double;
    margin-top: 8px;
    border-radius: 1rem;
    background-color: aliceblue;
    border-color: aliceblue;
    padding-top: 12px;
  }
  .location-mapping-block {
    border-style: double;
    border-radius: 1rem;
    background-color: aliceblue;
    border-color: aliceblue;
    padding-top: 12px;
  }

}
.project-submitted{
  color : var(--app-green) !important;
}