@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
:host{
    --padding-bottom: 0px;
}
.need-header-space ion-content:first-child{
    --padding-bottom: 0px;
}
ion-content{
    --padding-bottom: 0px;
}
.contentPadding{
    --padding-bottom: 0px;
}
.scroll-content{
    padding: 0% !important;
}
iframe {
    transform: scale(1, 1);
    height: 100%;
    width: 100%;
  }
  body{
    background-color: map-get($colors, $light-blue);
      font-family: 'Noto Sans', sans-serif;
}
.panelText{
    font-size: 14px;
}
.rotate{
    -webkit-transform: rotate(180deg);  /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);  /* Firefox */
    -ms-transform: rotate(180deg);  /* IE 9 */
    transform: rotate(180deg);  /* Standard syntax */    
}
.btn-arrow{
    padding: 4px;
    margin-top: 4px;
    margin-left: 5px;
}
.yesBtn{
    color: $green;
}
p{
    font-size: 14px;
}
.help-header, .help-header-send-email{
    background: $blue;
    color: map-get($colors, white);
    padding: 16px;
}
.help-header>h4,.help-header-send-email>h4{
    padding:0;
    font-weight: 700;
    max-width: 1024px;
    margin: 0 auto;
}
.help-header>p,.help-header-send-email>p{
    font-weight: 100;
    max-width: 1024px;
    margin: 0 auto;
}
.panel-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.panel-title-blue{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: $blue;
}
.info-msg{
        background-color: map-get($colors, white_fa)
    }
.report-text{
      padding-left: 6px;
    }
@media only screen and (max-width : 1024px) {

    .info-msg-send-email>p,.info-msg>p{
        padding: 8px 16px;
        max-width: 1024px;
        margin: 0 auto;
    }
   
}
@media only screen and (min-width : 1025px) {

    .info-msg-send-email>p,.info-msg>p{
        padding: 16px 0;
        max-width: 1024px;
        margin: 0 auto;
    }
}
.icon{
    color: $blue;
    float:right;
} 
.panel{
    border-radius: 0 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow:none !important;
    border-bottom: solid 1px lightgray;
    font-size: 16px;
}

.panel-heading {
    padding: 16px 16px;
}
.panel-group{
    margin: 0 auto;
    max-width: 1024px;
}
.panel-group .panel+.panel{
    border-radius: 0px;
    margin-top: 0px;
}
.panel-default>.panel-heading{
    background-color: map-get($colors, white);
    border-radius: 0px !important;
}
.panel-body{
    background-color: map-get($colors, white_fa);
}
.panel-interact{
    text-align: center; 
    padding: 20px;
    height: 100px;
}
.panel-interact>button{
    margin: 10px 5px 0px 5px;
    background-color: map-get($colors, white_fa);
    border-color: map-get($colors, white_fa);
    width: 80px;
    color: $blue;
    font-size: 13px;
    font-weight: 700;
    outline: none;
    height: 30px;
}
.panel-interact .yesBtn{
    color: $green;
}
.panel-interact>p{
    margin: 0px;
}
.no-clicked, .yes-clicked{
    padding:10px !important;
    margin: auto !important;
    margin-top:10px !important;
    background: map-get($colors, white_fa);
    width: 200px;
    border-radius: 4px;
    color:$green;
    text-align: center;
}

.panel-info{
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}
.panel-info>h6{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}

.input-text{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 1px;
    border-style:solid;
    border-color: map-get($colors, light_gray-c3);
    @include padding(8px 0px 0px 8px);
    resize: none;
}
.submit-button{
    width: 100%;
    color: map-get($colors, white);
    background: $blue;
    height: 40px;
    border-radius: 4px;
    border-style:solid;
    border-color:  $blue;
    margin: 10px 0px 16px 0px;
    outline: none;
}

@media only screen and (max-width : 1024px) {
   
    .report-button{
        min-width: 90vw;
        color: map-get($colors, white);
        background: $blue;
        height: 40px;
        border-radius: 4px;
        border-style:solid;
        border-color:  $blue;
        outline: none;
    }
    p{
        margin: 0px;
        font-weight: normal;
    }
    .panel-body{
        padding: 8px 16px;
    }
    #textareainfo{
        opacity: .5;
        position: absolute;
        bottom: -13px;
        right: 0px;
        font-weight: normal;
        font-size: 12px;
    }
    .initiate-email-info-button{
        left: 0;
    right: 0;
    position: fixed;
    top: 80vh;
    padding: 0 16px;
    }
}
@media only screen and (min-width : 1025px) {
    .report-button{
        min-width: 1024px;
        color: map-get($colors, white);
        background: $blue;
        height: 40px;
        border-radius: 4px;
        border-style:solid;
        border-color:  $blue;
        outline: none;
    }
}
img>.report-button{
    padding-bottom: 4px;
    padding-right: 1px;
}
.send-email{
    text-align: center;
    padding: 15px;
    background: aliceblue;
    --padding-bottom: 0px;
}
.send-email-form{
    text-align: center;
    margin: 0 16px;
}
#send-email-form{
    height: 40vh;
    position: relative;
}

.send-email-info{
    padding: 10px 0px;
    font-weight: normal;
    font-size: 12px;
    text-align: justify;

}
 #know-more-form{
        margin: 0px 16px;
    }
@media only screen and (min-width : 1025px) {
    .send-email-form{
        max-width: 1025px;
        margin: auto;
    }
    .send-email-info{
        max-width: 570px;
        padding: 10px 0 !important;
        margin: initial;
        float: left;
    }
    .submit-button{
        width: 150px;
        float: right;
        color: map-get($colors, white);
        background: $blue;
        border-radius: 0px;
        border-style:solid;
        border-color:  $blue;
        margin: 10px 0px 16px 0px;
        height: 32px;
        outline: none;
    }
    .panel-info{
        overflow: hidden;
        text-align: left;
    }
    .panel-info > h6 {
        @include margin(0px 0px 0px 15px);
    }
    .panel-info > p {
        @include margin(0px 0px 0px 15px);
    }
    #initiate-email{
    margin-top: 10px;
}

}
.input-text-form{
    width: 100%;
    height: 128px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 1px;
    border-style:solid;
    border-color: map-get($colors, light_gray-c3);
    @include padding(15px);
    resize: none;
}
::placeholder {
  color: $gray-300;
  font-size: 14px;
  font-weight: normal;
}
.initiate-email-info{
        margin-top: 10px;
    }
@media only screen and (min-width : 1025px) {
    .input-text-form{
        width: 100%;
        height: 128px;
        border-radius: 0px;
        box-shadow: none;
        border-width: 1px;
        border-style:solid;
        border-color: map-get($colors, light_gray-c3);
        @include padding(8px 0px 0px 8px);
        margin: 0px;
        resize: none;
    }
    #textareainfo{
    opacity: .5;
    position: absolute;
    bottom: -24px;
    right: 0px;
    font-weight: normal;
    font-size: 12px;
    }
    
}
a{
    color: map-get($colors, primary_black);
}

a:active, a:hover{
    text-decoration: none;
    color: none;
}

#textareadiv{
    position: relative
}