<ion-content>
  <div class="subtitle ion-padding ion-no-margin">
    <h6 style="display:inline-block;" >{{ 'FILTER_BY' | translate }}</h6>
    <ion-button color="dark" class="reset_button" fill="outline" (click)="reset()">{{ 'RESET' | translate}}
      <ion-icon role="button" aria-label="filter by" name="refresh"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="facetsFilter && facetsFilter.length">
    <div *ngFor="let facet of facetsFilter">
      <div class="flex-card-container filter-item" (click)="openFilterOptions(facet)">
        <div class="card-text">
          <ion-label class="ion-text-capitalize">{{ facet?.translatedName }}</ion-label>
          <ion-label class="text-end">{{ getSelectedOptionCount(facet) }}</ion-label>
        </div>
        <div class="card-icon">
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer">
  <ion-row>
    <ion-col>
    <ion-button expand="block" [disabled]="!shouldEnableFilter" (click)="applyFilter()">{{ 'APPLY_FILTER' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
