<ion-content>
  <h6 no-margin padding class="subtitle">{{ 'FILTER_BY' | translate }} </h6>
  <div *ngIf="facetsFilter && facetsFilter.length">
    <div *ngFor="let facet of facetsFilter">
      <div class="flex-card-container filter-item" (click)="openFilterOptions(facet)">
        <div class="card-text">
          <ion-label *ngIf="facet?.name === 'board'" text-capitalize>{{ 'BOARD' | translate }}</ion-label>
          <ion-label *ngIf="facet?.name === 'subject'" text-capitalize>{{ 'SUBJECT' | translate }}</ion-label>
          <ion-label *ngIf="facet?.name === 'medium'" text-capitalize>{{ 'MEDIUM' | translate }}</ion-label>
          <ion-label *ngIf="facet?.name === 'gradeLevel'" text-capitalize>{{ 'CLASS' | translate }}</ion-label>
          <ion-label *ngIf="facet?.name === 'resourceType'" text-capitalize>{{ 'RESOURCE_TYPE' | translate }}
          </ion-label>
          <ion-label class="text-end">{{ getSelectedOptionCount(facet) }}</ion-label>
        </div>
        <div class="card-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar padding-left padding-right>
    <ion-button expand="full" color="primary" (click)="applyFilter()">{{ 'APPLY_FILTER' | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>