@import "~@project-sunbird/sb-styles/assets/_varIndex.scss";

.message{
    text-align: center;
    margin: auto;
}
.text-primary {
    color: var(--primary-color);
}
.text-black {
    color: var(--app-black);
}
