<ion-content padding>
  <ion-button
    ion-button
    class="selectAll capitalize"
    (click)="selectUnselectAllEntity(selectAll ? false : true)"
    [ngClass]="{ undo: selectAll, 'pull-right': true }"
  >
    {{ !selectAll ? ('FRMELEMNTS_BTN_SELECT_ALL' | translate) + ' ' + 'State' : ('FRMELEMNTS_BTN_UNDO' | translate) }}
  </ion-button>

  <!-- placeholder="{{'message.startSearchSchool' | translate}}" -->
  <div *ngIf="entityList?.length">
    <div>
      <ion-searchbar debounce="500" placeholder="{{ 'Search ' + 'State' }}" [(ngModel)]="search"> </ion-searchbar>
    </div>
    <ion-list margin-top *ngFor="let entity of entityList | search: search">
      <ion-item>
        <ion-label text-wrap>{{ entity.name }}</ion-label>
        <ion-checkbox
          color="dark"
          [checked]="entity.selected"
          (ionChange)="countEntity(entity); entity.selected = !entity.selected"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!entityList || entityList?.length == 0" class="_flex-box msgContainer">
    <!-- {{ 'message.noStateFound' | translate }} -->
    <app-no-data></app-no-data>
  </div>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar class="_toolbar-background-md" position="bottom">
    <ion-row>
      <ion-col>
        <ion-button ion-button full (click)="cancel()" class="w-100">
          <ion-icon name="close" margin-right></ion-icon>
          {{ 'FRMELEMENTS_BTN_CANCEL' | translate }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button ion-button full (click)="addSchools()" class="w-100">
          <ion-icon name="add" margin-right></ion-icon>
          {{ 'FRMELEMENTS_BTN_ADD' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
