@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base/variables";

.segments{
display: flex;
}
.partition{
   border: 1px solid $gray;
    margin: 5px 5px;
}
.segment-wrapper{
    margin-top: 8%;
}
.view-more {
    --background: var(--app-primary-background) !important;
    --border-color: var(--app-primary-medium) !important;
    --color: var(--app-primary-medium) !important;
    width: 90%;
    border-radius: 5px !important;
 }
 ion-card{
    margin: 0 0 10px 0;
 }
 .header{
    margin-left: 0px;
 }

 h5 {
   position: relative;
 }
 
 h5 span {
   background-color: var(--app-primary-background);
   padding-right: 10px;
 }
 
 h5:after {
   content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 0.76em;
     border-top: 3px solid yellow;
     z-index: -1;
 }
 .projects-labels{
   font-weight: 600;
   margin: 20px 0px;
   }

 