@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base/variables";
.attachments-card{
    border-radius: 16px;
    background: $white-color;
   ion-card-header{
    font-size: 16px;
    border-bottom: 1px solid $gray-200;
    padding: 10px;
    font-weight:900;
    margin-bottom: 15px;
   }
}
.segment-wrapper{
    margin-top: 8%;
}
img{
    width: 120px;
    height: 85px;
}
.view-more {
    --background: var(--app-primary-background) !important;
    --border-color: var(--app-primary-medium) !important;
    --color: var(--app-primary-medium) !important;
    width: 90%;
    border-radius: 5px !important;
 }
 ion-card{
    margin: 0 0 10px 0;
 }
 .button-flex-div{
    display: flex;
    justify-content: center;
 }
 .header{
    margin-left: 0px;
 }
 .close-icon{
    font-size: 20px;
    float: right;
    margin: 8px;
    color: black;
 }
 .img-wrapper{
    margin-top: 4px;
 }