@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";

.framework-header {
    background-color: $blue;
    color: map-get($colors, white);
    padding: 16px;

    h4 {
        padding:0;
        font-weight: 700;
        max-width: 64rem;
        margin: 0 auto;
    }
}

.framework-form-bg{
    padding: 16px;  
}

ion-footer{
    z-index: -10;
}

ion-button{
    --background: #{$blue} !important;
    height: 2.5rem !important;
    text-transform: capitalize !important;
}

.ios .framework-form-bg ::ng-deep li > div {
    outline-style: none;
}

.ios .framework-form-bg ::ng-deep .sb-modal {
    margin-bottom: calc(env(safe-area-inset-bottom) + 20px);
}