<ion-content class="ion-padding" *ngIf="!changePermissionAccess">
  <p class="permission-title">{{'PERMISSION_REQUIRED_TITLE' | translate: {'%s': appName} }}</p>
  <div class="permission-container">
    <div *ngFor="let item of permissionListDetails" class="item-row d-flex mb-16">
      <div class="icon-col pr-16">
        <img src="{{item?.path}}" alt="" />
      </div>
      <div class="pl-16">
        <p class="title m-0 mb-8">{{item?.title}}</p>
        <p class="description">{{item?.description}}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-padding" *ngIf="!changePermissionAccess" style="background: white;">
  <ion-button expand="block" (click)="grantAccess()">{{'GRANT_ACCESS' | translate}}</ion-button>
  <ion-button expand="block" fill="outline" class="mt-8 btn-outline" (click)="skipAccess()">{{'NOT_NOW' | translate}}
  </ion-button>
</ion-footer>

<!-- For Edit permission page -->
<ion-content *ngIf="changePermissionAccess" class="changePermissionAccess ion-padding-vertical">
  <div>
    <p class="permission-title" class="pl-16">{{'PERMISSION_EDIT_TITLE' | translate:{'%s': appName} }}</p>
  </div>
  <div class="permission-container">
    <div *ngFor="let item of permissionListDetails" role="switch" tabindex="0" class="item-row mb-16 d-flex" (click)="stateChange($event)">
      <div style="flex-grow:1000;" class="pl-16">
        <p class="title m-0 mb-8">{{item?.title}}</p>
        <p class="description">{{item?.description}}</p>
      </div>
      <div class="toggle-col">
        <ion-toggle class="permission-toggle" color="success" mode="ios" [(ngModel)]="item.permission"
          >
        </ion-toggle>
      </div>
    </div>
  </div>
</ion-content>