@import "src/assets/styles/variables";
@import "src/assets/styles/_custom-mixins";
:host {
  .permission-title {
    color: map-get($colors, primary_black);
    font-size: 1rem;
    line-height: 1.375rem;
  }
  .permission-container {
    .item-row {
      .icon-col {
        @include ltr() {
          border-right: 1px solid $gray-100;
        }

        @include rtl() {
          border-left: 1px solid $gray-100;
        }
        min-width: 2.813rem;
        text-align: end;

        ion-icon {
          font-size: 3rem;
        }
      }

      .title {
        font-size: $font-size-base;
        color: map-get($colors, primary_black);
        font-weight: bold;
        line-height: 1.188rem;
      }
      .description {
        line-height: 1.188rem;
        font-size: $font-size-base;
        color: $gray-400;
        margin: 0px !important;
      }
    }
  }

  .pl-16 {
    @include padding(null, null, null, 16px);
  }
  .pt-0 {
    @include padding(0 !important, null, null, null);
  }
  .pr-16 {
    @include padding(null, 16px, null, null);
  }

  .btn-outline {
    letter-spacing: normal;
    border-width: 0.063rem;
    --border-width: 0.063rem;
  }
}

.permission-toggle {
  --background: #{map-get($colors, light_gray_toggle) !important};
  --background-checked: #{map-get($colors, secondary)};
}

ion-toggle.ion-color-success.permission-toggle {
  --ion-color-base: #{map-get($colors, toggle_green) !important};
}

.toggle-inner {
  top: 0px !important;
}
