<ion-content>
  <div class="gd-deactivated" *ngIf="isSuspended" tabindex="0">
    <div class="gd-deactivated-info pull-left" tabindex="0">{{'FRMELEMENTS_MSG_ACTIVATEGRPMSG' | translate}}</div>
    <div class="gd-deactivated-btn pull-left text-center" *ngIf="isGroupCreatorOrAdmin" tabindex="0">
      <button class="sb-btn-large sb-btn-small" (click)="showReactivateGroupPopup()" tabindex="0">
        {{'FRMELEMENTS_BTN_ACTIVATEGRP' | translate}}
      </button>
    </div>
  </div>
  <div class="gd-page" tabindex="0">
    <div class="gd-header">
      <div *ngIf="!isGroupLoading">
        <div class="gd-title">
          <div class="gd-name" role="heading" aria-level="1">
            {{groupDetails?.name}}
            <div class="gd-created-by" *ngIf="groupCreator">
              {{'GROUP_CREATED_BY' | translate: {'group_creator_name': groupCreator?.name} }}
            </div>
          </div>
          <div class="gd-opts">
            <accessDiscussion  aria-label="access discussion forum" [fetchForumIdReq]="fetchForumIdReq" [createUserReq]="createUserReq" (forumData)="assignForumData($event)"> </accessDiscussion>
           <span aria-label="more actions menu"><ion-icon ios="ellipsis-horizontal" role="button" aria-label="more actions menu" md="ellipsis-vertical" (click)="groupMenuClick($event)"></ion-icon></span>
          </div>
        </div>
      </div>
      <div class="m-n" *ngIf="isGroupLoading">
        <div class="skeleton-header mb-8">
          <app-skeleton-item height="1.125rem" width="75%" style="height:1.125rem; width:50%;"></app-skeleton-item>
          <app-skeleton-item height="0.875rem" width="75%" style="height:0.875rem; width:90%; margin-top:8px;">
          </app-skeleton-item>
        </div>
      </div>
      <div class="gd-tab-header" tabindex="0">
        <div class="gd-tab" (click)="switchTabs('activities')" [ngClass]="{'active': activeTab=='activities'}" tabindex="0">
          <div class="gd-tab-name gd-tab-border" 
          [attr.aria-label]="activeTab=='activities' ? 
            'Selected activities tab' : 
            'activities tab'">{{'ACTIVITIES' | translate}}</div>
        </div>
        <div class="gd-tab" (click)="switchTabs('members')" [ngClass]="{'active': activeTab=='members'}" tabindex="0">
          <div class="gd-tab-name" [attr.aria-label]="activeTab=='members' ?
            'Selected members' + memberList?.length + 'tab' :
            'members' + memberList?.length + 'tab'">{{'MEMBERS' | translate}} ({{memberList.length}})</div>
        </div>
      </div>
    </div>

    <div class="gd-tab-container" tabindex="0">
      <div class="gd-tab-content" *ngIf="activeTab=='members'">
        <div class="gd-member-search" tabindex="0">
          <img src="assets/imgs/search.svg" class="gd-member-search-icon" alt="members">
          <input type="text" [(ngModel)]="searchMember" placeholder="{{'GROUP_MEMBER_SEARCH_PLACEHOLDER' | translate}}"
            (ngModelChange)="onMemberSearch(searchMember)">
        </div>
        <div class="gd-tab-member-container" tabindex="0">
          <div class="gd-add-member-container">
            <div *ngIf="(platform.is('ios') ? false : true) && (!isSuspended && loggedinUser?.role === 'admin')" class="gd-add-member" (click)="navigateToAddUserPage()" tabindex="0">
              <span class="gd-add-member-icon">
                <img src="assets/imgs/ic_person_add_white.svg" alt="add-member">
              </span>
              <span class="gd-large-text">
                {{'ADD_MEMBER' | translate}}
              </span>
            </div>
          </div>
          <div *ngIf="isGroupLoading">
            <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
              <sb-member-card [isLoading]="true"
                [config]="{size:'medium', isBold:false, isSelectable:false, view:'horizontal'}"></sb-member-card>
            </div>
          </div>
          <div *ngIf="!isGroupLoading">
            <div *ngFor="let member of filteredMemberList; let i = index">
              <sb-member-card [config]="{size:'medium', isBold:false, isSelectable:false, view:'horizontal'}"
                [identifier]="member.userId" [indexOfMember]="i" [initial]="commonUtilService.extractInitial(member.name)"
                [title]="getMemberName(member)" [isMenu]="!isSuspended && showMemberMenu(member)" [isAdmin]="member.role === 'admin'"
                (menuClick)="memberMenuClick($event, member)">
              </sb-member-card>
            </div>
          </div>
          <div *ngIf="(!isGroupLoading && !filteredMemberList) || (!isGroupLoading && filteredMemberList.length <= 1)"
            class="text-center">
            <div class="gd-empty-result" *ngIf="!memberSearchQuery">
              <img src="assets/imgs/no_member.svg" alt="no-member">
            </div>
            <div class="gd-empty-result" *ngIf="memberSearchQuery && !filteredMemberList.length">
              <img src="assets/imgs/empty_search_result.svg" alt="no-result">
              <p>{{'EMPTY_SEARCH_RESULT_GROUPS' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="gd-tab-content" *ngIf="activeTab=='activities'" tabindex="0">
        <div class="gd-member-search">
          <img src="assets/imgs/search.svg" class="gd-member-search-icon" alt="search">
          <input type="text" [(ngModel)]="searchActivity" placeholder="{{'ACTIVITIESE_SEARCH_PLACEHOLDER' | translate}}"
            (ngModelChange)="onActivitySearch(searchActivity)">
        </div>
        <div *ngIf="!isGroupLoading && (!flattenedActivityList || !flattenedActivityList.length)" class="text-center" >
          <div class="gd-empty-result" *ngIf="!activitySearchQuery">
            <img src="assets/imgs/no_activity.svg" alt="no-activity">
          </div>
          <div class="gd-empty-result" *ngIf="activitySearchQuery">
            <img src="assets/imgs/empty_search_result.svg" alt="no-result">
            <p>{{'EMPTY_SEARCH_RESULT_GROUPS' | translate}}</p>
          </div>
        </div>
        <div *ngIf="isGroupLoading" >
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
            <sb-course-card [isLoading]="true"></sb-course-card>
          </div>
        </div>
        <div *ngIf="!isGroupLoading && flattenedActivityList && flattenedActivityList.length">
          <div *ngFor="let activityGroup of activityList; let i = index" class="mb-8" >
            <div class="gd-card-head" *ngIf="filteredGroupedActivityListMap[activityGroup?.title].length">
              <span class="gd-card-title-icon"><img src="assets/imgs/book.png" alt="book-icon"></span>
              <span class="gd-card-titile" role="heading" aria-level="2">{{activityGroup.title}}</span>
            </div>
            <div *ngFor="let activity of filteredGroupedActivityListMap[activityGroup?.title]; let j = index" tabindex="0">
                <sb-library-card 
                  (cardClick)="!isSuspended && onActivityCardClick($event)" [content]="activity" [section]="null"
                  [isMenu]="!isSuspended && loggedinUser.role === 'admin'" [cardImg]="activity?.appIcon
                      || config?.assetsPath?.book" (menuClick)="!isSuspended && activityMenuClick($event)">
                </sb-library-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer *ngIf="activeTab=='activities' && loggedinUser?.role === 'admin'">
  <div class="cd-btn" *ngIf="!isSuspended">
    <button class="sb-btn-large" (click)="navigateToAddActivityPage()" aria-label="add activity button">
      + {{'ADD_ACTIVITY' | translate}}
    </button>
  </div>
</ion-footer>