<ion-content>
  <div class="gd-page">
    <div class="gd-header">
      <div class="gd-title">
        <div class="gd-name">
          {{groupDetails?.name}}
        </div>
        <div class="gd-opts">
          <img class="add-member-icon" (click)="navigateToAddUserPage()" src="assets/imgs/ic_person_add_blue.svg">
          <ion-icon md="md-more" (click)="showGroupOptions($event)"></ion-icon>
        </div>
      </div>
      <div class="gd-tab-header">
        <div class="gd-tab" (click)="switchTabs('courses')" [ngClass]="{'active': activeTab=='courses'}">
          <div class="gd-tab-name">{{'ACTIVITIES' | translate}}</div>
        </div>
        <div class="gd-tab" (click)="switchTabs('members')" [ngClass]="{'active': activeTab=='members'}">
          <div class="gd-tab-name gd-tab-border">{{'MEMBERS' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="gd-tab-container">
      <div class="gd-tab-content" *ngIf="activeTab=='members'">
        <div class="gd-member-search">
          <ion-icon class="gd-member-search-icon" md="md-search"></ion-icon>
          <input type="text" [(ngModel)]="searchMember" (ngModelChange)="onSearch(searchMember)">
        </div>
        <sb-member-list [memberList]="memberList" [isMenu]="true"></sb-member-list>
        <div class="cd-btn" *ngIf="!memberList.length">
          <button class="sb-btn-large" (click)="navigateToAddUserPage()">
            <img src="assets/imgs/ic_person_add_white.svg">
            {{'ADD_MEMBER' | translate}}
          </button>
        </div>
      </div>
      <div class="gd-tab-content" *ngIf="activeTab=='courses'">
        <div class="gd-member-search">
          <ion-icon class="gd-member-search-icon" md="md-search"></ion-icon>
          <input type="text" [(ngModel)]="searchMember" (ngModelChange)="onSearch(searchMember)">
        </div>
        <sb-course-card [section]="null" (click)="navigateToActivityDetails()"></sb-course-card>
        <div class="cd-btn" *ngIf="!activityList.length">
          <button class="sb-btn-large" (click)="showAddActivityPopup()">
            + {{'ADD_ACTIVITY' | translate}}
          </button>
        </div>
        <!-- <sb-course-card *ngIf="!course.isEnrolledCourse" [course]="course" [section]="null" [cardImg]="course.appIcon"
          (click)="openCourseDetails(course)"></sb-course-card> -->
        <!-- <div *ngFor="let item of [0,1,2,3,4]" class="mb-8 mt-8">
        <sb-course-card [isLoading]="true"></sb-course-card>
      </div> -->
      </div>
    </div>
  </div>

</ion-content>