<ion-content>
  <div class="gd-page">
    <div class="gd-header">
      <div class="gd-title">
        <div class="gd-name">
          {{groupDetails?.name}}
          <div class="gd-created-by" *ngIf="groupCreator">
            {{'GROUP_CREATED_BY' | translate: {'group_creator_name': groupCreator?.name} }}
          </div>
        </div>
        <div class="gd-opts">
          <ion-icon md="md-more" (click)="groupMenuClick($event)"></ion-icon>
        </div>
      </div>
      <div class="gd-tab-header">
        <div class="gd-tab" (click)="switchTabs('activities')" [ngClass]="{'active': activeTab=='activities'}">
          <div class="gd-tab-name gd-tab-border">{{'ACTIVITIES' | translate}}</div>
        </div>
        <div class="gd-tab" (click)="switchTabs('members')" [ngClass]="{'active': activeTab=='members'}">
          <div class="gd-tab-name">{{'MEMBERS' | translate}} ({{memberList.length}})</div>
        </div>
      </div>
    </div>

    <div class="gd-tab-container">
      <div class="gd-tab-content" *ngIf="activeTab=='members'">
        <div class="gd-member-search">
          <ion-icon class="gd-member-search-icon" md="md-search"></ion-icon>
          <input type="text" [(ngModel)]="searchMember" placeholder="{{'GROUP_MEMBER_SEARCH_PLACEHOLDER' | translate}}"
            (ngModelChange)="onMemberSearch(searchMember)">
        </div>
        <div class="gd-add-member-container">
          <div class="gd-add-member" (click)="navigateToAddUserPage()">
            <span class="gd-add-member-icon">
              <img src="assets/imgs/ic_person_add_white.svg">
            </span>
            <span class="gd-large-text">
              {{'ADD_MEMBER' | translate}}
            </span>
          </div>
          <div *ngIf="!filteredMemberList && !filteredMemberList.length" class="text-center">
            <img *ngIf="!memberSearchQuery" src="assets/imgs/no_member.svg" alt="">
            <img *ngIf="memberSearchQuery" src="assets/imgs/empty_search_result.svg" alt="">
          </div>
          <div *ngFor="let member of filteredMemberList; let i = index">
            <sb-member-card [config]="{size:'medium', isBold:false, isSelectable:false, view:'horizontal'}"
              [identifier]="member.userId" [indexOfMember]="i"
              [initial]="commonUtilService.extractInitial(member.name)" [title]="member.name"
              [isMenu]="(loggedinUser.role === 'admin' && member.userId !== groupCreator.userId)"
              [isAdmin]="member.role === 'admin'" (menuClick)="memberMenuClick($event, member)">
            </sb-member-card>
          </div>
        </div>
      </div>
      <div class="gd-tab-content" *ngIf="activeTab=='activities'">
        <div class="gd-member-search">
          <ion-icon class="gd-member-search-icon" md="md-search"></ion-icon>
          <input type="text" [(ngModel)]="searchActivity" placeholder="{{'ACTIVITIESE_SEARCH_PLACEHOLDER' | translate}}"
            (ngModelChange)="onActivitySearch(searchActivity)">
        </div>
        <div *ngIf="!filteredActivityList && !filteredActivityList.length" class="text-center">
          <img *ngIf="!activitySearchQuery" src="assets/imgs/no_activity.svg" alt="">
          <img *ngIf="activitySearchQuery" src="assets/imgs/empty_search_result.svg" alt="">
        </div>
        <div *ngFor="let activity of filteredActivityList; let i = index">
          <sb-course-card [section]="null" (click)="navigateToActivityDetails($event)"
            [isMenu]="loggedinUser.role === 'admin'" (menuClick)="activityMenuClick($event, activity)">
          </sb-course-card>
        </div>

        <!-- <sb-course-card *ngIf="!course.isEnrolledCourse" [course]="course" [section]="null" [cardImg]="course.appIcon"
          (click)="openCourseDetails(course)"></sb-course-card> -->
        <!-- <div *ngFor="let item of [0,1,2,3,4]" class="mb-8 mt-8">
        <sb-course-card [isLoading]="true"></sb-course-card>
      </div> -->
      </div>
    </div>
  </div>

</ion-content>

<ion-footer *ngIf="activeTab=='activities'">
  <div class="cd-btn">
    <button class="sb-btn-large" (click)="showAddActivityPopup()">
      + {{'ADD_ACTIVITY' | translate}}
    </button>
  </div>
</ion-footer>