@import "src/assets/styles/_variables.scss";

.toast-container{
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  --background: #{$gray-800};
  --color: #{$white};
}

.btn-right{
  float: right;
  background-color: map-get($colors, primary_black);
  padding: 12px;
  color: map-get($colors, vivid_orange);
  font-family: "Noto Sans", sans-serif;
  font-size: $font-size-base;
  text-transform: uppercase;
}