@import "src/assets/styles/_variables.scss";

.toast-container{
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  --background: #333333;
  --color: #FFFFFF;
}

.btn-right{
  float: right;
  background-color: map-get($colors, primary_black);
  padding: 12px;
  color: map-get($colors, vivid_orange);
  font-family: "Noto Sans";
  font-size: 14px;
  text-transform: uppercase;
}