@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
@import "src/assets/styles/fonts.scss";

.img-container {
  // position: absolute;
  width: 100px;
  height: 100px;
  top: 30%;

  @include ltr() {
    left: 60%;
  }
  @include rtl() {
    right: 60%;
  }
  @include margin(null, null, null, -97px);

  margin-top: -144px;
}

.image-text {
  text-align: center;
  margin-top: 2vh;
}
.secondSection {
  margin-top: 13vh;
}
.users-groups-toolbar {
  position: fixed;
  background-color: white;
  z-index: 2;
}

.custom {
  //background-color: white;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}
.border {
  border: 2px solid #d9d9d9;
}
.image_style {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

.item-background {
  --background: map-get($colors, light_gray) !important;
  --padding-start: 0px !important;
  .item-native > .item-inner {
    padding-right: 0px !important;
  }
}
.subTitle {
  font-size: 14px;
  font-weight: 600 !important;
  color: map-get($colors, dark_gray) !important;
}
.radius {
  border-radius: 6px;
}
.blueBorder {
  border-color: map-get($colors, primary) !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-radius: 4px;
}
#tick {
  position: relative;
  width: 20px;
  bottom: 16px;
  @include ltr() {
    right: 6px;
  }
  @include rtl() {
    left: 6px;
  }
  height: 20px;
}
.elipsis {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.nouser {
  text-align: center;
  background-color: #eceff0;
  padding: 21px 0px 34px 0px;
  margin-top: 2vh;
}
.radius {
  //border-radius: 6px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.bg-color-white {
  background-color: map-get($colors, light_gray) !important;
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
}

.error-message-contentplay {
  width: -webkit-fill-available;
  background-color: #a1a1a1;

  @include padding(1%, 0%, 1%, 5%);
  color: white;
  // position: fixed !important;
  // bottom: 32px;
}

.advanced-menu {
  padding: 0 !important;
}
.advanced-menu ion-icon[item-end] {
  margin-top: 0 !important;
  @include padding(null, 8px, null, null !important);
}
.advanced-menu .item-md,
.advanced-menu .item-ios {
  margin-top: 0 !important;
}
.padding-left-0 {
  @include padding(null, null, null, 0 !important);
}
.rm-label-margin ion-label {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none;
}

.item-padding-left.item-md {
  @include padding(null, null, null, 14px !important);
}
//.custom-margin-top{
//margin-top: 7vh;
//}

.icon.ion-md-information-circle {
  vertical-align: text-bottom;
}

h6:first-child {
  margin-top: 0px !important;
}
.padding-left-2 {
  @include padding(null, null, null, 2px !important);
}

.segment-md .segment-button {
  font-weight: 700 !important;
  color: map-get($colors, dark_gray) !important;
  background-color: map-get($colors, white);
}

.segment-md .segment-button.segment-activated {
  border-color: map-get($colors, primary) !important;
  color: map-get($colors, primary) !important;
}
.description {
  color: map-get($colors, dark_gray);
  font-size: 1.1rem;
  @include margin(null, 10%, null, 10%);
  margin-top: 0px !important;
}

.ug-row-padding {
  @include padding(12px, 16px, 16px, 18px !important);
}

.ug-dark-grey {
  color: map-get($colors, dark_gray);
}

.separator-dot {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 8px;
  font-size: 12px;
}

.ug-top-left-padding {
  @include padding(16px, 16px, 0px, 8px !important);
}

.ug-icon-font-size {
  font-size: 28px;
}

.ug-mb-6 {
  margin-bottom: 6px;
  --border-radius: 10px;
  --inner-padding-end: 0;
  // --background: #ECEFF0 !important;
  --padding-start: 10px;
  --padding-end: 6px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.ug-logged-p0{
  margin-bottom: 6px;
  --border-radius: 5px;
  --inner-padding-end: 0;
}

.ug-pt-30 {
  padding-top: 30%;
}

ion-button.color,ion-title.color {
  color:#024f9d;
  font-weight:bold;
}

ion-segment-button {
  font-weight:bold;
}
