<ion-header>
  <ion-toolbar color="white">
    <ion-buttons class="sb-hamburger" slot="start">
      <ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'USERS_AND_GROUPS' | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!playConfig" (click)="goToSharePage()" icon-only>
        <ion-icon name="share" float-end></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top>
    <ion-segment no-padding [(ngModel)]="segmentType" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="users">
        <ion-label>{{'USERS' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="groups">
        <ion-label>{{'GROUPS' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="segmentType">
    <ion-list *ngSwitchCase="'users'">
      <div padding>
        <div class="custom-margin-top">
          <div *ngIf="profileDetails?.handle">
            <ion-text>
              <p text-uppercase color="dark_gray" class="subTitle">{{ 'LOGGED_IN_AS' | translate}}</p>
            </ion-text>
            <ion-item class="item-background radius" margin-bottom no-lines
              [ngClass]="i===selectedUserIndex ? 'blueBorder' : ''">
              <ion-row class="bg-color-white">
                <ion-col size="12" class="bg-color-white"
                  (click)="selectUser(i,  profileDetails?.uid, profileDetails?.handle)">
                  <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding>
                    <h6 [ngStyle]="{'color': currentUserId === profileDetails?.uid ? 'dodgerblue' : 'black'}"
                      class="line-height-2 padding-left-2 elipsis" color="primary">
                      <strong *ngIf="profileDetails">
                        {{profileDetails.serverProfile ? profileDetails.serverProfile.firstName : profileDetails.handle}}&nbsp;{{profileDetails.serverProfile?.lastName}}</strong>
                    </h6>
                    <!-- <p>{{profileDetails?.grade}}</p> -->
                    <p *ngIf="profileDetails?.profileType === ProfileType.TEACHER">
                      {{'USER_TYPE_1' | translate | titlecase}}</p>
                    <p *ngIf="profileDetails?.profileType === ProfileType.STUDENT">
                      {{'USER_TYPE_2' | translate | titlecase}}</p>
                  </ion-item>
                </ion-col>
                <!-- <ion-col col-1 class="advanced-menu">
  </ion-col> -->
              </ion-row>
            </ion-item>
          </div>
          <ion-text>
            <ion-label color="dark_gray" text-uppercase class="subTitle">{{'USERS' | translate}}</ion-label>
          </ion-text>
          <div *ngIf="noUsersPresent" class="nouser">
            <h6>{{'NO_USERS_CREATED_YET' | translate}}</h6>
            <div text-center class="description">
              {{ 'NO_USERS_CREATED_YET_MSG' | translate }}
            </div>
          </div>
          <div *ngIf="loadingUserList" class="nouser margin-bottom">
            <div text-center class="description">
              <strong>{{'LOADING_USER_LIST' | translate}}</strong>
            </div>
          </div>
          <ion-list *ngIf="!noUsersPresent && !loadingUserList">
            <ion-item *ngFor="let user of userList; let i=index;" class="item-background radius" margin-bottom
              [ngClass]="i===selectedUserIndex ? 'blueBorder' : ''" no-lines>
              <ion-row class="bg-color-white">
                <ion-col size="11" class="bg-color-white" (click)="selectUser(i, user?.uid, user?.handle)">
                  <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding>
                    <h6 class="line-height-2 elipsis"
                      [ngStyle]="{'color': currentUserId === user?.uid ? 'dodgerblue' : 'black'}">
                      <strong>{{user?.handle}}</strong>
                    </h6>
                    <p>
                      <span
                        *ngIf="user?.profileType === ProfileType.TEACHER">{{'USER_TYPE_1' | translate | titlecase}}</span>
                      <span
                        *ngIf="user?.profileType === ProfileType.STUDENT">{{'USER_TYPE_2' | translate | titlecase}}</span>
                      <span *ngIf="user?.grade?.length">•</span> {{ getGradeNameFromCode(user) }}
                    </p>
                  </ion-item>
                </ion-col>
                <ion-col size="1" class="advanced-menu" *ngIf="!playConfig">
                  <ion-item slot="end" class="bg-color-white item-padding-left">
                    <ion-icon class="line-height-2 padding-left-2" name="more" item-end
                      (click)="presentPopover($event ,i, true)"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </div>

      </div>

    </ion-list>
    <ion-list *ngSwitchCase="'groups'">
      <div padding>
        <div class="firstSection" *ngIf="showEmptyGroupsMessage">
          <div class="img-container">
            <img class="image_style" alt="no_group" src="assets/imgs/ic_businessman.png">
          </div>
          <ion-row padding-top>
            <ion-col size-md="6" offset-md="3" size-lg="6" offset-lg="3">
              <div class="image-text">
                <h6>
                  <strong>{{'NO_GROUPS_CREATED_YET' | translate}}</strong>
                </h6>
                <div text-center class="description">
                  {{ 'NO_GROUP_MESSAGE' | translate }}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <ion-list>
          <div class="groupSecondSection" *ngIf="!showEmptyGroupsMessage">
            <ion-item *ngFor="let group of groupList; let i = index" class="item-background radius" margin-top
              margin-bottom no-lines>
              <ion-row class="bg-color-white">
                <ion-col size="11" class="bg-color-white">
                  <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding
                    (click)="goToGroupDetail(i)">
                    <h6 class="line-height-2 elipsis"
                      [ngStyle]="{'color': currentGroupId === group?.gid ? 'dodgerblue' : 'black'}">
                      <strong>{{group?.name}}</strong>
                    </h6>
                    <p>
                      <ion-text>
                        <span color="text_gray" *ngIf="group?.grade && group?.grade[0]">{{ getGradeNameFromCode(group)
                        }}
                        </span>
                      </ion-text>
                      <ion-text>
                        <span *ngIf="group?.grade?.length">•</span>
                      </ion-text>
                      <ion-text>
                        <span color="text_gray" *ngIf="group?.profilesCount > 1">{{group?.profilesCount}} {{'USERS'
                        | translate}}</span>
                      </ion-text>
                      <ion-text>
                        <span color="text_gray" *ngIf="group?.profilesCount === 1">{{group?.profilesCount}} {{'USER'
                        | translate}}</span>
                      </ion-text>
                      <ion-text>
                        <span color="text_gray" *ngIf=" !group?.profilesCount || group?.profilesCount === 0">{{'NO_USERS'
                        | translate}}</span>
                      </ion-text>
                    </p>
                  </ion-item>
                </ion-col>
                <ion-col size="1" class="advanced-menu" *ngIf="!playConfig">
                  <ion-item slot="end" class="bg-color-white item-padding-left">
                    <ion-icon class="line-height-2 padding-left-2" name="more" item-end
                      (click)="presentPopover($event, i , false)"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-row *ngIf="segmentType === 'users'">
    <div *ngIf="playConfig && selectedUserIndex === -1" class="error-message-contentplay">
      <div>
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
        {{ 'PLEASE_SELECT_USER' | translate }}
      </div>
    </div>
  </ion-row>
  <ion-row padding>
    <ion-col size-md="10" offset-md="1" *ngIf="!isLoggedIn; else disableSwitchButton">
      <div *ngIf="selectedUserIndex !== -1; else enableCreateButton">
        <ion-button *ngIf="!playConfig" expand="block" center (click)="switchAccountConfirmBox()" [disabled]="!selectedUsername">
          {{'SWITCH_ACCOUNT' | translate}}
        </ion-button>
        <ion-button *ngIf="playConfig" expand="block" (click)="play()" [disabled]="isCurUserSelected">
          {{'PLAY' | translate}}
        </ion-button>
      </div>
      <ng-template #enableCreateButton>
        <ion-button fill="outline" expand="block" *ngIf="segmentType=='users' && !this.playConfig" (click)="createUser()">{{ 'CREATE_NEW_USER'
          | translate}}</ion-button>
        <ion-button expand="block" *ngIf="this.playConfig && segmentType=='users'" [disabled]="true">{{ 'PLAY' | translate}}
        </ion-button>
        <ion-button fill="outline" expand="block" *ngIf="segmentType=='groups' && !this.playConfig" (click)="createGroup()">{{ 'CREATE_NEW_GROUP'
          | translate}}</ion-button>
      </ng-template>
    </ion-col>
    <ng-template #disableSwitchButton>
      <ion-col>
        <ion-button *ngIf="!playConfig" expand="block" center [disabled]="selectedUsername">
          {{'SWITCH_ACCOUNT' | translate}}
        </ion-button>
        <ion-button *ngIf="playConfig" expand="block" [disabled]="isCurUserSelected">
          {{'PLAY' | translate}}
        </ion-button>
      </ion-col>
    </ng-template>
  </ion-row>
</ion-footer>