@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base/variables";
.project-box {
    background: $white;
    margin: 10px 8px;
    ion-card-header {
        padding: 0px 15px;
    }

    .custom-filed {
        margin: 10px 0px;
        ion-label {
            font-weight: 600;
            // color: $black-color;
        }

        ion-icon {
            float: right;
            font-size: 24px;
        }

        ion-col {
            padding: 0px;
        }
    }
}