<ion-content>
  <form [formGroup]="profileEditForm">
    <p class="cr-title">{{'ENTER_THE_FOLLOWING_INFORMATION' | translate}}</p>

    <ion-item class="input-item" [ngClass]="{'cr-input-primary': !errorMessages.className.show ,'cr-input-error': errorMessages.className.show }">
      <ion-label position="stacked" class="label-font align-text">{{'GROUP_NAME' | translate }}</ion-label>
      <ion-input formControlName="classroomName" (input)="onInputFields('CLASSNAME', $event)" placeholder="{{'ENTER_GROUP_NAME' | translate}}"></ion-input>
      <span *ngIf="errorMessages.className.show" class="cr-error">{{ errorMessages.className.message }}</span>
    </ion-item>

    <ion-item class="input-item" appCustomIonSelect *ngIf="isBoardAvailable">
      <ion-label position="stacked" class="label-font align-text">{{'BOARD' | translate }}
      </ion-label>
      <ion-select formControlName="syllabus" #boardSelect multiple="false" [interfaceOptions]="boardOptions"
        placeholder="{{ (syllabusList.length ? 'BOARD_OPTION_TEXT':'NO_DATA_FOUND') | translate }}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" [disabled]="!syllabusList.length">
        <ion-select-option *ngFor="let eachSyllabus of syllabusList" value="{{eachSyllabus?.code}}">
          {{eachSyllabus?.name}}
          &lrm;</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="input-item" appCustomIonSelect>
      <ion-label position="stacked" class="label-font align-text">{{'MEDIUM' | translate }}
      </ion-label>
      <ion-select [selectedText]="selectedText.medium" formControlName="medium" #mediumSelect multiple="true" [interfaceOptions]="mediumOptions"
        placeholder="{{ (mediumList.length ? 'MEDIUM_OPTION_TEXT':'NO_DATA_FOUND') | translate }}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}"
        [disabled]="(!mediumList.length || (profileEditForm.value.boards === '' && isBoardAvailable))">
        <ion-select-option *ngFor="let medium of mediumList" value="{{medium?.code}}">{{medium?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="input-item" appCustomIonSelect>
      <ion-label position="stacked" class="label-font align-text">{{'CLASS' | translate }}
      </ion-label>
      <ion-select [selectedText]="selectedText.grade" formControlName="grades" #gradeSelect multiple="true" [interfaceOptions]="classOptions"
        placeholder="{{ (gradeList.length ? 'GRADE_OPTION_TEXT':'NO_DATA_FOUND') | translate }}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}"
        [disabled]="(!gradeList.length || !(profileEditForm.value.medium != ''))">
        <ion-select-option *ngFor="let grade of gradeList" class="ion-text-capitalize" value="{{grade?.code}}">
          {{grade?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="input-item" appCustomIonSelect>
      <ion-label position="stacked" class="label-font align-text">{{'SUBJECT' | translate }}
      </ion-label>
      <ion-select [selectedText]="selectedText.subject" formControlName="subjects" multiple="true" [interfaceOptions]="subjectOptions"
        placeholder="{{ (subjectList.length ? 'SUBJECT_OPTION_TEXT':'NO_DATA_FOUND') | translate }}"
        okText="{{'BTN_SUBMIT' | translate}}" #subjectSelect
        [disabled]="(!subjectList.length || !(profileEditForm.value.grades != ''))"
        cancelText="{{'CANCEL' | translate}}">
        <ion-select-option *ngFor="let subject of subjectList" value="{{subject?.code}}">{{subject?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

  </form>
</ion-content>

<ion-footer>
  <ion-row class="padding-12">
    <ion-col size-md="10" offset-md="1">
      <ion-button class="ion-text-capitalize" expand="block" [ngStyle]="{'background-color': btnColor}"
        [disabled]="profileEditForm.invalid || disableSubmitButton" (click)="onSubmit()">{{'CREATE_GROUP' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
