@import "src/assets/styles/_variables.scss";
.filter-style {
  font-size: $font-size-base;
  font-weight: 500;
  color: $blue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45vh;
  display: inline-block;
}

.user-profile {
  padding: 8px 8px 0;
  font-size: 1.188rem;
}

.label {
  font-size: 1.125rem;
  font-weight: 700;
  padding-left: 8px;
}

.sb-card-scroll-container {
  overflow-x: auto;
  padding: 0 0 8px 0;
}
.sb-card-recently-container {
  .recently-viewed-card-size{
    margin: 0 8px; 
    min-width:18rem;
    max-width:18rem;
    &:only-child {
      min-width: 100%;
      max-width: calc(100vw - 32px);
    }
  }
}
