// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "./assets/styles/_helper";
@import "./assets/styles/rtl_helper";
@import "./assets/styles/details_page";
@import "./assets/styles/fonts";
@import "./assets/styles/themeable";
@import "./assets/styles/default-theme";

:root {
  --ion-default-font: "NotoSans";
  --ion-font-family: "NotoSans";
}

html,
body {
  height: 100%;
  font-size: $font-size-base;
  @extend .NotoSans;
  --ion-default-font: "NotoSans";
  --ion-font-family: "NotoSans";
}
html.md {
  --ion-default-font: "NotoSans";
  --ion-font-family: "NotoSans";
}
rating {
  ion-button {
    --padding-start: 0px !important;
    --padding-end: 0px !important;
  }
}

h6 {
  @extend .NotoSans-bold;
}
.font-size-14rem {
  font-size: 1.4rem !important;
}

.font-size-20 {
  font-size: 1.25rem !important;
}

.span-semibold {
  @extend .NotoSans;
}
.sb-legal-url {
  color: map-get($colors, bright_blue_a0);
  font-size: $font-size-base;
  text-decoration: underline;
}

.content-meta-title {
  @extend .NotoSans;
  @extend .font-weight-600;
  color: gray;
}

.tool-icon {
  width: 1.688rem;
  height: auto;
  // margin: 10px;
  float: right;
}

.header-title {
  font-size: 1.25rem;
  height: 100%;
  vertical-align: middle;
}

// Re-usable css
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-16{
  padding: 16px;
}

.text-align-end {
  text-align: end;
}

.margin-top-5 {
  margin-top: 5px;
}

.height-25 {
  height: 25%;
}

.border-radius-5 {
  border-radius: 5px;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.margin-top-0 {
  margin-top: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-top-16 {
  padding-top: 16px;
}

.margin-top-3 {
  margin-top: 2px !important;
}

/* For changing the input placeholder based on Language Direction  */

input::placeholder {
  @include rtl() {
    text-align: right;
  }
  @include ltr() {
    text-align: left;
  }
}

.width-100 {
  width: 100%;
}

/* Ionic component Overrides */
.toolbar-md {
  // min-height:50px;
  padding: 0 !important;
}

.toolbar-title-md {
  font-weight: 600;
}

/* Rating Component Global class */
ul.rating .ion-md-star-outline:before {
  content: "\f384" !important; //Change Outline star to filled star
  color: map-get($colors, dark_gray) !important; // Change the (fill) color of the Icon
}

/* Customization for ion-select  */

.select-box .alert-wrapper {
  margin: 0;
  width: 100vw !important;
  max-width: unset !important;
  max-height: 65vh;
  height: auto !important;
  box-shadow: unset;
  position: fixed;
  left: 0 !important;
  top: unset !important;
  bottom: 0;
  -webkit-transform-origin: bottom -100% !important;
  transform-origin: bottom -100% !important;
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  overflow-y: hidden;
  border: unset;
  background: map-get($colors, white);
}
.small-rating .sc-ion-buttons-md-s ion-button {
  height: 1.438rem;
  font-size: 0.688rem;
}
.popover-ratings .sc-ion-buttons-md-s ion-button {
  height: 2rem !important;
  width: auto !important;
  font-size: 1.375rem;
  padding-right: 10px;
}
.popover-ratings ion-icon.filled {
  color: $blue !important;
}
.small-rating ion-icon.filled {
  color: $blue !important;
}

.select-box {
  .alert-head {
    @include padding(13px 24px !important);
  }
  .alert-title {
    font-size: 1.2rem !important;
    font-weight: 700;
  }
  ion-backdrop {
    background-color: map-get($colors, black) !important;
    opacity: 0.4 !important;
  }
}

.select-box.select-alert .alert-button:first-child:not(:only-child) {
  background: transparent;
  color: map-get($colors, primary);
  // margin-right: 1%;
}

.select-box.select-alert .alert-button:last-child:not(:only-child) {
  background: map-get($colors, primary);
  color: map-get($colors, white);
  // margin-left: 5%;
}

.select-box.select-alert .alert-checkbox-group {
  max-height: 35vh !important;
  height: auto;
}

.select-box.select-alert .alert-button-group {
  display: inline-block !important;
  text-align: center;
  .alert-button {
    border-color: map-get($colors, primary);
    text-transform: uppercase;
    border-style: solid;
    border-width: 0.063rem;
    border-radius: 4px;
    overflow: hidden;
    height: 2.8rem;
    font-size: 1rem;
    width: 46% !important;
    font-weight: 700;

    .alert-button-inner {
      justify-content: center !important;
    }
  }
}

@media screen and (min-width: 401px) {
  .broadcast-popover::part(content) {
    top: 10vh !important;
    width: 80% !important;
    left: 10% !important;
    border-radius: 10px !important;
  }
  .broadcast-popover {
    .popup-button {
      padding-bottom: 8%;
      margin-top: 5vh;
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .broadcast-popover::part(content) {
      top: 5vh !important;
      width: 80% !important;
      left: 10% !important;
      border-radius: 10px !important;
  }
  .popup-button {
    padding-bottom: 5%;
  }
  .popup-text {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.user-popover::part(content) {
  min-width: 6rem;
  width: auto;
  display: inline-block;
  height: auto !important;
}
.user-popover {
  .list.list-md {
    margin-bottom: 0 !important;
  }
  .item-md {
    padding-left: 0 !important;
  }
  .label-md {
    margin-left: 16px;
  }
}

.report-alert::part(content) {
  margin: 0;
  width: 100% !important;
  max-height: 62vh !important;
  box-shadow: unset;
  position: fixed;
  @include ltr() {
    left: 0 !important;
  }
  @include rtl() {
    right: 0 !important;
  }
  top: unset !important;
  bottom: 0 !important;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
  overflow-y: hidden;
}
.report-alert-popover-list{
  .report-content{
    max-height: 50vh;
    overflow-y: scroll;
  }
}

.report-alert ion-backdrop {
  background-color: #000 !important;
  opacity: 0.4 !important;
}

.line-height-2 {
  line-height: 2rem !important;
}

.circle {
  display: map-get($colors, gray);
  background: map-get($colors, gray);
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0;
}

.alert-wp.confirm-alert .alert-wrapper {
  border: unset !important;
  background: white !important;
  bottom: 0;
  position: fixed;
}
.alert-wp.confirm-alert .closeButton {
  //@include text-align('end');
  position: absolute;
  width: 0.313rem !important;
  top: 0.188rem;
  z-index: 1000;
  background-color: transparent !important;
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  padding-top: 12px !important;
}
.alert-btn-cancel.alert-button {
  font-weight: 600 !important;
  background: transparent;
  color: map-get($colors, primary) !important;
  border-color: map-get($colors, primary);
  text-transform: uppercase;
  border-style: solid;
  border-width: 0.063rem;
  border-radius: 4px !important;
  overflow: hidden;
  height: 4.3rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.alert-btn-delete.alert-button,
.alert-wp.confirm-alert .doneButton {
  font-weight: 600 !important;
  background: map-get($colors, primary) !important;
  color: white !important;
  border-color: map-get($colors, primary);
  text-transform: uppercase;
  border-style: solid;
  border-width: 0.063rem;
  border-radius: 4px !important;
  overflow: hidden;
  height: 4.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  /* For changing the input placeholder based on Language Direction  */

  width: 100% !important;
}
.alert-wp ion-backdrop {
  background: black !important;
}

.alert-wp .alert-button {
  width: 46% !important;
  // font-weight: 400;
  // color: #000;
  // background: #b8b8b8;
}
.alert-wp .alert-title {
  font-size: 1.7rem !important;
  font-weight: 600 !important;
}
// h2{
// line-height: 0 !important;
// }
.alert-wp .alert-button-group {
  display: inline-block !important;
}
.alert-button {
  display: unset !important;
}

.alert-wp .alert-button:first-child:not(:only-child) {
  @include ltr() {
    margin-right: 7% !important;
  }
  @include rtl() {
    margin-left: 7% !important;
  }
}

.ng2-dropdown-menu {
  font-size: 1.6rem;
  max-width: 55vw;
  width: auto !important;
}

.separator-dot {
  width: 0.25rem;
  height: 0.25rem;
  background-color: map-get($colors, light_silver);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 8px;
  font-size: 0.75rem;
}

.need-header-space {
  ion-content:first-child {
    margin-top: 58px;
    --offset-top: -56px !important;
    --padding-bottom: 25px;
  }
}

.ios .need-header-space {
  ion-content:first-child {
    margin-top: 58px;
    --offset-top: -54px !important;
    --padding-bottom: 25px;
  }
}

ion-content.avoid-bottom-tabs-space .scroll-content {
  padding-bottom: 88px !important;
}

ion-navbar {
  .bar-button-md,
  &.toolbar-md-white .bar-button-default-md,
  &.toolbar-md-white .toolbar-title-md,
  &.toolbar-md .toolbar-title-md {
    color: $primary-color;
  }
}

ion-toolbar {
  &.toolbar-md .toolbar-title-md {
    color: $primary-color;
  }
}

// Moved css
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.signin-card-bg {
  background-color: map-get($colors, light_gray);
  @include padding(10px, null, 10px, 0);
}
.padding-bottom-10 {
  @include padding(null, null, 10px, null !important);
}

.padding-top-10 {
  @include padding(10px, null, null, null !important);
}

.padding-left-10 {
  @include padding(null, null, null, 10px !important);
}
/* Hide extra margin of the popover-controller */
.box::part(content) {
  min-width: 6rem;
  width: auto;
  display: inline-block;
  height: auto !important;
}
.box {
  .list.list-md {
    @include margin(null, null, 0, null !important);
  }

  .item-md {
    @include padding(null, null, null, 0 !important);
  }

  .label-md {
    @include margin(null, null, null, 16px);
  }
}
.upgradePopover {
  height: auto;
  max-height: 65vh;
  ion-backdrop {
    // background-color: map-get($colors, dark) !important;
    opacity: 0.2 !important;
    height: 100vh;
  }
}
.upgradePopover::part(content) {
  top: 20vh !important;
  width: 80vw !important;
  @include ltr() {
    left: 10vw !important;
    right: 10vw !important;
  }

  @include rtl() {
    right: 10vw !important;
    left: 10vw !important;
  }
}

.MT10 {
  margin-top: 10px;
}
.error {
  color: map-get($colors, bright_red_e7);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.padding-right-10 {
  @include padding(null, 10px, null, null !important);
}

.padding-left-10 {
  @include padding(null, null, null, 10px !important);
}

.padding-left-none {
  @include padding(null, null, null, 0 !important);
}

.padding-left-5 {
  @include padding(null, null, null, 5px !important);
}

.padding-5 {
  @include padding(5px !important);
}

.loading {
  background-color: transparent !important;
}

.loading-md .loading-wrapper {
  border-radius: 50% !important;
  @include padding(10px !important);
  max-height: 3rem !important;
  max-width: 3rem !important;
}

.ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.display-inline-block {
  display: inline-block !important;
}

.courses-holder {
  height: 46%;
  .scroll-content {
    @include padding(6px, 0, 0, 6px !important);
  }
}

.bolder {
  @extend .font-weight-bold;
}

.fw {
  @extend .font-weight-600;
}

.f11 {
  font-size: 0.688rem;
}

.f16 {
  font-size: 1rem;
}

.PTB0 {
  @include padding(0, null, 0, null);
}

.lighter {
  color: map-get($colors, gray_9b);
}

.MR10 {
  @include margin(null, 10px, null, null);
}

.MT0 {
  margin-top: 0;
}

.ML10 {
  @include margin(null, null, null, 10px);
}

.MB5 {
  @include margin(null, null, 5px, null);
}

.MB10 {
  @include margin(null, null, 10px, null);
}

.MB15 {
  @include margin(null, null, 15px, null);
}

.MB30 {
  @include margin(null, null, 30px, null);
}

.MT15 {
  @include margin(15px, null, null, null);
}

.txt-lowercase {
  text-transform: lowercase;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.asPerStateRecord {
  color: white;
  font-size: 0.625rem;
  white-space: pre;
  display: inline-block;
  font-weight: bold;
  background-color: black;
  padding: 6px;
  position: absolute;
  right: 0.813rem;
  top: 1.375rem;
}
.isymbol {
  position: relative;
  top: 0;
  line-height: 0.75rem;
  margin-left: 5px;
}
.information-icon-style {
  vertical-align: sub;
  margin-right: 13px;
  font-size: 1.8em !important;
  color:map-get($colors, gray_solid);
}
.info-icon-text {
  font-size: 0.625rem;
  text-align: center;
}
.qr-alert-invalid::part(content) {
  margin: 0;
  width: 100%;
  height: 100%;
  box-shadow: unset;
  position: fixed;
  max-height: 100% !important;
  @include ltr() {
    left: 0 !important;
  }

  @include rtl() {
    right: 0 !important;
  }
  top: unset !important;
  bottom: 0;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
}

.qr-alert-invalid ion-backdrop {
  background-color: map-get($colors, black) !important;
  opacity: 0.4 !important;
}

.qr-alert-invalid .invalidContent {
  .img-container {
    text-align: center;
    margin-top: 10vh !important;
    margin-bottom: 20px !important;
  }

  .button-inner {
    display: initial !important;
  }
  .arrow-icon {
    @include padding(null, null, null, 2.8em !important);
  }

  ion-icon {
    @include ltr() {
      float: right !important;
    }

    @include rtl() {
      float: left !important;
    }
  }

  .footer-md::before {
    top: 0;
    bottom: auto;
    height: 0px !important;
  }
}
.view-credits::part(content) {
  margin: 0;
  width: 100% !important;
  height: auto;
  box-shadow: unset;
  position: fixed;
  left: 0 !important;
  top: unset !important;
  bottom: 0;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
  overflow-y: hidden;
}

.view-credits ion-backdrop {
  background-color: map-get($colors, dark) !important;
  opacity: 0.4 !important;
}

ion-toast {
  --start: 0;
  --end: 0;
  --border-radius: none;
  --ion-safe-area-bottom: -8px;
}
ion-toast.redErrorToast {
  --background: #{map-get($colors, vivid_red)};
}

ion-toast.sb-toast.available-later {
  --start: 16px;
  --end: 16px;
  --ion-safe-area-bottom: 90px;
  --background: #{$warning-color};
  --color: #{$white-color};
  --border-radius: 4px;
  font-size: 0.75rem;
  padding: 0;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.24);
}
ion-toast.green-toast{
  --background: #{map-get($colors, office_green)};
}

ion-toast.red-toast{
  --background: #{map-get($colors, vivid_red)};
}

html[data-theme="JOYFUL"][data-mode="DARKMODE"].ios {
  .loading-wrapper,
  ion-toast {
    --background: #{map-get($colors, granite_gray)};
  }
}

html[data-theme="JOYFUL"][data-mode="DARKMODE"] {
  sb-library-card sb-library-card-v4 .sb--card.sb--card--theme2 {
    .sb--card__info{
      .subject-info,
      .sb--card__meta{
        color: white !important;
      }
    }
  }

  sb-course-curiculum-card .sb--card.sb--card--course--curiculum .sb--card__main-area{
    .sb--card__info .sb--card__title {
      background: transparent !important;
    }
  }

  lib-lib-entry {
    &.main_discuss_lib {
      .ng2-tag-input__text-input {
        width: 100%;
        color: white !important;
      }
      .discussion-start-modal .discussion-start-modal-content .discussion-start-form .start-form-content .start-form-label {
        color: white !important;
      }
    }
  }
}

.btn-block {
  margin: 0 !important;
  position: relative;
  margin: 0;
  border-style: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 2.813rem;
}

.hydrated,
.button-clear {
  letter-spacing: normal !important;
}

#backdrop {
  background: transparent;
  opacity: 1;
  z-index: 11;
  color: map-get($colors, white);

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: scaleY(-1);
    background-image: radial-gradient(circle at center 55px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.9) 30px);
  }
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
  height: 2rem !important;
  width: auto !important;
}

.loading-wrapper.sc-ion-loading-md {
  border-radius: 50%;
  // padding: 16px;
  padding-bottom: 18px;
}

.grade_ellipsis {
  @extend .ellipsis;
  color: $gray-300;
}

.download-popover {
  --width: auto;
  --max-width: 90%;
}

.sb-popover .sb-popover-footer .sb-popover-action-btn.sb-btn-outline-info {
  color: $primary-color;
  margin: 0 10px;
}

.input-focus.sc-ion-popover-md-h {
  display: grid;
  @supports (display: contents) {
    display: contents;
  }
}

.sb-dw-delete-popover::part(content) {
  box-shadow: 0 0 4px 2px #ccc;
  .sb-popover-items {
    padding-bottom: 0 !important;
  }
  .sb-popover-footer {
    .sb-popover-action-btn {
      box-shadow: none;
      width: 30%;
      border-radius: 3px;
      flex-grow: 1;
    }
  }
}
.sb-dw-delete-popover {
  top: auto;
}
.dw-active-downloads-popover::part(content) {
  .sb-popover-footer {
    .sb-popover-action-btn {
      box-shadow: none;
    }
  }
}

.no-network::part(content) {
  top: 3.563rem !important;
}
.no-net-heading {
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;
  padding-left: $base-block-space * 0.5;
}

.no-net-message {
  font-size: $font-size-xs;
  padding-left: $base-block-space * 0.5;
}

.no-net-popup {
  --background: #{$orange} !important;
  --color: #{$white} !important;
}

.no-net-close-btn {
  font-size: 1.5rem;
  float: right;
}

ion-split-pane {
  contain: unset;
}
.leave-training-popup::part(content) {
  top: 10.517rem !important;
  --box-shadow: 0px 3px 6px 5px #{map-get($colors, empty_color)};
  transform-origin: right top;
  transform: scale(1);
  width: 45% !important;
  .list-md {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  ion-backdrop {
    opacity: 0;
  }
}
.cd-leave-training-popup::part(content) {
  top: 5rem !important;
  // --box-shadow: 0px 3px 6px 5px #eee;
  transform-origin: right top;
  transform: scale(1);
  width: 36% !important;
  .list-md {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  ion-backdrop {
    opacity: 0;
  }
}

// common code for both collection-etb and enrolled course details
.sb-topics-container-ftue {
  .sb-topic-item {
    padding: 0 !important;
    height: 3.11%;
    width: 93.33%;
    color: $gray-300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: bold;
    @include rtl() {
      margin-left: 14px;
    }
    @include ltr() {
      margin-left: 14px;
    }
    &.etb-card-item {
      width: auto !important;
      margin-left: 0;
      margin-right: 0;
    }
    &.etb-topic-item {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .sb-ftue-design {
    width: 100%;
    font-size: 1.4rem;
    background: map-get($colors, white);
    @include margin(10px 0px 0px 0px);
    border: 0.5px solid rgba(35, 97, 255, 0.5);
    background-color: map-get($colors, white);
    box-shadow: 0 3px 4px 0 rgba(2, 79, 157, 0.1);
    .sb-play-unselected {
      color: $blue;
      font-size: 0.75rem;
      line-height: 1.25rem;
      @include margin(6px);
      @include clearfix;
    }
    .sb-play-selected {
      font-size: 0.75rem;
      line-height: 1.25rem;
      @include margin(6px);
      @include clearfix;
    }

    &.etb-card-item {
      border: 0.5px solid rgba(204, 204, 204, 1);
      margin: 0 !important;
    }

    > div.etb-card-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .etb-card-item-content {
        display: flex;
        align-items: center;
        text-align: start;

        flex-grow: 1;
        .content-name {
          @include padding(0, 1rem);
        }
      }

      .etb-card-item-play-container {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }

    .pull-left {
      width: calc(100% - 50px);
      vertical-align: middle !important;
      @include padding(10px 0px 0px 0px);
      @include clearfix;
    }
    .pull-right {
      vertical-align: middle;
      @include padding(0px 6px 0px 0px);
    }
  }
  .sb-ftue-design-course-toc {
    .pull-left {
      padding-top: 0 !important;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
    .pull-right {
      .done {
        color: map-get($colors, office_green);
        font-weight: normal;
        @include margin(8px 0px 0px 0px);
      }
    }
    .content-type-container {
      img {
        display: inline-block !important;
        height: 1.75rem !important;
        width: auto !important;
        vertical-align: middle;
        @include margin(4px 8px 4px 0px);
      }
    }
  }
}
.contentPadding {
  --padding-bottom: 0px !important;
}

.searchbar-input {
  font-size: 0.875rem !important;
  line-height: 2rem !important;
}

[dir="rtl"] .search-input .native-input.sc-ion-input-md::placeholder {
  font-size: 0.688rem !important;
  line-height: 2rem !important;
}

.ftue-changes .alert-wrapper{
  --min-height: 100%;
  --min-width: 100%;
}

.ftue-changes {
  .alert-head {
    @include padding(13px 24px !important);
  }
  .alert-title {
    font-size: 1.2rem !important;
    font-weight: 700;
  }
}

.ftue-changes .alert-button-group {
  display: inline-block !important;
  text-align: center;
  .alert-button {
    border-color: map-get($colors, primary);
    text-transform: uppercase;
    border-style: solid;
    border-width: 0.063rem;
    border-radius: 4px;
    overflow: hidden;
    height: 2.8rem;
    font-size: 1rem;
    width: 46% !important;
    font-weight: 700;

    .alert-button-inner {
      justify-content: center !important;
    }
  }
}
.ftue-changes .alert-radio-group {
  max-height: 100%;
}


.ftue-changes.select-alert .alert-button:last-child:not(:only-child) {
  background: map-get($colors, primary);
  color: map-get($colors, white) !important;
  // margin-left: 5%;
}

sb-course-cards-hlist > .layout-course > .header > .sb-btn-outline-secondary{
    color: $blue;
}

sb-course-cards-hlist > .layout-course > .header > .title{
  color: var(--app-gray) !important;
  height: auto !important;
  margin-left: 7px;
  font-size: 1rem !important;
  text-transform: none !important;
}

app-courses{
  sb-course-card{
    .sb--card{
      margin-top: 2px !important;
    }
  }
  sb-course-cards-hlist{
    .title{
      height: auto !important;
    }
  }
}

sb-course-cards-hlist, sb-library-cards-hlist{
  .view-all{
    .sb-btn-oval{
      color: var(--app-primary) !important;
      border-radius: 50% !important;
      border: none;
    }
  }
}

sb-library-cards-hlist {
  .layout-course {
    padding: 0 0.5rem;
  }
  .title {
    font-size: 1rem !important;
    height: auto !important;
    text-transform: none !important;
  }
}

.card-section-secondary{
  color: map-get($colors, granite_gray);
  font-family: "Noto Sans";
}

.card-section-danger{
  color: $orange;
  font-family: "Noto Sans";
}

.card-section-invisible{
  visibility: hidden;
}

sb-course-cards-hlist > .layout-course > .sb--scrolling-wrapper-flexbox {
  padding-right: 8px;
  padding-left: 8px;
}

sb-course-cards-hlist > .layout-course > .sb--scrolling-wrapper-flexbox > .sb--card--container:last-child {
  padding-right: 8px;
}

sb-library-cards-stack{
  .header{
    padding: 0 !important;
    .title{
      font-size: $font-size-base !important;
    }
  }
}
app-resources{

  .fixed-container{
    sb-library-filters{
      .pill{
        font-size: $font-size-base !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
      }
      .rounded{
        padding-top: 18px !important;
        padding-bottom: 18px !important;
        border-radius: 18px !important;
      }
      .sb-pills-container{
        padding: 10px 1rem !important;
      }
    }
  }

  sb-library-cards-stack{
    .header{
      padding: 0 !important;
      .title{
        font-size: $font-size-base !important;
        padding-left: 0.5rem;
      }
    }

    .sbbtn{
      border-radius: 3rem !important;
      background-color: transparent !important;
      color: var(--app-primary) !important;
      border: 1px solid var(--app-primary-light-2) !important;
      margin: 2%;
      margin-bottom: 0;
      width: 96% !important;
      padding: 0.75rem !important;
    }
  }

  .sb-textbook-container{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  sb-library-card{
    .sb--card__meta1{
      .sb--card__title{
        font-weight: bold;
      }
    }

    .sb--card{
      margin-top: 2px !important;
      box-shadow: 0px 1px 4px 2px rgba(var(--rc-rgba-black),0.16) !important;
    }
  }

}
.popover-viewport{
  animation-name: none !important;
}

.sb-btn-large {
  background-color: $blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 0px;
  cursor: pointer;
  outline: none;
  margin-bottom: 8px;
  width: 100%;
  padding: 16px 0px 16px 0px;
}
.sb-btn-small{
  padding: 8px;
  width: auto;
}

.popover-my-groups::part(content) {
 position: unset; 
}
.popover-my-groups {
  .mg-popup-container{
    height: 100%;
  }
  .mg-popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .mg-popup-content-member{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  .mg-popup-close{
    position: absolute;
    top: 0;
    right: 0;
    color: $blue;
    font-size: 1.563rem;
  }
  .mg-popup-title{
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    padding-top: 16px;
    .am-title{
      font-size: 1.125rem;
    }
    .am-desc{
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .am-step{
    font-weight: bold;
    span{
      color: $orange;
    }
  }
  .mg-popup-content-body{
    text-align: center;
  }
  .mg-popup-btn{
    position: relative;
    .mg-popup-btn-icon{
      position: absolute;
      right: 1rem;
      font-size: 2rem;
      top: 0.438rem;
    }
  }
}
app-manage-user-profiles{
  sb-member-card{
    .members-list-item{
      border: none !important;
    }
  }
}

app-application-header{
  .add-manage-user{
    sb-member-card{
      .sb-member__img{
        background-color: map-get($colors, light_grayish_green) !important;
        color: $green !important;
      }
      .sb-member__name{
        color: $green !important;
      }
    }
  }

  .more-manage-user{
    sb-member-card{
      .sb-member__img{
        padding-bottom: 1rem !important;
        color: map-get($colors, primary_black) !important;
      }
      .sb-member__name{
        color: map-get($colors, primary_black) !important;
      }
    }
  }

  .managed-user-container{
    sb-member-card{
      .sb-members-list-item{
        display: inline-flex !important;
      }
    }
  }
}

app-manage-user-profiles{
  .mu-selected-user{
    sb-member-card{
      .sb-member__name{
        font-weight: bold !important;
        color: $blue !important;
      }
    }
  }
}
ion-modal.sb-progress-loader {
  z-index: 50000 !important;
}
ion-modal.sb-progress-loader::part(content) {
  width: 100vw;
  height: 100vh;
}
.tutorial-popover {
  .popover-wrapper {
    width: calc(100vw - 50px);
    height: calc(100vh - 52px);
  }
  .popover-wrapper::part(content) {
    width: calc(100vw - 50px);
    height: calc(100vh - 52px);
    max-height: calc(100vh - 52px);
    overflow: visible;
    border-radius: 6px;
  }
}
.bold {
  color: map-get($colors, strong_green);
  font-weight: bold;
}

.group-option-popover {
  padding: 16px;
  ion-item {
    font-size: $font-size-base;
    font-family: "Noto Sans";
  }

  ion-item:nth-child(1) {
    color: map-get($colors, primary_black);
  }
  ion-item:last-child {
    color: $red;
  }
}
.group-option-popover-admin {
  ion-item:nth-child(1) {
    color: $red;
  }
}

.group-option-popover::part(content) {
  padding: 16px 8px;
  width: auto;
  margin-top: -30px;
  ion-item {
    --min-height: 1rem !important;
    padding-top: 16px;
    &:first-child{
      padding-top: 0;
    }
    label{
      margin: 0;
    }
    .item-inner{
      padding: 0;
    }
  }
}
.my-group-menu::part(content){
  margin-top: -30px;
}

.sb-course-completion-popover::part(content){
  left: 0 !important;
  right: 0 !important;
  margin: auto;
  width: 15.625rem !important;
  padding: 16px;
}

.sb-course-completion-popover{
  .cc-popup-close{
    font-size: 1.125rem;
  }
  .course-completion-title{
    color: $green;
    font-size: 1.125rem;
    font-weight: bold;
  }
  .course-completion-info{
    color: $green;
    font-size: $font-size-base;
    padding-top: 8px;
  }
  .course-completion-cert{
    padding-top: 16px;
  }
}
.sb-profile-name-confirmation-popover::part(content){
  left: 0 !important;
  right: 0 !important;
  margin: auto;
  width: 90% !important;
  padding: 16px;
  position: static;
}

.grecaptcha-badge {
   position: absolute;
   top: 70vh;
  }

body {
  .unplanned-maintenance-banner {
    display: none;
    background-color: #F7B500;
  }

  .tabs-inner > ion-router-outlet > .ion-page {
    padding-top: 0;
    transition: padding-top 1s;
  }

  &.show-maintenance {
    .unplanned-maintenance-banner {
      display: block;
    }

    .tabs-inner > ion-router-outlet > .ion-page {
      padding-top: 64px;
    }
    app-tabs ~ .ion-page {
      padding-top: 64px ;
    }
  }
}

#timer {
  width: 100vw;
  text-align: center;
  max-height: 3rem;
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  color: map-get($colors, red);
  font-size: 2.5rem;
}

#navigate-downloads {
  --background: #{map-get($colors, facebook)};
}
#planned-maintenance-banner{
  height: 100vh; z-index: 2000; background-color: white; display: inline-block
}
#planned-maintenance-text {
  margin-top: 16px; text-align: center; margin-left: 4em; margin-right: 4em;
}
#maintenance-sub-text {
  text-align: center; color: grey; padding-left: 4em; padding-right: 4em;
}

.required-asterisk {
  color: map-get($colors, red);
}

.consent-info {
  font-size: 0.75rem;
  padding-left: 4em;
}

.cd-license-card {
  ion-card {
    margin-left: 0;
  }
}

ion-content {
  --background: var(--app-primary-background);
  background: var(--app-primary-background) !important;
}

app-collection-detail-etb{
  sb-toc-item{
    .sbchapter__play__btn{
      padding: 0.75rem 0.5rem !important;
      border-radius: 2rem !important;
      max-width: 5.5rem;
      width: 100%;
    }
    sb-toc-card{
      .sbchapter__item__title{
        padding-top: 0.3rem;
        font-size: 1rem!important;
      }
      .sbchapter__img{
        width: 2.5rem !important;
        height: 2.5rem !important;
        flex: 0 0 2.5rem !important;
      }
      .arrange-card-items{
        align-items: center;
      }
    }
  }
}


._flex-box {
  display: flex;
  align-items: center;
}

._justify-content-center {
  justify-content: center;
}

._justify-content-end {
  justify-content: flex-end;
}

._vertical-center {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._flex-direction-column {
  flex-direction: column;
}

._justify-content-space-between {
  justify-content: space-between;
}

._container {
  flex-wrap: wrap;
  padding-bottom: 60px;
}

._overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

._cards {
  width: calc(25% - 0.5rem) !important;
  margin: 0.25rem;
  background: $white-color;
  position: relative;
  height: 4.688rem;
  border: 1px solid #e8eaed;
  border-radius: 3px;

  .iconAdj {
    font-size: 5rem;
  }

  overflow: hidden;
}

._footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e8eaed;
  background: white;
  z-index: 10;
  padding: 5px 16px;
}

._validQuestion {
  color: green;
}

._cardBg {
  background: #fff;
}

._tip {
  color: #777;
  font-size: 0.75rem;
  padding-left: 10px;
}
.disabled-toc-card {
  background-color: $gray-100 !important;
  border-color: $gray-100 !important;
}

sb-pills-grid{
  .sb-view-more-less{
    .view-all{
      width: 90%;
      height: 2.75rem;
      background-color: transparent !important;
      color: var(--app-primary) !important;
      box-shadow: none !important
    }
  }

  .size--lg {
    .img{
      padding:0.125em !important;
    }
    label {
      font-weight: bold;
    }
  }
  .size--lg.sb-label-grid.hscroll {
    padding-left: 0.25em;
  }
  .sb-label-grid:not(.hscroll){
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .sb-box-grid{
    .item{
      border-radius: 0.5rem !important;
      .img{
        width: 3.5rem;
        border-radius: 0.5rem !important;
        box-shadow: -0.125em 0.5em 1.3125em -0.125em rgba(0,0,0,.1) !important;
        img {
          margin-right: 0 !important;
        }
      }
    }
  }

  .icon-header{
    .item{
      height: 5.875em !important;
      width: 5rem !important;
      .img{
        width: 70% !important;
      }
    }
  }

  .sb-label-grid.show-ellipsis .item label {
    @supports (-webkit-box-orient: vertical) {
      -webkit-box-orient: vertical !important;
    }
  }

  .sb-label-grid.icon-header .item{
    position: relative !important;
    .img{
      position: absolute !important;
      top: -1.5em !important;
      margin-top: 0 !important;
      width: 60% !important;
    }
    label {
      font-size: 0.75rem !important;
    }
  }
}

app-user-home{
  sb-library-cards-hlist{
    sb-library-card{
      .sb--card__main-area{
        height: 7.5rem !important;
        .sb--card__img, .img-container{
          height: 6.5rem !important;
        }
      }
    }
    .view-all{
      .sb-btn-oval{
        height: 60% !important;
        top: 20% !important;
      }
    }
  }
}

app-user-home, app-sb-preferences-popup {
  app-truncated-ellipsis {
    font-size: $font-size-base;
    font-weight: bold;
    color: var(--app-gray);
    .dot-divider {
      background-color: var(--app-gray) !important;
    }
  }
}

.subject-list-popup{
  .modal-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 2rem 2rem 0 0;
  }
}

.preference-popup {
  --height: auto;
}
.preference-popup::part(content) {
  width: 100%;
  bottom: 0;
  position: absolute;
  border-radius: 1.5rem 1.5rem 0 0;
  .ion-page {
    position: relative;
    contain: content;
    max-height: 90vh;
    .preference-container {
      .preference-data {
        overflow: auto;
        max-height: 50vh;
      }
    }
  }
}

.form-api-components{
  margin-top: 1rem;
  sb-course-cards-hlist, sb-library-cards-hlist {
    .title{
      color: var(--app-gray) !important;
      font-size: 1rem !important;
      font-weight: normal !important;
      padding-left: 1rem;
      hr{
        display: inline !important;
        background-color: var(--app-primary-header);
      }
    }
  }
}

._progressIcon {
  font-size: 2rem;
}

._completed {
  color: green;
  font-size: 1rem;
}

._inProgress {
  color: $orange;
  font-size: 1rem;
}

._na {
  font-size: 1.2rem;
}

._submitted {
  color:$primary-color;
  font-size: 1.2rem;
}

sb-form{
  .multi-select-container{
    .list-border{
      background-color: transparent !important;
      ul{
        width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .label-html {
    padding-left: 16px;
}
}

.container-focus{
  width: 100%;
  border-bottom-left-radius: 20px;
  background-color: var(--app-primary-header) !important;
  padding-bottom: 1rem;
}

.heading-label {
  font-size: 1rem;
  color: var(--app-gray);
  padding-left: 1rem;
  display: flex;
  align-items: center;
  hr{
    flex: 1;
    margin-left: 1rem;
    background-color: var(--app-primary-header);
  }
}

sb-library-card-v3 {
  .sb--card__meta1 {
    height: 3.2rem !important;
  }
  .sb--card__title {
    bdi {
      line-height: 1.3;
    }
  }
}

.certificate-popup::part(content) {
  left: auto !important;
  top: 9.375rem !important;
  right: 3rem;
  width: 30% !important;
}

.sb-new-theme-popup::part(content) {
  width: 90vw !important;
  height: 26rem !important;
  left: 5% !important;
  border-radius: 16px;
  position: initial
}

.sticky-header-pills{
  sb-pills-grid{
    .sb-label-grid{
      margin: 0 !important;
      padding-left: 0 !important;
      .item{
        text-align: center;
        min-width: 5rem;
      }
    }
  }
}

.sb-switch-new-experience-popup::part(content) {
  width: 90vw !important;
  height: auto !important;
  left: 5% !important;
  border-radius: 16px;
  position: initial
}

.year-of-birth-popup::part(content) {
  width: 80vw !important;
  height: 35vh !important;
  left: 5% !important;
  border-radius: 16px;
  position: initial
}

.download-transcript-popup::part(content) {
  width: 80vw !important;
  left: 5% !important;
  border-radius: 1rem;
  position: initial
}

app-search {
  .pills-filter{
    sb-pills-grid{
      .sb-label-grid{
        margin: .5rem 0 0 0.475rem !important;
        padding-left: 0 !important;
        .item{
          text-align: center;
          min-width: 5rem;
        }
      }
    }
  }
}

app-faq-help {
  sb-list{
    .listView-compt{
      padding: 0.5rem;
      section.mt-24{
        text-align: center;
        button{
          width: 60vw;
          height: 2.5rem !important;
          margin: 0 !important;
          background-color: var(--app-white) !important;
          color: var(--app-primary) !important;
          border: none !important;
        }
      }
    }
    .listView-compt__title{
      padding-left: 0.5rem;
    }
    .listView-compt__item{
      background-color: var(--app-white);
      margin: 0.75rem 0.25rem;
      padding: 0.75rem !important;
      border-radius: 3rem;
      box-shadow: var(--button-style-shadow);
    }
  }
}

sb-faq{
  .panel-title{
    color: var(--app-gray);
  }
}

sb-carousel{
  .carousel_title {
    padding-left: 1rem;
  }
  .carousel-card{
    margin: 0.5rem !important;
  }
}

.popover-ratings rating ion-icon{
  color: #444242;
}

app-category-list-page{
  sb-library-cards-stack{
    .header{
      padding: 0 1rem !important;
    }
    .body {
      sb-library-card sb-library-card-v4 >
      .sb--card.sb--card--theme2 {
        width: auto !important;
        margin: 10px !important;
      }
    }
  }
}

sb-library-card sb-library-card-v4 >
.sb--card.sb--card--theme2 {
  width: auto !important;
  margin: 10px !important;
}

app-courses, app-resources {
  .sb--card{
    border-radius: 0.5rem !important;
  }
}

app-user-home, app-discover {
  .sb--card{
    border-radius: 1rem !important;
  }

  sb-banner-card-hlist {
    .sb--card.sb--card--theme2 {
      width: 19.18rem !important;
      height: 7.8125rem !important;
      background-repeat: no-repeat !important;
      background-size: 100% 100% !important;
    }
  }
}

.label-uppercase {
  text-transform: uppercase !important;
}

.label-bold-font{
  font-weight: bold !important;
}

.custom-btn-txt-transform-none{
  text-transform: none !important;
}

// Dark theme css
html[data-theme="JOYFUL"][data-mode="DARKMODE"] {
  .pop-container, .dark-background , .alert-wrapper.sc-ion-alert-md{
    background:var(--app-secondary-background) !important;
    color:$white;
  }
  .background-theme-color{
    background-color: var(--app-secondary-background) !important;
  }
  .message,.projects-labels, .clr-primary, .alert-sub-title.sc-ion-alert-md {
    color: $white;
  }
  .attach-label, .action-sheet-icon {
    color:var(--app-primary) !important;
  }
  .searchbar-input {
    background: var(--app-secondary-background) !important;
    border: 1px solid var(--app-secondary-background);
  }
  .task-desc{
    border:none;
  }
  .entity-block, .task-list, .footer-btn, .learningResources, .sb-popover-content-details, .heading-name, .color-white, .task-board {
    h4, h3, h5, span {
      color: $white;
    }
  }
  .button-clr{
  color: map-get($colors, black) !important;
  }
  .clr-downloaded-btn{
    color:green !important;
  }
  ion-icon.mg-popup-btn-icon.md.hydrated{
    filter: invert(0) !important;
  }
  .loading-spinner.sc-ion-loading-md,
  .loading-wrapper.ion-overlay-wrapper.sc-ion-loading-md{
    filter: invert(0) !important;
    background: var(--app-secondary-background);
  }
  .task-card .display-flex-space-btn .title-break{
    color: #fff !important;
  }
  .success{
    color: #FFD954 !important;
  }
  .task-card {
    .mandatory-ribben-label{
      color: #000 !important;
      background-color: #FFD954  !important;
    }
    .action-btn{
      color: #000 !important;
      --background: #FFD954  !important;
    }

  }
  .attachments-list{
    .card-text{
      color: #000 !important;
    }
  }
  .segment-button-has-label-only.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.ion-focusable.hydrated.segment-button-checked ion-label {
    color: white !important;
  }
}

app-user-home{
  .banner-pills{
    margin-top: 5px;
    sb-pills-grid{
      .sb-label-grid.sb-pills-grid {
        .item{
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
          height: 8vh;
          width: 28vw;
          text-align: center;
          border: 1px solid lightgray;
          .img{
            padding: .2em;
            margin-right: unset
          }
        }
      }
      .sb-label-grid.sb-pills-grid.hscroll{
        margin-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

app-admin-home {
  sb-pills-grid {
    .sb-label-grid .item {
      label {
        font-size: 1rem;
      }
    }
  }
}

app-user-home{
  sb-course-cards-hlist {
    .sb--card{
      box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1) !important;
    } 
    .sb--card__main-area{
      height: 7rem !important;
      flex-direction: row-reverse !important;
      .sb--card__img{
        float: right;
        height: 4.5rem !important;
        width: 4.5rem !important;
        margin: .5rem !important;
        .img-container img{
            margin-bottom: 1rem !important;
        }
      }
    }
    .sb--card--course .sb--container-box .sb--card__info{
      padding: 3px 10px !important;
      display: unset !important;
      .sb--card__meta1{
        margin-top: .75rem !important;
      }
      .sb--card__title{
        -webkit-line-clamp: 2 !important;
      }
    }
  }
  sb-library-card-v3{
    .sb--card.sb--card--theme2{
      height: 12.5vh !important;
      .img-container{
        height: 4.5rem !important;
      }
    }
  }
}

app-add-file {
  .icon-style{
    border-radius: 50%;
    padding: 10px;
    background-image: linear-gradient( #dce7f3 50%, #adc3dd 100% );
    box-shadow: 1px 3px 4px #666666;
  }
  .btn-space-btwn{
    display: flex;
    justify-content: space-between;
  }
}
app-metadata-details {
  ion-card {
    ion-card-header {
      ion-card-title {
        font-size: 1.25rem;
      }
      ion-card-subtitle {
        font-size: 0.875rem;
      }
    }
  }
  ion-card-content {
    ion-button {
      font-size: 0.875rem;
      height: 2.25rem;
    }
  }
}

.sb-dt-card-actions {
  button img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

app-metadata-details,app-add-file {
  .progress-bar-style{
    height: 0.625rem;
    border-radius: 16px;
    // --progress-background: green !important;
  }
  ion-card{
    margin: 0 0 10px 0 !important;
    --ion-item-background: white;
  }
  ion-content{
    --ion-background-color: white;
  }
.hr-border-bottom {
    box-sizing: border-box;
    height: 0.063rem;
    width: 100%;
    border: 0.5px solid map-get($colors, medium_gray);
    margin-top: 9px;
}
.hr-border-bottom-share {
  box-sizing: border-box;
  height: 0.063rem;
  border: 1px solid #E9DED3;
  margin-top: 8px;
}
.wrapper {
  grid-template-columns: 100px 100px 100px auto;
  margin-bottom: 10px;
  border-radius: 5px;
  & > div {
    border-radius: 5px;
    padding: 1em 0;
  }
}

.pull-right{
    float: right;
}
.menu-icon{
  display: block;
  width: 100%;
  height: 1rem;
  margin-top: 18px;
  float: right;
}
.card-icons {
  font-size: 1.875rem;
  color: $blue;
}
.card-icons-downloadStarted {
  font-size: 1.875rem;
  color: map-get($colors, text_gray);
}
.card-icons-red{
  font-size: 1.875rem !important;
  color:map-get($colors , danger);
}

.card-text{
  height: 1.125rem;
  width: auto;
  color: map-get($colors, granite_gray);
  font-family: "Noto Sans", sans-serif;
  font-size: 0.813rem !important;
  line-height: 1.25rem;
  text-align: center;
}
.card-button{
    background-color: transparent !important;
    outline: none;
    padding: 0px 10px;
}

.enrolled-course-card-button{
  background-color: var(--app-primary) !important;
  border-radius: 50px !important;
  margin: 1rem 0 1rem !important;
}
.view-credits{
  strong{
    color: var(--app-dark-gray) !important;
  }
}
.sb-dt-card{
  margin: 15px 0 !important;
  border-radius: 12px !important;
}
.sb-dt-card-actions{
    padding-left: 0px !important; 
    padding-right: 0px !important;
  .card-button{
    box-shadow: none !important;
  }
  .sb-course-progress-container{
    background-color: var(--joyful-light-yellow) !important;
    border-radius: 8px;
    padding: 10px 15px;
    p {
      font-size: 0.875rem !important;
      color: map-get($colors, primary_black);
    }
  }
}
.enrolled-course-container{
  ion-card{
    background-color: var(--joyful-light-blue) !important;
  }
}
.certificate-container{
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.sb-course-complete-container, .sb-batch-end-container{
  border-radius: 1rem;
}

.card-content-bottom-0 {
  .segment-button-has-label-only {
    color: var(--app-primary) !important;
  }
}
}

.project-segments{
  margin: 0px 0px 16px;
  display: flex;
  .hr-div {
    padding: 0px 10px 0px 10px;
  }
  hr.hr-height {
    height: 2.5rem;
    width: 0.125rem;
    background: black;
  }
.segment-card{
    background: var(--sb-pill-bg);
    border-radius: 12px;
    box-shadow: var(--button-style-shadow) !important;
    ion-segment-button{
        margin: 0px 0px;
        text-transform: none;
      ion-label {
        font-size: 0.875rem;
      }
    }
}

.attachment-delete-alert{
  background-color: red;
  ion-button{
    color:#adc3dd;
    --color:green;
  }
}
}

app-project-details app-project-details-card {
  ion-card-content .custom-filed {
    font-size: 0.875rem;
  }
}
app-solution-listing, app-observation-home, 
app-survey-home, app-reports-listing, 
app-observation-solution-listing app-item-list-card {
  ion-card-content ion-icon, .info {
    font-size: 0.875rem;
  }
}

download-share ion-fab-button {
  width: 2.5rem;
  height: 2.5rem;
}

lib-discuss-card .discuss-card-subtitle {
  .card-label-container, .discuss-card-content {
    margin-right: auto;
    flex-wrap: wrap;

    .discuss-card-label {
      flex-basis: 100%;
    }
  }
}

.fontResize-container {
  .fontResizeBtn_A- {
    font-size: 12px;
  }

  .fontResizeBtn_A {
    font-size: 14px;
  }

  .fontResizeBtn_A+ {
    font-size: 16px;
  }

  .fontResizeBtn {
    border: 0.15rem solid #484848;
    background: none;
    color: var(--black);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px;
    padding: 0px 8px;
    transition: all .3s ease-in-out;
    border-radius: 50%;

    &:hover,
    &:active {
      background: #ff714a;
      color: var(--white);
      cursor: pointer;
      // outline: 0px;
    }

    &:disabled,
    &[disabled] {
      opacity: 0.5;
      cursor: default;
      border-radius: 50%;

      &:hover {
        background: none;
      }
    }
  }
}

.fontResizeBtn:focus,
.dark-mode-toggle:focus {
  outline: none;
}

.df-sidebar-menu-list {
  font-size: 0.875rem !important;
}

ion-button {
  font-size: 0.875rem;
  height: 2.25rem;
}

app-text-type-input .ion-margin-top {
  font-size: 0.875rem;
}

app-slider-type-input {
  ion-label {
    font-size: 0.875rem;
  }
.dark-mode-toggle:focus {
  outline: none;
}
}