// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import '~@ionic/angular/css/padding.css';
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// @import '~@ionic/core/dist/collection/themes/ionic.globals.scss';
//Dependency Styles for Mobile



// @import "./assets/styles/_custom-mixins";
@import "./assets/styles/styles.scss";
//Specific Styles for Mobile
@import "app.scss";

/* For edit contact-details popup */
.popover-alert {
  --width: 100%;
}
.popover-alert.popoverPosition{
  --width: 100%;
  position: absolute;
}
.popover-alert .popover-content.sc-ion-popover-md, 
.popover-alert .popover-content.sc-ion-popover-ios {
  top: unset !important;
  bottom: 0;
  left: 0 !important;
  transform-origin: left top;
  transform: scale(1);
}

.popover-alert ion-backdrop {
  background-color: black;
  opacity: 0.4 !important;
}

.custom-loader-class{
  --height:50px;
  --width:50px;
}

.custom-loader-message-class {
  .loading-wrapper.sc-ion-loading-md {
    border-radius: 2px;
  }
}

.sb-course-container .header .title {
  color: #000000 !important;
  font-size: 18px !important;
}

.text-transform-free{
  text-transform: none !important;
}

// Discussion Forum
.discussion-forum{
  background-color: map-get($colors, light_gray_8c);
  min-height: 90vh !important;
  height: 90vh !important;
  .topic-list-container{
    height: calc(100vh - 175px) !important;
  }
  .my-discussion{
    .topic-list-container{
      height: 300px !important;
    }
  }
}
.discuss-left-panel{
  z-index: 3 !important;
}
.df-btn-container{
  padding: 1rem !important;
  .sb-left-icon{
    color: map-get($colors, primary);
    background-color: map-get($colors, light_gray);
  }
}

.video-js {
  height: 100% !important;
  padding-top: inherit !important;
}

// dashlet

.dataTables_wrapper {
  white-space: nowrap;
  height: calc(100vh - 100px);
  overflow: auto;
}

table.dataTable.no-footer {
  display: table;
  overflow: hidden;
  width: 100% !important;
  margin: 0 auto 1rem auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  font-size: .875rem;
  border-radius: 1.5rem;
  box-shadow: 0.375rem 0.375rem 0.125rem 0 rgb(0 0 0 / 10%);
  border-bottom: 0px !important;
  background: transparent;
  border: 1px solid #ddd;
  background-color: $white !important;
}

table thead .sorting_asc {
  background-image: url(http://www.miankoutu.com/uploadfiles/2015-9-24/2015924141740312.png);
  background-size: 20px 20px;
}

table thead .sorting_desc {
  background-image: url(http://www.miankoutu.com/uploadfiles/2015-9-24/2015924141733340.png);
  background-size: 20px 20px;
}

table thead.sorting {
  background-image: url(assets/imgs/sort-icon.svg) !important;
  background-size: 20px 10px;
}

table.dataTable tbody td {
  padding: 8px 40px;
}

table.dataTable thead tr th {
  text-align: left;
}

table.dataTable thead th {
  padding: 8px 24px !important;
  border-bottom: none !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  background-repeat: no-repeat !important;
  background-position: center left !important;
  position: relative !important;
  left: 1rem !important;
  right: 1rem !important;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: none !important;
}

table.dataTable tbody tr:nth-child(odd) {
  background-color: #f6f6f6 !important;
}
