@use 'sass:math';
@use 'sass:meta';
@import 'src/assets/styles/_variables';
@import 'src/assets/styles/_custom-mixins';
/* Sb-Detail-card Component Styling */
.sb-dt-card {
    border-radius: 2px;
    box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.05);
    background-color: map-get($colors, white );
    @include margin(0, 0, ($base-block-space * 2), 0);
      .sb-rating-view {
        @include ltr() {
          text-align: right
        }
    
        @include rtl() {
          text-align:left;
        }
        .sb-rating-value {
          font-weight: bold;
          font-size: $font-size-base;
          color: $gray-800;
          @include margin(0, ($base-block-space * 0.5), 0, 0);
        }
        .sb-rating-star {
          color: $yellow;
        }
      }
      .sb-practice{
        .button-small-md,.button-small-ios
        {
          height:1rem;
          font-size: ($font-size-base - 0.25);
          text-transform: initial;
          @include padding($base-block-space);
        }
      }
     
 
    .sb-dt-content{
      display: grid;
      grid-gap: ($base-block-space * 1);
      grid-template-columns:  auto ($base-block-space * 7);
      @include padding($base-block-space* 2, $base-block-space * 2, $base-block-space, $base-block-space*2);
     // padding: 16px 16px 8px 16px;
     
      .right {
        .img-container {
          background-color: $gray-100;
          max-width:($base-block-space * 7);
          height: ($base-block-space * 7);
          overflow:hidden;
          // background: #eee;
          display: flex;
          align-items: center;
        } 
      }
      .left {
        display: flex;
        flex-direction: column;
        
        .sb-dt-title {
          width:100%;
          overflow:hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-weight: bold;
          font-size: ($font-size-base + 0.125);
          color: $gray-800;
        }
        .sb-dt-source {
          .sb-by {
            font-size: ($font-size-base - 0.25);
            @if (meta.function-exists('div', 'math')) {
              @include margin(0, math.div($base-block-space,2), 0, 0);
            } @else {
              @include margin(0, ($base-block-space/2), 0, 0);
            }
          }
          .sb-user {
            font-size: ($font-size-base - 0.125);
            color: $gray-300;
          }
        }
        .sb-dt-class-info {
          .sb-dt-label{
            font-size: ($font-size-base - 0.125);
            color:$gray-300;
          }
          &.sb-dt-class {

          }
          &.sb-dt-subject{

          }
          .sb-separator-dot {
            width: ($base-block-space * 0.5);
            height: ($base-block-space * 0.5);
            background-color: $gray-300;
            border-radius:50%;
            display: inline-block;
            vertical-align: middle;
            @include margin(0px, $base-block-space);
          }
        }     
      }  
    }
    // Details-Card 
    .sb-dt-card-actions {
      @include padding(null, ($base-block-space * 1));
      .sb-btn-tile-group {
        display: flex;
        &:last-child{
          @include margin(null, 0, null, null);
        }
        .button-md,.button-ios{
          width:4.5rem;
          height:4.5rem;
        }
        .sb-btn-tile {
          .button-inner {
            flex-direction: column;
          }
          .sb-dt-card-danger-icon{
            font-size : ($font-size-base * 2) + 0.125;
            color: $orange;
            @include margin(0, 0, ($base-block-space * .5), 0);
          }
          .sb-dt-card-blue-icon{
            font-size : ($font-size-base * 2) + 0.125;
            color: $primary-color;
            @include margin(0, 0, ($base-block-space * .5), 0);
          }   
          .sb-btn-footer-text {
            color : $gray;
            font-weight: 100;
            font-size: ($font-size-base - 0.125);
            text-align: center;
            text-transform: initial;
          }
          ion-icon {
            line-height: 1.88rem;
          }
         
        }
      }
    }
  }
  .sb-detail-card-info .sb-dt-card
{
  @include margin(($base-block-space * 1), ($base-block-space * 1), ($base-block-space * 2), ($base-block-space * 1))
}

// ionic 4

.sb-dt-card {
    
  .sb-dt-card-actions {
    .sb-btn-tile-group {
      &:last-child{
        @include margin(null, 0, null, null);
      }
      .sb-btn-tile {
        flex-direction: column;
        background-color: $white;
        width:4.5rem;
        height:4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .sb-btn-footer-text {
          font-weight: 400;
        }
      }
      button.sb-btn-tile:focus {
        outline: none;
      }
    }

    .sb-btn-tile-group  button[disabled]{
      opacity: 0.7;
      pointer-events: none;
      cursor: default;
    }
  }
}
