/*Sb popover css*/
@import "src/assets/styles/_variables.scss";
.sb-popover {
  ion-backdrop {
    background-color: rgba(0, 0, 0, 0.59);
    opacity: 1;
  }

  .sb-popover ion-backdrop.backdrop-hide{
    display: none;
  }

  //styles to align ion-popover to bottom
  .popover-content {
    margin: 0;
    width: 100% !important;
    height: auto;
    box-shadow: unset;
    position: fixed;
    box-shadow: none;
    @include ltr() {
      left: 0 !important;
    }

    @include rtl() {
      right: 0 !important;
    }
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
    overflow-y: hidden;
    border-radius: 4px 4px 0 0;
    background: transparent;
    //background-color: $info-color;
  }

  //sb popover header
  .sb-popover-header {
    border-radius: 4px 4px 0 0;
    background-color: $info-color;
    &::after {
      background-image: none;
    }
    .sb-popover-toolbar {
      min-height: 2.5rem;
      max-height: 2.5rem;
      background-color: $info-color;
      border-radius: 4px 4px 0 0;
      //   @include padding(($base-block-space * 0.5), ($base-block-space * 1));
      .toolbar-background {
        border-radius: 4px 4px 0 0;
        background-color: $info-color;
      }
      .sb-popover-close-btn {
        color: $white-color;
      }
      .sb-popover-title {
        font-size: ($font-size-base);
        font-weight: bold;
        //@extend line-height: 19px;
        text-align: center;
        color: $white-color;
        @include padding(0);
        // @include padding(0, ($base-block-space * 5) ,0,0);
      }
    }
    .sb-modal-close {
      position: absolute;
      right: 0.313rem;
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      top: -0.125rem;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  // ios
  .sb-popover-header.ios {
    border-radius: 4px 4px 0 0;
    background-color: $info-color;
    &::after {
      background-image: none;
    }
    .sb-popover-toolbar {
      min-height: 2.5rem;
      max-height: 2.5rem;
      background-color: $info-color;
      border-radius: 4px 4px 0 0;
      //   @include padding(($base-block-space * 0.5), ($base-block-space * 1));
      .toolbar-background {
        border-radius: 4px 4px 0 0;
        background-color: $info-color;
      }
      .sb-popover-close-btn {
        color: $white-color;
      }
      .sb-popover-title {
        font-size: ($font-size-base);
        font-weight: bold;
        //@extend line-height: 19px;
        text-align: center;
        color: $white-color;
        @include padding(0);
        // @include padding(0, ($base-block-space * 5) ,0,0);
      }
    }
    .sb-modal-close {
      position: absolute;
      right: 0.313rem;
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      top: -1.125rem;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  .ios .sb-popover-header {
    margin-top: calc(constant(safe-area-inset-top)); //ios 11.2
    margin-top: calc(env(safe-area-inset-top)); //ios 11.1  
  }
  //sb popover content
  .sb-popover-container {
    text-align: left;

    .sb-popover-items {
      padding: ($base-block-space * 2);
      .icon-container {
        ion-icon {
          font-size: ($font-size-base * 2)+0.125;
          color: $info-color;
        }
        @include margin(0, 0, ($base-block-space * 1), 0);
      }
      .sb-popover-content-details {
        .main-title {
          color: $gray-800;
          font-size: $font-size-base;
          @include margin(0, 0, ($base-block-space * 1), 0);
          font-weight: 500;

          .meta-info {
            color: $gray-200;
            font-size: ($font-size-base - 0.125);
            line-height: 1.25rem;
            text-align: left;
            @include padding(($base-block-space * 2), 0, 0, 0);
          }
        }

        .sb-popover-content {
          color: $gray-200;
          font-size: $font-size-base - 0.125;
          line-height: 1.25rem;
          font-weight: bold;
          text-align: center;
          @include padding(($base-block-space * 1), 0, 0, 0);
          .sb-popover-download-content {
            color: black !important;
            font-size: 1.2rem !important;
          }
        }

        .sb-popover-information {
          color: $gray-800;
          font-family: "Noto Sans";
          font-weight: normal;
          font-size: ($font-size-base + 0.375);
          letter-spacing: 0;
          line-height: 1.5rem;
          text-align: center;
        }
      }
    }
  }

  //sb popover footer
  .sb-popover-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    @include padding(($base-block-space), ($base-block-space * 2), ($base-block-space * 3), ($base-block-space * 2));
    background: $white-color;
    .sb-popover-action-btn {
      opacity: 1;
      pointer-events: all;
      @include margin(null, 8px, null, null);
      height: $base-block-space * 4;
      border-radius: 2px;
      box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.26);
      line-height: 1.063rem;
      text-align: center;
      color: $white-color;
      font-size: $font-size-base;
      font-weight: normal;
      min-width: $base-block-space * 12;
      @include padding(($base-block-space * 0.5), ($base-block-space * 2));
      text-transform: capitalize;

      &:last-child {
        @include margin(null, 0, null, null);
      }
      &.popover-color {
        background-color: $info-color;
      }
    }
    .sb-popover-action-btn[disabled]{
      opacity: 0.5 !important;
      pointer-events: none !important;
      cursor: default;
    }
  }
  // **** iOS
  .sb-popover-header-ios {
    border-radius: 4px 4px 0 0;
    background-color: $info-color;

    &::after {
      background-image: none;
    }
    .sb-popover-toolbar {
      min-height: 2.5rem;
      max-height: 2.5rem;
      background-color: $info-color;
      border-radius: 4px 4px 0 0;
      //   @include padding(($base-block-space * 0.5), ($base-block-space * 1));
      .toolbar-background {
        border-radius: 4px 4px 0 0;
        background-color: $info-color;
      }
      .sb-popover-close-btn {
        color: $white-color;
      }
      .sb-popover-title {
        font-size: ($font-size-base);
        font-weight: bold;
        //@extend line-height: 19px;
        text-align: center;
        color: $white-color;
        @include padding(0);
        // @include padding(0, ($base-block-space * 5) ,0,0);
      }
    }
    .sb-modal-close {
      position: absolute;
      right: 0.313rem;
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      top: -1.125rem;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  // ****
}

.sb-popover::part(content) {
  margin: 0;
  width: 100% !important;
  height: auto;
  box-shadow: unset;
  position: fixed;
  box-shadow: none;
  @include ltr() {
    left: 0 !important;
  }

  @include rtl() {
    right: 0 !important;
  }
  top: unset !important;
  bottom: 0;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
  overflow-y: hidden;
  border-radius: 4px 4px 0 0;
  background: transparent;
  //background-color: $info-color;
}

.enrollement-popover {
  background: rgba(0, 0, 0, 0.51);
  .popover-content {
    left: 0px !important;
    right: 0px;
    bottom: 0px;
    top: auto !important;
    width: auto !important;
  }
}

.enrollement-popover::part(content) {
  left: 0px !important;
  right: 0px;
  bottom: 0px;
  top: auto !important;
  width: auto !important;
}

.sb-popover-items::part(content) {
  //background-color: $danger-color;
  .sb-popover-items {
    padding: 16px;
    .icon-container {
      ion-icon {
        font-size: ($font-size-base * 2)+0.125;
        color: $danger-color;
      }
    }
  }
}

.sb-popover.danger {
  .sb-popover-header {
    background-color: $danger-color;
    .sb-popover-toolbar .toolbar-background {
      background-color: $danger-color;
    }
  }

  .popover-content {
    //background-color: $danger-color;
    .sb-popover-items {
      padding: 16px;
      .icon-container {
        ion-icon {
          font-size: ($font-size-base * 2)+0.125;
          color: $danger-color;
        }
      }
    }
  }

  .sb-popover-footer .sb-popover-action-btn.popover-color {
    background-color: $danger-color;
  }
}

.sb-popover-warning::part(content) {
  // background-color: $warning-color;
  .sb-popover-items {
    padding: 16px;
    .icon-container {
      ion-icon {
        font-size: ($font-size-base * 2)+0.125;
        color: $tertiary-color;
      }
    }
  }
}

.sb-popover.warning {
  .sb-popover-header {
    background-color: $tertiary-color;
    .sb-popover-toolbar .toolbar-background {
      background-color: $tertiary-color;
    }
  }
  .popover-content {
    // background-color: $warning-color;
    .sb-popover-items {
      padding: 16px;
      .icon-container {
        ion-icon {
          font-size: ($font-size-base * 2)+0.125;
          color: $tertiary-color;
        }
      }
    }
  }
  .sb-popover-footer .sb-popover-action-btn.popover-color {
    background-color: $tertiary-color;
  }
}

.sb-popover.success::part(content) {
  .sb-popover-items {
    padding: 16px;
    .icon-container {
      ion-icon {
        font-size: ($font-size-base * 2)+0.125;
        color: #008840;
      }
    }
  }
}

.sb-popover.success {
  .sb-popover-header {
    background-color: #008840;
    .sb-popover-toolbar .toolbar-background {
      background-color: #008840;
    }
  }
  .popover-content {
    .sb-popover-items {
      padding: 16px;
      .icon-container {
        ion-icon {
          font-size: ($font-size-base * 2)+0.125;
          color: #008840;
        }
      }
    }
  }
  .sb-popover-footer .sb-popover-action-btn.popover-color {
    background-color: #008840;
  }
}

// For Permission Popup
.sb-popover.sb-popover-permissions {
  .sb-popover-items {
    overflow: hidden;
    padding: 16px !important;
    padding-top: 32px !important;
  }
  .icon-container {
    float: left;
    padding-right: 16px;
  }

  .sb-popover-container .sb-popover-content-details {
    text-align: left;
    float: left;
    padding-left: 20px;
    border-left: 2px solid #cccccc;
    max-width: 80%;
    .main-title {
      margin: 0px !important;
      font-weight: bold !important;
      text-align: left;
    }
    .meta-info {
      padding: 0px !important;
      text-align: left;
    }
  }
  .sb-popover-container .sb-popover-items .sb-popover-content-details .main-title .meta-info {
    text-align: left;
  }
  .sb-popover-footer {
    padding: 16px;

    .popover-button-cancel {
      background-color: map-get($colors, white);
      --background: white;
      border: 1px solid $blue;
      color: $blue !important;
      width: 9.375rem;
    }
    @media only screen and (max-width : 720px) {
    .popover-button-cancel-longlength { 
      background-color: map-get($colors, white);
      --background: white;
      border: 1px solid $blue;
      color: $blue !important;
      width: 10rem;
      padding: 8px;
    }
    }
    @media only screen and (min-width : 721px) and (max-width : 1025px) {
      .popover-button-cancel-longlength { 
        background-color: map-get($colors, white);
        --background: white;
        border: 1px solid $blue;
        color: $blue !important;
        width: 9.375rem;
    }
  }
    .popover-button-allow {
      border: 1px solid $blue;
      background-color: $blue;
      width: 9.375rem;
    }

    .popover-button-information {
      padding: 4px 72px;
      height: 2.25rem;
      border-radius: 2px !important;
    }
  }
}

// Ionic 4 CSS override
.sb-popover {
  .sb-popover-header {
    .sb-popover-toolbar {
      --background: #{$info-color};
      --min-height: 2.5rem;
      --max-height: 2.5rem;
    }
  }
}

.sb-popover.warning {
  .sb-popover-header,
  .sb-popover-header .sb-popover-toolbar {
    --background: #{$tertiary-color};
  }
}

.sb-popover.success {
  .sb-popover-header,
  .sb-popover-header .sb-popover-toolbar {
    --background: #008840;
  }
}

.sb-popover.danger {
  .sb-popover-header,
  .sb-popover-header .sb-popover-toolbar {
    --background: #{$danger-color};
  }
}

.sb-popup-header-info{
  background-color: $primary-color;
  color: $white-color;
  padding: 16px;
  text-align: center;
  ion-icon{
    float: right;
    font-size: 1.5rem;
  }
}

.sb-popup-header-danger{
  @extend .sb-popup-header-info;
  background-color: $danger-color;
}

.sb-popup-header-success{
  @extend .sb-popup-header-info;
  background-color: $success-color;
}

.content-rating-alert::part(content){
  --max-height: 100% !important;
  background: map-get($colors, white) !important;
  .rating-full-height {
    height: 100vh !important;
  }
}

.content-rating-alert{
  --height: 100vh !important;
  --max-height: 100% !important;
  .popover-content{
    --max-height: 100% !important;
    background: map-get($colors, white) !important;
    .rating-full-height {
      height: 100vh !important;
    }
  }
  .sb-popover-items{
    overflow: auto;
    .sb-popover-content-details{
      height: calc(100vh - 150px);
    }
  }
  
}