/* Sb-Player Component Styling */

.sb-player-container {
    background-color: $gray-800;
    max-width:100%;
    height: ($base-block-space * 50);
    overflow:hidden;
    position: relative;
    text-align: center;
    .sb-arrow-back
    {
      @include padding($base-block-space * 0.5);
      color: $white;
    }
    .sb-circle
    {
      position: absolute;
      top: 1rem;
      left: 1rem;
      height:($base-block-space * 3);
      width:1.5rem;
    //  background-color: $white;
      border-radius: 50%;
      z-index: 100;
    }
    .sb-common-player-group{
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      text-align: center;
      .sb-play-title-group{
        top: 58%;
      }
      .sb-common-title{
        background: transparent;
        outline: none;
        .sb-common-white-icon{
          font-size: (($font-size-base * 3) - 0.125);
          color: $white;
        } 
      }
      .sb-offline-title {
      @include padding ($base-block-space);
        .sb-offline-white-icon{
          font-size : (($font-size-base * 2) - 0.25);
          color: $white;
        } 
      }  
      .sb-common-footer-text {
        color : $white;
        font-weight: 500;
        font-size: ($font-size-base);
        text-align: center;
        text-transform: initial;
      }  
      .sb-common-footer-text.sb-sub-footer{
        font-size: ($font-size-base  - 0.125);
      }  
    }
    .sb-common-player-group.sb-common-title-group{
      top: unset;
      text-align: center;
    }
    .sb-common-player-group.sb-download-title-group{
      top: 50%;
      text-align: center;
    }
    .sb-online-message
    {
      top: 0%;
      position: absolute;
      background-color: $secondary-100;
      height: ($base-block-space * 3);
      color: $white;
      text-align: center;
      font-size: ($font-size-base  - 0.125);
      width: 100%;  
    }
    .sb-overlay-container{
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%;
      height: 25rem;
      position: absolute;
      // background: rgba(0,0,0,0.4);
      background: linear-gradient(180deg, rgba(0,0,0,0.91) 0%, rgba(0,0,0,0.71) 100%)  
    }
  }
  // .sb-player-container.sb-offline-container{
  //   top: none;
  // }
  // ****iOS
  .sb-circle-ios {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height:($base-block-space * 3);
    width:1.5rem;
  //  background-color: $white;
    border-radius: 50%;
    z-index: 100;
  }

.sb-player-container-ios {
  width: 100%; 
  background-color: black;
  .sb-arrow-back
  {
    @include padding($base-block-space * 0.5);
    color: $white;
  }
  .sb-circle
  {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height:($base-block-space * 3);
    width:1.5rem;
  //  background-color: $white;
    border-radius: 50%;
    z-index: 100;
  }
}
  //