@use "sass:math";
@use "sass:meta";
/*sb-offline-toast default taost of ionic */
.offline {
  --background: #e55a28 !important;
  --color: #FFF !important;
  --button-color: #FFF !important;
}
.online {
    --background: #00C786 !important;
    --color: #fff !important;
    // --text-align: center !important;
    // --height: 30px !important;
}
.toastAfterHeader{
    position: fixed;
    top:50px;
    .toast-container { --background: #e55a28 !important; }
    .toast-message{
        margin-left : 35px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: $white;
    }
    .toast-message:before{
        font-family: "Ionicons";
        top:10px;
        z-index: 999;
        position: absolute;
        font-size: 2.1rem;
        content: url('/assets/imgs/ic_offline_white_sm.png');
        margin-left:-35px;
        font-weight: 500;
        color: $white;
    }
    .toast-button:before {
        font-family: "Ionicons";
        top:0px;
        z-index: 999;
        position: absolute;
        font-size: 2.5rem;
        @if (meta.function-exists('div', 'math')) {
          padding: math.div($base-block-space,4), 0, 0, 0;
        } @else {
          padding: ($base-block-space/4), 0, 0, 0;
        }
        content: "\f406";
        font-weight: bolder;
      }
      .toast-button span {
          color: $orange;
      }
    }

.sb-toast-online
  {
    top: 20%;
    position: absolute;
    background-color: $secondary-100;
    height: ($base-block-space * 3);
    color: $white;
    text-align: center;
    font-size: ($font-size-base - 0.125);
    width: 100%;
    .sb-online {
      @if (meta.function-exists('div', 'math')) {
        margin: (math.div($base-block-space,2), 0, 0, 0);
      } @else {
        margin: (($base-block-space/2), 0, 0, 0);
      }
    }
  }

  .toastForOnline{
    position: fixed;
    top:0px;
    // --height: 30px;
    // --text-align: center;
    .toast-container {  --background: $secondary-100 !important; height: 1.875rem; text-align: center;}
    .toast-message{
        text-align: center;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: $white;
        font-size: ($font-size-base  - 0.125);
    }
  }
  .toastHeader{
    position: fixed;
    top:0px;
    .toast-container { --background: #e55a28 !important; }
    .toast-message{
        margin-left : 35px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: $white;
    }
    .toast-message:before{
        font-family: "Ionicons";
        top:10px;
        z-index: 999;
        position: absolute;
        font-size: 2.1rem;
        content: url('/assets/imgs/ic_offline_white_sm.png');
        margin-left:-35px;
        font-weight: 500;
        color: $white;
    }
    .toast-button:before {
        font-family: "Ionicons";
        top:0px;
        z-index: 999;
        position: absolute;
        font-size: 2.2rem;
        content: "\f406";
        font-weight: bolder;
      }
      .toast-button span {
          color: $orange;
      }
    }