<ion-content style="overflow: auto">

    <div [ngClass]="{ 'sb-popup-header-info': (teacherIdPopupFlags.STATE_CONFIRMATION === teacherIdFlag || teacherIdPopupFlags.STATE_ID_INPUT === teacherIdFlag),
                    'sb-popup-header-success': teacherIdPopupFlags.VERIFIED_STATE_ID === teacherIdFlag,
                    'sb-popup-header-danger': teacherIdPopupFlags.FAILED_STATE_ID === teacherIdFlag  }">
        <h6 class="M0">{{tenantMessages?.popupHeaderLabel}}</h6>
    </div>

    <section class="sb-popover" *ngIf="teacherIdPopupFlags.STATE_CONFIRMATION === teacherIdFlag">
        <div class="M16 text-center">
            <p>{{ tenantMessages?.headerLabel }}</p>
        </div>

        <div class="sb-popover-footer MT30 d-flex">
            <button class="sb-popover-action-btn sb-btn sb-btn-normal sb-btn-outline-info W100"
                (click)="teacherConfirmation(false)">
                {{ 'NO' | translate | uppercase }}</button>
            <button class="sb-popover-action-btn sb-btn sb-btn-normal sb-btn-info W100"
                (click)="teacherConfirmation(true)">
                {{ 'YES' | translate | uppercase }}</button>
        </div>
    </section>

    <section class="sb-popover" *ngIf="teacherIdPopupFlags.STATE_ID_INPUT === teacherIdFlag">
        <div class="M16" *ngIf="stateList.length > 1">
            <p>{{'SELECT_YOUR_STATE' | translate}}</p>
            <div class="input-container">
                <input type="text" class="input" placeholder="Select State" [(ngModel)]="stateName">
                <ion-icon (click)="showStates = !showStates;" class="input-icon" name="arrow-down">
                </ion-icon>
            </div>
            <div class="showList" *ngIf="showStates">
                <ul>
                    <li (click)="selectState(state)" *ngFor="let state of stateList">{{state}}</li>
                </ul>
            </div>
        </div>
        <form [formGroup]="teacherIdForm">
            <div class="M16">
                <p>{{ tenantMessages?.fieldLabel }}</p>
                <ion-input type="text"
                    [ngClass]="{'sb-input-danger': showTeacherIdIncorrectErr,'sb-input-black': !showTeacherIdIncorrectErr}"
                    placeholder="{{'ID_PLACEHOLDER' | translate}}" formControlName="teacherId"
                    [(ngModel)]="teacherModelId" name="teacherId"> </ion-input>
                <p class="error" *ngIf="showTeacherIdIncorrectErr">{{ tenantMessages.incorrectIDLabel }}
                </p>
            </div>
            <div class="sb-popover-footer MT30">
                <button class="sb-popover-action-btn sb-btn sb-btn-normal sb-btn-info W50" (click)="submitTeacherId()"
                    [disabled]='(!stateName || !teacherModelId || count > 0)' *ngIf="stateList.length > 1">
                    {{ 'BTN_SUBMIT' | translate | uppercase }}</button>
                <button class="sb-popover-action-btn sb-btn sb-btn-normal sb-btn-info W50" (click)="submitTeacherId()"
                    [disabled]='!teacherModelId || count > 0' *ngIf="stateList.length == 1">
                    {{ 'BTN_SUBMIT' | translate | uppercase }}</button>
            </div>
        </form>
    </section>

    <section class="sb-popover" *ngIf="teacherIdPopupFlags.VERIFIED_STATE_ID === teacherIdFlag">
        <div class="M16 text-center">
            <p>{{tenantMessages?.verificationSuccessfulLabel }}</p>
        </div>

        <div class="sb-popover-footer MT30">
            <button class="sb-popover-action-btn sb-btn sb-btn-normal sb-btn-success W50" (click)="cancelPopup('PROFILE_VERIFIED')">
                {{ 'OKAY' | translate }}</button>
        </div>
    </section>

    <section class="sb-popover" *ngIf="teacherIdPopupFlags.FAILED_STATE_ID === teacherIdFlag">
        <div class="M16 text-center">
            <p>{{ tenantMessages?.verficationFailureLabel }}</p>
        </div>

        <div class="sb-popover-footer MT30">
            <button class="sb-popover-action-btn sb-btn sb-btn-normal sb-btn-error W50" (click)="cancelPopup('PROFILE_FAILED')">
                {{ 'OKAY' | translate }}</button>
        </div>
    </section>

</ion-content>