@import "src/assets/styles/variables.scss";
@import "src/assets/styles/_variables.scss";

.merged-input-container {
    border: 1px solid $info-color;
    display: flex;
    flex: 1 1 auto;
    border-radius: 4px;
    .decorator {
        display: inline-block;
        max-width: 3.125rem;
    }
    .custom {
        display: inline-block;
    }
}

.sb-input {
    width: 100%;
    padding: 8px;
    border: 1px solid red;
    border-radius: 2px;
}
.sb-input-black {
    @extend .sb-input;
    border: 1px solid map-get($colors, primary_black);
}

.sb-input-info {
    @extend .sb-input;
    border: 1px solid $info-color;
}

.sb-input-danger {
    @extend .sb-input;
    border: 1px solid $danger-color;
}

input:focus {
    outline: $info-color auto 1px;
}
.input-container {
    border: 0.5px solid map-get($colors, primary_black);
    padding: 8px;
    border-radius: 3px;

    .input {
        border: map-get($colors, white);
        outline: none;
    }

    .input-icon {
        float: right;
        font-size: 1.25rem;
        color: map-get($colors, primary_black);
    }
}
.showList {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 12.5rem;
    overflow-y: scroll;

    ul {
        list-style-type: none;
    }

    li {
        padding: 8px 0px 8px 8px;
    }
}