/*
* This file contains all reusable and most commonly needed styles
*/
.W100 {
  width: 100%;
}

.W50 {
  width: 50%;
}

.M0 {
  margin: 0 !important;
}

.M16 {
  margin: 16px;
}

.P0 {
  padding: 0 !important;
}

.P16 {
  padding: 16px;
}

.MR5 {
  margin-right: 5px;
}

.MR10 {
  margin-right: 10px;
}

.MR16 {
  margin-right: 16px;
}

.MT0 {
  margin-top: 0px;
}

.MT4 {
  margin-top: 4px;
}

.MT6{
  margin-top: 6px;
}

.MT10 {
  margin-top: 10px;
}

.MT15 {
  margin-top: 15px;
}

.MT16 {
  margin-top: 16px;
}

.MT30 {
  margin-top: 30px;
}

.ML5 {
  margin-left: 5px;
}

.ML10 {
  margin-left: 10px;
}

.ML16 {
  margin-left: 16px;
}

.MB5 {
  margin-bottom: 5px;
}
.MB6 {
  margin-bottom: 6px;
}

.MB8 {
  margin-bottom: 8px;
}

.MB10 {
  margin-bottom: 10px !important;
}

.MB15 {
  margin-bottom: 15px;
}

.MB30 {
  margin-bottom: 30px;
}

.PR16 {
  padding-right: 16px;
}

.PR35 {
  padding-right: 35px;
}

.PT2{
  padding-top: 2px;
}
.PT16 {
  padding-top: 16px;
}
.PL16 {
  padding-left: 16px;
}
.PB2 {
  padding-bottom: 2px;
}
.bg-transparent {
  background: transparent;
}
.clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}
