/* to be removed*/

$colors: (
  primary:         #006DE5, //#488aff
  secondary:       #32db64,
  danger:          #f53d3d,
  light:           #f4f4f4,
  dark:            #222,
  title:           #9E9E9E,
  facebook:        #3b5998,
  twitter:         #55acee,
  linkedIn:        #007bb5,

  black:           #000000,
  primary_black:   #333333,
  secondary_black: #484848,
  shadow_black:    #CBCBCB,
  light_black:     #333333a1,
  light_black_51:  #515151,

  dark_gray:       #4D4D4D,
  medium_gray:     #CCCCCC,
  light_gray:      #ECEFF0,
  light_silver:    #D8D8D8,
  text_gray:       #4A4A4A,
  bright_gray :     #aaaaaa,
  medium_light_gray: #D6D6D6,
  gray_light:       #dedede,
  gray_solid:      #a4a4a4,
  light_gray_8c:   #eeeeee8c,
  gray_white:      #efeff4,
  gray_96:         #969696,
  gray_3A:       	 #3A3A3A,
  gray_79:         #797979,
  gray_81 :        #818181,
  gray_ba:         #bababa,
  light_gray_dd:   #ddd,
  light_gray-c3:   #c3c3c3,
  light_gray_bd:   #bdbdbd,
  dark_gray_61:    #616161,
  gray_9b:         #9b9b9b,
  light_gray_toggle: #3A4C50,

  white:           #FFFFFF,
  white_f7:        #F7F7F7,
  white_f2:        #F2F2F2,
  white_f4:        #F4F4F4,
  white_f0:        #F0F0F0,
  white_f1:        #f1f1f1,
  white_fe:        #fdfefe,
  white_f8:        #f8f8f8,
  white_eb:        #EBEBE4,
  white_e6:        #e6e6e6,
  white_f3:        #F3F7FA,
  white_e9:        #e9e9e9,
  white_fa:        #fafafa,
  white_e8:       #e8e7e7,

  green:           #27BC5C,
  dark_green:      #4CB5AB,
  success_green:   #7ED321,
  dirt_green:      #37474F,
  toggle_green:    #125606,

  dark_orange:     #FFA11D,
  orange:          #FF9F00,
  yellow:          #E3C31C,
  lemon_yellow:    #CCE310,
  vivid_orange:    #F7B500,
  ligth_yellow:    #FEEDD7,

  dark_violet:     #9012FE,
  medium_violet:   #F0E9FD,
  light_violet:    #F3E7FE,
  vivid_purple:    #9017FF,

  red:             #D50000,
  light_red:       #FA8F9C,
  bright_red :     #FF6979,
  bright_red_e7:   #81310E,
  pale_red:        #FBE7E0,
  vivid_red:       #ff0000,
  // danger_red: #f1453d,

  thick_blue:      #006DE5,
  primary_blue:    #007AFF,
  fade_blue:       #F2F8FF,
  bright_blue: #0a5cad,
  light_blue_color: #7EAEDE,
  grayish_blue: #2e3f51,
  brighter_blue: #074F9D,
  deep_blue :    #024F90,
  light_blue_f6: #87d8f6,
  vivid_blue:    #2E92FF,
  pale_blue:     #E5EDF5,
  vived_blue_ff: #488aff,
  vived_blue_fe : #0076fe,
  light_blue_ee: #7AB4EE,
  bright_blue_a0: #0a55a0,
  bright_blue_9f: #08539f,
  pale_blue_f6: #E5EDF6,
  light_blue_f5:#71b3f5,
  pale_blue_e0: #E0EFFF,
  bright_blue_19: #196dab,
  light_blue_80: #80a7ce,
  pale_blue_f0: #d9e5f0,
  dark_blue:  #0D7DFC,

  broadcast_greeting_navbar : #0b75fa,
  granite_gray: #666666,
  office_green: #008000,
  vivid_green: #00ba75,
  light_grayish_green: #BFE1CF,
  pale_green:          #d2eadd,
  pale_green_e0: #E0F5EA,
  strong_green: #0ec254,
  cornflower_blue:#467fb8,
  light_grayish_red: #EEE2E2,
  bright_yellow : #f8e71c,
  empty_color: #eee,
  pale_cyan: #c6dbd8,
  whitish_light_green: #e5f3eb,
  medium_light_shade_gray: #999999,
  light_shade_gray: #E5E5E5,
  light_green: #33A58D
);
/* to be removed ends */

// Variables
$font-stack-en:
  'Noto Sans',
  'Noto Sans Devanagari',
  'Noto Sans Tamil',
  'Noto Sans Bengali',
  'Noto Sans Malayalam',
  'Noto Sans Gurmukhi',
  'Noto Sans Gujarati',
  'Noto Sans Telugu',
  'Noto Sans Kannada',
  'Noto Sans Oriya',
  'Noto Nastaliq Urdu',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  sans-serif;
$font-stack-hi:
  'Noto Sans Devanagari',
  'Noto Sans',
  'Noto Sans Tamil',
  'Noto Sans Bengali',
  'Noto Sans Malayalam',
  'Noto Sans Gurmukhi',
  'Noto Sans Gujarati',
  'Noto Sans Telugu',
  'Noto Sans Kannada',
  'Noto Sans Oriya',
  'Noto Nastaliq Urdu',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  sans-serif;
$font-stack-ur:
  'Noto Sans',
  'Noto Nastaliq Urdu',
  'Noto Sans Devanagari',
  'Noto Sans Tamil',
  'Noto Sans Bengali',
  'Noto Sans Malayalam',
  'Noto Sans Gurmukhi',
  'Noto Sans Gujarati',
  'Noto Sans Telugu',
  'Noto Sans Kannada',
  'Noto Sans Oriya',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  sans-serif;
/* gray colors */
$gray-0:       #f3f3f3; // place holder active bg
$gray-100:     #cccccc; // disable btn bg, icon color
$gray-200:     #4D4D4D; // disable text, place holder text
$gray-300:     #555; // sub heading 2
$gray-400:     #666666; // sub heading
$gray-800:     #333333; // text color
// Base Colors
$blue:    #024f9d;
$green:   #008840;
$orange:  #e55a28;
$red:     #AD0011;
$white:   #ffffff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$yellow:  #ffc107;
$teal:    #20c997;
$cyan:    #17a2b8;
$black:   #000000;
//breadcrumb Colors
$light-grey: #f2f2f2;
$light-blue: #EDF4F9;
// brand Colors
$primary-color:   $blue;
$secondary-color: $green;
$tertiary-color:  $orange;
// Status Colors
$info-color:      $blue;
$success-color:   $green;
$warning-color:   $orange;
$danger-color:    $red;
// Nuetral Colors
$white-color:     $white;
$black-color:     $black;
$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary-color,
  "secondary":  $secondary-color,
  "tertiary":   $tertiary-color,
  "success":    $success-color,
  "info":       $info-color,
  "warning":    $warning-color,
  "danger":     $danger-color,
  "light":      $gray-100,
  "dark":       $gray-800
), $theme-colors);
// primary colors shades 
$primary-0:   lighten($primary-color,65%); // bg
$primary-100: lighten($primary-color,15%); // default button bg
$primary-200: lighten($primary-color,10%); // divider
$primary-300: lighten($primary-color,5%);  // outline, focus fields
$primary-400: $primary-color; // button bg, heading, table titles, links, toggles 
$primary-600: darken($primary-color,15%);  // on press
$primary-800: darken($primary-color,30%);  // hover
// secondary colors shades
$secondary-0:   lighten($secondary-color,50%);  // toast bg
$secondary-100: lighten($secondary-color,15%);   // buttong bg, toast
$secondary-200: lighten($secondary-color,10%);   // button hover
$secondary-400: $secondary-color;               // icon
// tertiary colors shades
$tertiary-0:   lighten($tertiary-color,50%); // toast bg
$tertiary-100: lighten($tertiary-color,15%); // buttong bg, toast
$tertiary-400: $tertiary-color; // icon, label, notification bg
// red colors shades
$red-0:   lighten($red,50%); // toast bg
$red-100: lighten($red,15%); // buttong bg, toast
$red-400: $red; // icon color, lable, notification bg
// Settings for the `<body>` element.
$bg-body:       $primary-0;
$bg-white:      $white-color;
$bg-gray-0:       $gray-0;
$body-color:    $gray-800;
// Style anchor elements.
$link-color:                theme-color("primary");
$link-decoration:           none;
//$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;
// Fonts
// $font-default-size: 14px;
$font-size-base: 0.875rem; // Assumes the browser default, typically `16px`
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-base:            $font-weight-normal;
$line-height-base:            ($font-size-base + 0.5);
$h1-font-size:                $font-size-base * 2.286; // 32px
$h2-font-size:                $font-size-base * 2; // 28px
$h3-font-size:                $font-size-base * 1.714; // 24px
$h4-font-size:                $font-size-base * 1.429; // 20px
$h5-font-size:                $font-size-base * 1.143;  // 16px
$h6-font-size:                $font-size-base * 1; // 14px
$font-size-lg:                ($h4-font-size); //20px
$font-size-md:                ($h5-font-size); // 16px
$font-size-normal:            ($font-size-base * 1); // 14px
$font-size-sm:                ($font-size-base * 0.8571); // 12px
$font-size-xs:                ($font-size-base * 0.7143); // 10px
$p-font-size:                 $font-size-normal;            
// spaces
$base-block-space: 0.5rem;
$block-padding-y-x: ($base-block-space * 1) ($base-block-space * 2); // any block default spacing 16px
$block-padding-xy: ($base-block-space * 2);  // top right bottom left spacing
$block-padding-x: ($base-block-space * 2);  // left right spacing
$block-padding-y: ($base-block-space * 1);  // top bottom spacing
$block-margin-xl-minus: -($base-block-space * 2); // minus margin 16px left
$block-margin-xr-minus: -($base-block-space * 2); // minus margin 16px right
// width heights
$base-btn-xs-height: ($base-block-space * 3);
$base-btn-normal-height: ($base-block-space * 4);
$base-btn-sm-height:  ($base-block-space * 5);
$base-btn-md-height: ($base-block-space * 6);
$base-btn-lg-height:  ($base-block-space * 7);
$base-btn-fluid: 100%;
// To clean
$text-lightDark: #666;
$text-gray: rgb(180, 171, 171);
$signup-btn-bg-not-active-color: #9b9b9b;
$signup-thankyou-text-color: #4a4a4a;
$signup-btn-bg-active-color: #2ca58d;
$form-input-border-color: #4D4D4D;
$form-input-border-active-color: #4a90e2;
$menuitem-color: #212121;
$primary-border: 0.5px solid rgba(216, 216, 216, 0.5);
$primary-background: rgba(216, 216, 216, 0.5);
$card-label-border-color: rgba(2, 79, 157, 0.5);
$dull-color: #b7d8f1;
$qr-btn: #edf4f9;