$font-family-sans: 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
$font-family-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$font-family-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-open-sans: 'Open Sans';
$font-family-open-poppins: 'Roboto';


$size-xs: 8px;
$size-s: 12px;
$size-m: 16px;
$size-l: 24px;
$size-xl: 32px;
$size-lg: 28px;
$size-xxl: 40px;

$mat-toolbar-xs: 52px;
$mat-toolbar-gt-xs: 56px;
