html[data-theme="DEFAULT"]{

  --app-primary:#00458F;
  --app-primary-medium:#007AFF;
  --app-primary-light:#C6E7FF;
  --app-primary-background:#EDF4F9;
  --app-primary-header:#FFFFFF;
  --app-primary-header-light:#FFFFFF;
  --app-secondary-background:#EDF4F9;
  --app-tertiary:#6236FF;
  --app-tertiary-light:#E0E1FD;
  --app-quaternary-medium: #FF794A;
  --app-quaternary-light: #FDF0E4;

  --app-white:#FFFFFF;
  --app-black:#000000; // remove
  --app-dark-gray:#222222;
  --app-gray:#333333;
  --app-medium-gray:#4A4A4A;
  --app-light-gray:#555;

  --app-shadow:rgba(0,0,0,0.1);
  --button-style-shadow: 5px 5px 2px 0 var(--app-shadow);
  --button-sm-style-shadow: 3px 3px 2px 0 var(--app-shadow);
  --block-style-shadow: 0 2px 7px 0 var(--app-shadow);

  app-profile{
    .self-declare-btn{
      ion-button{
        --background: #{map-get($colors, dark_green)} !important;
      }
    }

    .self-declare-teacher-details{
      ion-button{
        --background: #FFFFFF !important;
      }
    }
  }

  app-enrollment-details{
    ion-item-group{
      ion-item-divider{
        background-color:map-get($colors, light_gray) !important;
      }
    }
    .sb-btn-outline-info{
      background-color: map-get($colors, primary) !important;
      border-radius: 5px !important;
      color: map-get($colors, white) !important;
      border-color: map-get($colors, white) !important;
    }
  }

  app-courses{
    .enrolled-course-bg > sb-course-cards-hlist > .layout-course > .header > .title{
      color: white !important;
    }
  }

  app-course-batches{
    .batch-list{
      .flex-card-container{
        .sb-btn-outline-info{
          background-color: map-get($colors, thick_blue) !important;
          border-radius: 5px !important;
          color: white !important;
          border-color: white !important;
        }
      }
    }
  }

  app-qrcoderesult{
    .qr-result-btn{
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
    }
  }

  app-guest-edit{
    ion-content{
      --background: var(--app-white);
    }
  }
}

