html[data-theme="DEFAULT"]{

  app-profile{
    .self-declare-btn{
      ion-button{
        --background: #{map-get($colors, dark_green)} !important;
      }
    }
  }

  app-enrollment-details{
    ion-item-group{
      .subtitle{
        background-color:map-get($colors, light_gray) !important;
      }
    }
    .sb-btn-outline-info{
      background-color: rgb(165, 165, 165) !important;
      border-radius: 5px !important;
      color: map-get($colors, white) !important;
      border-color: map-get($colors, white) !important;
    }
  }

}

