/* global styles */

// *{
//   transition: all 300ms ease-in-out
//   }
html,
body {
  height: 100%;
  // font-size:$font-size-base;
}
body {
  // background:$bg-body;
  position: relative;
  font-family: $font-stack-en;
}

.remaining-length,:not(.normalize) .multi-select-container .list-border .placeholder,.select-text.select-placeholder, .alert-message.sc-ion-alert-md, .alert-input-group.sc-ion-alert-md, .sb--card--course .sb--card__meta1,.settings-item-style,.sc-ion-label-ios-s>p,.placeholder {
  opacity: 1;
  color: #555;
}
input.native-input::placeholder,input.native-input.sc-ion-input-md::placeholder,textarea.native-textarea.sc-ion-textarea-md::placeholder,textarea.native-textarea::placeholder,.select-placeholder,textarea#knowMoreMsg::placeholder,textarea::placeholder,.sb-textarea::placeholder,.placeholder::placeholder {
  color: #000;opacity: 0.75;
}
input.native-input::placeholder,input.native-input.sc-ion-input-md::placeholder,textarea.native-textarea.sc-ion-textarea-md::placeholder,textarea.native-textarea::placeholder,.select-placeholder {
  color: #000;opacity: 0.75;
}

.item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs), .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
  opacity: 1;
}