/* global styles */

// *{
//   transition: all 300ms ease-in-out
//   }
html,
body {
  height: 100%;
  // font-size:$font-size-base;
}
body {
  // background:$bg-body;
  position: relative;
  font-family: $font-stack-en;
}

.remaining-length,:not(.normalize) .multi-select-container .list-border .placeholder,.select-text.select-placeholder, .alert-message.sc-ion-alert-md, .alert-input-group.sc-ion-alert-md, .sb--card--course .sb--card__meta1,.settings-item-style {
  color: #555555;
}
.sc-ion-label-ios-s>p {
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.75);
}

.item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs), .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
  opacity: 1;
}
