html[data-theme="JOYFUL"]{

  --joyful-primary: #024f9d;
  --joyful-secondary: #E9E8D9;
  --joyful-tertiary: #F2F2EA;
  --joyful-warning: #FFD954;
  --joyful-light-yellow: #F9FFBE;
  --joyful-light-blue: #DAECFF;

  --joyful-white: #FFFFFF;
  --joyful-black: #000000;
  --joyful-dark-gray: #222222;
  --joyful-gray: #333333;
  --joyful-light-gray: #999999;

  --joyful-green: #008840;
  --joyful-light-green: #BFE1CF;

  --joyful-button-shadow: rgba(0,0,0,0.1);
  --joyful-item-shadow: rgba(0,0,0,0.16);

  ion-toolbar {
    --background: var(--joyful-warning);
    border-bottom-left-radius: 20px;
    ion-buttons{
      ion-button{
        --background: var(--joyful-warning) !important;
        --color: var(--joyful-primary) !important;
        box-shadow: none !important;
      }
    }
  }

  ion-content {
    --background: var(--joyful-secondary);
  }

  ion-footer {
    background: var(--joyful-secondary) !important;
  }

  ion-button{
    --background: var(--joyful-primary) !important;
    --color: var(--joyful-white) !important;
    --border-radius: 20px !important;
    --border-color: var(--joyful-primary) !important;
    button{
      box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
    }
  }

  ion-button.button-clear{
    --background: transparent !important;
    --color: var(--joyful-primary) !important;
  }

  button{
    border-radius: 20px !important;
    color: var(--joyful-white) !important;
  }

  input, textarea, ion-input, ion-textarea {
    border-radius: 16px !important;
  }

  ion-list{
    background: var(--joyful-secondary) !important;
  }

  ion-item {
    --background: var(--joyful-secondary);
    ion-label{
      color: var(--joyful-light-gray) !important;
      font-weight: bold !important;
    }
    ion-select{
      border: none !important;
      border-bottom: 1px solid var(--joyful-light-gray) !important;
      color: var(--joyful-gray) !important;
      padding-left: 0 !important;
      .select-text{
        color: var(--joyful-white) !important;
        --color: var(--joyful-white) !important;
      }
    }
  }

  ion-radio {
    --color-checked: var(--joyful-primary) !important;
  }

  ion-card, button{
    box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
  }

  ion-back-button{
    box-shadow: none !important;
    button{
      box-shadow: none !important;
    }
  }

  ion-alert{
    [aria-checked=true].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md{
      border-color: var(--joyful-primary) !important;
      background-color: var(--joyful-primary) !important;
    }

    [aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md{
      border-color: var(--joyful-primary) !important;
      .alert-radio-inner.sc-ion-alert-md{
        background-color: var(--joyful-primary) !important;
      }
    }
  }

  ion-card{
    border-radius: 16px !important;
    box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
    background-color: var(--joyful-white);
    &.selected {
      border:3px solid var(--joyful-primary) !important;
    }
  }

  ion-title{
    color: var(--joyful-primary) !important;
  }

  // SelectBox popup multi select styles
  .select-box.select-alert .alert-button-group {
    .alert-button {
      border-color: var(--joyful-primary) !important;
      border-radius: 20px !important;
    }
  }
  .select-box.select-alert .alert-button:first-child:not(:only-child) {
    background: transparent !important;
    color: var(--joyful-primary) !important;
  }
  .select-box.select-alert .alert-button:last-child:not(:only-child) {
    background: var(--joyful-primary) !important;
    color: var(--joyful-white) !important;
  }
  .select-box .alert-wrapper{
    background-color: var(--joyful-tertiary);
    border-radius: 16px 16px 0 0;
  }
  .select-box .alert-tappable.sc-ion-alert-md {
    box-shadow: none !important;
  }

  // SelectBox popup Radio button styles
  .ftue-changes .alert-button-group .alert-button{
    border-color: var(--joyful-primary) !important;
    border-radius: 20px !important;
    background: transparent !important;
    color: var(--joyful-primary) !important;
  }
  .ftue-changes.select-alert .alert-button:last-child:not(:only-child){
    background: var(--joyful-primary) !important;
    color: var(--joyful-white) !important;
  }
  .ftue-changes .alert-wrapper{
    background-color: var(--joyful-tertiary);
    border-radius: 16px 16px 0 0;
  }
  .ftue-changes .alert-tappable.sc-ion-alert-md{
    box-shadow: none !important;
  }

  // Courses Filter
  .resource-filter{
    .popover-content{
      border-radius: 16px 16px 0 0;
      background-color: var(--joyful-tertiary) !important;
    }
  }

  // SB- button styles
  .sb-btn {
    border-radius: 20px !important;
    background-color: var(--joyful-primary) !important;
    color: var(--joyful-white) !important;

  }

  .sb-btn-outline-secondary{  
    background-color: var(--joyful-white) !important;
    color: var(--joyful-primary) !important;
  }

  sb-course-cards-hlist{
    .sb-btn-outline-secondary{
      border: none !important;
    }
    .title{
      color: var(--joyful-gray) !important;
    }
    .sb--card--container{
      margin: 0 1rem 0 0 !important;
    }
  }

  // sb-course-card styles
  sb-course-card, sb-my-course-card {
    .sb--card{
      box-shadow: 0 2px 7px 0 var(--joyful-item-shadow) !important;
    }
    .sb--card--course{
      border-radius: 12px !important;
      margin: 0 0 1rem 0 !important;
    }
    .sb--card__img{
      border-radius: 8px;
    }
    .sb--card__title{
      color: var(--joyful-gray) !important;
    }
  }

  sb-library-card{
    .sb--card{
      box-shadow: 0 2px 7px 0 var(--joyful-item-shadow) !important;
      border-radius: 12px !important;
    }
    .sb--card__img{
      border-radius: 8px;
    }
    .sb--card__title{
      color: var(--joyful-gray) !important;
    }
  }

  sb-library-cards-stack{
    .header{
      .title{
        color: var(--joyful-dark-gray) !important;
        i{
          display: none;
        }
      }
    }
    .body{
      border-radius: 16px;
      box-shadow: 0 2px 7px 0 var(--joyful-item-shadow) !important;
    }
    sb-library-card:first-child {
      .sb--card{
        border-radius: 12px 12px 0 0 !important;
      }
    }
    sb-library-card:last-child {
      .sb--card{
        border-radius: 0 0 12px 12px !important;
      }
    }
    sb-library-card:first-child:last-child {
      .sb--card{
        border-radius: 12px !important;
      }
    }
    sb-library-card:not(:first-child):not(:last-child){
      .sb--card{
        border-radius: 0 !important;
      }
    }
    .sbbtn{
      border-radius: 0 0 16px 16px !important;
      background-color: var(--joyful-tertiary) !important;
    }
  }

  // sb-group-card
  sb-group-card{
    .sb--card{
      border-radius: 16px !important;
      box-shadow: 0 2px 7px 0 var(--joyful-item-shadow) !important;
    }
    .sb--card__img{
      border-radius: 8px;
    }
    .sb-label-badge{
      border-radius: 16px !important;
      box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
    }
    .sb--card__title{
      color: var(--joyful-gray) !important;
    }
  }

  sb-member-card{
    .sb-members-list-item{
      .status{
        border-radius: 16px !important;
        box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow);
      }
    }
    .sb-member__img{
      box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
    }
  }

  sb-course-curiculum-card{
    .sb--card{
      border-radius: 16px !important;
      box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
    }
  }

  // application-header Component
  app-application-header{
    .sb-menu-list{
      background-color: var(--joyful-white) !important;
      border-radius: 16px 16px 0 0;
    }
    .sb-menu-item{
      color: var(--joyful-primary);
    }
    .sb-menu-item-language{
      color: var(--joyful-gray) !important;
    }
    ion-content{
      --background: var(--joyful-white) !important;
    }
    ion-item{
      --background: var(--joyful-white) !important;
    }
    .menu-section{
      background-color: var(--joyful-secondary) !important;
      .menu-container{
        --background: var(--joyful-secondary) !important;
        background-color: var(--joyful-secondary) !important;
        padding-bottom: 8px;
        .user-container{
          background-color: var(--joyful-secondary) !important;
        }
        .another-user-title{
          border-radius: 20px;
          margin: 0 8px;
          box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
        }
      }
    }
    .side-menu-footer{
      border-radius: 16px 16px 0 0;
    }

  }

  // language-settings page
  page-language-settings{
    .language-card {
      &.selected {
        background-color: var(--joyful-primary) !important;
      }
    }
  }

  // user-type-selection page
  app-profile-settings{
    .title{
      color: var(--joyful-primary) !important;
    }

    .qr-btn{
      background-color: var(--joyful-primary) !important;
    }

    .board-btn-text{
      color: var(--joyful-primary) !important;
    }

    .ps-container {
      .qr-container {
        background-color: var(--joyful-secondary) !important;
      }
    }

    .board-select-dummy{
      ion-item{
        --background: var(--joyful-white) !important;
      }
      ion-select{
        border: 1px solid var(--joyful-primary) !important;
        border-radius: 20px !important;
        background-color: var(--joyful-primary) !important;
        .select-text, .select-placeholder{
          --color: var(--joyful-white) !important;
          color: var(--joyful-white) !important;
        }
      }

      ion-select::part(placeholder) { 
        --color: red !important;
        color: red !important;
        opacity: 1;
      }
    }
  }

  // District mapping
  app-district-mapping{
    .heading{
      color: var(--joyful-primary) !important;
    }

    .block-button{
      background-color: var(--joyful-primary) !important;
      border-radius: 20px !important;
    }

    ion-item{
      --border-width: 0 !important;
    }

    form{
      padding-inline-start: 0 !important;
      padding-inline-end: 0 !important;
    }
  }

  // Resourses page
  app-resources{
    sb-library-filters{
      .sb-pills-container{
        background: transparent !important;
      }

      .sb-medium-pills-container, .sb-grade-pills-container {
        .pill{
          border-color: var(--joyful-white) !important;
          color: var(--joyful-gray) !important;
          box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
          margin-right: 1rem !important;
        }
        .pill.active{
          color: var(--joyful-white) !important;
          background-color: var(--joyful-primary) !important;
          border-color: var(--joyful-primary) !important;
        }
      }

      .sb-medium-pills-container {
        .pill{
          border-radius: 4px !important;
        }
      }
    }

    .sb-textbook-container{
      margin-bottom: 20px !important;
    }

    .sb-recenlty-viewed-title{
      .sb-btn{
        background-color: var(--joyful-white) !important;
        color: var(--joyful-primary) !important;
        border-color: var(--joyful-white) !important;
      }
    }
  }

  // Courses page
  app-courses{
    .course-grid-bg{
      background-color: var(--joyful-tertiary) !important;
    }
    .enrolled-course-bg{
      // background: var(--joyful-secondary) !important;
      background: transparent !important;
    }
  }

  // View-more-activity page
  app-view-more-activity{
    .view-more-course-bg{
      // background: var(--joyful-secondary) !important;
      background: transparent !important;
    }

    .title, .count-text{
      color: var(--joyful-gray) !important;
    }
  }

  // Sign-in-card page
  app-sign-in-card{
    .sign-in-card-title{
      color: var(--joyful-gray) !important;
    }
    .sign-in-block{
      box-shadow: 0 20px 40px -10px #D8D8D8 !important;
      border-radius: 12px !important;
    }

    ion-card{
      text-align: center;
    }
    .sign-in-card-text{
      font-weight: normal !important;
    }
  }

  // enrolled-course-details page
  app-enrolled-course-details-page{
    .enrolled-course-card-button{
      background-color: var(--joyful-primary) !important;
      border-radius: 50px !important;
    }
    .view-credits{
      strong{
        color: var(--joyful-dark-gray) !important;
      }
    }
    .sb-dt-card-actions{
      .card-button{
        box-shadow: none !important;
      }
      .sb-course-progress-container{
        background-color: var(--joyful-light-yellow) !important;
        border-radius: 1rem;
      }
    }
    .enrolled-course-container{
      ion-card{
        background-color: var(--joyful-light-blue) !important;
      }
    }
    .certificate-container{
      border-radius: 0.5rem;
      padding: 0.5rem;
    }
    .sb-course-complete-container, .sb-batch-end-container{
      border-radius: 1rem;
    }
  }

  // guest-profile page
  app-guest-profile{
    .profile-info{
      background-color: var(--joyful-tertiary);
      border-radius: 0 0 0 16px;
    }
    .details-container{
      margin: 8px;
      background-color: var(--joyful-white);
      border-radius: 16px;
    }
    .signin-card-bg{
      background-color: transparent !important;
    }
  }

  // profile-page
  app-profile{
    .basic-profile-details{
      background-color: var(--joyful-tertiary);
    }
    .roles-container{
      .roles{
        margin-bottom: 4px !important;
        color: var(--joyful-primary) !important;
        border: 1px solid var(--joyful-primary) !important;
        box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1) !important;
      }
    }
    .self-declare-btn{
      margin: 8px !important;
      padding: 8px;
      background-color: var(--joyful-light-green);
      border-radius: 16px;
      ion-button{
        --background: var(--joyful-green) !important;
      }
    }
    .contacts{
      margin: 8px;
      background-color: var(--joyful-white) !important;
      border-radius: 16px;
      .email ,.phone{
        border: 1px solid var(--joyful-primary) !important;
        box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1) !important;
        .icon{
          color: var(--joyful-primary);
        }
        .value{
          color: var(--joyful-gray);
        }
      }
      .email.light ,.phone.light{
        .icon{
          color: var(--joyful-light-gray);
        }
        .value{
          color: var(--joyful-light-gray);
        }
      }
    }
    .school-details{
      margin: 8px;
      border-radius: 16px;
      background-color: var(--joyful-white) !important;
    }
    .self-declare-teacher-details{
      margin: 8px;
      border-radius: 16px;
      background-color: var(--joyful-white) !important;
      color: var(--joyful-gray) !important;
      ion-button{
        --color: var(--joyful-white) !important;
        --background: var(--joyful-primary) !important;
      }
    }

    .bottom-block{
      margin: 0.5rem;
      border-radius: 1rem;
      padding-bottom: 0.5rem;
      .trainings{
        .heading{
          border-radius: 1rem;
        }
        .content{
          border-radius: 1rem !important;
          .heading{
            border-radius: 1rem 1rem 0 0 !important;
          }
        }
      }
    }
  }

  // collection-details-etb page
  app-collection-detail-etb{
    .sb-dt-card{
      margin: 0 0 8px;
      background-color: var(--joyful-white);
      border-radius: 16px;
      box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1) !important;
      .sb-btn-tile{
        box-shadow: none !important;
      }
      .img-container{
        border-radius: 8px !important;
      }
    }

    .collection-etb-filter{
      .sb-chapter-dd {
        border-radius: 16px;
        margin-bottom: 8px;
        box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1) !important;
      }
      .sb-slider-pills-container {
        .sb-pills-container{
          border-radius: 16px;
          margin-bottom: 8px;
          .pill{
            box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1) !important;
          }
        }
      }
      .sticky-header-title-box {
        --background: var(--joyful-tertiary) !important;
      }
    }
  }
  // app-collection-child component
  app-collection-child{
    .etb-card-item-play-container{
      ion-button{
        --background: var(--joyful-white) !important;
      }
    }
  }
  // tab
  ion-tab-bar{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  ion-tab-button {
    --color-selected: #{$blue};
    background: transparent;

    ion-icon[ng-reflect-name="courses"], ion-icon[aria-label="courses"] {
      background-image: url(/assets/imgs/ic_courses1_joyful.svg);
    }
    ion-icon[ng-reflect-name="resources"], ion-icon[aria-label="resources"] {
      background-image: url(/assets/imgs/ic_library_joyful.svg);
    }
    ion-icon[ng-reflect-name="profile"], ion-icon[aria-label="profile"] {
      background-image: url(/assets/imgs/ic_profile_joyful.svg);
    }
    ion-icon[ng-reflect-name="downloads"], ion-icon[aria-label="downloads"] {
      background-image: url(/assets/imgs/ic_download_joyful.svg);
    }
  }
  ion-tab-button.tab-selected {
    ion-icon[ng-reflect-name="courses"], ion-icon[aria-label="courses"] {
      background-image: url(/assets/imgs/ic_courses_selected_joyful.svg);
    }
    ion-icon[ng-reflect-name="resources"], ion-icon[aria-label="resources"] {
      background-image: url(/assets/imgs/ic_library_selected_joyful.svg);
    }
    ion-icon[ng-reflect-name="profile"], ion-icon[aria-label="profile"] {
      background-image: url(/assets/imgs/ic_profile_selected_joyful.svg);
    }
    ion-icon[ng-reflect-name="downloads"], ion-icon[aria-label="downloads"] {
      background-image: url(/assets/imgs/ic_download_selected_joyful.svg);
    }
  }
  // header
  ion-header::after{
    background-image: none;
  }
  .ui-container::after {
    content: '';
    width: 100%;
    height: 172px;
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    border-bottom-left-radius: 20px;
    background-color: var(--joyful-warning) !important;
    background-image: url(/assets/imgs/header-background.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  .ui-content{
    z-index: 2;
    position: relative;
  }

  .ps-container{
    .back-btn-container {
      z-index: 2;
      &::after{
        content: '';
        background-color: var(--joyful-warning) !important;
        width: 100vw;
        height: 50px;
        position: absolute;
        z-index: -1;
        border-bottom-left-radius: 20px;
      }
    }
  }
  .qr-content {
    z-index: 2;
  }

  .sb-slider-pills-container{
    .sb-grade-pills-container {
      background: transparent !important;
    }
    .sb-medium-pills-container{
      background: transparent !important;
    }
  }

  // textbook-view-more component
  app-textbook-view-more{
    .sb-card-container{
      box-shadow: none !important;
      .sb-card-loop{
        margin-bottom: 8px;
      }
    }
  }

  // page-fileter component
  app-page-filter {
    .filter-item {
      border: 0.5px solid var(--joyful-light-gray);
      border-radius: 30px;
      color: var(--joyful-gray) !important;
      font-weight: normal !important;
    }
  }

  sb-toc-curriculum{
    .sb-curiculum__border{
      border-radius: 12px;
      box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow);
    }
    .sb-curiculum{
      border: none !important;
      border-radius: 12px !important;
    }
  }

  // common-forms component
  sb-form{
    sb-multiple-dropdown{
      .multi-select-section{
        .placeholder{
          color: var(--joyful-light-gray) !important;
          margin-left: 0 !important;
          font-size: 16px !important;
        }
      }
      .multi-select-container{
        sb-caret-down{
          right: 0 !important;
        }
        ul{
          padding-left: 0 !important;
          margin-left: 0 !important;
          span{
            font-size: 16px !important;
          }
        }
        .list-border{
          border: none !important;
          border-bottom: 0.5px solid var(--joyful-gray) !important;
        }
      }

      .sb-modal{
        background-color: var(--joyful-tertiary) !important;
        border-radius: 16px 16px 0 0;
        .sb-form-button{
          button{
            border: 1px solid var(--joyful-primary) !important;
            border-radius: 20px !important;
          }
          .sb-btn-primary-outline{
            color: var(--joyful-primary) !important;
            background-color: var(--joyful-white) !important;
          }
          .sb-btn-primary{
            color: var(--joyful-white) !important;
            background-color: var(--joyful-primary) !important;
          }
        }

      }
    }

    sb-textbox {
      .sb-input {
        input {
          background-color: transparent;
          border: none !important;
          border-bottom: 0.5px solid var(--joyful-gray) !important;
          padding: 8px 16px 4px 0 !important;
        }
        input:focus{
          outline: none !important;
          border-bottom: 0.5px solid var(--joyful-green) !important;
        }
        input:blur{
          outline: none !important;
          border-bottom: 0.5px solid var(--joyful-gray) !important;
        }
        input::placeholder {
          color: var(--joyful-light-gray);
          margin-left: 0 !important;
          font-size: 16px !important;
          font-weight: normal !important;
        }
        input{
          font-size: 16px !important;
        }
        .async-text{
          border: none !important;
          border-bottom: 0.5px solid var(--joyful-gray) !important;
          input {
            border: none !important;
            padding-left: 0 !important;
          }
        }
      }
    }

    sb-textarea{
      textarea{
        background: transparent;
        border-radius: 16px !important;
      }
      textarea::placeholder {
        color: var(--joyful-light-gray);
        font-size: 16px !important;
        font-weight: normal !important;
      }
    }
  }

  // permission page
  app-permission{
    .permission-container{
      margin-right: 16px;
    }
  }

  // faq-help page
  app-faq-help{
    .info-msg{
      background-color: transparent !important;
    }
    .panel{
      .btn, .yesBtn{
        border-radius: 16px !important;
      }

      .panel-collapse{
        background-color: var(--joyful-tertiary) !important;
        border-radius: 0 0 16px 16px;
        margin: 0 8px 8px;
        box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow);
      }
    }
    .send-email{
      background-color: transparent !important;
      .report-button{
        border-radius: 20px !important;
        box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
      }
    }
  }

  // faq-report-issue page
  app-faq-report-issue{
    .initiate-email-info-button{
      background-color: transparent !important;
      .submit-button{
        border-radius: 20px !important;
        background-color: var(--joyful-primary) !important;
        box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow) !important;
      }
    }
  }

  // my-groups page
  app-my-groups{
    .my-cr-bg {
      background: transparent !important;
    }
    .my-cr-title {
      color: var(--joyful-primary) !important;
    }
    .my-cr-card{
      border-radius: 16px;
      background-color: var(--joyful-tertiary);
      box-shadow: 0 2px 7px 0 var(--joyful-item-shadow) !important;
    }
  }

  // my-groups-popover component
  app-my-groups-popover{
    .mg-popup-btn{
      border-radius: 30px !important;
    }
  }

  // My groups tutorial popup
  .tutorial-popover .popover-wrapper .popover-content, .leave-training-popup .popover-content{
    border-radius: 16px !important;
  }

  // Group edit delete popup
  .group-option-popover .popover-content{
    border-radius: 16px !important;
    background-color: var(--joyful-secondary) !important;
  }

  .enrollement-popover .popover-content{
    border-radius: 1rem 1rem 0 0 !important;
  }

  app-group-details{
    .gd-header{
      padding: 0 8px 8px;
      border-radius: 16px;
      background-color: var(--joyful-tertiary) !important;
      .gd-tab-header{
        background-color: var(--joyful-white) !important;
        border-radius: 24px;
        .gd-tab:first-child{
          border-radius: 24px 0 0 24px;
        }
        .gd-tab:last-child{
          border-radius: 0 24px 24px 0;
        }
      }
    }

    .gd-tab-member-container{
      border-radius: 16px;
      background-color: var(--joyful-tertiary) !important;
    }
  }

  app-add-member-to-group{
    .sb-btn-large.inactive{
      background-color: var(--joyful-light-gray) !important;
    }
  }

  app-activity-details{
    .ad-member-container{
      border-radius: 16px;
      background-color: var(--joyful-tertiary);
      .activity-toc{
        border-radius: 16px 16px 0 0;
        background-color: var(--joyful-primary) !important;
      }
    }
  }

  add-activity-to-group{
    .add-activity-container{
      margin: 0 8px;
      padding: 16px 0 8px;
      border-radius: 16px;
      background-color: var(--joyful-tertiary);
      box-shadow: 0 2px 7px 0 var(--joyful-item-shadow) !important;
    }
  }

  .sb-popover{
    .popover-content{
      border-radius: 16px 16px 0 0;
      box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow);
    }

    ion-content{
      --background: var(--joyful-tertiary) !important;
    }

    ion-header{
      ion-toolbar{
        --background: var(--joyful-tertiary) !important;
        min-height: 60px !important;
        max-height: 60px !important;
      }
    }

    .sb-popover-title{
      color: var(--joyful-dark-gray) !important;
      padding: 0 16px !important;
      font-size: 20px !important;
      text-align: unset !important;
      margin-top: 32px !important;
      ion-icon{
        height: 30px !important;
        width: 60px !important;
        top: -20px !important;
      }
    }

    .sb-popover-footer{
      background: var(--joyful-tertiary) !important;
      align-items: normal !important;
      justify-content: flex-end !important;

      .sb-btn-outline-info{
        background-color: var(--joyful-white) !important;
        color: var(--joyful-primary) !important;
      }

      .sb-popover-action-btn{
        height: 40px !important;
      }
    }
  }

  app-manage-user-profiles{
    .manage-user-section{
      background-color: var(--joyful-tertiary);
      border-radius: 16px;
      padding: 16px 8px;
      box-shadow: 0 2px 7px 0 var(--joyful-item-shadow);
    }
    .manage-user-item{
      margin-bottom: 8px;
    }
    .mu-selected-user{
      border-radius: 16px;
    }
    
    sb-member-card{
      .sb-members-list-item{
        border-radius: 16px;
        background-color: var(--joyful-secondary);
        box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow);
      }
    }

    .add-user{
      .button-outline{
        --border-color: transparent !important;
      }
    }
  }

  app-explore-books{
    form{
      .search-bar{
        border-radius: 1rem !important;
        button{
          box-shadow: none !important;
        }
      }
    }
    .sb-slider-pills-container{
      .pill{
        box-shadow: 5px 5px 2px 0 var(--joyful-button-shadow);
      }
    }
    .sb-medium-pills-container{
      .pill{
        border: none !important;
        color: var(--joyful-primary) !important;
      }
      .pill.active{
        background-color: var(--joyful-primary) !important;
        color: var(--joyful-white) !important;
      }
    }
    .explore-results-section{
      margin: 1rem;
      border-radius: 1rem;
    }

    ion-button{
      border-radius: 1rem 1rem 0 0 !important;
    }
  }

  app-create-edit-group{
    ion-input, ion-textarea{
      background-color: var(--joyful-white);
    }
  }

  app-enrollment-details{
    ion-item-group{
      .subtitle{
        background-color: var(--joyful-secondary) !important;
      }
      .subtitle.buttontext{
        --background: var(--joyful-white) !important;
        color: var(--joyful-primary) !important;
      }
    }

    .sb-btn-outline-info{
      background-color: var(--joyful-white) !important;
      color: var(--joyful-primary) !important;
      border-color: var(--joyful-primary) !important;
      border-radius: 1rem !important;
    }
  }

  app-content-details{
    .sb-detail-card-info{
      button{
        box-shadow: none !important;
      }
    }
  }

}