@import '~@angular/material/theming';
@import './theme-mixins';
// Plus imports for other components in your app.
// @include mat-core();



$mat-blue: (50: #eff1f3,
    100: #FFFFFF,
    200: #a5c1dc,
    300: #68a0d6,
    400: #4788c7,
    500: #FFFFFF,
    600: #0358ab,
    700: #424242,
    800: #154a7d,
    900: #b3bdc7,
    A100: #617284,
    A200: #587594,
    A400: #3e6792,
    A700: #062c54,
    contrast: (50: $dark-primary-text,
        100: $light-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    ),
);

$mat-orange: (50: #fff3e0,
    100: #D9F2FE,
    // F5F6FA
    200: #ffcc80,
    300: #ffb74d,
    400: #ffa726,
    500: #f5d58d,
    600: #F5A772,
    700: #15A9F4,
    // F5F6FA
    800: #ef6c00,
    900: #2095cc,
    A100: #ffd180,
    A200: #ffab40,
    A400: #ff9100,
    A700: #ff6d00,
    contrast: (50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $dark-primary-text,
        700: $dark-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    ),
);


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$theme-primary: mat-palette($mat-blue);
$theme-accent: mat-palette($mat-orange);
$theme-warn: mat-palette($mat-red);
$background-color: mat-palette($mat-blue);
$theme-background: mat-palette($mat-blue);

.theme-igot {
    &.day-mode {
        $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
        // -or- Can set colour by hex value too
        $custom-background-color: #ffffff;
        color: #424242 !important;

        $custom-typography: mat-typography-config(
            $font-family: 'Roboto'
        );
        $background: map-get($theme, background);
        $background: map_merge($background, (background: $custom-background-color));
        $theme: map_merge($theme, (background: $background));
        // Include the theme styles for only specified components.
        // @include mat-core-theme($candy-app-theme);
        // @include mat-button-theme($candy-app-theme);
        // @include mat-checkbox-theme($candy-app-theme);
        // @include mat-core($custom-typography);
        @include angular-material-typography($custom-typography);
        @include angular-material-theme($theme);
        @include theme-based-configurations($theme);
        $background: $background-color;
        .mat-app-background {
            color: #4a4a4a;
        }
    }

    &.night-mode {
        $theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
        $custom-background-color: #444444;
        $custom-typography: mat-typography-config(
            $font-family: 'Roboto'
        );

        $background: map-get($theme, background);
        $background: map_merge($background, (background: $custom-background-color));
        $theme: map_merge($theme, (background: $background));
        @include angular-material-typography($custom-typography);
        @include angular-material-theme($theme);
        @include theme-based-configurations($theme);
        $background: $background-color;
    }
}
