@import "src/assets/styles/_variables.scss";

.custom-popup {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0px;
    background: #6663;
    .pop-container {
        margin: auto;
        width: 90%;
        box-shadow: 0px 1px 4px 1px $gray-300;
        background:$white-color;
        padding: 10px;
        .close-attach-popup{
            float: right;
            font-size: 24px;
        }
        .pop-msg {
            h5{
                color: var(--primary-color);
                margin: 30px 45px;
            }
           
            .text-area-container{
                margin: 15px 15px;
                border: 1px solid $gray-400;
                padding: 10px;
                border-radius: 16px;
            }
    }
    .action-btns{
        display: flex;
        justify-content: space-between;
        margin: 15px 15px;
    }
    }
}