<div class="custom-popup">
  <div class="pop-container"> 
    <div class="pop-msg">
      <div class="flex-container pop-heading">
        <h5>
          {{'FRMELEMNTS_MSG_COPY_PASTE_LINKS_BELOW' | translate}}
        </h5>
        <ion-icon name="close-circle" (click)="cancel()" class="close-attach-popup"></ion-icon>
      </div>
      <div class="text-area-container">
        <ion-textarea rows="1" placeholder="{{'FRMELEMNTS_LBL_LINK_TEXTAREA_PLACEHOLDER' | translate}}" [(ngModel)]="links"
        (ionInput)="onChange($event)" (paste)="pasteLink($event)">
        </ion-textarea>
      </div>
    </div>
      <div class="action-btns">
        <ion-button class="custom-btn-txt-transform-none"  color="light" (click)="cancel()">
          {{'CANCEL' | translate}}
        </ion-button>
        <ion-button class="custom-btn-txt-transform-none" [ngClass]="{'btn-disabled': !links}" (click)="submit()">
          {{'FRMELEMNTS_BTN_ADD_LINK' | translate}}
        </ion-button>
      </div>
  </div>
</div>