<ion-content>

  <div>
    <h4 class="sp-title">{{'ADD_USER' | translate}}</h4>
    <div class="text-center MT16">
      <img src="assets/imgs/round_blue_profile.svg" class="sub-profile-img" alt="managed-user-profile" aria-hidden="true">
    </div>
  </div>

  <app-common-forms *ngIf="formInitilized" 
    [config]="managedUserFormList" 
    (valueChanges)="formValueChanges($event)"
    (statusChanges)="formStatusChanges($event)">
  </app-common-forms>
</ion-content>

<ion-footer>
  <ion-row class="padding-12">

    <ion-col>
      <ion-button class="ion-text-capitalize mb-16" expand="block" (click)="onCancel()">
        {{'CANCEL' | translate}}
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button class="ion-text-capitalize mb-16" expand="block" [disabled]="!isFormValid"
        (click)="submitForm()">{{'ADD_USER' | translate}}
      </ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
