@import "src/assets/styles/_variables.scss";
:host {
  .label-font {
    color: map-get($colors, primary_black) !important;
    font-family: "Noto Sans", sans-serif !important;
    font-size: 1.375rem !important;
    font-weight: normal;
  }

  .select-text:first-letter {
    text-transform: capitalize;
  }

  .custom-footer-background .toolbar-background-ios,
  .custom-footer-background .toolbar-background-md {
    background: unset !important;
  }
  .padding-12 {
    padding: 12px !important;
  }
  .item-select-disabled {
    .label-md {
      color: map-get($colors, medium_gray);
      opacity: 1;
    }
    ion-select {
      border-color: map-get($colors, primary_black);
    }
  }

  .item-label-stacked ion-select {
    border: 1px solid map-get($colors, thick_blue);
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 16px !important;
    font-size: $font-size-base;
    font-family: "Noto Sans Bold", sans-serif;
    .select-icon {
      .select-icon-inner {
        border: solid blue;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        animation: upDownAnimate 5s linear infinite;
        animation-duration: 0.9s;
      }
    }
  }

  .item-label-stacked.item-select-disabled {
    ion-label {
      color: map-get($colors, primary_black);
    }
    ion-select {
      border-color: map-get($colors, primary_black);
      .select-icon {
        .select-icon-inner {
          border-color: map-get($colors, primary_black);
          animation: none;
        }
      }
      .select-placeholder {
        color: map-get($colors, primary_black);
      }
    }
  }

  ion-item {
    --border-color: var(--ion-color-danger, #f1453d);
  }

  ion-button{
    --background: #{$blue} !important;
  }

  .item-label-stacked ion-input {
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 16px !important;
    padding-right: 16px !important;
    font-size: $font-size-base;
  }

  .sp-input-primary ion-input{
    font-weight: bold;
    border: 1px solid map-get($colors, primary);
    --placeholder-opacity: 0.3 !important;
  }

  .sp-input-error ion-input{
    border: 1px solid red;
  }

  ion-item.item-label-stacked {
    --border-width: 0;
    --highlight-background: transparent;
  }
  .item-select ion-label {
    color: map-get($colors, primary);
  }

  ion-label {
    color: map-get($colors, primary_black);
    font-family: "Noto Sans", sans-serif;
    font-size: $font-size-base;
    letter-spacing: 0;
    line-height: 1.188rem;
  }

}

.sp-title{
  font-size: 1rem;
  font-weight: bold;
  color: $blue;
  margin: 16px 16px 0;
}

.sp-input-title{
  color: map-get($colors, primary_black);
  font-family: "Noto Sans", sans-serif;
  font-size: $font-size-base;
  letter-spacing: 0;
  line-height: 1.188rem;
  margin: 16px 0 8px;
}

.sp-input-box{
  border: 0.5px solid map-get($colors, primary_black);
  border-radius: 2px;
  ion-input{
    margin: 0 8px;
  }
}

.sp-error{
  margin-top: 8px;
  display: block;
  font-size: 0.75rem;
  color: red;
  line-height: 0.625rem;
}

.input-item{
  padding-top: 8px;
}

.sp-tnc-text{
  padding: 0 8px;
}

ion-footer{
  ion-button{
    --background: #{$blue} !important;
    height: 2.5rem !important;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
  }
}

.blur-btn {
  opacity: 0.5;
}

.tnc-link {
  color: $blue;
  text-decoration: underline;
}

.sub-profile-img {
  width: 4.875rem;
}