<ion-content class="ion-padding-horizontal ion-padding-top">
  <iframe title="terms-and-condition" (load)="onIFrameLoad()" *ngIf="tncLatestVersionUrl" height="100%" width="100%"
    [src]="tncLatestVersionUrl" style="border: 0"></iframe>
</ion-content>

<ion-footer class="ion-padding ion-tappable ion-no-border">
  <ion-grid class="ion-padding-vertical ion-no-padding">
    <ion-row class="ion-nowrap ion-align-items-center">
      <ion-col size="auto" class="ion-nowrap" style="line-height: 0">
        <ion-checkbox class="ion-no-padding ion-no-margin" (ionChange)="onConfirmationChange($event)"></ion-checkbox>
      </ion-col>
      <ion-col>
        <ion-label class="ion-no-padding ion-text-wrap ion-no-margin ion-padding-horizontal">
          {{"I_AGREE_TO_TNC" | translate}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" [disabled]="!termsAgreed || disableSubmitButton" (click)="onAcceptanceClick()">
    <ion-grid>
      <ion-row>
        <ion-col>
          {{"CONTINUE" | translate}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-button>
</ion-footer>