<div class="sb-dt-card">
<app-toc-header [contentData]="contentDetail?.contentData"></app-toc-header>
  <div class="sb-dt-content pt-0">
    <div class="left">
    </div>
    <div class="right">
      <div *ngIf="contentDetail?.contentData?.me_averageRating" (click)="rateContent()" aria-label="content rating" class="sb-rating-view">
        <span class="sb-rating-value">{{ contentDetail?.contentData?.me_averageRating }}</span>
        <span class="sb-rating-star">
          <ion-icon name="star"></ion-icon>
        </span>
      </div>
    </div>
  </div>

  <div class="sb-separator-line"></div>

  <div class="sb-dt-card-actions">

    <div class="sb-btn-tile-group">
      <ng-container *ngIf="trackDownloads | async; let downloads">
        <button class="sb-btn-tile" *ngIf="showDownloadBtn && !isDepthChild" [disabled]="downloads.queued.length"
          (click)="downloadAllContents()">
          <img src="assets/imgs/outline_download.svg" alt="download content" class="mb-4">
          <span *ngIf="!downloads.queued.length" class="sb-btn-footer-text">{{ 'DOWNLOAD' | translate }}</span>
          <span *ngIf="downloads.queued.length" class="btn-popover-progress-container">
            <span class="btn-progress-highlight" [ngStyle]="{'width': (downloads.completed.length/(downloads.queued.length+downloads.completed.length))*100 + '%'}">
            </span>
          </span>
        </button>
        <button class="sb-btn-tile" *ngIf="contentDetail?.isAvailableLocally" [disabled]="downloads.queued.length" (click)="showOverflowMenu()">
          <img src="assets/imgs/outline_delete.svg" alt="delete content" class="mb-4">
          <span class="sb-btn-footer-text">{{ 'REMOVE' | translate }}</span>
        </button>
        <button class="sb-btn-tile" (click)="share()">
          <img src="assets/imgs/outline_share.svg" alt="share content" class="mb-4">
          <span class="sb-btn-footer-text">{{ 'SHARE' | translate }}</span>
        </button>
      </ng-container>
    </div>
  </div>
</div>