@import "src/assets/styles/_custom-mixins.scss";
.ccd-header-container {
    padding: 0px 16px;
}
.ccd-header{
    @include clearfix;
    padding: 16px 0px;

    .ccd-header-icon {
        float: left;
        img {
            height: 38px;
        }
    }

    .ccd-header-desc {
        float: left;
        margin-left: 8px;

        .ccd-header-name{
            font-size: 10px;
            color: #666666;
            text-transform: capitalize;
        }

        .ccd-header-title{
            font-size: 16px;
            color: #3A3A3A;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}
.ccd-header-action {
    color: #027BC1;
    padding: 16px;
    position: relative;
    box-sizing: border-box;
    border: 0.5px solid rgba(111,111,111,0.32);
    background-color: #FEFEFE;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.18);

    .ccd-action-icon {
        position: absolute;
        right: 16px;
        top: 24px;
    }
}
.font-14 {
    font-size: 14px;
}
.font-8 {
    font-size: 8px;
    text-transform: uppercase;
}
.ccd-container {
    padding: 8px;
    margin-top: 8px;

    .ccd-container-header {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 8px;
        padding-left: 8px;
        padding-top: 8px;
    }
}
