@import "src/assets/styles/_variables.scss";
.filter-style {
  font-size: $font-size-base;
  font-weight: bold;
  color: var(--app-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}

.user-profile {
  padding: 0.5rem 1.5rem 0;
  font-size: 1.188rem;
  color: var(--app-gray);
  .welcome-text{
    font-size: 1.125rem;
  }
  .user-name-text{
    font-size: 1.375rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.spinner-div {
  padding: 40px;
  background-color: map-get($colors, light_gray);
  text-align: center;
  border: none !important;
}

.preference-container {
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: 0.75rem;
  color: var(--app-gray);
  .user-preference {
    display: flex;
    align-items: center;
    .preference-data{
      width: 70%;
    }
    .change-btn{
      width: 30%;
      text-align: center;
      button{
        float: right;
        color: var(--app-primary);
        height: 1.5rem !important;
      }
    }
  }
}

.sb-card-scroll-container {
  overflow-x: auto;
  padding: 0 0 8px 0;
}
.sb-card-recently-container {
  .recently-viewed-card-size{
    margin: 0 8px; 
    min-width:18rem;
    max-width:18rem;
    &:only-child {
      min-width: 100%;
      max-width: calc(100vw - 32px);
    }
  }
}

.sb-btn-primary-outline{
  border-color: var(--app-white);  
}

.heading-ruler{
  width: 100%;
  margin-left: 1rem;
  background-color: var(--app-primary-header);
}

.preference-info-icon{
  height: 1rem;
  padding: 2px;
  background-color: var(--app-tertiary);
  border-radius: 50px;
  margin: 0.5rem;
}