<ion-content>
  <div class="spinner-div" *ngIf="refresh">
      <ion-spinner icon="spiral" class="refreshspinner"></ion-spinner>
  </div>
  <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div class="container-focus">
    <div class="user-profile">
      <div class="user-name-text"><span>{{'HI' | translate}}</span>&nbsp;{{profile?.handle}}</div>
    </div> 
    
    <div class="preference-container" *ngIf="preferenceList && preferenceList.length">
      <div class="user-preference">
        <div class="preference-data" (click)="viewPreferenceInfo()">
          <div>
            <span>{{'YOUR_PREFERENCES' | translate}}</span>
            <img class="preference-info-icon" role="button" src="assets/imgs/info-white.svg" alt="preferences-info">
          </div>
          <div>
            <app-truncated-ellipsis 
              [arrayList]= "preferenceList"
              [showCount]="1"
              [separatorText]="', '">
            </app-truncated-ellipsis>
          </div>
        </div>
        <div class="change-btn py-8" (click)="editProfileDetails()">
          <button class="sb-btn sb-btn-sm sb-btn-primary-outline">change</button>
        </div>
      </div>
    </div>
  </div>

  <ion-list class="m-n" *ngIf="!displaySections">
    <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
    <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
      <ion-avatar item-start>
        <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
      </ion-avatar>
      <ion-label style="padding-left: 40px;">
        <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
        <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="form-api-components" *ngIf="displaySections && displaySections.length && (homeDataAvailable || displayBanner)">

    <ng-container *ngFor="let section of displaySections">

      <ng-container *ngIf="section?.theme?.component === 'sb-course-cards-hlist'">
        <ng-container *ngFor="let subSection of section?.data?.sections">
          <ng-container *ngIf="subSection?.contents?.length">
            <sb-course-cards-hlist
              [title]="(section?.title) | translateJson"
              [type]="section?.theme?.inputs?.type || courseCardType.MY_COURSE_RECENTLY_VIEWED_CARD_GRID"
              [contentList]="subSection.contents"
              [hideProgress]="section?.theme?.inputs?.hideProgress || true"
              [viewMoreButtonText]="(section?.theme?.inputs?.viewMoreButtonText | translateJson) || ('VIEW_ALL' | translate)"
              [maxCardCount]="section?.theme?.inputs?.maxCardCount || 10"
              [viewMoreButtonPosition]="section?.theme?.inputs?.viewMoreButtonPosition || ButtonPosition.TOP"
              [publishedByText]="'CONTENT_CREATED_BY' | translate"
              (viewMoreClick)="navigateToViewMoreContentsPage(section, subSection)"
              (cardClick)="navigateToDetailPage($event, (subSection.name || section?.title))">
            </sb-course-cards-hlist>
          </ng-container>
        </ng-container>
      </ng-container>

      <!--banner-->
      <div class="heading-label" *ngIf="section?.title && section?.data?.length && section?.theme?.component === 'sb-banner-card-hlist' && displayBanner">
        <span>{{section?.title | translateJson}}</span>
        <hr>
      </div>
      <ng-container *ngIf="section?.theme?.component === 'sb-banner-card-hlist' && displayBanner">
        <sb-banner-card-hlist [bannerList]="primaryBanner" (cardClick)="navigateToSpecificLocation($event, section)"></sb-banner-card-hlist>
        <sb-banner-card-hlist [bannerList]="secondaryBanner" [secondaryBanner]="true" (cardClick)="navigateToSpecificLocation($event, section)"></sb-banner-card-hlist>
      </ng-container> 

      <!-- Pills -->
      <div class="heading-label" *ngIf="section?.title && section?.data?.length && section?.theme?.component === 'sb-pills-grid'">
        <span>{{section?.title | translateJson}}</span>
        <hr>
      </div>

      <ng-container *ngIf="section?.theme?.component === 'sb-pills-grid'">
        <sb-pills-grid [pillShape]="section?.theme?.inputs?.pillShape"
          [pillsViewType]="section?.theme?.inputs?.pillsViewType"
          [selectMode]="section?.theme?.inputs?.selectMode"
          [minDisplayCount]="section?.theme?.inputs?.minDisplayCount"
          [viewMoreText]="section?.theme?.inputs?.viewMoreText | translateJson"
          [viewLessText]="section?.theme?.inputs?.viewLessText | translateJson"
          [showMoreViewType]="section?.theme?.inputs?.showMoreViewType"
          [pillsMultiRow]="section?.theme?.inputs?.pillsMultiRow"
          [pillBorder]="section?.theme?.inputs?.pillBorder"
          [pillSize]="section?.theme?.inputs?.pillSize"
          [pillTextElipsis]="section?.theme?.inputs?.pillTextElipsis"
          [pillBoxShadow]="section?.theme?.inputs?.pillBoxShadow"
          (viewMorePillList)="onViewMorePillList($event, section)"
          (select)="handlePillSelect($event, section, false)">
          <sb-pill-item *ngFor="let pillData of section?.data; let index=index" [name]="pillData?.facet | titlecase"
                        [icon]="{ component: 'sb-pill-item', input: 'icon' } | themeInputsSelector : section?.theme : (pillData?.code || pillData?.facet)"
                        [theme]="({ component: 'sb-pill-item', input: 'theme' } | themeInputsSelector : section?.theme : pillData?.facet) || (pillData?.facet | randomColorMapPipe: index)"
                        [value]="pillData"></sb-pill-item>
        </sb-pills-grid>
      </ng-container>

      <!-- Recently published courses -->
      <div *ngIf="section?.data?.sections?.length && section?.data?.sections[0].contents?.length && section?.theme?.component === 'sb-course-cards'">
        <sb-library-cards-hlist
          [title]="section?.title | translateJson"
          [contentList]="section?.data?.sections[0]?.contents"
          [type]="section?.theme?.inputs?.type || LibraryCardTypes.MOBILE_TEXTBOOK"
          [layoutConfig]="layoutConfiguration"
          [isLoading]="false"
          [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable"
          [maxCardCount]="section?.theme?.inputs?.maxCardCount || 10"
          [viewMoreButtonText]="(section?.theme?.inputs?.viewMoreButtonText | translateJson) || ('VIEW_ALL' | translate)"
          [viewMoreButtonPosition]="section?.theme?.inputs?.viewMoreButtonPosition || ButtonPosition.TOP"
          (viewMoreClick)="navigateToViewMoreContentsPage(section, section?.data?.sections)"
          (cardClick)="navigateToDetailPage($event, section?.title);">
        </sb-library-cards-hlist>
      </div>

      <!-- Recently viewed -->
      <div class="sb-recently-viewed-container" *ngIf="section?.data?.sections?.length && section?.data?.sections[0].contents?.length && section?.theme?.component === 'sb-library-cards-hlist'">
        <sb-library-cards-hlist
          [title]="section?.title | translateJson"
          [contentList]="section?.data?.sections[0]?.contents"
          [type]="section?.theme?.inputs?.type || LibraryCardTypes.MOBILE_TEXTBOOK"
          [isLoading]="false"
          [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable"
          [maxCardCount]="section?.theme?.inputs?.maxCardCount || 10"
          [viewMoreButtonText]="(section?.theme?.inputs?.viewMoreButtonText | translateJson) || ('VIEW_ALL' | translate)"
          [viewMoreButtonPosition]="section?.theme?.inputs?.viewMoreButtonPosition || ButtonPosition.TOP"
          (viewMoreClick)="navigateToViewMoreContentsPage(section, section?.data?.sections)"
          (cardClick)="navigateToDetailPage($event, section?.title);">
        </sb-library-cards-hlist>
      </div>

    </ng-container>

      <!-- Ml tile other category start -->
      <ng-container *ngIf="otherCategories?.length">
        <div class="heading-label">
          <span role="heading" aria-level="2">{{ 'BROWSE_OTHER_CATEGORIES' | translate }}</span>
          <hr>
        </div>
        <sb-pills-grid 
          [pillShape]="'image_overlap'"
          [pillsViewType]="'scroll'"          
          [pillTextElipsis]="'three_line'"
          (select)="handleOtherCategories($event)"
          >
          <sb-pill-item 
           *ngFor="let pillData of otherCategories; let index=index"
              [name]="pillData?.name | titlecase"
              [icon]="pillData?.icon?.app"
              [value]="pillData"
              [theme]="({ component: 'sb-pill-item', input: 'theme' })"
          >
          </sb-pill-item>
        </sb-pills-grid>
      </ng-container>
      <!-- Ml tile other category end -->
  </div>

  <div *ngIf="!homeDataAvailable" class="p-16 pt-32">
    <div class="sb-nodownloads-container" *ngIf="commonUtilService?.networkInfo?.isNetworkAvailable">
      <div class="text-center">
        <img style="width: 30%;" src="./assets/imgs/group.svg" alt="">
      </div>
      <div class="text-center">
        <p class="sub-heading">{{'FRMELEMNTS_LBL_COULD_NOT_FIND_CONTENT' | translate }}</p>
        <ion-button class="explore-more-books" expand="block" (click)="requestMoreContent()">
          {{'REQUEST_CONTENT' | translate}} </ion-button>
        <ion-button class="explore-more-content" expand="block" fill="outline" (click)="exploreOtherContents()">
          {{'SEE_MORE_BOOKS' | translate}} </ion-button>
      </div>
    </div>

    <div class="ion-padding ion-text-center mt-32 mb-32" style="padding-top: 34px;"
      *ngIf="!commonUtilService?.networkInfo?.isNetworkAvailable">
      <img src="assets/imgs/outline-cloud_off.svg" alt="" />
      <ion-text>
        <h6 class="offline-header">
          <strong>{{ 'NO_INTERNET_TITLE' | translate }}</strong>
        </h6>
      </ion-text>
      <p class="offline-content">{{ 'OFFLINE_WARNING_ETBUI' | translate }}</p>
    </div>
  </div>

</ion-content>
