<ion-content>
  <div class="container-focus">
    <div class="user-profile">
      <div class="welcome-text">{{'WELCOME' | translate}}</div>
      <div class="user-name-text">{{profile?.handle}}</div>
    </div> 
    
    <div class="preference-container" *ngIf="boards">
      <div *ngIf="this.showPreferenceInfo">{{'BROWES_RELEVANT_CONTENT' | translate: {'app_name': appLabel} }}</div>
      <div class="user-preference">
        <div class="preference-data">
          <div>
            <span>{{'YOUR_PREFERENCES' | translate}}</span>
            <img (click)="viewPreferenceInfo()" class="p-8" src="assets/imgs/info.svg" alt="preferences-info">
          </div>
          <div class="filter-style"><span>{{boards}}</span><span *ngIf="medium">{{', ' +medium}}</span><span *ngIf="grade">{{', ' +grade}}</span></div>
        </div>
        <div class="change-btn">
          <button (click)="editProfileDetails()" class="sb-btn sb-btn-sm sb-btn-primary-outline">change</button>
        </div>
      </div>
    </div>
  </div>

  <ion-list class="m-n" *ngIf="!displaySections">
    <app-skeleton-item height="16px" width="40%" style="padding: 16px;"></app-skeleton-item>
    <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background">
      <ion-avatar item-start>
        <app-skeleton-item height="72px" width="72px"></app-skeleton-item>
      </ion-avatar>
      <ion-label style="padding-left: 40px;">
        <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
        <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="form-api-components" *ngIf="displaySections">
    <ng-container *ngFor="let section of displaySections">

      <!-- Trackable contents -->
      <div class="heading-label" *ngIf="section?.title && section?.theme?.component !== 'sb-course-cards-hlist' && section?.theme?.component !== 'sb-library-cards-hlist'">
        <span>{{section?.title | translateJson}}</span>
        <hr>
      </div>

      <ng-container *ngIf="section?.theme?.component === 'sb-course-cards-hlist'">
        <ng-container *ngFor="let subSection of section?.data?.sections">
          <ng-container *ngIf="subSection?.contents?.length">
            <sb-course-cards-hlist
              [title]="(section?.title) | translateJson"
              [type]="section?.theme?.inputs?.type || courseCardType.MY_COURSE_RECENTLY_VIEWED_CARD_GRID"
              [contentList]="subSection.contents"
              [hideProgress]="section?.theme?.inputs?.hideProgress || true"
              [viewMoreButtonText]="(section?.theme?.inputs?.viewMoreButtonText | translateJson) || ('VIEW_ALL' | translate)"
              [maxCardCount]="section?.theme?.inputs?.maxCardCount || 10"
              [viewMoreButtonPosition]="section?.theme?.inputs?.viewMoreButtonPosition || ButtonPosition.RIGHT"
              (viewMoreClick)="navigateToViewMoreContentsPage(section, subSection)"
              (cardClick)="navigateToDetailPage($event, (subSection.name || section?.title))">
            </sb-course-cards-hlist>
          </ng-container>
        </ng-container>
      </ng-container>

      <!-- Pills -->
      <ng-container *ngIf="section?.theme?.component === 'sb-pills-grid'">
        <sb-pills-grid [pillShape]="section?.theme?.inputs?.pillShape"
          [pillsViewType]="section?.theme?.inputs?.pillsViewType"
          [selectMode]="section?.theme?.inputs?.selectMode"
          [minDisplayCount]="section?.theme?.inputs?.minDisplayCount"
          [viewMoreText]="section?.theme?.inputs?.viewMoreText | translateJson"
          [viewLessText]="section?.theme?.inputs?.viewLessText | translateJson"
          [showMoreViewType]="section?.theme?.inputs?.showMoreViewType"
          [pillsMultiRow]="section?.theme?.inputs?.pillsMultiRow"
          [pillBorder]="section?.theme?.inputs?.pillBorder"
          (viewMorePillList)="onViewMorePillList($event, section?.title)"
          (select)="handlePillSelect($event)">
          <sb-pill-item *ngFor="let pillData of section.data" [name]="pillData?.facet | titlecase"
                        [icon]="{ component: 'sb-pill-item', input: 'icon' } | themeInputsSelector : section?.theme : pillData?.facet"
                        [theme]="({ component: 'sb-pill-item', input: 'theme' } | themeInputsSelector : section?.theme : pillData?.facet) || (pillData?.facet | randomColorMapPipe)"
                        [value]="pillData"></sb-pill-item>
        </sb-pills-grid>
      </ng-container>

      <!-- Recently viewed -->
      <div class="sb-recently-viewed-container" *ngIf="section?.data?.sections?.length && section?.data?.sections[0].contents?.length && section?.theme?.component === 'sb-library-cards-hlist'">
        <sb-library-cards-hlist
          [title]="section?.title | translateJson"
          [contentList]="section?.data?.sections[0]?.contents"
          [type]="section?.theme?.inputs?.type || LibraryCardTypes.MOBILE_TEXTBOOK"
          [isLoading]="false"
          [isOffline]="!commonUtilService.networkInfo.isNetworkAvailable"
          [maxCardCount]="section?.theme?.inputs?.maxCardCount || 10"
          [viewMoreButtonText]="(section?.theme?.inputs?.viewMoreButtonText | translateJson) || ('VIEW_ALL' | translate)"
          [viewMoreButtonPosition]="section?.theme?.inputs?.viewMoreButtonPosition || ButtonPosition.RIGHT"
          (viewMoreClick)="navigateToViewMoreContentsPage(section)"
          (cardClick)="navigateToDetailPage($event, section?.title);">
        </sb-library-cards-hlist>
      </div>

    </ng-container>

  </div>

</ion-content>
