.scroll-wrap {
  height: 100%;
  padding: 32px;
}

.cert-container {
  margin: 1rem;
  .label {
    font-size: 1.2rem;
  }
  .cert-details {
    display: flex;
    margin: 1rem 0;
    .cert-info {
      width: 100%;
      .title,
      .date {
        font-size: 1rem;
        margin: 0;
        color: var(--app-gray);
      }
      .date {
        color: var(--app-medium-gray);
      }
    }
    .download-btn{
      width: 60%;
      .cert-btn{
        padding: 0.5rem;
        background-color: var(--app-primary-medium);
        width: 8.75rem !important;
        height: 3.75rem !important;
        img{
          float: left;
          margin-top: 0.2rem;
        }
        span{
          padding: 0 0.5rem;
          line-height: 1.5;
        }
      }
    }
  }
}

.certificate-info {
  display: flex;
  margin: 1rem;
}

.highlight-cert-btn{
  background-color: var(--app-primary);
}
.text-msg{
  margin: 4rem 1rem;
  font-size: 1rem;
  font-weight: 900;
}