.activity-toc-title{
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    padding: 16px;
}
.add-activity-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .add-activity-content{
        &:nth-child(odd){
            padding: 0 4px 4px 16px;
        }
        &:nth-child(even){
            padding: 0 16px 4px 4px;
        }
        flex: 50%;
        flex-grow: 0;
        flex-shrink: 0;
    }
}