<ion-content class="activity-toc-container ion-no-padding">
  <h3 class="activity-toc-title">{{ 'SELECT_ACTIVITY' | translate}}</h3>
  <div class="add-activity-container">
    <div class="add-activity-content" [ngClass]="{'disabled-activity': !activity.isEnabled}" *ngFor="let activity of supportedActivityList; let i = index;">
      <sb-course-curiculum-card [isActivityTypeCard]="true" [cardData]="activity" [index]="i"
        (click)="activity.isEnabled && search(activity)"></sb-course-curiculum-card>
    </div>
  </div>
</ion-content>