<ion-content [scrollEvents]="true" class="sb-textbook-toc ion-no-padding">
  <section *ngIf=" childrenData && childrenData?.length">
    <ion-card class="sb-accordian-card" *ngFor="let item of childrenData;  let i = index;">
      <ion-grid class="sb-accordian-header">
        <ion-row *ngIf="item?.children">
          <ion-col size="11">
            <div class="sb-topic-text" (click)="setContentId(item.identifier, item)"> {{item?.contentData?.name}} </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item?.contentData?.mimeType !== 'application/vnd.ekstep.content-collection' && !item?.children"
          (click)="setContentId(item.identifier, item)">
          <ion-col size="11">
            <div [ngClass]="{'sb-accordian-grey-text': !commonUtilService.networkInfo.isNetworkAvailable && !item?.isAvailableLocally,
                'sb-play-selected':item?.isAvailableLocally,'sb-play-unselected':!item?.isAvailableLocally}">
              {{item?.contentData?.name}}
            </div>
          </ion-col>
        </ion-row>
        <div class="sb-accordian-grey-text" (click)="showCommingSoonPopup(item)"
          *ngIf="item?.contentData?.mimeType === 'application/vnd.ekstep.content-collection' && !item?.children">
          {{item?.contentData?.name}}
          <span class="grey-icon-span">
            <ion-icon name="alert" class="grey-icon ML5"></ion-icon>
          </span>
        </div>
      </ion-grid>
      <div class="sb-hidden-content px-16 pt-8" *ngIf="(item?.children && item?.children?.length)">
        <div *ngFor="let firstChildren of item?.children; let j = index;">
          <div class="sb-topics-container sb-topics-container-toc">
            <app-collection-child [childData]="firstChildren" [index]="j" [depth]="depth" [rootUnitId]="item.identifier"
              [isTextbookTocPage]="true" [corRelationList]="corRelationList" [isDepthChild]="isDepthChild"
              [breadCrumb]="breadCrumb" [stckyUnitTitle]="stckyUnitTitle" [stckyindex]="stckyindex"
              [latestParentName]="latestParentName" [latestParentNodes]="latestParentNodes"></app-collection-child>
          </div>
        </div>
      </div>
    </ion-card>
  </section>
</ion-content>

<ion-backdrop class="loading-backdrop ion-text-center" *ngIf="showLoading && !isDownloadStarted">
  <div class="backdrop-container">
    <ion-label>{{ 'LOADING_CONTENTS' | translate: {'%s': downloadProgress ? downloadProgress : 0} }}</ion-label>
    <app-pb-horizontal [progress]="downloadProgress" isOnBoardCard="false"></app-pb-horizontal>
  </div>

  <div class="backdrop-footer">
    <ion-button size="small" (click)="cancelDownload()">{{ 'CANCEL' | translate }}</ion-button>
  </div>
</ion-backdrop>