<div class="sb-dt-content">
    <div class="left" style="overflow: hidden;">

        <div class="sb-dt-title" role="heading" aria-level="1"> {{contentData?.name}}</div>
        <div class="sb-dt-source" *ngIf="contentData?.owner || contentData?.creator">
            <span class="sb-by">{{ 'CONTENT_CREATED_BY' | translate }}</span>
            <span class="sb-user">{{ contentData?.owner || contentData?.creator}}</span>
        </div>
        <div class="sb-dt-class-info">
            <span *ngFor="let category of frameworkCategories; let i = index">
                <span class="sb-dt-label sb-dt-subject" *ngIf="contentData?.[category.code] || contentData?.[category.alterNativeCode]">{{contentData[category.code] || contentData[category.alterNativeCode]}}</span>
                <span class="sb-separator-dot" *ngIf="i < frameworkCategories.length-1 && contentData?.[category.code]"></span>
            </span>
        </div>
    </div>
    <div class="right">
        <div class="img-container">
            <img alt="icon" aria-hidden="true" [src]="commonUtil.convertFileSrc(contentData?.appIcon) || defaultAppIcon">
        </div>
    </div>
</div>