@import "src/assets/styles/_variables.scss";
@import "src/assets/styles/_helper.scss";
:host {
  ion-label {
    flex: unset !important;
  }
  .list-header-md {
    padding-bottom: 0 !important;
    margin-bottom: 13px;
  }
  .item-md {
    margin-bottom: 0 !important;
    .radio-md[item-left] {
      margin-right: 10px !important;
    }
  }
  .ge-label {
    @extend .MB8;
    color: map-get($colors, title);
  }
  .ge-danger{
    color: map-get($colors, danger);
  }
  .ge-item-16{
    width: calc(100% - 16px);
    --padding-start: 0px;
    @extend .ML16;
    @extend .MB6;
  }
  .highlight-radio {
    color: map-get($colors, primary);
  }

  ion-list-header ion-label {
    margin-bottom: 0 !important;
  }
  .label-md[stacked] {
    font-weight: 700 !important;
  }
  .list-md {
    margin-bottom: 0 !important;
  }
  ion-label.type-label {
    margin-bottom: 0 !important;
    margin-left: 16px;
    font-weight: 500 !important;
    color: $gray-300;
    font-size: 0.75rem;
  }
  .label-font {
    font-weight: 600 !important;
  }
}

.multiple-select-alert .alert-head {
  padding: 8px 20px 8px !important;
}

.multiple-select-alert .alert-checkbox-label {
  text-transform: capitalize !important;
}

.red-toast {
  .toast-container {
    background-color: map-get($colors, vivid_red);
    #toast-hdr-6 {
      padding-left: 69px !important;
    }
    .toast-message {
      padding-left: 40px !important;
    }
    .toast-message:before {
      content: "\f19f";
      font-family: Ionicons, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: 400 !important;
      line-height: 1;
      padding-left: 30px !important;
      padding-right: 16px !important;
      padding-bottom: 5px !important;
      text-rendering: auto;
      text-transform: none;
      margin-bottom: 29px !important;
      margin-top: 28px !important;
      margin-left: -39px !important;
      position: static;
      font-size: 2.1rem;
    }
  }
}
