@import "src/assets/styles/_variables.scss";

.container {
    width: 20%;
    position: relative;

    .wrapper {
        border: 3px solid transparent;
        width: 50px;
        height: 50px;
        margin: 10px auto;
        border-radius: 50px;

        .block {
            width: 44px;
            height: 44px;
            padding: 10px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000;
        }
    }
}

.color-green {
    color: white !important;
    background: green !important;
    ;
}

.black-color {
    color: black;
    background: #e0e0ee;
}

.currentView {
    border-color: #{$blue}  !important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}