<ion-content class="ion-padding">
  <div>
    <h4>{{evidenceMethod}} - {{sectionName}}</h4>
  </div>
  <div class="_flex-box _flex-wrap ion-margin-top" *ngIf="questions?.length">
    <ng-container *ngFor="let question of questions; let i = index">
      <div class="container _flex-box _justify-content-center" (click)="goToQuestion(i)"
        *ngIf="checkForQuestionDisplay(question)">
        <span class="wrapper _flex-box _justify-content-center" [ngClass]="{'currentView': i === currentViewIndex}">
          <span class="block pending black-color _flex-box _justify-content-center"
            [ngClass]="{'color-green': isQuestionComplete(question)}">{{i+1}}</span>
        </span>
      </div>

      <div class="container _flex-box _justify-content-center" (click)="openToast()"
        *ngIf="!checkForQuestionDisplay(question)">
        <span class="wrapper _flex-box _justify-content-center" [ngClass]="{'currentView': i === currentViewIndex}">
          <span class="block pending black-color _flex-box _justify-content-center"
            [ngClass]="{'color-green': isQuestionComplete(question)}">{{i+1}}</span>
        </span>
      </div>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <div class="sb-popover-footer">
    <ion-button expand="full" class="sb-popover-action-btn popover-color" (click)='close()'
      >{{ 'CANCEL' | translate}}</ion-button>
  </div>
</ion-footer>