<ion-content>
  <div class="container-focus">
    <div class="search-info pt-16 mx-24">
      <div [@labelVisibility]="searchLabelVisibility">
        <strong class="title">{{'SEARCH_IN_APP' | translate: {'app_name': appLabel} }}</strong>
        <p class="description">{{'SEARCH_IN_APP_DESCRIPTION' | translate: {'app_name': appLabel} }}</p>
      </div>
    </div>
    <div class="search-container" [ngClass]="{'search-filter': showFilterBtn, '': !showFilterBtn}">
      <div class="search-input">
        <input type="text" [placeholder]="'SEARCH_OR_ENTER_QR_CODE' | translate" [(ngModel)]="searchKeywords" (input)="searchInput()" (focus)="onSearchFocus()" (blur)="onSearchBlur()">
        <button (click)="submitSearch()">
          <img src="assets/imgs/search.svg" alt="search">
        </button>
        <button (click)="cancelSearch()">
          <img src="assets/imgs/ic_action_close.svg" alt="search">
        </button>
      </div>
      <div class="filter-btn" *ngIf="showFilterBtn">
        <button (click)="openFilters()">
          <img src="assets/imgs/filter.svg" alt="search">
        </button>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</ion-content>
