<ion-list lines="none" *ngIf="!showChapterActions">
  <ion-item *ngIf="content && content.progress!==100" (click)="unenroll()">{{'FRMELEMNTS_LBL_UNENROLL_FROM_COURSE' | categoryKeyTranslate : content}}</ion-item>
  <ion-item (click)="syncCourseProgress()">{{'FRMELEMNTS_LBL_SYNC_COURSE_PROGRESS' | translate }}</ion-item>
</ion-list>
<ion-list lines="none" *ngIf="showChapterActions">
  <ion-item (click)="download()" *ngIf="downloadIdentifiers.size">{{ 'DOWNLOAD' | translate }}</ion-item>
  <ion-item (click)="share()">{{ 'SHARE' | translate }}</ion-item>
</ion-list>