<ion-list lines="none" *ngIf="!showChapterActions">
  <ion-item (click)="unenroll()">{{'FRMELEMNTS_LBL_UNENROLL_FROM_COURSE' | categoryKeyTranslate : content && content.trackable  : content && (content.primaryCategory ? content.primaryCategory : content.contentType)}}</ion-item>
</ion-list>
<ion-list lines="none" *ngIf="showChapterActions">
  <ion-item (click)="download()" *ngIf="downloadIdentifiers.size">{{ 'DOWNLOAD' | translate }}</ion-item>
  <ion-item (click)="share()">{{ 'SHARE' | translate }}</ion-item>
</ion-list>