@import "src/assets/styles/base/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";

:host {
    /*     .popover-content{
            height:85px !important;
        } */
    
        .item.item-block {
            border-bottom: 2px solid map-get($colors, gray_light);
            &:last-child {
                border-bottom: 0px;
            }
        }
    
        .list-md .item-block .item-inner {
            border-bottom: 0px;
        }
    }
    .content-action  {
        .popover-content {
            position: fixed !important;
            top: $base-block-space !important;
            @include ltr() {
                right: $base-block-space !important;
                left: unset !important;
            }
            @include rtl() {
                left: $base-block-space !important;
                right: unset !important;
            } 
        }
    }