@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/_custom-mixins";
@import "./../../../assets/styles/fonts";

.rc-title {
  margin: 8px;
  font-weight: bold;
}

.rc-bg-color {
  background-color: map-get($colors, white_f2)
}

ion-button {
  --background: #{$blue} !important;
  height: 2.5rem !important;
}

.no-content-msg {
  text-align: center;
  padding-top: 30%;
}