
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base/variables";

ion-header.header{
  --background: var(--app-primary-background);
}
.header{
  background: var(--app-primary-background)!important;
}

ion-toolbar.toolbar {
  border-radius: 0 0 0 40px !important;
}

.close-icon {
  zoom: 1em;
  color: var(--app-primary);
}
.close-button {
  position: absolute;
  margin-top: 20px;
  z-index: 99999999999999999999;
  margin-left: 12px;
}