<ion-toolbar class="ion-padding-start">
  <ion-title></ion-title>
  <ion-buttons (click)="handleBackButton() " slot="start" class="padding">
    <ion-icon role="button" name="arrow-back"  aria-label="close" slot="icon-only"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <app-metadata-details translucent="true" [data]="metaData">
    <div class="certificate-tag" certificate *ngIf="project?.certificateTemplateId">
      {{'CERTIFICATE' | translate}}
    </div>
    <ion-button (click)="doAction()" expand="block" class="ion-text-none ion-margin-top">{{buttonLabel |
      translate}}</ion-button>
  </app-metadata-details>
  <div class="project-segments">
    <ion-segment [(ngModel)]="segmentType" (ionChange)="segmentChanged($event)" class="segment-card">
      <ion-segment-button value="details" class="flex-5">
        <ion-label class="font-12 text-transform-none">{{'FRMELEMNTS_LBL_PROJECT_DETAILS' | translate }}</ion-label>
      </ion-segment-button>
      <div class="hr-div">
        <hr class="hr-height">
      </div>
      <ion-segment-button value="tasks" class="flex-5">
        <ion-label class="font-12 text-transform-none">{{'FRMELEMNTS_LBL_TASK_DETAILS' | translate }}
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="segmentType == 'details'">
      <app-project-details-card [data]="project" >
      </app-project-details-card>
      <app-accordion-list *ngIf="project?.learningResources?.length" [data]="project?.learningResources"
      (actionEvent)="openResource($event)" [title]="'FRMELEMNTS_LBL_LEARNING_RESOURCES'" [showCard]="true"> </app-accordion-list>
      <app-accordion-list *ngIf="certificateCriteria.length" [data]="certificateCriteria" [showCard]="false"
    [title]="'FRMELEMNTS_LBL_CERTIFICATION_CRITERIA'"> </app-accordion-list>
  </div>
  <div *ngIf="segmentType == 'tasks' && project?.tasks?.length">
    <app-task-card [data]="project" [viewOnly] ="true" (click)="openStartIMPPopup()"></app-task-card>
  </div>

</ion-content>