<div class="sb-view-all-container">
  <div class="sb-view-all-items">
    <div class="sb-view-all-title width-100">
      <h4 class="page-heading px-4">{{'TAB_5' | translate}}</h4>
      <div class="d-flex">
        <div class="pull-left flex-60 px-4">{{'SPACE_TAKEN' | translate: {'%s': appName } }}:
          <strong>{{storageInfo?.usedSpace | fileSize}}</strong></div>
        <div class="flex-40 px-4">
          <span class="pull-right">{{'AVAILABLE' | translate}}: {{storageInfo?.availableSpace | fileSize}}</span>
        </div>
      </div>
    </div>
  </div>
</div>