@import "src/assets/styles/_variables.scss";
@import "src/assets/styles/_custom-mixins.scss";
@import "src/assets/styles/_variables.scss";
// @import '../../theme/colors.scss';
.heading-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status-label {
    margin: auto;
    font-size: 20px;
    font-weight: 500;
}

.subtask-form {
    margin: 0px;
    padding: 5px;

    .arrow-image {
        width: 35%;
        margin-top: 5px;
    }

    ion-button {
        text-transform: none;
    }
}

.subtask-box {
    margin: 15px 0px;

    ion-icon {
        // color: $dark-brown-color;
    }

    .subtask-title {
        font-family: 'SourceSansPro-Bold' !important;
        font-weight: 600;
    }

    ion-row,
    ion-col {
        margin: 0px;
        padding: 0px;
    }
}

.custom-popup {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: auto;
    // background: $trasperant-gray-color;
    display: flex;

    .border-radius {
        border-radius: 1em;
    }

    .pop-container {
        margin: auto;
        width: 80%;
        box-shadow: 0px 1px 4px 1px map-get($colors, dark_gray);
        background: map-get($colors, white);
        padding: 10px;
    }
}

.roundedButton {
    font-size: 12px;
}
.subtask-date-picker{
    max-width: 25px;  
    margin-right: 5px;
}

.assignee {
    font-weight: normal;
    margin-left: 20px;
    font-size: 16px;
}

.iconAdj {
    font-size: 20px;
}
