<ion-content class="main-container">
  <app-common-header title="{{ 'FRMELEMNTS_LBL_PROJECTS' | translate }}" [subTitle]="description"> </app-common-header>
  <ion-searchbar debounce="2000" placeholder="Search your projects here" [(ngModel)]="searchText"
    (ionChange)="onSearch($event)" search-icon="search">
  </ion-searchbar>
  <div class="container">
    <!-- <div class="scroll_chip" scrollX="true">
      <ion-chip outline="true" *ngFor="let filter of filters" [color]="filter.selected ? 'primary' : ''">
        <ion-label (click)="getDataByFilter(filter)">{{filter.name | translate}}</ion-label>
      </ion-chip>
    </div> -->
    <sb-library-filters [list]="filters" [layout]="layout" selectedItems="{{[selectedFilterIndex]}}"
      (selectedFilter)="getDataByFilter($event);" *ngIf="filters?.length">
    </sb-library-filters>
  </div>

  <app-item-list-card title="{{'FRMELEMNTS_LBL_CREATE_NEW_PROJECT' | translate}}"
    subTitle="{{'FRMELEMNTS_LBL_CREATE_NEW_PROJECT_SUBHEADING' | translate}}" class="create_header"
    (cardSelect)="doAction()">
    <ion-icon class="mg-popup-btn-icon" name="ios-arrow-round-forward" arrow></ion-icon>
  </app-item-list-card>
  <h5 class="projects-labels"> {{'FRMELEMNTS_LBL_EXPLORE_PROJECTS' | translate}}</h5>
  <div>
    <h5 *ngIf="selectedFilter" class="projects-labels">{{selectedFilter}} </h5>
  </div>
  <app-item-list-card *ngFor="let project of projects" [title]="project?.name" [subTitle]="project?.programName"
    [id]="project?._id" (cardSelect)="doAction($event, project)"></app-item-list-card>
  <app-no-data *ngIf="!projects?.length"></app-no-data>
</ion-content>
<ion-button class="view-more" expand="block" (click)="loadMore()" *ngIf="projects?.length && count > projects?.length">
  {{ 'FRMELEMNTS_BTN_VIEW_MORE' | translate }}
</ion-button>