<ion-content>
  <ion-row class="alert-header-padding">
    <ion-col size="10">
      <div class="alert-header">
        <h5 class="alert-header-content"> {{title}} </h5>
      </div>
    </ion-col>
    <ion-col size="2">
        <ion-button class="close-button" icon-only fill="clear" (click)="close()">
          <ion-icon item-right aria-label="close" role="button" name="close"></ion-icon>
        </ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row class="alert-content-body"> {{body}} </ion-row>
  
  <ion-row>
    <ion-button expand="full" class="alert-button ion-text-capitalize" (click)="redirectToPlaystore()"> {{buttonText}} </ion-button>
  </ion-row>
  </ion-content>
  