<ion-toolbar>
  <ion-buttons (click)="close()" slot="start" class="padding" color="primary">
    <ion-icon name="close" slot="icon-only" style="padding-left: 10px;"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <h5>{{'FRMELEMNTS_LBL_ADD_NEW_TASK' | translate}}</h5>
  <ion-item>
    <ion-label position="stacked" class="custom-label">
      {{'FRMELEMNTS_LBL_ASSIGNED_TO' | translate}}
    </ion-label>
    <ion-icon name="person" slot="start" color="primary"></ion-icon>
    <ion-icon name="share-social" slot="end" (click)="share()" color="primary"></ion-icon>
    <ion-input type="text" [(ngModel)]="newTask.assignee">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" class="custom-label">
      {{'FRMELEMNTS_LBL_END_DATE' | translate}}
    </ion-label>
    <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
    <ion-datetime min="{{currentYear-2}}" max="{{currentYear + 5}}" class="no-rght-brdr-rds" displayFormat="DD/MM/YYYY"
      display-timezone="utc" value={{newTask.endDate}} [(ngModel)]="newTask.endDate" class="project-date"
      placeholder={{today}}>
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" class="custom-label">
      {{'FRMELEMNTS_LBL_TASK_DESCRIPTION' | translate}}<span class="reuired-field">* </span>
    </ion-label>
    <ion-icon color="primary" name="newspaper" slot="start"></ion-icon>
    <ion-textarea type="text" [(ngModel)]="newTask.name">
    </ion-textarea>
  </ion-item>
  <div class="attachments-box">
    <div *ngIf="newTask.attachments.length > 0">
      <p *ngFor="let file of newTask.attachments">
        <ion-icon color="primary" name="attach" class="img"></ion-icon>
        {{file.name}}
      </p>
    </div>
    <ion-row class="file-box">
      <ion-col size="6" class="file-list">
        <div *ngIf="newTask.attachments.length == 0">
          <ion-icon color="primary" name="image"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6">
        <a class="attach-label" (click)="doAction()">{{'FRMELEMNTS_LBL_ATTACH' | translate}}</a>
      </ion-col>
    </ion-row>
  </div>
  <ion-button expand="block" (click)="addTask()">
    {{'FRMELEMNTS_LBL_ADD_TASK' | translate}}
  </ion-button>
</ion-content>