@import "src/assets/styles/_variables.scss";
.custom-label{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.custom-datetime{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    ion-datetime{
    border-bottom: 1px solid #999999;
    min-width: 185px;
    font-size: 16px;
    }
    ion-icon{
    font-size: 14px;
    color: #999999;
    padding: 0px;
    margin: 0px;
    }
}
.custom-datetime-label{
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}
.custom-label-float{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.file-list{
    margin: auto; 
    font-size: 24px;
}
.custom-item{
    margin: 20px 0px;
    ion-select{
        min-width: 200px;
    }
}
.btn-disabled{
    --background: #999999 !important;
    --border-color: #999999 !important;
  }
.attachments-box{
    background: $white;
    margin-bottom: 35px;
    height: auto;
    padding: 5px 10px;
    .file-box{
        img{
            margin: 5px 5px;
            font-size: 23px;
        }
        .attach-label{
        color: #{$blue}; 
        text-align:right;
        float: right;
        margin: 10px 10px; 
        }
    }
    .img{
        margin: 5px 5px;
        margin-bottom: -5px;
        font-size: 23px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    p{
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 500;
    }
}