<ion-toolbar>
  <ion-title>
    {{'FRMELEMNTS_LBL_ADD_NEW_TASK' | translate}}
  </ion-title>
  <ion-buttons (click)="close()" slot="start" class="padding" color="primary">
    <ion-icon name="close" slot="icon-only" style="padding-left: 10px;"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <ion-item class="custom-item">
    <ion-label position="stacked" class="custom-label-float">
      {{'FRMELEMNTS_LBL_TASK_DESCRIPTION' | translate}}<span class="reuired-field">* </span>
    </ion-label>
    <ion-textarea type="text" [(ngModel)]="newTask.name">
    </ion-textarea>
  </ion-item>

  <div class="custom-datetime">
    <ion-label position="fixed" class="custom-datetime-label" id="endate">
      {{'FRMELEMNTS_LBL_END_DATE' | translate}}
    </ion-label>
    <ion-datetime for="endate" min="{{currentYear-2}}" max="{{currentYear + 5}}" class="no-rght-brdr-rds" displayFormat="DD/MM/YYYY"
      display-timezone="utc" value={{newTask.endDate}} [(ngModel)]="newTask.endDate" class="project-date"
      placeholder={{today}}>
    </ion-datetime>
  </div>

  <ion-item class="custom-item" lines="none">
    <ion-label>{{'FRMELEMNTS_LBL_STATUS' | translate}}</ion-label>
    <ion-select [(ngModel)]="newTask.status" class="custom-select" [interfaceOptions]="{
          cssClass: 'select-box',
          animated: false
        }" placeholder="{{'FRMELEMNTS_LBL_SELECT_STATUS_PLACEHOLDER' | translate}}"
      (ionChange)="selectedTaskStatus($event)">
      <ion-select-option *ngFor="let status of statuses" value="{{status.title}}"
        selected="status.title === newTask.status">{{status.title | camelToTitle}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="attachments-box">
    <div *ngIf="newTask.attachments.length > 0">
      <p *ngFor="let file of newTask.attachments">
        <ion-icon name="attach" class="img"></ion-icon>
        {{file.name}}
      </p>
    </div>
    <ion-row class="file-box">
      <ion-col size="6" class="file-list">
        <div *ngIf="newTask.attachments.length == 0">
          <ion-icon color="primary" name="image"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6">
        <a class="attach-label" (click)="doAction()">{{'FRMELEMNTS_LBL_ATTACH_FILES' | translate}}</a>
      </ion-col>
    </ion-row>
  </div>
  <ion-button expand="block" (click)="addTask()" [disabled]="!newTask.name" [ngClass]="{'btn-disabled': !newTask.name}">
    {{'FRMELEMNTS_LBL_ADD_TASK' | translate}}
  </ion-button>
</ion-content>