.settings-item-style {
    padding-top:5px;
}

ion-icon{
    font-size: 1.375rem !important;
    font-weight: 550 !important;
}
.item-ios h2 {
    line-height: 1.7;
}

.setting-label {
    font-size: 1.125rem;
    color: var(--app-light-gray) !important;
}