<ion-content>
  <ion-list mode="ios">

    <ion-item class="PT2 PB2" (click)="dataSync()" role="button" detail>
      <ion-label>
        <p class="setting-label">{{ 'DATA_SYNC' | translate }}</p>
        <p class="settings-item-style">{{ 'DATA_SYNC_SUB' | translate }}</p>
      </ion-label>
    </ion-item>

    <ion-item class="PT2 PB2" (click)="showPermissionPage()" role="button" detail *ngIf="!platform.is('ios')">
      <ion-label>
        <p class="setting-label">{{'PERMISSION' | translate}}</p>
      </ion-label>
    </ion-item>

    <ion-item class="PT2 PB2" (click)="shareApp()" role="button" detail *ngIf="!platform.is('ios')">
      <ion-label>
        <p class="setting-label">{{ shareAppLabel }}</p>
      </ion-label>
    </ion-item>

    <ion-item class="PT2 PB2" *ngIf="(isUserLoggedIn$ | async) && (isNotDefaultChannelProfile$ | async)"
      (click)="showMergeAccountConfirmationPopup()" role="button" detail>
      <ion-label>
        <p class="setting-label">{{ 'MERGE_ACCOUNT' | translate }}</p>
      </ion-label>
    </ion-item>

    <ion-item class="PT2 PB2" (click)="aboutUs()" role="button" detail>
      <ion-label>
        <p class="setting-label">{{ 'ABOUT_US' | translate }}</p>
      </ion-label>
    </ion-item>

    <ion-item class="PT2 PB2" (click)="debugModeToggle()" role="button">
      <ion-label>
        <p class="setting-label">Debug Mode</p>
      </ion-label>
      <ion-toggle [(ngModel)]="debugmode"></ion-toggle>
    </ion-item>

  </ion-list>

</ion-content>