<ion-content>
  <ion-list mode="ios">
    <!-- <ion-item (click)="goToLanguageSetting()" detail mode="ios">
      <h2>{{ 'CHANGE_LANGUAGE' | translate }}</h2>
      <p class="settings-item-style">{{ selectedLanguage }}</p>
    </ion-item> -->

    <ion-item class="PT2 PB2" (click)="dataSync()" detail>
      <ion-label>
        <p class="setting-label">{{ 'DATA_SYNC' | translate }}</p>
        <p class="settings-item-style">{{ 'DATA_SYNC_SUB' | translate }}</p>
      </ion-label>
    </ion-item>

    <ion-item class="PT2 PB2" (click)="showPermissionPage()" detail>
      <ion-label>
        <p class="setting-label">{{'PERMISSION' | translate}}</p>
      </ion-label>
    </ion-item>

    <ion-item class="PT2 PB2" (click)="shareApp()" detail>
      <ion-label>
        <p class="setting-label">{{ shareAppLabel }}</p>
      </ion-label>
    </ion-item>

    <ion-item class="PT2 PB2" (click)="aboutUs()" detail>
      <ion-label>
        <p class="setting-label">{{ 'ABOUT_US' | translate }}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>